@charset "utf-8";
html,body,section,nav,article,aside,h1,h2,h3,h4,h5,h6,header,footer,address,
p,hr,pre,blockquote,ol,ul,li,dl,dt,dd,figure,figcaption,div,
a,em,strong,small,s,cite,q,dfn,abbr,time,code,var,samp,kbd,sub,sup,i,b,mark,ruby,rt,rp,span,ins,del,
img,iframe,embed,object,video,audio,canvas,
table,caption,tbody,thead,tfoot,tr,th,td,
form,fieldset,legend,label,
details,summary,command,menu{ margin:0; padding:0; font-size:100%; font:inherit; border:0; vertical-align:baseline;}
article,aside,canvas,figcaption,figure,footer,header,nav,section { display:block;}
html				{ font-size:62.50%; overflow-y:scroll;}/*10px*/
@media screen and (min-width:771px){
	html.largeBase	{ font-size:70.3123%;}/*11.25px*/
}
html.visible		{ overflow-y:visible;}
body				{ width:100%; min-width:100%; position:relative; color:#222; font-size:1.6rem; line-height:1; text-align:center; background:#f2f2f2; -webkit-text-size-adjust:100%; font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased;}
html.visible body	{ overflow-x:hidden;}
.bodyFix body		{ position:fixed; height:100%; overflow-y:scroll;}
body::after			{ position:fixed; z-index:990; opacity:0; content:''; width:0; height:0; top:0; left:0; background:rgba(57,57,57,0.4); -webkit-transition:opacity 0.3s; transition:opacity 0.3s;}
.bodyFix body::after{ opacity:1; width:100%; height:100vh;}
body,
input,option,textarea,button
					{ font-family:Roboto, 'Helvetica Neue', helvetica, Arial, sans-serif;}
ul,ol				{ list-style:none;}
img					{ vertical-align:bottom;}
table				{ border-collapse:collapse; border-spacing:0; empty-cells:show;}
th,td				{ text-align:left;}
a					{ color:#444; text-decoration:none;}
a:link				{ color:#1374c1;}
@media screen{
	a:visited		{ color:#7600b3;}
}
a:hover				{ color:#002a59;}
a.noline:link,
a.noline:visited,
a.noline:hover		{ text-decoration:underline;}
a.over				{ -webkit-transition:opacity 200ms; transition:opacity 200ms;}
a.over:hover		{ opacity:0.7;}
a.ovr2bp			{ color:#222; -webkit-transition:color 200ms; transition:color 200ms;}
a.ovr2bp:hover		{ color:#1374c1;}
.clearfix::after	{ content:''; display:block; clear:both;}
.bold				{ font-weight:500;}
.normal				{ font-weight:normal;}
.left				{ text-align:left;}
.right				{ text-align:right;}
.center				{ text-align:center;}
.clear				{ clear:both;}
.vt					{ vertical-align:top;}
.vm					{ vertical-align:middle;}
.vb					{ vertical-align:bottom;}
.large				{ font-size:117%;}
.nowrap				{ white-space:nowrap;}
.small				{ font-size:92%;}
.smaller,
.bold.small,
.title .small		{ font-size:84%;}
.subscript			{ font-size:70%; margin:0 1px 0 0;}
i.i					{ font-style:italic;}
.idth				{ padding-left:0.7em; text-indent:-0.7em; text-align:left;}
.idt				{ padding-left:1.0em; text-indent:-1.0em; text-align:left;}
.idts				{ padding-left:1.5em; text-indent:-1.4em; text-align:left;}
.floatL				{ float:left;}
.floatR				{ float:right;}
img.imageL			{ margin:2px 15px 10px 0; float:left;}
img.imageR			{ margin:2px 0 10px 20px; float:right;}
img.full			{ display:block; width:100%; height:auto; margin:0 auto;}
.spOnly,
.spOnly.full		{ display:none;}
.wbr,
.spBr				{ display:none;}
.el					{ font-family:Montserrat,'Helvetica Neue',Arial,sans-serif; font-weight:300;}
.er					{ font-family:Montserrat,'Helvetica Neue',Arial,sans-serif; font-weight:400;}
.exb				{ font-family:Overpass,'Helvetica Neue',Arial,sans-serif; font-weight:800;}

.flex				{ display:-webkit-flex; display:flex;}
.flex_e				{ display:-webkit-flex; display:flex; -webkit-justify-content:flex-end; justify-content:flex-end;}
.flex_a				{ display:-webkit-flex; display:flex; -webkit-justify-content:space-around; justify-content:space-around;}
.flex_b				{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
.flex_c				{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center;}
.flex_sc			{ display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
.flex_bc			{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center;}
.flex_cc			{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center;}
.flex_wrap			{ -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.flex_mid			{ -webkit-align-items:center; align-items:center;}
.flex_rev			{ -webkit-flex-direction:row-reverse; flex-direction:row-reverse;}
.flex_col			{ -webkit-flex-direction:column; flex-direction:column;}
.flex_grow1			{ -webkit-flex-grow:1; flex-grow:1;}

@media screen and (max-width:770px){
	body			{ font-size:1.4rem;}

	.spOnly,
	.spOnly.full	{ display:block;}
	.pcOnly,
	.pcOnly.full	{ display:none;}
	.spBr			{ display:inline;}
}


/* HEADER
----------------------------------------------------------------*/
#header									{ position:relative; z-index:1000; width:100%; min-width:320px; height:110px; top:0; left:0; background:#fff;}
#header::before							{ position:absolute; z-index:50; content:''; top:100%; left:0; width:100%; height:10px; background:rgba(57,57,57,0.05); background:-webkit-linear-gradient(top, rgba(57,57,57,0.05), rgba(57,57,57,0)); background:linear-gradient(to bottom, rgba(57,57,57,0.05), rgba(57,57,57,0));}
#logo									{ position:absolute; width:300px; height:100%; top:0; left:40px; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
#logo img								{ display:block; width:100%; height:auto;}

/* for JS */
@media (min-width:960px)				{ #logo{ font-size:20px;}}
@media (max-width:959px)				{ #logo{ font-size:10px;}}
@media (min-width:960px){
	#wrapper.up #header,
	#wrapper.upDrop #header				{ position:fixed; height:70px;}
}

/* USER NAVIGATION */
.unav li								{ font-size:13px;}
html.largeBase .unav li					{ font-size:14px;}
.unav a.Lar								{ display:inline-block; padding:0 24px 0 0; color:#555; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
.unav li:nth-child(1) a.Lar				{ padding:0 22px 0 0; background:url(../../../ja/hd-common/images/icon/icon_global.png) 100% 0 no-repeat;}
.unav a.Lar span						{ position:relative; display:inline-block; padding:2px 2px 4px 1px;}
.unav a.Lar span::after					{ position:absolute; content:''; bottom:0; left:0; width:100%; height:1px; background-color:#fff; -webkit-transition:background-color 300ms; transition:background-color 300ms;}
.unav a.Lar:hover span::after			{ background-color:#999;}

#head .unav								{ position:absolute; top:15px; right:15px; display:-webkit-flex; display:flex; -webkit-justify-content:flex-end; justify-content:flex-end; -webkit-align-items:center; align-items:center;}
#wrapper.up  #head .unav,
#wrapper.upDrop #head .unav				{ display:none;}
#head .unav li:nth-child(1)				{ width:120px;}
#head .unav li>a						{ margin:2px 0 0 0;}

#lang[href="#"]							{ visibility:hidden;}

#fsize									{ position:relative; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
#fsize dt								{ width:70px; padding:0 10px 0 0; text-align:right;}
#fsize dd								{ position:relative; background-color:#eee; display:-webkit-flex; display:flex;}
#fsize dd::before						{ position:absolute; content:''; top:0; left:0; width:60px; height:24px; background-color:#555; -webkit-transition:left 0.2s ease-in-out 0s; transition:left 0.2s ease-in-out 0s;}
#fsize.Large dd::before					{ left:60px;}
#fsize dd a								{ position:relative; display:block; width:60px; height:24px; line-height:24px;}
#fsizeN									{ color:#fff; text-decoration:none; cursor:default;}
#fsizeL									{ color:#888; text-decoration:underline; cursor:pointer;}
#fsize.Large #fsizeN					{ color:#888; text-decoration:underline; cursor:pointer;}
#fsize.Large #fsizeL					{ color:#fff; text-decoration:none; cursor:default;}


/* GLOBAL NAVIGATION */
#gnav									{ position:absolute; z-index:60; width:660px; height:68px; bottom:0; right:15px; font-size:18px; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center;}
#gnav li								{ height:100%;}
#gnav a									{ position:relative; height:100%; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; align-items:center; -webkit-align-items:center}
#gnav .gnav								{ -webkit-flex-grow:1; flex-grow:1;}
#gnav .gnav a							{ line-height:68px; color:#222; font-weight:500; white-space:nowrap;}
#gnav .gnav svg							{ margin:0 0 0 10px; -webkit-transition:transform 0.3s ease-in-out 0s; transition:transform 0.3s ease-in-out 0s;}
#gnav .gnav path						{ fill:#777;}

#gnav .snav								{ max-width:40px; padding:0 0 0 10px; -webkit-flex-grow:0; flex-grow:0;}

body.bh_about #gnav li:nth-child(1) a,
body.bh_ir #gnav li:nth-child(2) a,
body.bh_csr #gnav li:nth-child(3) a		{ color:#1374c1;}

#gnav a::after							{ opacity:0; position:absolute; content:''; bottom:0; left:6%; width:88%; height:3px; background:#1374c1; -webkit-transition:opacity 0.3s ease-in-out 0s; transition:opacity 0.3s ease-in-out 0s;}
#gnav a.hov::after,
#gnav a.act::after						{ opacity:1; background:#1374c1;}
#gnav a.act::before						{ position:absolute; content:''; bottom:-5px; left:50%; width:0; height:0; margin:0 0 0 -6px; border-style:solid; border-width:6px 6px 0 6px; border-color:#1374c1 transparent transparent transparent;}
#gnav .gnav a.act svg					{ -webkit-transform:rotateX(180deg); transform:rotateX(180deg);}
#gnav .gnav a.act svg path				{ fill:#1374c1;}
@media (min-width:960px) and (max-width:1200px) {
	#logo								{ left:15px; left:-webkit-calc(10.417vw - 85px); left:calc(10.417vw - 85px);}
	#gnav								{ width:580px; width:-webkit-calc(33.333vw + 260px); width:calc(33.333vw + 260px); font-size:-webkit-calc(0.417vw + 13px); font-size:calc(0.417vw + 13px);}
}
@media (min-width:960px){
	#wrapper.up #logo,
	#wrapper.upDrop #logo				{ height:65px;}
}

/* cnavWrap */
#cnavWrap .cnavWrap						{ position:fixed; z-index:40; width:100%; max-height:0; overflow-y:scroll; top:110px; left:0; padding:0; color:#000; background:#fff; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:max-height 0.3s; transition:max-height 0.3s;}
#wrapper.up #cnavWrap .cnavWrap,
#wrapper.upDrop #cnavWrap .cnavWrap		{ top:70px;}
#cnavWrap .cnavWrap.openDrop			{ max-height:85%; max-height:-webkit-calc(100vh - 110px); max-height:calc(100vh - 110px);}

#cnavWrap .cnavWrap a					{ font-size:16px; color:#000;}
#cnavWrap .cnav							{ max-width:900px; margin:0 auto; padding:1px 0 40px; text-align:left; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-wrap:wrap; flex-wrap:wrap;}

#cnavWrap .cnavTop						{ width:100%;}
#cnavWrap .cnavTop a					{ position:relative; margin:35px 0 10px; padding:10px 0; color:#1374c1; font-weight:500; display:-webkit-flex; display:flex; align-items:center; -webkit-align-items:center; -webkit-transition:all 0.3s ease-in-out 0s; transition:all 0.3s ease-in-out 0s;}
#cnavWrap .cnavTop>a::after				{ position:absolute; content:''; bottom:0; left:0; width:100%; height:3px; background-color:#1374c1; -webkit-transition:height 0.1s ease-in-out 0.2s; transition:height 0.1s ease-in-out 0.2s;}

#cnavWrap .cnavTop em					{ display:block; padding:10px 0 0 0; font-size:40px; line-height:1; word-spacing:0.1em; display:-webkit-flex; display:flex; align-items:center; -webkit-align-items:center;}
@media (min-width:960px){
	#cnavWrap .cnavTop em				{ text-transform:uppercase;}
}
#cnavWrap .cnavTop em span				{ display:block; width:20px; height:20px; margin:0 0 6px 30px; border-radius:50%; background-color:#1374c1; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
#cnavWrap .cnavTop em svg				{ display:block; margin:5px 0 5px 7px;}
#cnavWrap .cnavTop em path				{ fill:#fff; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
#cnavWrap .cnavTop a:hover 				{ padding:10px 0 10px 20px; color:#fff; background-color:#1374c1; border-radius:10px;}
#cnavWrap .cnavTop a:hover span			{ background-color:#fff;}
#cnavWrap .cnavTop a:hover path 		{ fill:#1374c1;}
#cnavWrap .cnavTop>a:hover::after		{ height:0; -webkit-transition:height 0.3s ease-in-out 0s; transition:height 0.3s ease-in-out 0s;}

#cnavWrap .cnavTxt						{ position:relative; z-index:50; width:300px;}
#cnavWrap .cnavTxt strong				{ display:block;}
#cnavWrap .cnavTxt strong a				{ position:relative; height:50px; padding:0 0 3px 0; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center;}
#cnavWrap .cnavTxt strong a::after		{ position:absolute; content:''; bottom:0; left:0; width:100%; height:3px; background-color:#eeeeee; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
#cnavWrap .cnavTxt strong a span		{ display:block; font-weight:500; -webkit-flex-grow:1; flex-grow:1;}
#cnavWrap .cnavTxt strong a	svg			{ margin:0 12px;}
#cnavWrap .cnavTxt a:not(.subParent) svg{ display:none;}
#cnavWrap .cnavTxt strong a[target] span::after
										{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
#cnavWrap .cnavTxt strong a	path		{ fill:#222;}
#cnavWrap .cnavTxt .subParent svg		{ margin:0 10px;}
#cnavWrap .cnavTxt .subParent line		{ fill:none; stroke:#222; stroke-linecap:round; stroke-linejoin:round; stroke-width:2px;}
#cnavWrap .cnavTxt .subPopen			{ color:#1374c1;}
#cnavWrap .cnavTxt .subPopen path		{ fill:#1374c1;}
#cnavWrap .cnavTxt .subPopen line		{ stroke:#1374c1;}
#cnavWrap .cnavTxt .subParent::before	{ opacity:0; position:absolute; content:''; top:10px; right:-50px; width:30px; height:30px; background:#ecf4fa; -webkit-transform:translate(60%,0) rotate(45deg) skew(-10deg,-10deg); transform:translate(60%,0) rotate(45deg) skew(-10deg,-10deg); -webkit-box-sizing:border-box; box-sizing:border-box; cursor:default; pointer-events:none;}
#cnavWrap .cnavTxt .subPopen::before	{ opacity:1; -webkit-transition:opacity 600ms; transition:opacity 600ms;}
#cnavWrap .cnavTxt .subPopen::after,
#cnavWrap .cnavTxt strong a.hov::after	{ background-color:#1374c1;}

#cnavWrap .cnavTxt li a					{ line-height:1.2; -webkit-transition:color 0.2s ease-in-out 0s; transition:color 0.2s ease-in-out 0s;}
#cnavWrap .cnavTxt li a:hover			{ color:#1374c1;}

#cnavWrap .cnavTxt>ul>li>div			{ display:none; position:absolute; z-index:50; top:0; left:350px; width:550px; height:100%; padding:8px 0 0 0; -webkit-box-sizing:border-box; box-sizing:border-box;}
#cnavWrap .cnavSub						{ background:#ecf4fa; position:absolute; left:0; padding:20px 30px 20px 40px; width:100%; height:auto; max-height:100%; overflow-y:auto; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-flex-direction:column; flex-direction:column;}
#cnavWrap .cnavSub a					{ display:inline-block;}
#cnavWrap .cnavSub a:hover				{ text-decoration:underline;}
#cnavWrap .cnavSub>li>a					{ margin:12px 0 6px;}
#cnavWrap .cnavSub b					{ font-weight:500;}
#cnavWrap .cnavSub2 li					{ margin:12px 0;}
#cnavWrap .cnavSub div					{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
#cnavWrap div>.cnavSub2					{ width:50%;}

/* 企業・グループ情報 */
#cnavWrap>li:nth-child(1) .cnavTxt>ul li:nth-child(4) ul		{ top:auto; bottom:20px;}
#cnavWrap>li:nth-child(1) .cnavTxt>ul li:nth-child(5) ul		{ top:auto; bottom:0;}

/* 投資家(IR)情報 */
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(1) .cnavSub .cnavSub2:first-child	{ width:55%;}
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(1) .cnavSub .cnavSub2:last-child		{ width:43%;}
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(3) ul		{ top:30px;}/* Financial Data */
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(4) ul		{ top:90px;}/* Financial Reports */
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(5) ul		{ top:120px;}/* Stock Information */
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(6) ul		{ top:220px;}/* Quick Understanding of Benesse */
#cnavWrap>li:nth-child(2) .cnavTxt>ul li:nth-child(8) ul		{ top:auto; bottom:0;}/* サポート */

/* サステナ */
#cnavWrap>li:nth-child(3) .cnavTxt>ul li:nth-child(4) ul		{ top:120px;}/* Materiality */
#cnavWrap>li:nth-child(3) .cnavTxt>ul li:nth-child(5) ul		{ top:150px;}/* Benesse Group's ESG Initiatives */
#cnavWrap>li:nth-child(3) .cnavTxt>ul li:nth-child(6) ul		{ top:auto; bottom:0;}


#cnavWrap .cnavThb						{ z-index:40; position:relative;}
#cnavWrap .cnavThb ul					{ display:-webkit-flex; display:flex; -webkit-justify-content:flex-end; justify-content:flex-end;}
#cnavWrap .cnavThb li					{ max-width:172px; padding:8px 0 0 17px;}
/*横長バナー*/
#cnavWrap>li:nth-child(1) .cnavThb li:nth-child(1)	{ width:300px; max-width:300px;}
#cnavWrap .cnavThb a					{ position:relative; display:block; margin:0 0 0 auto;}
#cnavWrap .cnavThb span					{ display:inline-block; border-radius:5px; overflow:hidden;}
#cnavWrap .cnavThb span.border			{ border:solid 1px #e0e0e0;}
#cnavWrap .cnavThb em					{ padding:12px 0; font-size:1.3rem; line-height:1.3; display:-webkit-flex; display:flex; -webkit-transition:color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s;}
#cnavWrap .cnavThb a:hover em			{ color:#1374c1;}
#cnavWrap .cnavThb a[target] em::after	{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
#cnavWrap .cnavThb em svg				{ min-width:7px; margin:3px 5px 0 0;}
#cnavWrap .cnavThb em path				{ fill:#222; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
#cnavWrap .cnavThb a:hover path			{ fill:#1374c1;}

#cnavWrap .x_Close						{ display:inline-block; margin:0 auto 60px; cursor:pointer;}
.x_Close svg							{ margin:0 10px 0 50px; vertical-align:middle;}
.x_Close circle							{ fill:#1374c1; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
.x_Close path							{ fill:#1374c1;}
.x_Close line							{ fill:none; stroke:#fff; stroke-linecap: round;stroke-linejoin: round;stroke-width:3px; -webkit-transition:stroke 0.3s ease-in-out 0s; transition:stroke 0.3s ease-in-out 0s;}
.x_Close span							{ font-size:18px; color:#1374c1; font-weight:500; vertical-align:middle;}
.x_Close:hover circle					{ fill:#fff;}
.x_Close:hover line						{ stroke:#1374c1;}
.searchWrap .x_Close svg				{ margin:0 10px 0 0;}
.searchWrap .x_Close circle				{ fill:#fff;}
.searchWrap .x_Close line				{ stroke:#1374c1;}
.searchWrap .x_Close:hover circle		{ fill:#1374c1;}
.searchWrap .x_Close:hover line			{ stroke:#fff;}


/* SP HEADER
----------------------------------------------------------------*/
#head>a									{ display:none; position:absolute; top:0; cursor:pointer;}
#head>a::after							{ opacity:0; position:absolute; content:''; bottom:0; left:6px; width:26px; height:3px; background:#1374c1; -webkit-transition:opacity 0.3s ease-in-out 0s; transition:opacity 0.3s ease-in-out 0s;}
#head>a.hov::after						{ opacity:1;  background:#1374c1;}

#menu									{ width:38px; height:60px; right:50px;}
.menuOpen #menu::after					{ opacity:1;  background:#1374c1;}
.menuOpen #menu::before					{ position:absolute; content:''; bottom:-3px; left:50%; width:0; height:0; margin:0 0 0 -3px; border-style:solid; border-width:3px 3px 0 3px; border-color:#1374c1 transparent transparent transparent;}
#menubar								{ position:absolute; width:22px; height:2px; top:29px; left:8px; background:#1374c1; border-radius:1px;}
#menubar::after,
#menubar::before						{ position:absolute; z-index:2; content:''; width:100%; height:100%; top:0; left:0; background:#1374c1; border-radius:1px; -webkit-transition:transform 0.2s; transition:transform 0.2s;}
#menubar::after							{ -webkit-transform:translate(0,8px) rotate(0); transform:translate(0,8px) rotate(0);}
#menubar::before						{ -webkit-transform:translate(0,-8px) rotate(0); transform:translate(0,-8px) rotate(0);}
.menuOpen #menubar						{ background:transparent;}
.menuOpen #menubar::after				{ -webkit-transform:translate(0,0) rotate(-135deg); transform:translate(0,0) rotate(-135deg);}
.menuOpen #menubar::before				{ -webkit-transform:translate(0,0) rotate(135deg); transform:translate(0,0) rotate(135deg);}

#menuWrap								{ display:none; position:fixed; width:87.5%; top:60px; right:0; height:100%; height:-webkit-calc(100% - 60px); height:calc(100% - 60px); text-align:left; background:#fff; overflow-y:scroll; -webkit-transform:translate(100%,0); transform:translate(100%,0); -webkit-transition:transform 0.3s; transition:transform 0.3s;}
.menuOpen #menuWrap						{ -webkit-transform:translate(0,0); transform:translate(0,0);}

#menuWrap>ul:nth-child(1)				{ padding:20px;}
#menuWrap .cnavWrap>a					{ position:relative; width:100%; height:60px; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center;}
#menuWrap .cnavWrap>a::after			{ position:absolute; content:''; bottom:0; left:0; width:100%; height:3px; background-color:#eeeeee; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
#menuWrap .cnavWrap>a.hov::after,
#menuWrap .cnavWrap>a.cnavOpen::after	{ background-color:#1374c1;}
#menuWrap .cnavWrap>a span				{ display:block; -webkit-flex-grow:1; flex-grow:1; font-size:17px; line-height:60px; font-weight:500; color:#222; white-space:nowrap;}
#menuWrap .cnavWrap>a svg				{ display:block; margin:0 20px 0 0; -webkit-transition:transform 0.3s ease-in-out 0s; transition:transform 0.3s ease-in-out 0s;}

#menuWrap .cnavWrap>a path				{ fill:#222;}
#menuWrap .cnavWrap>a.cnavOpen svg		{ -webkit-transform:rotateX(180deg); transform:rotateX(180deg);}
#menuWrap .cnavWrap>a.cnavOpen path		{ fill:#1374c1;}

#menuWrap .cnav							{ display:none; position:relative; padding:0 0 0 20px; font-size:15px;}
#menuWrap .cnav a						{ color:#222;}
#menuWrap .cnav::after					{ position:absolute; content:''; bottom:0; left:0; width:100%; height:3px; background-color:#eeeeee; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
#menuWrap .cnavTop>a,
#menuWrap .cnavTxt strong a				{ position:relative; height:50px; padding:0 0 0 30px; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
#menuWrap .cnavTxt>ul>li>div			{ display:none;}
#menuWrap .cnavSub						{ position:relative; padding:14px 0 14px 20px;}
#menuWrap .cnavTxt strong				{ position:relative; display:block;}
#menuWrap .cnavTxt strong::before,
#menuWrap .cnavSub::before,
#menuWrap .cnavTxt>ul::after			{ position:absolute; content:''; top:0; left:0; width:100%; height:1px; background-color:#eeeeee; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
#menuWrap .cnavTxt>ul					{ position:relative;}
#menuWrap .cnavTxt>ul::after			{ bottom:0; top:auto;}
#menuWrap .cnavTop>a::before,
#menuWrap .cnavTxt strong a::before,
#menuWrap .cnavTxt .subParent::before,
#menuWrap .cnavTxt .subParent::after	{ position:absolute; content:''; top:auto; left:5px; width:11px; height:11px; background-size:cover !important;}
#menuWrap .cnavTxt .subParent::after	{ -webkit-transition:transform 0.2s; transition:transform 0.2s;}
#menuWrap .cnavTop>a::before,
#menuWrap .cnavTxt strong a::before		{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpi/P//PwMtABMDjcDQM5iRHE1KSkoBQGo+EAsAceK9e/cWIMuD4o1cF/dDDQWB+VCLaBIUIMMVqGFwIxof5Pr1FBsMDdMJaMIGQFfPh0cekJOAFmaUgsS7d+8uYKKyoSBQT/MMUgjEH6hoZiPZGQSaSUBBWIAmvAAYsYmgDEJJzluPJnwBaKghNXIeMgAFZSAtch6ovHhArZz3AcnQDRil22gNQnODAQIMAJFOOjSTO9gLAAAAAElFTkSuQmCC) 0 0 no-repeat;}
#menuWrap .cnavTxt .subParent::before	{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNpi/P//PwMtABMDjcCowaMG09FgFhChrKycAKT6gViAQvM+AHHh3bt3F8BcTA1DGaBm9NMljAuh3mCgRlCAGIyjhdCowaMG4wYAAQYAeuYQJwo0LRcAAAAASUVORK5CYII=) 0 0 no-repeat;}
#menuWrap .cnavTxt .subParent::after	{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFhJREFUeNpi/P//PwMtAAsxipSVlROAVD+UW3j37t0FhPQwEekAkKECUNxPjAZiDRbAwabYYJLBqMGjBo8aPGrwyDb4Aw42xQYXQg38AGUTBIy0qkwBAgwAYXYRJ1K8lPsAAAAASUVORK5CYII=) 0 0 no-repeat;}
#menuWrap .cnavTxt .csubOpen::after		{ -webkit-transform:scale(1,0); transform:scale(1,0);}
#menuWrap .cnavTxt strong a[target] span::after
										{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
#menuWrap .cnavSub a					{ display:block; padding:7px 0; line-height:1.4; color:#222;}

#menuWrap .cnavThb						{ padding:20px 0;}
#menuWrap .cnavThb ul					{ display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#menuWrap .cnavThb li					{ max-width:172px; padding:0 30px 20px 0;}
#menuWrap .cnavThb a					{ display:inline-block; margin:0;}
#menuWrap .cnavThb span					{ display:inline-block; border-radius:5px; overflow:hidden;}
#menuWrap .cnavThb span.border			{ border:solid 1px #e0e0e0;}
#menuWrap .cnavThb em					{ padding:12px 0; font-size:1.3rem; line-height:1.3; white-space:nowrap; display:-webkit-flex; display:flex; -webkit-transition:color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s;}
#menuWrap .cnavThb a[target] em::after	{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
#menuWrap .cnavThb em svg				{ min-width:7px; margin:5px 5px 0 0;}
#menuWrap .cnavThb em path				{ fill:#222; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
#menuWrap .cnavThb a:hover em			{ color:#1374c1;}
#menuWrap .cnavThb a:hover path			{ fill:#1374c1;}

#menuWrap .unav li						{ padding:0 0 10px 20px;}

@media screen and (max-width:959px){
	#header								{ position:fixed; height:60px;}
	#header::before						{ height:5px;}
	#head								{ position:fixed; z-index:40; top:0; left:0; width:100%; height:60px; margin:0; background:#fff;}
	#logo								{ width:240px; left:15px;}

	#head .unav,
	#gnav,
	#cnavWrap							{ display:none !important;}

	#head>a,
	#menuWrap							{ display:block;}
}
@media screen and (max-width:375px){
	#logo								{ width:200px;}
}

/* SERACH
----------------------------------------------------------------*/
.ss_menu circle							{ fill:#1374c1; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
.ss_menu path.a							{ fill:#1374c1;}
.ss_menu path.b							{ fill:#fff; -webkit-transition:fill 0.3s ease-in-out 0s; transition:fill 0.3s ease-in-out 0s;}
.ss_menu line							{ fill:none; stroke:#fff; stroke-linecap:round; stroke-linejoin:round;stroke-width:3px; -webkit-transition:stroke 0.3s ease-in-out 0s; transition:stroke 0.3s ease-in-out 0s;}
.ss_menu.act circle						{ fill:#fff;}
.ss_menu.act path.b						{ fill:#1374c1;}
.ss_menu.act line						{ stroke:#1374c1;}
#ss_menu								{ right:10px; width:26px; height:43px; padding:17px 6px 0;}
.searchOpen #ss_menu::after				{ opacity:1;  background:#1374c1;}
.searchOpen #ss_menu::before			{ position:absolute; content:''; bottom:-3px; left:50%; width:0; height:0; margin:0 0 0 -3px; border-style:solid; border-width:3px 3px 0 3px; border-color:#1374c1 transparent transparent transparent;}
#ss_menu svg							{ width:26px; height:26px;}
#searchWrap2							{ display:none; position:fixed; width:87.5%; top:60px; right:0; height:100%; height:-webkit-calc(100% - 60px); height:calc(100% - 60px); background:#fff; overflow-y:scroll; -webkit-transform:translate(100%,0); transform:translate(100%,0); -webkit-transition:transform 0.3s; transition:transform 0.3s;}
.searchOpen #searchWrap2				{ -webkit-transform:translate(0,0); transform:translate(0,0);}
#searchWrap2 .x_Close					{ display:inline-block; margin:30px auto; cursor:pointer;}
@media screen and (max-width:959px){
	#ss_menu,
	#searchWrap2						{ display:block;}
}
#wrap.search_results					{ padding:0;}
#wrapper.up #wrap.search_results,
#wrapper.upDrop #wrap.search_results	{ padding:100px 0 0 0;}
#wrap.search_results h1					{ margin:0;}
#ss-main								{ margin:0 !important; padding:0 !important; -webkit-box-sizing:border-box; box-sizing:border-box;}
.searchWrap .searchFormCommonClass 		{ padding:60px 0 0 0;}
.searchFormCommonClass					{ max-width:860px; margin:0 auto;}
.searchFormCommonClass input,
.searchFormCommonClass label,
.searchFormCommonClass button			{ font-family:Roboto, 'Helvetica Neue', helvetica, Arial, sans-serif !important; -webkit-touch-callout:none !important; touch-action:manipulation !important;}
.searchFormCommonClass input:focus,
.searchFormCommonClass button:focus		{ outline:none !important;}
.searchFormCommonClass [type="text"]::placeholder				{ color:#1374c1; font-weight:500;}
.searchFormCommonClass [type="text"]:-ms-input-placeholder		{ color:#1374c1; font-weight:500;}
.searchFormCommonClass [type="text"]::-ms-input-placeholder		{ color:#1374c1; font-weight:500;}

.searchInputCommonClass {
	background: #fff !important;
	border: solid 4px #1374c1 !important;
	height: 70px !important;
	border-radius: 35px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 22px 50px !important;
	width: 100% !important;
	ime-mode: active;
	font-size: 18px !important;
	line-height: 18px !important;
}

.ss-categories														{ margin:40px 0;}
#ss-main .ss-categories												{ margin:20px 0 !important;}
.searchCategoryCommonClass											{ width:-webkit-calc(100% + 10px); width:calc(100% + 10px); margin:0 0 0 -5px !important;}
.searchCategoryCommonClass>div										{}
.searchCategoryCommonClass [type="checkbox"]						{ display:none;}
.searchCategoryCommonClass label									{ position:relative; display:block !important; -webkit-flex-grow:1; flex-grow:1; height:40px; margin:0 5px !important; padding:0 !important; font-size:17px !important; line-height:40px !important; color:#aaa; text-align:center; background:#eee; border-radius:20px; white-space:nowrap; -webkit-transition:color 0.1s ease-in-out 0s, background-color 0.3s ease-in-out 0s; transition:color 0.1s ease-in-out 0s, background-color 0.3s ease-in-out 0s; cursor:pointer;}
.searchCategoryCommonClass label br									{ display:none;}
.searchCategoryCommonClass [type="checkbox"]:checked +  label		{ color:#fff !important; background:#1374c1 !important;}
.searchCategoryCommonClass label::before,
.searchCategoryCommonClass label::after								{ content:none !important;}

.searchFiletypeCommonClass											{ margin:0 !important;}
.searchFiletypeCommonClass [type="radio"]							{ display:none;}
.searchFiletypeCommonClass label									{ position:relative; display:inline-block; margin:0 30px 0 0 !important; padding:0 0 0 32px !important; font-size:17px !important; line-height:26px; color:#999; cursor:pointer;}
.searchFiletypeCommonClass label::before							{ display:block; position:absolute; content:''; width:24px !important; height:24px !important; top:50%; left: 0; margin-top:-12px !important; border:3px solid #ccc !important; border-radius:30px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.searchFiletypeCommonClass label::after								{ display:block; position:absolute; content:''; width:10px !important; height:10px !important; top:50%; left:7px !important; margin-top: -5px !important; border-radius:10px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.searchFiletypeCommonClass label									{ -webkit-transition:color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s;}
.searchFiletypeCommonClass label::before							{ -webkit-transition:border-color 0.3s ease-in-out 0s; transition:border-color 0.3s ease-in-out 0s;}
.searchFiletypeCommonClass label::after								{ -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
.searchFiletypeCommonClass [type="radio"]:checked + label::before	{ border-color:#1374c1 !important;}
.searchFiletypeCommonClass [type="radio"]:checked + label::after	{ background:#1374c1 !important;}


.searchButtonCommonClass											{ width:290px !important; height:60px !important; margin:40px auto !important; padding:0 !important; font-size:18px !important; line-height:18px !important; font-weight:500; color:#fff; background:#1374c1 !important; border:solid 4px #1374c1 !important; border-radius:30px !important; -webkit-transition:color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s; cursor:pointer;}
.searchButtonCommonClass::after										{ content:''; width:20px; height:40px;}
#ss-main .searchButtonCommonClass									{ margin:20px auto !important;}
.searchButtonCommonClass:hover										{ color:#1374c1 !important; background:#fff !important;}
.searchButtonCommonClass:hover circle								{ fill:#fff;}
.searchButtonCommonClass:hover path.b								{ fill:#1374c1;}
.searchButtonCommonClass:hover line									{ stroke:#1374c1;}


@media screen and (max-width:959px){
	#wrap.search_results,
	#wrapper.up #wrap.search_results,
	#wrapper.upDrop #wrap.search_results							{ padding:60px 0 0 0;}

	.searchWrap .searchFormCommonClass 								{ padding:40px 20px 0;}

	.searchFormCommonClass											{ max-width:600px; margin:0 auto;}
	.ss-categories													{ margin:20px 0;}

	.searchInputCommonClass											{ height:54px !important; padding:16px 30px !important; font-size:16px !important; line-height:16px !important; border:solid 3px #1374c1 !important; border-radius:27px !important;}

	.searchCategoryCommonClass>div									{ align-items:stretch; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
	.searchCategoryCommonClass										{ width:100% !important; margin:0 !important;}
	.searchCategoryCommonClass label								{ width:-webkit-calc(50% - 3px) !important; width:calc(50% - 3px) !important; -webkit-flex-grow:0 !important; flex-grow:0 !important; height:100% !important; margin:6px 0 0 0 !important; padding:15px 10px !important; font-size:16px !important; line-height:1.67 !important; border-radius:16px !important; -webkit-box-sizing:border-box; box-sizing:border-box;}
	#ss-main .searchCategoryCommonClass label						{ padding:10px 10px !important; white-space:nowrap !important;}
	.searchCategoryCommonClass label[for="ss-category-default0-pc"],
	.searchCategoryCommonClass label[for="ss-category-default0-sp"],
	.searchCategoryCommonClass label[for="ss-category-default0"]	{ width:100% !important;}

	.searchFiletypeCommonClass label								{ margin:0 20px 0 0 !important; padding:0 0 0 22px !important; font-size:15px !important;}
	.searchFiletypeCommonClass label::before						{ width:18px !important; height:18px !important; margin-top:-9px !important; border:2px solid #ccc !important;}
	.searchFiletypeCommonClass label::after							{ width:8px !important; height:8px !important; left:5px !important; margin-top:-4px !important; border-radius:4px !important;}

	.searchButtonCommonClass										{ position:relative !important; max-width:100%; width:290px !important; height:54px !important; margin:30px auto 0 !important; padding:0 !important; font-size:16px !important; line-height:16px !important; border:solid 3px #1374c1 !important; border-radius:27px !important;}
}
@media screen and (max-width:440px){
	#ss-main .searchCategoryCommonClass label		{ font-size:15px !important;}

	.searchWrap .searchCategoryCommonClass label	{ height:4.34em !important; padding:10px 10px !important; display:-webkit-flex !important; display:flex !important; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center;}
	.searchWrap .searchCategoryCommonClass label[for="ss-category-default0-pc"],
	.searchWrap .searchCategoryCommonClass label[for="ss-category-default0-sp"],
	.searchWrap .searchCategoryCommonClass label[for="ss-category-default0"]	{ height:3.34em !important;}
	.searchWrap .searchCategoryCommonClass label br								{ display:inline;}

}


/* FOOTER
----------------------------------------------------------------*/
#LastUpDate					{ height:60px; padding:0 20px; background:#f5f5f5;}
#LastUpDate p				{ max-width:1100px; margin:0 auto; font-size:1.4rem; line-height:60px; color:#777; text-align:left;}

/* PAN KUZU */
#pan						{ position:relative; width:100%; min-height:105px; padding:0 20px; background:#fff; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
#pan ul						{ position:relative; width:100%; max-width:1100px; margin:0 auto; padding:30px 40px; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#pan ul::before				{ position:absolute; content:''; width:30px; height:30px; top:30px; left:0; background:url(../../../ja/hd-common/images/icon/home.png) 0 0 no-repeat; background-size:cover !important; vertical-align:middle;}
#pan li						{ position:relative; padding:4px 40px 4px 0; font-size:1.4rem; line-height:1.8; color:#222222;}
#pan a						{ display:block; color:#222; text-decoration:underline; -webkit-transition:color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s;}
#pan a:hover				{ color:#1374c1;}
#pan li::after				{ position:absolute; content:url(../../../ja/hd-common/images/icon/icon_link.svg); top:0.3em; right:15px;}
#pan ul li:only-child::after,
#pan #active::after			{ content:none;}

#ptop						{ position:absolute; width:110px; right:0; top:50%; -webkit-transform:translate(0,-50%); transform:translate(0,-50%);}
#ptop a						{ display:block; text-decoration:none;}
#ptop span					{ display:block; width:46px; height:46px; margin:0 auto; text-align:center; -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.2); box-shadow:0 0 5px 0 rgba(0,0,0,0.2); -webkit-border-radius:4px; border-radius:4px; -webkit-transition:box-shadow 0.2s ease-in-out 0s; transition:box-shadow 0.2s ease-in-out 0s;}
#ptop svg					{ display:inline-block; margin:20px 0 0 0; -webkit-transform:rotate(180deg) scale(1.73,1.73); transform:rotate(180deg) scale(1.73,1.73);}
#ptop path					{ fill:#1374c1}
#ptop i						{ display:block; padding:14px 0 0 0; font-size:11px; color:#1374c1;}
#ptop a:hover span			{ -webkit-box-shadow:0 -2px 4px 2px rgba(19,116,193,0.2); box-shadow:0 -2px 4px 2px rgba(19,116,193,0.2);}

#footer						{ min-width:320px; background:#f5f5f5;}
#foot						{ max-width:1100px; margin:0 auto; padding:50px 20px 70px; text-align:left;}
#foot a						{ display:inline-block; line-height:1.4; color:#222; white-space:nowrap;}

#foot div					{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
#foot div ul				{ display:-webkit-flex; display:flex;}
#fnav1 li					{ padding:20px 50px 0 0; font-size:18px; font-weight:500;}
#fnav2 li					{ padding:20px 50px 0 0; font-size:1.4rem;}
#fnav1 li:last-child,
#fnav2 li:last-child		{ padding-right:0;}

#fnav3 						{ padding:20px; border-style:solid none solid none; border-color:#ebebeb; border-width:3px; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#fnav3 li					{ font-size:1.4rem; line-height:1.86; color:#777;}
#fnav3 li::after			{ content:'｜'; margin:0 5px;}
#fnav3 a					{ color:#777;}
#footer p					{ padding:37px 0; font-size:12px; color:#777777;}
#footer a					{ -webkit-transition:color 0.3s ease-in-out 0s; transition:color 0.3s ease-in-out 0s;}
#footer a:hover				{ color:#1374c1;}
@media (min-width:1141px) and (max-width:1400px){
	#pan ul					{ padding-right:-webkit-calc(-23.166vw + 364.32px); padding-right:calc(-23.166vw + 364.32px);}
}
@media (min-width:960px) and (max-width:1140px){
	#pan ul					{ padding-right:100px;}
	#fsocial				{ padding:0 0 0 -webkit-calc(44.444vw + -366.67px); padding:0 0 0 calc(44.444vw + -366.67px);}
}
@media screen and (max-width:959px){
	#pan ul					{ padding:30px 60px 30px 40px;}
	#pan li					{ padding-right:30px;}
	#pan li::after			{ right:10px;}

	#ptop					{ width:74px; top:30px; -webkit-transform:translate(0,0); transform:translate(0,0);}
	#ptop span				{ width:30px; height:30px; -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.2); box-shadow:0 0 4px 0 rgba(0,0,0,0.2); -webkit-border-radius:3px; border-radius:3px;}
	#ptop svg				{ margin:12px 0 0 0; -webkit-transform:rotate(180deg) scale(1.2,1.2); transform:rotate(180deg) scale(1.2,1.2);}
	#ptop i					{ padding:10px 0 0 0;}

	#foot					{ padding:30px 20px 40px;}
	#foot div ul			{ -webkit-justify-content:flex-start; justify-content:flex-start; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
	#fnav1 li				{ padding:18px 30px 0 0; font-size:1.6rem;}
	#fnav2 li				{ padding:18px 30px 0 0; font-size:1.4rem;}

	#fnav3 					{ padding:30px 20px; border-width:2px;}
	#footer p				{ padding:32px 0; font-size:11px;}
}
@media screen and (max-width:770px){
	#foot div				{ display:block;}
	#fnav2					{ padding:15px 0 0 0;}
}

/* FADE EFFECT
----------------------------------------------------------------*/
#wrapper					{ opacity:0; -webkit-transition:opacity 800ms ease-in-out 100ms; transition:opacity 800ms ease-in-out 100ms;}
#LastUpDate,
#pan,
#footer						{ opacity:0; -webkit-transition:opacity 800ms ease-in-out 20ms; transition:opacity 800ms ease-in-out 20ms;}
.fade_In,
.fadeClose					{ opacity:0; -webkit-transition:opacity 800ms ease-in-out 100ms; transition:opacity 800ms ease-in-out 100ms;}
.boxTxtLnk a.fade_In,
.boxImgLnk a.fade_In		{ -webkit-transition:opacity 800ms ease-in-out 100ms, box-shadow 200ms; transition:opacity 800ms ease-in-out 100ms, box-shadow 200ms;}

@media screen and (min-width:960px){
	.fade_In_3block>.fade_In:nth-child(3n+1){ -webkit-transition:opacity 800ms ease-in-out 100ms; transition:opacity 800ms ease-in-out 100ms;}
	.fade_In_3block>.fade_In:nth-child(3n+2){ -webkit-transition:opacity 800ms ease-in-out 250ms; transition:opacity 800ms ease-in-out 250ms;}
	.fade_In_3block>.fade_In:nth-child(3n)	{ -webkit-transition:opacity 800ms ease-in-out 400ms; transition:opacity 800ms ease-in-out 400ms;}
}

#wrapper.pageLoaded,
#LastUpDate.scroll_In,
#pan.scroll_In,
#footer.scroll_In,
.fade_In.scroll_In,
.fadeClose.fadeOpen			{ opacity:1;}

.fadeChange					{ animation:fadeChange 1200ms ease-in-out 0s normal;}
@keyframes fadeChange{
	0%						{ opacity:1;}
	25%						{ opacity:0;}
	100%					{ opacity:1;}
}

/* PRINT
----------------------------------------------------------------*/
@media print{
	html					{ font-size:62.50% !important;}
	body					{ width:1000px !important; -webkit-transform:scale(0.9); transform:scale(0.9); -webkit-transform-origin:50% 0; transform-origin:50% 0; background:#fff;}
	#header					{ position:fixed !important; height:70px !important;}
	#logo					{ width:240px !important; left:20px !important;}
	#pan					{ position:relative !important;}
	#wrap					{ background:#fff !important; padding:80px 0 0 0 !important;}
	#gnav					{ width:640px !important; height:68px !important; top:10px !important;}
	#pan ul					{ padding:0 40px !important;}
	#pan ul::before			{ top:0 !important;}
	#footer					{ background:#fff !important;}

	#header::before,
	.unav, .snav,
	#gnavGoogle,
	#ptop,
	.pageTop,
	.prn,
	#foot,
	#fnav3					{ display:none !important;}

	#wrapper,
	#LastUpDate,
	#pan,
	#footer,
	.fade_In,
	.fadeClose				{ opacity:1;}
}


/* MAIN
----------------------------------------------------------------*/
#wrap .prn						{ position:absolute; z-index:900; top:20px; right:20px; width:110px; height:30px; padding:0; background:url(../images/icon/print.png) 50% 50% no-repeat; background-size:110px 30px; -webkit-border-radius:3px; border-radius:3px; -webkit-transition:opacity 200ms; transition:opacity 200ms; cursor:pointer;}
#wrap .prn:hover				{ opacity:0.7;}

#wrap							{ position:relative; width:100%; min-width:320px; padding:80px 0 0 0; background:#fff; overflow:hidden;}
#wrapper.up #wrap,
#wrapper.upDrop #wrap			{ padding:200px 0 0 0;}

#wrap.visual					{ padding:0;}
#wrapper.up #wrap.visual,
#wrapper.upDrop #wrap.visual	{ padding:100px 0 0 0;}
@media screen and (max-width:959px){
	#wrap,
	#wrapper.up #wrap,
	#wrapper.upDrop #wrap		{ padding:100px 0 0 0;}
	#wrap.visual,
	#wrapper.up #wrap.visual,
	#wrapper.upDrop #wrap.visual{ padding:60px 0 0 0;}
}

#vis							{ position:relative; width:100%; overflow:hidden;}
#vis + #main					{ padding:60px 0 0 0;}
#wrap>h1.titleLv1+#main			{ padding:60px 0 1px 0; background:#f2f2f2;}

#contents						{ position:relative; width:100%; max-width:1100px; margin:0 auto; padding:0 20px 100px; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box;}
#contents.wide					{ max-width:1100px;}
.contents						{ line-height:1.8;}
@media screen and (max-width:959px){
	#contents					{ padding:0 20px 80px;}
}
@media screen and (max-width:770px){
	#contents					{ padding:0 10px 60px; padding:0 -webkit-calc(2.222vw + 2.89px) 60px; padding:0 calc(2.222vw + 2.89px) 60px;}
}
@media print{
	#contents					{ padding:0 10px;}
}


/* SECTION */
.division						{ margin:20px 0; padding:20px 0;}
.section						{ margin:0 0 20px 0; padding:0 0 20px 0;}
.division::after,
.section::after,
.inner::after,
.innerLv::after					{ content:''; display:block; clear:both;}
@media screen and (max-width:770px){
	.division					{ margin:-webkit-calc(2.22% + 3.3px) 0; margin:calc(2.22% + 3.3px) 0; padding:-webkit-calc(2.22% + 3.3px) 0; padding:calc(2.22% + 3.3px) 0;}
	.section					{ margin:0 0 -webkit-calc(2.22% + 3.3px) 0; margin:0 0 calc(2.22% + 3.3px) 0; padding:0 0 -webkit-calc(2.22% + 3.3px) 0; padding:0 0 calc(2.22% + 3.3px) 0;}
}
.pageTop a						{ display:block; background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAUCAYAAADlep81AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdNJREFUeNq8lrtLgmEUxj9Tohx0qIbSoVKhQZuiIEjIIbsQFNTSEEQXqqGpoRYXp5aWoAvUEmRDQUJ0IbI7DY31fwQ2VAhqzxtP8HKwm5964Acvz3fOeZ/voue1VM1fGybDAla5ngVZM81sJs1YwQYY1/pNg3S+DctMmtnWzKiYoGYttaFysA9GclxT2h5zSmKokmYGfsgZZE5FsQ3ZwRHoF/ojeBKayjlmTVEMOcEp6BT6AwiCDq71ULknrC2oIdXwjJvqcQO6QJKo9a3ICbLWWShDNdykVeiXoIdGvkKtu3lNj1aarzFrqA5cgIDQD0EveM1Ro7Q+5ujRzF61+Rpy8678Qj8AQ+D9h9o35sSF7ufTdv/XkJeFHqHHwDBI/eFVp2gqJnQPb9T7V0M+cAXqhb4JRv85FtKs2RJ6A/fw/WZIfSv3wCX0dTCV54xSNZPsoYeLewW+M9TCj65aFC6BGZNTPMuTwJLQq7lnizTUBhI5zETBglGYyLJXNIepBD18GgqBc+AQiYsgYhQ+Iuyth4MeQlZ7+9guFo0iYQ4sG8WLO/DMP1b9BNGknlBYm0EZvusVo/ixwr0y2kwM27QZFOdPe8coXayBFx7s1HEm+SHAAGW8XfUYpfUYAAAAAElFTkSuQmCC); background-position:50% 50%; background-repeat:no-repeat;}
.pageTop a						{ margin:0 0 0 auto; width:30px; height:30px; -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2); box-shadow:0 0 3px 0 rgba(0,0,0,0.2); background-size:12px auto; text-indent:-10em; overflow:hidden; clear:both; border-radius:3px}

li.section>.pageTop a			{ position:relative; margin:2.6% 0 0 auto;}


/* TITLE
----------------------------------------------------------------*/
.titleLv1						{ margin:0 0 60px 0; font-size:46px; color:#1374c1; text-align:center; font-weight:500; letter-spacing:0.03em; word-spacing:0.1em; font-family:Overpass,'Helvetica Neue',Arial,sans-serif; font-weight:800;}
.titleLv1.nomargin				{ margin:0;}
.titleLv1 span:not(.exb)		{ display:inline-block;}

#vis							{ position:relative;}
#vis .titleLv1					{ position:absolute; width:100%; top:50%; left:50%; margin:0; color:#6e777f; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
#vis.white .titleLv1			{ color:#fff;}
.fade_In .titleLv1				{ margin:0; font-size:43px;}
.titleLv1.secondTitle			{ font-size:43px;}

.titleLv2						{ position:relative; margin:25px 0 30px 0; padding:0 0 0 36px; font-size:28px; line-height:1.4; font-weight:500; text-align:left;}
.titleLv2::after				{ position:absolute; content:''; top:50%; left:0; width:13px; height:90%; background-color:#1374c1; -webkit-transform:translate(0,-50%); transform:translate(0,-50%);}
.titleLv3						{ margin:30px 0 20px 0; padding:16px 22px; font-size:2.0rem; line-height:1.4; font-weight:500; background-color:#ecf4fa; border-radius:10px;}
.titleLv4						{ margin:40px 0 20px 0; font-size:1.8rem; font-weight:500; line-height:1.5;}
.titleLv3 + .titleLv4			{ margin:30px 0 20px 0;}
.titleLv5						{ margin:20px 0 10px 0; font-size:1.6rem;}

.titleLv2 span,
.titleLv3 span,
.titleLv4 span					{ display:inline-block;}

.catchLv1,
.catchLv2						{ display:block; color:#6e777f; font-weight:500;}
.catchLv1						{ font-size:2.3rem;}
.catchLv2						{ font-size:2.0rem;}

@media screen and (max-width:770px){
	.titleLv1					{ font-size:32px; line-height:1.5;}
	.titleLv1 .exb				{ font-size:16px;}
	.fade_In .titleLv1,
	.titleLv1.secondTitle		{ font-size:30px;}
	.titleLv2					{ margin:-webkit-calc(1.11% + 16.7px) 0 -webkit-calc(1.11% + 21.7px) 0; margin:calc(1.11% + 16.7px) 0 calc(1.11% + 21.7px) 0; padding:0 0 0 30px; font-size:25px;}
	.titleLv2::after			{ width:10px;}
	.titleLv3					{ margin:-webkit-calc(1.11% + 21.7px) 0 -webkit-calc(1.11% + 11.7px) 0; margin:calc(1.11% + 21.7px) 0 calc(1.11% + 11.7px) 0; padding:16px 20px;}
	.titleLv4					{ margin:-webkit-calc(2.22% + 23.3px) 0 -webkit-calc(1.11% + 11.7px) 0; margin:calc(2.22% + 23.3px) 0 calc(1.11% + 11.7px) 0;}
	.titleLv3 + .titleLv4		{ margin:-webkit-calc(1.11% + 16.7px) 0 -webkit-calc(1.11% + 11.7px) 0; margin:calc(1.11% + 16.7px) 0 calc(1.11% + 11.7px) 0;}
	.titleLv5					{ margin:20px 0 -webkit-calc(1.11% + 1.7px) 0; margin:20px 0 calc(1.11% + 1.7px) 0;}

	.catchLv1					{ font-size:-webkit-calc(16.16px + 0.889vw); font-size:calc(16.16px + 0.889vw);}
	.catchLv2					{ font-size:-webkit-calc(16.58px + 0.444vw); font-size:calc(16.58px + 0.444vw);}
}

/* CONTENTS
----------------------------------------------------------------*/

/* リンク */
.contents a						{ text-decoration:underline; word-wrap:break-word;}

/* margin */
.contents .margin				{ margin-bottom:20px;}
.contents .expand				{ padding-top:20px;}
.contents .shrink				{ margin-top:-10px;}
/* テキスト */
.contents .text					{ margin-bottom:20px;}
.contents .texth				{ margin-bottom:10px;}

/* 注釈 */
.noteBox						{ margin:20px 0; padding:20px; background:#fff;}
.noteBox::after					{ content:''; display:block; clear:both;}
.noteBox						{ background:#fff;}
.noteBox small					{ font-size:87%;}

@media screen and (max-width:770px){
	.contents .margin,
	.contents .text				{ margin-bottom:-webkit-calc(1.11vw + 11.4px); margin-bottom:calc(1.11vw + 11.4px);}
	.contents .expand			{ padding-top:-webkit-calc(1.11vw + 11.4px); padding-top:calc(1.11vw + 11.4px);}
	.contents .texth			{ margin-bottom:10px;}
}

/* LINK UNIT
----------------------------------------------------------------*/
.boxTxtLnk						{ width:100%;}
#vis + #main .boxTxtLnk			{ padding:60px 0 0;}
.boxTxtLnk>div					{ max-width:1100px; margin:0 auto; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.boxTxtLnk a					{ position:relative; display:block; margin:0 0 40px 0; padding:0 30px; text-align:left; background:#fff; border:solid 1px #ddd; border-radius:5px; text-decoration:none; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:opacity 0.3s; transition:opacity 0.3s;}
.boxTxtLnk>div>span				{ display:block; height:1px; overflow:hidden;}
.boxTxtLnk a,
.boxTxtLnk>div>span				{ width:-webkit-calc(33.3% - 26.66px); width:calc(33.3% - 26.66px);}
.boxTxtLnk a.half				{ width:-webkit-calc(50% - 20px); width:calc(50% - 20px);}
.boxTxtLnk strong				{ display:block; padding:25px 30px 25px 0; font-size:21px; line-height:1.57; color:#222; font-weight:500; background:url(../../../ja/hd-common/images/icon/icon_link.svg) 100% 50% no-repeat; background-size:10px auto !important;}
.boxTxtLnk strong span			{ display:inline-block;}
.boxTxtLnk a>span				{ position:relative; display:block; padding:20px 0 40px; font-size:1.7rem; line-height:1.76; color:#222;}
.boxTxtLnk a>span::after		{ position:absolute; content:''; top:0; left:0; width:100%; height:3px; background-color:#eee;}
.boxTxtLnk a					{ -webkit-transition:box-shadow 0.2s ease-in-out 0s; transition:box-shadow 0.2s ease-in-out 0s;}
.boxTxtLnk a:hover				{ color:#1374c1; -webkit-box-shadow:0 0 10px 0 rgba(34,34,34,0.08); box-shadow:0 0 10px 0 rgba(34,34,34,0.08);}
.boxTxtLnk a strong,
.boxTxtLnk a>span				{ -webkit-transition:color 0.4s ease-in-out 0s; transition:color 0.4s ease-in-out 0s;}
.boxTxtLnk a:hover strong,
.boxTxtLnk a:hover>span			{ color:#1374c1;}
.boxTxtLnk a>span::after		{ -webkit-transition:background-color 0.4s ease-in-out 0s; transition:background-color 0.4s ease-in-out 0s;}
.boxTxtLnk a:hover>span::after	{ background-color:#1374c1;}

.boxImgLnk						{ width:100%;}
.boxImgLnk>div					{ max-width:1100px; margin:0 auto; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.boxImgLnk a					{ position:relative; display:block; width:-webkit-calc(50% - 20px); width:calc(50% - 20px); margin:0 0 40px 0; text-align:left; background:#fff; border:solid 1px #ddd; text-decoration:none; -webkit-box-sizing:border-box; box-sizing:border-box;}
.boxImgLnk a>span				{ position:relative; display:block; width:100%; overflow:hidden;}
.boxImgLnk a>span img			{ position:relative;}
.boxImgLnk a>span span			{ position:absolute; top:0; left:0; width:100%; height:100%; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center;}
.boxImgLnk strong				{ display:block; padding:20px 30px; font-size:21px; line-height:1.57; font-weight:500; color:#222;}
.boxImgLnk strong span			{ display:block; padding:0 30px 0 0; background:url(../../../ja/hd-common/images/icon/icon_link.svg) 100% 50% no-repeat; background-size:10px auto !important;}
.boxImgLnk strong img			{}
.boxImgLnk a					{ -webkit-transition:box-shadow 0.2s ease-in-out 0s; transition:box-shadow 0.2s ease-in-out 0s;}
.boxImgLnk a:hover				{ -webkit-box-shadow:0 0 10px 0 rgba(34,34,34,0.08); box-shadow:0 0 10px 0 rgba(34,34,34,0.08);}
.boxImgLnk a>span img			{ -webkit-transition:transform 0.4s ease-in-out 0s; transition:transform 0.4s ease-in-out 0s;}
.boxImgLnk a:hover>span img		{ -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}
.boxImgLnk a strong				{ -webkit-transition:color 0.4s ease-in-out 0s; transition:color 0.4s ease-in-out 0s;}
.boxImgLnk a:hover strong		{ color:#1374c1;}

@media screen and (max-width:959px){
	.boxTxtLnk>div>a,
	.boxTxtLnk>div>a.half,
	.boxImgLnk>div>a			{ width:-webkit-calc(50% - 15px); width:calc(50% - 15px); margin:0 0 30px 0;}
	.boxTxtLnk>div>a			{ padding:0 3.128vw;}
	.boxImgLnk strong			{ padding:20px 3.128vw;}
}
@media screen and (max-width:640px){
	.boxTxtLnk					{}
	#vis + #main .boxTxtLnk		{ padding:10% 0 0;}
	.boxTxtLnk>div>a,
	.boxTxtLnk>div>a.half		{ width:100%; margin:0 0 20px 0; padding:0 20px;}
	.boxTxtLnk strong			{ padding:18px 30px 18px 0; font-size:20px;}
	.boxTxtLnk a>span			{ padding:15px 0 30px; font-size:16px;}

	.boxImgLnk>div>a			{ width:100%; margin:0 0 20px 0;}
	.boxImgLnk strong			{ padding:18px 20px ; font-size:20px;}
	.boxImgLnk strong span		{ padding:0 30px 0 0;}
}

.boxLnks								{ margin:30px 0;}
.boxLnks>dl								{ background:#fff;}
.boxLnks>dl>dt							{ margin:30px 0 20px 0; padding:16px 22px; font-size:2.0rem; line-height:1.5; font-weight:500; background-color:#ecf4fa; border-radius:10px;}
.boxLnks>dl>dd							{ min-height:3em; padding:10px 0 20px; line-height:1.5;}
.boxLnks>:first-child:not(dl)			{ position:relative; margin-bottom:0; background:#fff;}
.boxLnks>:first-child:not(dl)+div		{ padding:20px 0 25px; line-height:1.5; background:#fff;}
@media screen and (max-width:770px){
	.boxLnks>dl>dt						{ margin:30px 0 20px 0; padding:14px 20px; font-size:20px;}
	.boxLnks>dl>dd						{ min-height:3em; padding:0 0 20px; line-height:1.5;}
}

/* icon */
.relatedLinks li						{ position:relative; padding:0.4em 0 0.4em 28px; line-height:1.5;}
.relatedLinks li::before				{ position:absolute; top:1.0em; left:0; position:absolute; content:''; width:10px; height:2px; margin:0 0 0 0; background:#1374c1; border-radius:1px;}
.relatedLinks li::after					{ display:inline-block; content:none; width:auto; height:auto; margin:0 0 0 8px; padding:1px 8px 0; font-size:12px; line-height:17px; color:#fff; border-radius:3px; vertical-align:1px;}
.relatedLinks li.pdf::after				{ content:'PDF'; background:#d14421;}
.relatedLinks li.xls::after				{ content:'XLSX'; background:#007a34;}
.relatedLinks li.doc::after				{ content:'DOC'; background:#2b579a;}
.relatedLinks li.mov::after				{ content:'VIDEO'; background:#1374c1;}
.relatedLinks li.ebk::after				{ content:'eBOOK'; background:#be924d;}
.relatedLinks li.icon,
.relatedLinks li.bgicon					{ padding:0.4em 0;}
.relatedLinks li.icon::after,
.relatedLinks li.icon::before,
.relatedLinks li.bgicon::after,
.relatedLinks li.bgicon::before			{ content:none;}
.relatedLinks li a						{ display:inline-block; font-size:1.6rem;}
.relatedLinks li a:hover				{/* color:#1374c1;*/}
.relatedLinks li a.line					{ text-decoration:underline;}
.relatedLinks li a[target]::after		{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important; vertical-align:-1px;}
.relatedLinks li.pdf a[target]::after,
.relatedLinks li.xls a[target]::after,
.relatedLinks li.doc a[target]::after,
.relatedLinks li.mov a[target]::after,
.relatedLinks li.ebk a[target]::after,
.relatedLinks li.icon a[target]::after,
.relatedLinks li.bgicon a[target]::after{ content:none;}
.relatedLinks>dt						{ display:inline-block; padding:0.4em 10px 0.4em 0; line-height:1.4;}
.relatedLinks>dd						{ position:relative; display:inline-block; padding:0.4em 0 0.4em 20px; line-height:1.4;}
.relatedLinks>dd::after					{ top:0.8em; left:4px; position:absolute; content:''; width:0; height:0; border-style:solid; border-width:3px 0 3px 6px; border-color:transparent transparent transparent #0070c1;}

.relatedLinks li.pdf-size a						{ margin:0 6px 0 0;}
.relatedLinks li.pdf-size a[target]::after		{ content:none;}
.relatedLinks li.pdf-size .pdf-size				{ display:inline-block; font-size:14px; vertical-align:1px;}
.relatedLinks li.pdf-size .pdf-size::before		{ content:'PDF'; display:inline-block; width:auto; height:auto; margin:0 4px 0 0; padding:0 8px; font-size:11px; line-height:17px; color:#fff; background:#d14421; border-radius:3px; vertical-align:1px;}

.rcBtn									{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.rcBtn li								{ padding:6px 20px;}
.rcBtn li:only-child					{ padding:6px 0;}
.rcBtn .rc-btn							{ width:290px; height:60px; padding:0 25px; font-size:20px; text-decoration:none; border:solid 4px #1374c1; border-radius:30px; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center; -webkit-box-sizing:border-box; box-sizing:border-box;}
.rcBtn .rc-btn::before					{ display:block; content:''; width:10px; height:10px;}
.rcBtn span								{ display:block; color:#1374c1; font-weight:500;}
.rcBtn polyline							{ fill:none; stroke:#1374c1; stroke-linecap:round; stroke-linejoin:round; stroke-width:4px; -webkit-transition:stroke 0.4s ease-in-out 0s; transition:stroke 0.4s ease-in-out 0s;}
.rcBtn .rc-btn,
.rcBtn span								{ -webkit-transition:color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s; transition:color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s;}
.rcBtn .rc-btn:hover					{ background-color:#1374c1;}
.rcBtn .rc-btn:hover span				{ color:#fff}
.rcBtn .rc-btn:hover polyline			{ stroke:#fff;}
.rcBtn button.rc-btn					{ background-color:#fff; cursor:pointer;}
.rcBtn button.rc-btn:focus				{ outline:none;}

.rcBtn.rcBtn-white .rc-btn				{ border:solid 4px #fff;}
.rcBtn.rcBtn-white span					{ color:#fff;}
.rcBtn.rcBtn-white polyline				{ stroke:#fff;}
.rcBtn.rcBtn-white .rc-btn:hover		{ background-color:#fff;}
.rcBtn.rcBtn-white .rc-btn:hover span	{ color:#1374c1}
.rcBtn.rcBtn-white .rc-btn:hover polyline
										{ stroke:#1374c1;}
@media screen and (max-width:770px){
	.rcBtn .rc-btn						{ width:240px; height:54px; font-size:16px; border-radius:27px;}
}


/* Adobe Reader */
.getAdobe								{ margin:30px 0; padding:20px 25px 15px; font-size:1.2rem; line-height:1.4; background:#fff;}
.getAdobeIcon							{ margin:0 20px 0 0; float:left;}
.getAdobeText p:first-child::before		{ display:inline-block; content:'PDF'; width:auto; height:auto; margin:0 4px 0 0; padding:1px 8px 0; font-size:12px; line-height:17px; color:#fff; background:#d14421; border-radius:3px; vertical-align:1px;}
@media screen and (max-width:770px){
	.getAdobe							{ position:relative; padding:10px;}
	.getAdobeIcon						{ width:39px; overflow:hidden;}
	.getAdobeText						{ position:absolute; top:50%; left:60px; padding:0 5px 0 0; -webkit-transform:translate(0,-50%); transform:translate(0,-50%);}
	.getAdobeText p						{ display:none;}
	.getAdobeText p:first-child			{ display:block;}
	.getAdobeText p:first-child span	{ display:inline-block;}
}


/* TABLE
----------------------------------------------------------------*/
/* 横スクロール */
.x_scroll							{ width:100%; overflow-x:auto; margin:0 0 10px 0; padding:0 0 10px 0;}
.x_scroll>table						{ width:auto; min-width:100%;}
.x_scroll>.stdTb01,
.x_scroll>.stdTb02					{ margin:0;}

/* border-box */
.stdTb01 th,
.stdTb01 td,
.stdTb02 th,
.stdTb02 td							{ -webkit-box-sizing:border-box; box-sizing:border-box;}

/* plane table */
.stdTb01 thead th,
.stdTb01 thead td					{ color:#fff; background:#555; border:solid 2px #fff; text-align:left;}
.stdTb01 tbody th					{ color:#fff; background:#777; border:solid 2px #fff; text-align:left;}
.stdTb01 tbody td					{ background:#f3f3f3; border:solid 2px #fff;}
.stdTb01 .subcell					{ color:#fff; background:#999;}

/* data table */
.stdTb02							{ line-height:1.4; min-width:100%; margin:0 0 10px 0;}
.stdTb02 thead th					{ padding:15px 25px; color:#fff; background:#555; border:solid 2px #fff; text-align:left;}
.stdTb02 thead td,
.stdTb02 tbody th					{ padding:12px 25px; color:#fff; background:#777; border:solid 2px #fff; text-align:left;}
.stdTb02 tbody td					{ padding:12px 25px; background:#f3f3f3; border:solid 2px #fff;}
.stdTb02 .subcell					{ color:#fff; background:#999;}

@media print{
	.stdTb01 th,
	.stdTb01 td,
	.stdTb02 th,
	.stdTb02 td						{ color:#222 !important; background:#fff !important; border:solid 2px #ccc !important;}
	.stdTb01 thead th,
	.stdTb01 thead td,
	.stdTb01 tbody th,
	.stdTb02 thead th,
	.stdTb02 thead td,
	.stdTb01 tbody th				{ font-weight:500;}
}
/* text table */
.stdTb02.txtTb						{ line-height:1.6;}
.stdTb02.txtTb tbody th,
.stdTb02.txtTb tbody td				{ padding-top:15px; padding-bottom:15px;}
@media screen and (max-width:770px){
	.stdTb02 thead th				{ padding:15px -webkit-calc(2.89% + 3.3px); padding:15px calc(2.89% + 3.3px);}
	.stdTb02 thead td,
	.stdTb02 tbody th,
	.stdTb02 tbody td				{ padding:12px -webkit-calc(2.89% + 3.3px); padding:12px calc(2.89% + 3.3px);}

	.stdTb02.txtTb tbody th,
	.stdTb02.txtTb tbody td			{ padding:15px -webkit-calc(2.89% + 3.3px); padding:15px calc(2.89% + 3.3px);}
}

/* narrow table */
.stdTb02.narrow thead th,
.stdTb02.narrow thead td,
.stdTb02.narrow tbody th,
.stdTb02.narrow tbody td			{ padding-left:10px; padding-right:10px;}
@media screen and (max-width:770px){
	.stdTb02.narrow thead th,
	.stdTb02.narrow thead td,
	.stdTb02.narrow tbody th,
	.stdTb02.narrow tbody td		{ padding-left:-webkit-calc(1.11% + 1.7px); padding-left:calc(1.11% + 1.7px); padding-right:-webkit-calc(1.11% + 1.7px); padding-right:calc(1.11% + 1.7px);}
}

/* low table */
.stdTb02.low thead th,
.stdTb02.low thead td				{ padding-top:7px; padding-bottom:7px;}
.stdTb02.low tbody th,
.stdTb02.low tbody td				{ padding-top:6px; padding-bottom:6px;}

/* nowrap span */
.stdTb01.span_nowrap th>span,
.stdTb01.span_nowrap td>span,
.stdTb02.span_nowrap th>span,
.stdTb02.span_nowrap td>span		{ display:block; padding-right:3px; white-space:nowrap;}
/* PC wrap span */
@media screen and (min-width:771px){
	.stdTb01.pc_wrap th>span,
	.stdTb01.pc_wrap td>span
	.stdTb02.pc_wrap th>span,
	.stdTb02.pc_wrap td>span		{ display:inline; padding-right:0; white-space:normal;}
}

/* nowrap table */
.stdTb01.nowrap th.wrap,
.stdTb01.nowrap td.wrap,
.stdTb02.nowrap th.wrap,
.stdTb02.nowrap td.wrap				{ white-space:normal;}
.stdTb01.nowrap th.wrap span,
.stdTb01.nowrap td.wrap span,
.stdTb02.nowrap th.wrap span,
.stdTb02.nowrap td.wrap span		{ display:inline-block; padding:0 5px 0 0; white-space:nowrap;}
.stdTb01 tbody.nowrap th.wrap,
.stdTb01 tbody.nowrap td.wrap,
.stdTb02 tbody.nowrap th.wrap,
.stdTb02 tbody.nowrap td.wrap		{ white-space:normal;}
.stdTb01 tbody.nowrap th.wrap span,
.stdTb01 tbody.nowrap td.wrap span,
.stdTb02 tbody.nowrap th.wrap span,
.stdTb02 tbody.nowrap td.wrap span	{ display:inline-block; padding:0 5px 0 0; white-space:nowrap;}


/* WHITE */
.whiteTb							{ line-height:1.4; width:100%; min-width:100%; margin:0 0 10px 0;}
.whiteTb caption					{ width:100%; padding:12px 0; font-size:1.8rem; color:#1374c1; font-weight:500; border-style:none none solid none; border-bottom:solid 3px #1374c1; text-align:left;}
.whiteTb th,
.whiteTb td							{ color:#222; text-align:left; background:#fff; border-style:none none solid none; border-bottom:solid 2px #eee; vertical-align:middle;}
.whiteTb th							{ padding:12px 25px 12px 0; font-size:1.7rem; font-weight:500;}
.whiteTb td							{ padding:12px 0 12px 25px; font-size:1.6rem;}
@media screen and (max-width:770px){
	.whiteTb th,
	.whiteTb td						{ display:block; width:100%; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.whiteTb th						{ padding:12px 0 12px 0; font-size:16px; border-bottom:none;}
	.whiteTb td						{ padding:12px 0 12px 15px;}
}

/* タブ
------------------------------------------ */
.tablink						{ width:100%; margin:40px 0; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
.tablink li						{ width:100%; min-height:76px; margin:0 5px;}
.tablink li:first-child			{ margin:0 5px 0 0;}
.tablink li:last-child			{ margin:0 0 0 5px;}
.tablink a						{ display:block; height:100%; padding:10px; font-size:19px; line-height:1.4; text-align:center; color:#8a8a8a; background-color:#f3f3f3; border-style:solid solid none solid; border-color:#f3f3f3; border-width:4px; text-decoration:none; border-radius:10px 10px 0 0; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:all 0.3s ease 0s; transition:all 0.3s ease 0s; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; align-items:center; -webkit-align-items:center; cursor:pointer;}
.tablink a.act					{ color:#222; background-color:#fff; cursor:default;}
.tablink a:not(.act):hover		{ color:#fff; background-color:#1374c1; border-color:#1374c1;}
.tablink a>span span			{ display:inline-block;}
.tablink.bottom					{ margin:60px 0 0 0;}
.tablink.bottom a				{ border-radius:0 0 10px 10px;}
.tablink.bottom a.act			{ border-style:none solid solid solid;}
@media screen and (max-width:770px){
	.tablink					{ -webkit-flex-wrap:wrap; flex-wrap:wrap;}
	.tablink li:nth-child(n)	{ width:calc(50% - 3px); min-height:95px; margin:0 0 6px 0;}
	.tablink a,
	.tablink.bottom a			{ font-size:16px; border-radius:16px;}
	.tablink a.act,
	.tablink.bottom a.act		{ border-style:solid;}
}

/* モーダル
------------------------------------------ */
html.std_modalOpen								{ overflow-y:scroll;}
html.std_modalOpen body							{ position:fixed; }
@media (min-width:960px){
	html.scroll_modalOpen #header				{ position:fixed; height:70px;}
	html.scroll_modalOpen #head .unav			{ display:none;}
	html.scroll_modalOpen #wrapper #wrap		{ padding:200px 0 0 0;}
	html.scroll_modalOpen #wrapper #wrap #vis	{ margin:-100px 0 0 0;}
}
.stdModal .modal_open_box						{ display:none; position:fixed; z-index:2010; top:0; left:0; width:100%; height:100%; height:100vh;}
.stdModal .modal_open_box .frame1				{ position:absolute; display:-webkit-flex; display:flex; top:0; left:0; width:100%; height:100%; padding:50px 3vw; -webkit-box-sizing:border-box; box-sizing:border-box; background-color:rgba(57,57,57,0.4); -webkit-transition:opacity 0.6s ease-in-out 0s; transition:opacity 0.6s ease-in-out 0s; -webkit-justify-content:center; justify-content:center; align-items:center; -webkit-align-items:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.stdModal .modal_open_box .frame2				{ position:relative; height:auto; max-height:100%;}
.stdModal .modal_open_box .frame2::after		{ display:block; content:''; height:20px; margin:-1px 0 0 0; background:#fff; -webkit-border-radius:0 0 20px 20px; border-radius:0 0 20px 20px;}
.stdModal .modal_open_box .x_Close				{ position:relative; height:60px; background:#fff; -webkit-border-radius:20px 20px 0 0; border-radius:20px 20px 0 0; -webkit-box-sizing:border-box; box-sizing:border-box;}
.stdModal .modal_open_box .x_Close div			{ display:block; width:40px; height:40px; margin:0 0 0 auto; padding:19px 20px 0 0; cursor:pointer;}
.stdModal .modal_open_box .x_Close svg			{ margin:0;}
.stdModal .modal_open_box .frame3				{ position:relative; width:100%; max-width:640px; margin:-1px 0 0 0; background:#fff; overflow:auto;}


/* アイコン ショートテキストリンク
------------------------------------------ */
.link,
.arrow,
.back					{ position:relative; display:inline-block; padding:0 0 0 30px; margin:2px 0;}
.link::after,
.arrow::after,
.back::after			{ top:50%; left:0; position:absolute; content:''; width:10px; height:2px; margin:0 0 0 0; background:#555; border-radius:1px;}

.contents .move			{ position:relative; display:inline-block; margin:2px 0; padding:0 30px 0 20px; color:#444; text-decoration:none;}
.contents .move.block	{ display:block;}
.move::after			{ top:40%; left:0; position:absolute; content:''; width:0; height:0; border-style:solid; border-width:6px 3px 0 3px; border-color:#555 transparent transparent transparent;}
.contents .move a		{ color:#0070c1;}
.contents .move a:hover	{ color:#002a59;}

.label_icon_pdf,
.label_icon_xls,
.label_icon_doc,
.label_icon_mov			{ display:inline-block; content:''; width:auto; height:auto; margin:0 4px; padding:1px 8px 0; font-size:12px; line-height:17px; color:#fff; border-radius:3px; vertical-align:1px;}
.label_icon_pdf			{ background:#d14421;}
.label_icon_xls			{ background:#007a34;}
.label_icon_doc			{ background:#2b579a;}
.label_icon_mov			{ background:#1374c1;}
.label_icon_pdf2		{ display:inline-block; font-size:14px; font-weight:normal;}
.label_icon_pdf2::before{ display:inline-block; content:'PDF'; width:auto; height:auto; margin:0 0 0 4px; padding:1px 0 8px 0; font-size:11px; line-height:17px; color:#fff; background:#d14421; border-radius:3px; vertical-align:1px;}

/* zip  */
.dl_file				{ margin:20px 0 10px;}
.dl_file a				{ display:block; min-height:60px; padding:15px 25px; font-size:1.8rem; line-height:1.5; color:#222; border:solid 4px #ddd; font-weight:500; text-decoration:none; border-radius:20px; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; -webkit-transition:all 0.3s ease 0s; transition:all 0.3s ease 0s;}
.dl_file a img,
.dl_file a svg			{ margin:0 0 0 5px; vertical-align:-2px;}
.dl_file a path			{ fill:#1374c1; -webkit-transition:fill 0.3s ease 0s; transition:fill 0.3s ease 0s;}
.dl_file a:not(.over):hover			{ color:#fff; background-color:#1374c1; border-color:#1374c1;}
.dl_file a:not(.over):hover path	{ fill:#fff;}

@media screen and (max-width:770px){
	.dl_file a			{ padding:15px 15px; border-radius:10px;}
}

/* RSS  */
.rss2					{ display:inline-block; height:16px; padding:1px 0 0 30px; line-height:1; background:url(../../../ja/hd-common/images/icon/ico_rss2.png) 0 0% no-repeat; background-size:16px 16px !important;}

/* → */
/*白*/.arr_w			{ padding:2px 0 2px 20px; font-size:1.4rem; color:#ffffff; background:url(../../../ja/hd-common/images/icon/arr3wb.png) 0 50% no-repeat; background-size:10px 10px !important;}
/*藍*/.arr_a			{ padding:2px 0 2px 20px; font-size:1.4rem; color:#6e777f; background:url(../../../ja/hd-common/images/icon/arr3ab.png) 0 50% no-repeat; background-size:10px 10px !important;}
/*灰*/.arr_g			{ padding:2px 0 2px 20px; font-size:1.4rem; color:#444444; background:url(../../../ja/hd-common/images/icon/arr3gb.png) 0 50% no-repeat; background-size:10px 10px !important;}
/*青*/.arr_b			{ padding:2px 0 2px 20px; font-size:1.4rem; background:url(../../../ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important;}

.label_pdf .pdf							{ position:relative;}
.label_pdf .pdf::after					{ position:absolute; display:inline-block; content:'PDF'; top:50%; right:0; width:auto; height:auto; margin:-9px 0 0 0; padding:1px 8px 0; font-size:12px; line-height:17px; color:#fff; background:#d14421; border-radius:3px;}
.label_pdf.label_inline .pdf::after		{ position:relative; top:auto; right:auto; margin:0 0 0 8px; vertical-align:3px;}

/* アイコン画像位置調整
------------------------------------------ */
.icon					{ padding:2px 0 4px 16px; text-indent:-16px;}
img.video				{ margin:0 4px 0 1px; vertical-align:middle;}
img.pdf					{ margin:0 4px 0 0; padding:0; background:none; vertical-align:middle;}
a+img.pdf				{ margin:0 0 0 4px;}
img.blank				{ margin:0 8px; vertical-align:0;}


/* IRPOCKET
----------------------------------------------------------------*/
.irp-press-list span.irpresults::after	{ content:'Results';}
.irp-press-list span.irpinfo::after		{ content:'IR(info)';}
.irp-press-list span.irpnews::after,
.irp-press-list span.irpen::after		{ content:'News';}


.disnon,
.irp-press-list span.irp-fsize,
.irp-icon2-htm,
.irp-icon2-wmv,
.irp-icon2-url							{ display:none;}

.noteBox.mpocket>img					{ float:right;}
.noteBox.mpocket>small					{ display:block; padding:0 80px 0 0;}

.list__title							{ position:relative; display:inline-block; margin:0 0 15px 0; padding:0 0 0 30px;}
.list__title a							{ position:relative; display:inline-block; font-size:1.7rem; line-height:1.65; text-align:left;}
.list__title a[target]::before			{ position:absolute; content:''; top:0.4em; left:-30px; width:15px; height:15px; margin:0 0 0 4px; background:url(../../../ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
.list__title a::before,
.list__title a.pdf[target]::before,
.list__title a.xls[target]::before,
.list__title a.doc[target]::before		{ position:absolute; content:''; width:10px; height:2px; top:0.8em; left:-30px; background-color:#555; border-radius:1px;}
.list__title a.xls::after,
.list__title a.doc::after,
.list__title a.mov::after,
.list__title a.wmv::after				{ display:inline-block; content:''; width:auto; height:auto; margin:0 0 0 10px; padding:1px 8px 0; font-size:11px; line-height:17px; color:#fff; border:none; border-radius:3px; vertical-align:2px;}
.list__title a.xls::after				{ content:'XLSX'; background:#007a34;}
.list__title a.doc::after				{ content:'DOC'; background:#2b579a;}
.list__title a.mov::after,
.list__title a.wmv::after				{ content:'VIDEO'; background-color:#1374c1;}
.list__title .pdf						{ margin:0 10px 0 0;}
.list__title .pdf+.irp-icon2-pdf		{ display:inline-block; font-size:14px; vertical-align:1px;}
.list__title .pdf+.irp-icon2-pdf::before{ display:inline-block; content:'PDF'; width:auto; height:auto; margin:0 0 0 0; padding:1px 8px 0; font-size:11px; line-height:17px; color:#fff; background:#d14421; border-radius:3px; vertical-align:1px;}

.noteBox.mpocket						{ background:#f3f3f3;}

/* 訪問済みリンク色
----------------------------------------------------------------*/
@media screen{
	/* IRトップ右サイド */
	a.ovr2bp:visited,
	/* カテゴリトップ */
	.boxTxtLnk a:visited strong,
	.boxTxtLnk a:visited>span,
	.boxImgLnk a:visited strong			{ color:#7600b3;}

	a.ovr2bp:hover,
	.boxTxtLnk a:hover strong,
	.boxTxtLnk a:hover>span,
	.boxImgLnk a:hover strong			{ color:#1374c1;}
}
