<section class="section">
<p class="margin">Benesse advances initiatives for climate change, sustainability, and ESGs through the following framework.</p>

<dl>
	<dt class="climate_gov_term">●Representative Director and Chairman and CEO of Benesse Holdings:</dt>
	<dd class="text">Chief executive for climate change and other ESGs</dd>
	<dt class="climate_gov_term">●Sustainability and ESG Promotion Committee:</dt>
	<dd class="text">The committee, made up of full-time directors and the Representative Director and Chairman/CEO as chairman, meets regularly to decide on policies for ESG initiatives and to monitor the status of these activities. The activities of the Sustainability and ESG Committees are reported to the Board of Directors.</dd>
	<dt class="climate_gov_term">●Committee Members</dt>
	<dd id="sustaina_framework02">
	<table class="stdTb02">
		<tbody>
			<tr>
				<th>Chairperson</th>
				<td>
				<table>
					<tbody>
						<tr class="tr">
							<td>Representative Director and Chairman, CEO of Benesse Holdings</td>
							<td>Tamotsu Adachi</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/adachi.html">Profile</a></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
			<tr>
				<th>Committee Members</th>
				<td>
				<table>
					<tbody>
						<tr class="tr">
							<td>Representative Director and President, COO of Benesse Holdings</td>
							<td>Hitoshi Kobayashi</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/kobayashi.html">Profile</a></td>
						</tr>
						<tr class="tr">
							<td>Director of Benesse Holdings</td>
							<td>Shinya Takiyama</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/takiyama.html">Profile</a></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
		</tbody>
	</table>

	<p>The above members are joined at meetings by outside directors, audit &amp; supervisory board members, and individuals nominated by the chairman as observers.</p>
	</dd>
</dl>
</section>
