<section class="section">
<p class="margin">以下の体制により、気候変動をはじめとするサステナビリティ・ESGへの取り組みを推進しています</p>

<dl>
	<dt class="climate_gov_term">●ベネッセホールディングス代表取締役会長 CEO：</dt>
	<dd class="text">気候変動をはじめとするESGについての最高責任者</dd>
	<dt class="climate_gov_term">●サステナビリティ・ESG推進委員会：</dt>
	<dd class="text">代表取締役会長CEOを委員長とし、常勤取締役で構成された委員会を開催し、ESG課題についての取り組みについて方針を決定し、その活動状況のモニタリングを行っています。サステナビリティ・ESG推進委員会での活動は取締役会へ報告を行っています。</dd>
	<dt class="climate_gov_term">●委員会メンバー</dt>
	<dd id="sustaina_framework02">
	<table class="stdTb02">
		<tbody>
			<tr>
				<th>委員長</th>
				<td>
				<table>
					<tbody>
						<tr class="tr">
							<td>ベネッセホールディングス代表取締役会長 CEO</td>
							<td>安達 保</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/adachi.html">略歴はこちら</a></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
			<tr>
				<th>委員</th>
				<td>
				<table>
					<tbody>
						<tr class="tr">
							<td>ベネッセホールディングス代表取締役社長 COO</td>
							<td>小林 仁</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/kobayashi.html">略歴はこちら</a></td>
						</tr>
						<tr class="tr">
							<td>ベネッセホールディングス取締役</td>
							<td>滝山 真也</td>
							<td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/takiyama.html">略歴はこちら</a></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
		</tbody>
	</table>

	<p>なお、各開催回においては、上記メンバーに加えて、社外取締役、監査役、および委員長の指名者がオブザーバーとして参加することがあります。</p>
	</dd>
</dl>
</section>
