<section class="section">
<p>In the past, the Benesse Group&nbsp;has presented information related to climate change through its&nbsp;integrated reports and its customer data platform. The Group deepened its analysis of the effects of the risks and opportunities of climate change on its business after declaring&nbsp;its approval of the Task Force on Climate-related Financial Disclosures (TCFD) in 2019, the first for an educational company in Japan. Analysis of the risks and opportunities that affect Benesse is conducted on two key points:&nbsp;probability of occurrence and level of influence.</p>

<h3 class="titleLv3">Analytical Estimation of Risks and Opportunities</h3>

<ul>
	<li class="text idt">●Trasition Risks:A negative impact on business activities is anticipated through sharp increases in the price of rare metals used in digital educational materials and in the price of energy due to decarbonization, the influence of regulations related to educational materials delivered monthly, materials used in teaching equipment, and government measures for the environment. Further, it is anticipated that ethical consumption and green consumption will progress due to an increase in environmental awareness through changes in the market and there will be a reputation risk for plastic packaging and mail materials used in sending educational materials.</li>
	<li class="text idt">●Physical Risks:A negative impact on business activities is anticipated as there may be an impact on our value chain through an increase in the occurrence of serious disasters and infectious diseases, leading to difficulties in stably delivering educational materials to our customers monthly.</li>
	<li class="text idt">●Opportunities:It is anticipated that ethical consumption and green consumption will progress due to an increase in environmental awareness through changes in the market, and with that, corporate value will increase through the development of products and services through technological innovation in environmental functionality and digitization, initiatives to preserve the global environment, and the public release of the results of these activities.</li>
</ul>

<figure class="res_img"><img alt="Items that have a great impact on Benesse" class="margin" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_01_en.png" /></figure>

<h3 class="titleLv3">Future Strategies and Initiatives</h3>

<p class="text">Benesse will advance the following strategies and initiatives in the future based on the results of our climate change-induced risk-opportunity analysis.</p>

<ul>
	<li class="text idt">●Trasition Risks:Research into alternative materials that consider reductions in CO2, resource circulation initiatives&nbsp;(recycling), and reductions in shipping fees through the adoption of digital educational materials</li>
	<li class="text idt">●Physical Risks:Reduction in risks through the decentralization of production bases, securement of alternate means of transport, strengthening of flood control measures at logistics hubs, etc.</li>
	<li class="text idt">●Opportunities:The promotion of new environmental education, and reflecting innovations in environmental technology, etc. ,on products, services, and marketing activities based on changes in consumers</li>
</ul>
</section>
