<section class="section">
<p class="text">Reduction targets for 2030 and 2050 have been set with 2018 as a reference year, with those targets for Scope 1 (the emissions from the combustion of gas and other fuels by Benesse) and Scope 2 (emissions from the use of electricity, heating, and the above at Benesse&#39;s offices) set following the WB2℃ target based on SBT standards and those targets for Scope 3 (emissions from Benesse&#39;s value chain) set following 2℃ targets.</p>

<p class="text idt">＊WB2℃ Target: a target to keep the rise in temperature within 2℃ above the pre-industrial level</p>

<p class="ttl_strong">Target Reductions for Scope 1 and 2, Scope 3</p>

<p class="right">Fiscal year ended March 31 of each year</p>

<p class="sbt-caption">&lt;SBT certification goals&gt;</p>

<div class="sustaina_data margin">
<table class="stdTb02 tb_cst">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th>Every fiscal year</th>
			<th>2030</th>
			<th>2050</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">Reduction rate when 2018 is set as 100%</th>
			<th>Scopes 1 and 2</th>
			<td class="right">3.02%</td>
			<td class="right">36.2%</td>
			<td class="right">100.0%</td>
		</tr>
		<tr>
			<th>Scopes3</th>
			<td class="right">1.23%</td>
			<td class="right">14.8%</td>
			<td class="right">39.4%</td>
		</tr>
	</tbody>
</table>
</div>

<p class="ttl_strong expand">Actual Reductions for Scope 1 and 2, Scope 3</p>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="sustaina_data x_scroll">
<table class="climate_index_tbl stdTb02 tb_024">
	<colgroup>
		<col style="width: 20%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 12%" />
		<col style="width: 13%" />
	</colgroup>
	<thead>
		<tr class="thead1">
			<th class="center" rowspan="2">Units:t-CO2</th>
			<th class="center"><span>2018</span></th>
			<th class="center" colspan="2"><span>2020</span></th>
			<th class="center" colspan="2"><span>2021</span></th>
			<th class="center" rowspan="2">Reductions from reference year</th>
			<th class="center" rowspan="2">Reductions from 2021 target</th>
		</tr>
		<tr class="thead2">
			<th class="center">Results</th>
			<th class="center">Target</th>
			<th class="center">Results</th>
			<th class="center">Target</th>
			<th class="center">Results</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Scopes1</th>
			<td class="right">120</td>
			<td class="right">113</td>
			<td class="right">88</td>
			<td class="right">109</td>
			<td class="right">76</td>
			<td class="right">36.7%</td>
			<td class="right">30.3%</td>
		</tr>
		<tr>
			<th>Scopes2</th>
			<td class="right">7,477</td>
			<td class="right">7,025</td>
			<td class="right">5,929</td>
			<td class="right">6,800</td>
			<td class="right">5,204</td>
			<td class="right">30.4%</td>
			<td class="right">23.5%</td>
		</tr>
		<tr>
			<th>Scopes3</th>
			<td class="right">400,988</td>
			<td class="right">391,124</td>
			<td class="right">390,498</td>
			<td class="right">386,192</td>
			<td class="right">442,701</td>
			<td class="right">-10.4%</td>
			<td class="right">-14.6%</td>
		</tr>
		<tr>
			<th>Total of Scopes 1, 2, and 3</th>
			<td class="right">408,585</td>
			<td class="right">398,262</td>
			<td class="right">396,515</td>
			<td class="right">393,101</td>
			<td class="right">447,981</td>
			<td class="right">-9.6%</td>
			<td class="right">-14.0%</td>
		</tr>
	</tbody>
</table>

<table class="stdTb02 tb_024_2">
	<colgroup>
		<col style="width: 20%;" />
		<col style="width: 11%;" />
		<col style="width: 22%;" />
		<col style="width: 22%;" />
		<col style="width: 25%;" />
	</colgroup>
	<tbody>
		<tr>
			<th>Scopes 1, 2, and 3<br />
			Specific unit results<br />
			（Unit sales basis<br />
			t-CO2/thousand yen）</th>
			<td class="right">0.0023</td>
			<td class="right">0.0022</td>
			<td class="right">0.0024</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
		<tr>
			<th colspan="2">YoY change</th>
			<td class="right">104.8%</td>
			<td class="right">109.1%</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p class="right">Date of revision October 27, 2021</p>
</div>
</section>
