<section class="section">
<p class="text">スコープ1（ベネッセ自らがガスなど燃料を燃焼して排出する部分）およびスコープ2（自社の事業所の電気・熱・蒸気の使用による排出）に対し、SBT基準に準拠したWB2℃目標に沿って、またスコープ3（ベネッセのバリューチェーンからの排出）に対しては2℃目標に沿って2018年を基準年とした2030年、2050年に向けた削減目標を立てています。</p>

<p class="text idt">＊WB2℃目標：産業革命前から気温上昇を2℃よりも十分下方に抑える目標</p>

<p class="ttl_strong">【スコープ1・2とスコープ3の削減目標】</p>

<div id="data-environment">
<p class="right">各年3月期</p>

<p class="sbt-caption">＜SBT認定目標＞</p>
</div>

<div class="sustaina_data margin">
<table class="stdTb02 tb_cst">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th>毎年</th>
			<th>2030年</th>
			<th>2050年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">2018年を100%とした時の削減率</th>
			<th>スコープ1・2</th>
			<td class="right">3.02%</td>
			<td class="right">36.2%</td>
			<td class="right">100.0%</td>
		</tr>
		<tr>
			<th>スコープ3</th>
			<td class="right">1.23%</td>
			<td class="right">14.8%</td>
			<td class="right">39.4%</td>
		</tr>
	</tbody>
</table>
</div>

<p class="ttl_strong expand">【スコープ1・2とスコープ3の削減実績】</p>

<p class="right">各年3月期</p>

<div class="sustaina_data x_scroll">
<table class="climate_index_tbl stdTb02 tb_024">
	<colgroup>
		<col style="width: 20%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 12%" />
		<col style="width: 13%" />
	</colgroup>
	<thead>
		<tr class="thead1">
			<th class="center" rowspan="2">単位：t-CO2</th>
			<th class="center"><span>2018年</span></th>
			<th class="center" colspan="2"><span>2020年</span></th>
			<th class="center" colspan="2"><span>2021年</span></th>
			<th class="center" rowspan="2"><span>基準年からの</span><span>削減率</span></th>
			<th class="center" rowspan="2"><span>2021年目標</span><span>からの削減率</span></th>
		</tr>
		<tr class="thead2">
			<th class="center">実績</th>
			<th class="center">目標</th>
			<th class="center">実績</th>
			<th class="center">目標</th>
			<th class="center">実績</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><span>スコープ1</span></th>
			<td class="right">120</td>
			<td class="right">113</td>
			<td class="right">88</td>
			<td class="right">109</td>
			<td class="right">76</td>
			<td class="right">36.7%</td>
			<td class="right">30.3%</td>
		</tr>
		<tr>
			<th><span>スコープ2</span></th>
			<td class="right">7,477</td>
			<td class="right">7,025</td>
			<td class="right">5,929</td>
			<td class="right">6,800</td>
			<td class="right">5,204</td>
			<td class="right">30.4%</td>
			<td class="right">23.5%</td>
		</tr>
		<tr>
			<th><span>スコープ3</span></th>
			<td class="right">400,988</td>
			<td class="right">391,124</td>
			<td class="right">390,498</td>
			<td class="right">386,192</td>
			<td class="right">442,701</td>
			<td class="right">-10.4%</td>
			<td class="right">-14.6%</td>
		</tr>
		<tr>
			<th><span>スコープ1,2,3合計</span></th>
			<td class="right">408,585</td>
			<td class="right">398,262</td>
			<td class="right">396,515</td>
			<td class="right">393,101</td>
			<td class="right">447,981</td>
			<td class="right">-9.6%</td>
			<td class="right">-14.0%</td>
		</tr>
	</tbody>
</table>

<table class="stdTb02 tb_024_2">
	<colgroup>
		<col style="width: 20%;" />
		<col style="width: 11%;" />
		<col style="width: 22%;" />
		<col style="width: 22%;" />
		<col style="width: 25%;" />
	</colgroup>
	<tbody>
		<tr>
			<th>スコープ1,2,3<br />
			原単位実績<br />
			（売上高原単位<br />
			t-CO2/千円）</th>
			<td class="right">0.0023</td>
			<td class="right">0.0022</td>
			<td class="right">0.0024</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
		<tr>
			<th colspan="2">前年比</th>
			<td class="right">104.8%</td>
			<td class="right">109.1%</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p class="right">【改定日：2021年10月27日】</p>
</div>
</section>
