<section class="section">
<p>Verification to improve the reliability of Benesse&rsquo;s actual CO2 emissions for FY 2020 were carried out by JAPAN QUALITY ASSURANCE ORGANIZATION for the following categories in Scope 1 and 2 and Scope 3: 1 (purchased products and services), 2 (capital goods), 3 (fuels and energy-related activities *those that are not included in Scope 1 and 2), 4.9 (transport, shipments, and upstream and downstream logistics), 5 (waste products from business), 6 (business trips), 7 (employee commutes), 11 (use of purchased products), and 12 (disposal of purchased products).</p>

<h3 class="titleLv3">Independent Verification Report</h3>

<ul class="climate_3rd_pdf">
	<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2020_ja.pdf" target="_blank"><img alt="温室効果ガス排出量等検証報告書2019" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_02.png" /></a></li>
	<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2020_en.pdf" target="_blank"><img alt="" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_03.png" /></a></li>
</ul>

<p class="center margin">Click to open the PDF</p>

<ul class="noteBox">
	<li><strong>Verification report from previous year</strong>

	<ul class="relatedLinks">
		<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2019_ja.pdf" target="_blank">Japanese version [PDF:905KB]</a></li>
		<li class="pdf"><a href="https://sustainability-cms-staging73-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2019_en.pdf" target="_blank">English version [PDF:696KB]</a></li>
	</ul>
	</li>
</ul>
</section>
