<section class="section climate_init_logo_sec">
<p class="ttl_strong text">●　Participation in the United Nations&#39; Global Compact</p>

<div class="climate_init_logo_grp">
<p class="climate_init_logo_txt text">Benesse officially declared its support for the United Nations Global Compact (UNGC), which is based on ten principles in the areas of human rights, labor, the environment, and anti-corruption, and in addition to signing the Compact in March 2010, Benesse also participates in the Global Compact Network Japan (GCNJ), a local network in Japan.</p>

<figure class="climate_init_logo_pic"><img alt="グローバルコンパクト" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/initiative_01.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="/en/themes/170">The United Nations&#39; Global Compact Table</a></li>
</ul>
</section>

<section class="section climate_init_logo_sec">
<p class="ttl_strong text">●　Support for the Task Force on Climate-related Financial Disclosures (TCFD)</p>

<div class="climate_init_logo_grp">
<p class="climate_init_logo_txt text">In July 2019, Benesse expressed its agreement with the recommendations of The Task Force on Climate-related Financial Disclosures (TCFD), which was established by the Financial Stability Board (FSB). It was the first education business operator in Japan to do so.&nbsp;</p>

<figure class="climate_init_logo_pic"><img alt="TCFDロゴ" class="climate_init_logo_tcfd" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/initiative_02.png" /></figure>
</div>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/tcfd_disclosure.pdf" target="_blank">Disclosure of Information on TCFD</a>（1.83MB）</li>
</ul>
</section>

<section class="section climate_init_logo_sec">
<p class="ttl_strong text">●　Received certification from the SBT Initiative for targets for reductions in greenhouse gas emissions</p>

<div class="climate_init_logo_grp">
<div>
<p class="climate_init_logo_txt text">The Benesse Corporation&#39;s greenhouse gas emission targets for 2030 and 2050 were certified by the SBT Initiative based on scientific evidence to &ldquo;keep the global average temperature increase well below 2&deg;C and maintain it below 1.5&deg;C compared to pre-industrial levels &rdquo; under the Paris Agreement. We also received SBT certification from the Initiative in May 2021. The goals for Scope 1 and 2 are set at well-below 2℃ and at 2℃ for Scope 3. The following reduction goals are based off of FY2018.<br />
Scope 1 and 2: 36.2% reduction by 2030, 100% reduction by 2050<br />
Scope 3: 14.8% reduction by 2030, 39.4% reduction by 2050</p>
</div>

<figure class="climate_init_logo_pic"><img alt="SBTロゴ" class="climate_init_logo_sbt" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/initiative_04.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="https://sciencebasedtargets.org/companies-taking-action" target="_blank">List of SBT-certified Companies Taking Action</a></li>
</ul>
</section>

<section class="section climate_init_logo_sec">
<p class="ttl_strong text">●　Participation in the Japan Climate Initiative (JCI)</p>

<div class="climate_init_logo_grp">
<div>
<p class="climate_init_logo_txt text">Benesse Holdings supports JCI&#39;s declaration, &quot;Joining the front line of the global push for decarbonization from Japan&quot; and agrees with the JCI&#39;s Statement to Call for an Ambitious 2030 Target for Japan to Realize the Paris Agreement Goal which was announced on April 19, 2021. To ensure a beautiful global environment is preserved for the children of the future, we support the Paris Agreement and the Japanese government&#39;s decarbonization policies. We also comply with Japan&#39;s climate change laws, including the law related to the streamlining of energy usage (the Act on Rationalizing Energy Use) and the Act on Promotion of Global Warming Countermeasures. Following the climate change laws, the Group conducts environmental activities including the submission of annual reports to the government disclosing our energy use, greenhouse gas emissions, and our progress in the achievement of energy conservation goals. In line with the JCI&#39;s activities, we continue reduction activities with the goal of the 100% reduction of Scope 1 and 2 by 2050 and also actively participate in seminars and study meetings to work towards decarbonization. In addition, the information that we obtain through seminars and other activities is reflected in our initiatives, while we consider the utilization of progressive approaches and the technologies of our member companies, local governments, groups and NGOs and others. Information about the activities of Benesse Holdings, including the above, can be found on the <a href="https://japanclimate.org/member/benesse/" target="_blank">JCI&#39;s website【Japanese】</a>.<br />
Moving forward in collaboration with all the stakeholders who are members of JCI, we will work towards the realization of a decarbonizing society.</p>
</div>

<figure class="climate_init_logo_pic"><img alt="JCIロゴ" class="climate_init_logo_jci" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/initiative_03.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="https://japanclimate.org/news-topics/call-for-ambitious-2030-target/" target="_blank">JCI Message: Calling for an Ambitious 2030 Target to Realize the Paris Agreement Goal here in Japan as well【Japanese】</a></li>
</ul>
</section>
