<section class="section">
<h3 class="titleLv3">Initiatives with Products and Services</h3>

<dl>
	<dt class="ttl_strong">●　Promotion of digitalization of products and services</dt>
	<dd class="flex_txt_img margin">
	<div>
	<p>The Benesse Corporation has offered educational materials made from paper since the start of Shinkenzemi, but in 1999, the Shinken Seminar Challenge Net Course for 2nd Year Junior High School Students was launched online. Since then, we have offered digital educational materials to support the needs of each of our customers. With the currently offered Challenge Touch, we are contributing to improvements in learning and utilizing the characteristics of digital materials by offering effective repetitive learning necessary for the establishment of knowledge by repeatedly questioning the students on problems they got incorrect until they learn (resolution). In recent years, the ratio of students selecting digital educational materials has risen, leading to a reduction in the use of paper resources. As of April 2021, roughly 70% of the participants in the Elementary Course and the Middle School Course are taking the digital course. We are also contributing towards a reduction in term time and a reduction in Co2 emissions during transport due to the digitization of submission and return of the previously mail based Akapen Sensei no Mondai. In response to the COVID-19 pandemic, we prepared lots of online learning content that could be applied to at-home learning. We will continue to contribute towards a reduction in our environmental burden through our business while increasing learning effectiveness for children.</p>
	</div>

	<figure class="flex_img"><img alt="商品・サービスのデジタル化を推進" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_04.jpg" /></figure>
	</dd>
</dl>

<dl>
	<dt class="ttl_strong">●　Creating and using environmentally friendly paper</dt>
	<dd class="text">We also think about the environment when procuring raw materials.<br />
	We procure&nbsp;lumber for paper from forests that are certified to be suitably managed. Cardboard for product packaging is made only from used paper, as well. Of all the paper used, 99% or more paper is recycled paper or paper made with environmentally friendly bleach.</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3" id="office">Office Activities</h3>

<dl>
	<dt class="ttl_strong">●　Promoting floor activities, such as thorough waste separation and saving energy</dt>
	<dd class="flex_txt_img margin">
	<div>
	<p>We participate in the Ministry of the Environment&#39;s Fun To Share promotion, and are promoting the practice of Cool Biz and Warm Biz, detailed plans for air conditioning and water usage, and the switch to LED for lightning. We check to be sure rules are being followed and advertise for posters from employees&#39; children, using these to encourage employees within the company.</p>
	</div>

	<figure class="flex_img"><img alt="廃棄物分別の徹底や節電などを徹底するフロア活動の推進" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_05.png" /></figure>
	</dd>
	<dt class="ttl_strong">●　Understanding the volume of copy paper used and reducing copy paper usage</dt>
	<dd class="text">We understand and manage the number of pages of copy paper used each month for each department on the number of sheets and price per person basis.&nbsp;</dd>
	<dt class="ttl_strong">●　Initiative to have zero CO2 emissions at general stockholder meetings&nbsp;</dt>
	<dd class="margin">
	<div class="text">In cooperation with Okayama City's initiatives, Benesse Group offsets our CO2 emissions by creating and sending invitations to stockholders, transportation of stockholders and staff to the stockholder meetings, and lighting and air conditioning during the meetings.</div>

	<figure class="climate_main_pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/carbon_offset_certificate.pdf" target="_blank"><img alt="カーボンオフセット証書" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_06.png" /></a>

	<figcaption>Carbon Offset Certificate</figcaption>
	</figure>

	<p>See the following website for details of each of these initiatives.</p>

	<ul class="relatedLinks">
		<li><a href="https://www.benesse.co.jp/kankyo/office/own_building.html" target="_blank">Environmental Action at Our Buildings【Japanese】</a></li>
	</ul>
	</dd>
	<dt class="ttl_strong">●　Participation in the Ministry of the Environment&#39;s Carbon Offset Demonstration Program</dt>
	<dd class="margin">
	<div class="text">Benesse Holdings participated in the Ministry of the Environment&#39;s Carbon Offset Demonstration Program, offsetting 25t of CO2 from energy consumption at the main subsidiary of Benesse Corporation&#39;s Minamigata Headquarters.</div>

	<figure class="climate_main_pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/carbon_offset.pdf" target="_blank"><img alt="カーボンオフセット証明書" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_07.png" /></a>

	<figcaption>Carbon Offset Certificate</figcaption>
	</figure>
	</dd>
	<dt class="ttl_strong">●&nbsp;Implementing Tokyo Zero Carbon 4 Days in 2020 and participating cooperatively in the Carbon Offset Programme for the Tokyo 2020 Games</dt>
	<dd class="margin">
	<p class="text">Before the opening of the 32nd Olympics Games (Tokyo, 2020) and the Tokyo 2020 Paralympic Games, Benesse&nbsp;donated credits to the Tokyo Metropolitan Government to offset greenhouse gas emissions from hosting the opening and closing ceremonies. These credits were offered through achieving a reduction in greenhouse gas emissions that exceeded targets through office activities.</p>

	<p class="climate_main_link">Benesse donated 719 t of CO2 credits. See the following website for details.<br />
	<a href="https://www.kankyo.metro.tokyo.lg.jp/en/index.html" target="_blank">https://www.kankyo.metro.tokyo.lg.jp/en/index.html</a></p>
	</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3" id="modal">Procurement and Logistics Initiatives</h3>

<p class="text">The Benesse Corporation produces a large number of products every year and delivers them to customers. For this reason, Benesse conducts consistent initiatives from the perspective of procurement and logistics to ensure that eco-friendly activities are carried out in all processes.</p>

<p class="text">For example, when creating a brochure for educational materials, we take another look at product specifications with less waste and promote activities in cooperation with main departments in procurement and logistics and with on-site supervisors. This includes advancing the active procurement of environmentally  friendly printing paper and reducing disposal by improving accuracy in determining the number of printed sets.<br />
We consider the effects on the environment in cooperation with outside suppliers for each process, including re-evaluating assessments of environmental initiatives in production factories and effective shipping methods.</p>

<figure class="res_img center margin"><img alt="各工程における環境活動の例" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_08_en.png" /></figure>

<p>Please visit the following website for details about initiatives carried out by the Benesse Logistics Center, where packing is handled.</p>

<ul class="relatedLinks margin">
	<li><a href="https://www.benesse.co.jp/kankyo/office/logistics_center.html" target="_blank">The Benesse Logistics Center&#39;s Actions to Reduce CO2【Japanese】</a></li>
</ul>

<dl>
	<dt class="ttl_strong">●　Initiatives towards an eco-friendly modal shift</dt>
	<dd class="flex_txt_img">
	<p class="flex_txt">We are working on a modal shift towards actively using freight railway transport with its low CO2 emissions for long distance transport (500 km or more) for products and services such as Kodomo Challenge and Shinkenzemi. Benesse was selected as a certified Eco Rail Mark company in March 2020 for using freight railway transport for about 60%+ of its long-distance transport.<br />
	A variety of things are required to switch from truck transport to railway container transport. At the Okayama Logistics Center, we can now make shipments via railway containers after adjusting schedules by pulling containers up to the loading docks, loading them, and then sending them off as is.</p>

	<figure class="flex_img"><img alt="エコレールマーク" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_09.png" /></figure>
	</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3">Environmental Education</h3>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="text">The Benesse Group offers environmental educational services that match children&#39;s developmental stages through various educational materials, services, and events, and promotes action&nbsp;towards understanding and taking measures against climate change. Online environmental training is also implemented for employees annually.</p>

<div>
<p>See the following website for details of each of these initiatives.</p>

<ul class="relatedLinks margin">
	<li><a href="/en/themes/150">Environmental Education</a></li>
</ul>
</div>
</div>

<figure class="flex_img"><img alt="Environmental Education" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/climate_change_10.png" /></figure>
</div>

<dl>
</dl>
</section>
