<section class="section">
<p>Based on our Group Environmental Policy, the Benesse Group (1) promotes measures against climate change and a consideration for the environment in products, services, and business activities, (2) promotes energy-saving, a reduction in waste products, and recycling as a measure against climate change, conserves biological diversity and water resources, optimizes water usage, and (3) carries out activities that contribute towards work on society.</p>

<ul class="relatedLinks">
	<li><a href="/en/themes/147#991">The Benesse Group Environmental Policy</a></li>
</ul>
</section>
