<section class="section sustaina_data">
<p class="margin">ベネッセコーポレーションでは、事業を通じて環境負荷低減に取り組んでいます。基幹事業である教育事業では教材のデジタル化などを通じて、紙使用量の削減などに努めています。</p>

<h5 class="ttl_strong">●【エネルギー使用量・資源使用量・排出量実績】</h5>
<div class="right">各年３月期</div>
<div class="x_scroll">
<table class="stdTb02 tb_021">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>単位</th>
			<th>2019年</th>
			<th>2020年</th>
			<th>2021年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>電力</th>
			<td>千kWh</td>
			<td>12,794</td>
			<td>11,658</td>
			<td>11,304</td>
		</tr>
		<tr>
			<th>蒸気</th>
			<td>千GJ</td>
			<td>7</td>
			<td>6</td>
			<td>5</td>
		</tr>
		<tr>
			<th>都市ガス</th>
			<td>千m&sup3;</td>
			<td>52</td>
			<td>53</td>
			<td>45</td>
		</tr>
		<tr>
			<th>重油</th>
			<td>ℓ</td>
			<td>44</td>
			<td>25</td>
			<td>54</td>
		</tr>
		<tr>
			<th>エネルギー消費量合計</th>
			<td>千GJ</td>
			<td>148</td>
			<td>135</td>
			<td>129</td>
		</tr>
	</tbody>
</table>
</div>

<div class="expand">
<div class="x_scroll">
<table class="stdTb02 tb_021">
	<tbody>
		<tr>
			<th>紙使用量</th>
			<td>t</td>
			<td>55,903</td>
			<td>55,102</td>
			<td>51,823</td>
		</tr>
		<tr>
			<th>水使用量</th>
			<td>千m&sup3;</td>
			<td>2,412</td>
			<td>2,501</td>
			<td>2,540</td>
		</tr>
		<tr>
			<th>CO2排出量</th>
			<td>t</td>
			<td>5,082</td>
			<td>4,517</td>
			<td>4,185</td>
		</tr>
		<tr>
			<th><span>廃棄物</span><span>（紙）</span><span>排出量</span></th>
			<td>t</td>
			<td>1,768</td>
			<td>1,417</td>
			<td>1,474</td>
		</tr>
		<tr>
			<th><span>廃棄物</span><span>（産業廃棄物）</span><span>排出量</span></th>
			<td>t</td>
			<td>545</td>
			<td>682</td>
			<td>576</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="env_resource_waste">
<ul class="small margin">
	<li>エネルギー使用量は、岡山本社、東京本部、ベネッセ・ロジスティクス・センター、岡山県岡山市高柳所在物件、７支社ならびにクラスベネッセ教室・ビースタジオ教室の数値を集計しています。</li>
	<li>水使用量は、岡山本社、東京本部、ベネッセ・ロジスティクス・センター、ベネッセスタイルケア（高齢者向け住宅）およびベネッセソシアスの数値を集計しています。
	<dl>
		<dt>ベネッセソシアス：</dt>
		<dd>ベネッセスタイルケアが運営する老人ホームに入居されている方の私物やバスタオルの洗濯業務を受託してサービス提供する「就労継続支援A型事業所」<br />
		<a href="https://www.benesse-socius.co.jp" target="_blank">https://www.benesse-socius.co.jp</a></dd>
	</dl>
	</li>
	<li>水源は100％水道水です。</li>
	<li>紙使用量は、オフィス使用を除いて集計しています。</li>
	<li>CO2排出量は、電力分のみ集計しています。</li>
</ul>
</div>
</section>
