<section class="section sustaina_data">
<p class="margin">The Benesse Corporation works to reduce its burden on the environment through business. We are working to reduce paper usage through digitizing educational materials in our core education business.</p>

<h5 class="ttl_strong">●Energy Consumption, Resource Consumption, and Actual Emissions</h5>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="stdTb02 tb_021">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Units</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Electricity</th>
			<td>Thousands kWh</td>
			<td>12,794</td>
			<td>11,658</td>
			<td>11,304</td>
		</tr>
		<tr>
			<th>Steam</th>
			<td>Thousands GJ</td>
			<td>7</td>
			<td>6</td>
			<td>5</td>
		</tr>
		<tr>
			<th>City gas</th>
			<td>Thousands m&sup3;</td>
			<td>52</td>
			<td>53</td>
			<td>45</td>
		</tr>
		<tr>
			<th>Heavy oil</th>
			<td>ℓ</td>
			<td>44</td>
			<td>25</td>
			<td>54</td>
		</tr>
		<tr>
			<th>Total energy consumed</th>
			<td>Thousands GJ</td>
			<td>148</td>
			<td>135</td>
			<td>129</td>
		</tr>
	</tbody>
</table>
</div>

<div class="expand">
<div class="x_scroll">
<table class="stdTb02 tb_021">
	<tbody>
		<tr>
			<th>Paper use</th>
			<td>t</td>
			<td>55,903</td>
			<td>55,102</td>
			<td>51,823</td>
		</tr>
		<tr>
			<th>Water use</th>
			<td>Thousands m&sup3;</td>
			<td>2,412</td>
			<td>2,501</td>
			<td>2,540</td>
		</tr>
		<tr>
			<th>CO2 emissions</th>
			<td>t</td>
			<td>5,082</td>
			<td>4,517</td>
			<td>4,185</td>
		</tr>
		<tr>
			<th>Waste products (paper)</th>
			<td>t</td>
			<td>1,768</td>
			<td>1,417</td>
			<td>1,474</td>
		</tr>
		<tr>
			<th>Waste products (industrial waste)</th>
			<td>t</td>
			<td>545</td>
			<td>682</td>
			<td>576</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="env_resource_waste">
<ul class="small margin">
	<li>Energy consumption data is for the Okayama Headquarters, Tokyo Head Office, Benesse Logistics Center, and a property in Takayanagi, Okayama City, Okayama, the seven branch offices as well as Class Benesse and the BE studio offices.</li>
	<li>Water usage is for the Okayama Headquarters, Tokyo Head Office,&nbsp;Benesse Logistics Center,&nbsp;Benesse Style Care (housing for seniors), and Benesse Socius.
	<dl>
		<dt>Benesse Socius:</dt>
		<dd>An office that offers type A support for continuous employment through contracting and offering a cleaning service for private articles and bath towels for residents of retirement homes operated by Benesse Style Care.<br />
		<a href="https://www.benesse-socius.co.jp" target="_blank">https://www.benesse-socius.co.jp【Japanese】</a></dd>
	</dl>
	</li>
	<li>Water is 100% tap water</li>
	<li>Paper usage is calculated excluding office usage</li>
	<li>CO2 emissions are only calculated for electricity</li>
</ul>
</div>
</section>
