<section class="section">
<p class="margin">We are involved in recycling and resource circulation by reducing paper resources through the digitization of products and services, the procurement of FSC-certified paper resources, and the use of 100% used paper in packaging.</p>

<h3 class="titleLv3">Initiatives with Products and Services</h3>

<dl>
	<dt class="ttl_strong">●　Promoting the reuse of student tablets</dt>
	<dd class="flex_txt_img">
	<div class="flex_txt">
	<p class="text">We are promoting the reuse of student tablets used in Shinken Seminar, a program offered by the Benesse Corporation.</p>

	<p>See the following website for details of this initiative.</p>

	<ul class="relatedLinks margin">
		<li><a href="https://www.benesse.co.jp/kankyo/products_service/tablet-reuse.html" target="_blank">Promoting the Reuse of Student Tablets【Japanese】 </a></li>
	</ul>
	</div>

	<figure class="flex_img"><img alt="＜学習専用タブレット＞のリユース促進" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/resource_01.jpg" /></figure>
	</dd>
	<dt class="ttl_strong">●　Kurukuru Recycle</dt>
	<dd class="flex_txt_img">
	<div class="flex_txt">
	<p class="text">Teaching equipment is taken and recycled after being used in Kodomo Challenge. Collected play materials are reprocessed into oil and used as energy. This is a chance for children to learn about the environment while having fun.</p>

	<p>See the following website for details of this initiative.</p>

	<ul class="relatedLinks margin">
		<li><a href="https://kodomo.benesse.ne.jp/open/project/recycle/" target="_blank">Kurukuru Recycle【Japanese】</a></li>
	</ul>
	</div>

	<figure class="flex_img"><img alt="Kurukuru Recycle" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/resource_02.jpg" /></figure>
	</dd>
	<dt class="ttl_strong">●　Tree planting through Akapen Sensei no Mondai</dt>
	<dd class="flex_txt_img">
	<div class="flex_txt">
	<p class="text">We contribute to the community and environment through tree planting based on the paper resources that are used to submit and return work with Akapen Sensei no Mondai, problems for correction in Shinken Seminar.</p>

	<p>See the following website for details of this initiative.</p>

	<ul class="relatedLinks margin">
		<li><a href="https://www.benesse.co.jp/kankyo/akapen/?s_tid=products_service_plant_00008" target="_blank">Tree planting through Akapen Sensei no Mondai【Japanese】</a></li>
	</ul>
	</div>
	</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3">Office Initiatives</h3>

<dl>
	<dt class="ttl_strong">●　Thorough waste separation</dt>
	<dd class="flex_txt_img">
	<div class="flex_txt">
	<p>An inspection is carried out quarterly to ensure thorough waste product separation.</p>

	<p>Results are consolidated by floor and the information is shared through the company&#39;s internal website, with deficient floors being pointed out. Floors are encouraged continually throughout the year and in an average year, most floors are no longer deficient by the end of the year. We also host the Environmental Poster Contest for employees&#39; children during the summer holidays each year as a statement meant to encourage awareness. In addition to announcing winning posters in each age category online, submitted works on waste product processing that encourage caution are posted within the company.</p>
	</div>

	<figure class="flex_img"><img alt="廃棄物分別の徹底" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/resource_04.png" /></figure>
	</dd>
	<dt class="ttl_strong">●　Reducing copy paper</dt>
	<dd>In 2005, we began working to reduce the amount of copy paper used by making the amount used by each person per month as a guideline. We have reduced paper usage by more than 10% compared to 2005 when we started. We are involved in multiple efforts, including using monitors or projectors in meetings, reducing materials themselves, and printing double-sided&nbsp;on a single sheet of paper for multiple pages.</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3">Procurement Initiatives</h3>

<p class="text">The Benesse Corporation has established comprehensive green procurement guidelines for the procurement of raw materials. Environmental considerations are also undertaken in cooperation with clients. More specifically, we are involved in the following activities:</p>

<ul class="margin">
	<li class="idt">◆Establishing procurement standards for paper and raw materials for teaching aids and toys as well as product safety standards for manufacturing, strictly regulating prohibited materials that affect the environment, establishing an inspection system, and carrying out inspections</li>
	<li class="idt">◆Collecting information about&nbsp;countries involved in tree planting, including not procuring paper from companies suspected of destroying natural forests</li>
</ul>

<dl>
	<dt>Benesse Corporation Product Safety Initiatives</dt>
	<dd><a href="https://www.benesse.co.jp/anzen/anzen_01.html" target="_blank">Complete Understanding of Raw Materials【Japanese】</a></dd>
	<dd><a href="https://www.benesse.co.jp/anzen/anzen_02.html" target="_blank">Restrictions on Substances that are Harmful to the Environment and to People【Japanese】</a></dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3">Environmental Education</h3>

<div class="flex_txt_img">
<div class="flex_txt">
<p>Please see the details below.</p>

<ul class="relatedLinks">
	<li><a href="/en/themes/150">Environmental Education</a></li>
</ul>
</div>

<figure class="flex_img"><img alt="Environmental Education" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/resource_05.png" /></figure>
</div>
</section>
