<section class="section">
<h3 class="titleLv3">Preschool: June Edition of Kodomo Challenge Jump: Touch-me-not Growing Set</h3>

<p class="text">This is a kit to cultivate a touch-me-not plant from the seeds.<br />
Through cultivating a touch-me-not plant, children learn about appropriate watering and other conditions required to grow plants. A sense of affection and a desire to care for what they have grown themselves is also encouraged. In addition to Edutoys, we also developed a movie to get children interested in cultivating the plants, as well as picture books to inspire interest in plants other than touch-me-nots.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="エデュトイ「きみだけの おじぎそう」" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_01.jpg" />
<figcaption class="small">EduToy: My Own Touch-Me-Not</figcaption>
</figure>

<figure class="env_edu_flex_item"><img alt="「かんがえてはっけんえほん」6月号より" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_02.jpg" />
<figcaption class="small">From the June Edition of Kangaete Hakken Ehon (&quot;Think and Discover Picture Book&quot;)</figcaption>
</figure>
</div>
</section>

<section class="section">
<h3 class="titleLv3">Preschool: April Edition of Kodomo Challenge Step: Looking at Roly Polies!</h3>

<p class="text">Part of the Organism Observation Program, which goes from April to September. A sense of curiosity and an inquisitive mind are developed through observing nearby living creatures from three viewpoints: shape, food, and special abilities.<br />
The theme for April was roly polies. The story developed in the video materials and picture book is exciting to children.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="「ふしぎはっけんえほん」4月号より" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_03.jpg" />
<figcaption class="small">From the April Edition of Fushigi Hakken Ehon (&quot;Strange Discoveries Picture Book&quot;)</figcaption>
</figure>

<figure class="env_edu_flex_item"><img alt="「ふしぎはっけんシアター」4月号より" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_04.jpg" />
<figcaption class="small">From the April Edition of Fushigi Hakken Shiata (&quot;Strange Discoveries Theatre&quot;)</figcaption>
</figure>
</div>
</section>

<section class="section">
<h3 class="titleLv3">Elementary School: Kota no Naruhodo Nyusu Fairu (&quot;Kota&#39;s Lightbulb Discovery News File&quot;) - a Special Feature for 5th and 6th Graders in the Reasoning Plus Course from Shinken Seminar</h3>

<p class="text">A page to deepen intellectual interest in the environment, economics, science, and a variety of fields in order to cultivate the ability to consider things based on diverse viewpoints and experiences. Children can deepen their interest in the environment with features in the environment field, learning about the balance of organisms and nature, as well as the causes of and measures against extinction, with organism extinction-themed features. They can also consider what can be done before recycling, which requires time and energy, with waste-themed features.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="6年生4月号2万種以上の生物が絶滅の危機に！" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_05.png" />
<figcaption class="small">April Edition for 6th Graders: More than 20,000 species at risk of extinction!</figcaption>
</figure>

<figure class="env_edu_flex_item"><img alt="6年生4月号2万種以上の生物が絶滅の危機に！" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_06.png" />
<figcaption class="small">May Edition for 5th Graders: Is it okay to just recycle?How else can we reduce trash?</figcaption>
</figure>
</div>
</section>

<section class="section">
<h3 class="titleLv3">Elementary School: Challenge Touch for Social Studies for 4th and 5th Graders, from Shinken Seminar</h3>

<p class="text">We create content so students can understand elementary school classes with Challenge Touch Social Studies.<br />
For 4th graders, we promote an understanding of the issues in waste processing and introduce the importance of and promote action with the 3R&#39;s (Reduce, Reuse, and Recycle).<br />
For 5th graders, we work to illustrate global warming and address the Kyoto Protocol regarding world environmental problems.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="チャレンジタッチ4年生社会" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_07.jpg" />
<figcaption class="small">Challenge Touch 4th Grade Social Studies</figcaption>
</figure>

<figure class="env_edu_flex_item"><img alt="チャレンジタッチ5年生社会" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_08.jpg" />
<figcaption class="small">Challenge Touch 5th Grade Social Studies</figcaption>
</figure>
</div>
</section>

<section class="section">
<h3 class="titleLv3">High School: Tankyu Nabi (&quot;Inquiry Navigator&quot;)</h3>

<p class="text">We offer content to learn about the Inquiry-based learning process and necessary approaches in Mirai wo Hiraku Tankyu Shirizu Tankyu Nabi (&quot;Inquiries that Create the Future Series: Inquiry Navigator&quot;), educational materials for Inquiry-based learning that support the discovery and resolution of issues in Sogotekina Gakushu no Jikan&nbsp;(&quot;Comprehensive Learning Time&quot;) aimed at high school teachers and students. Participants also practice inquisitive ways of thinking and deepen an understanding of global warming based on actual social problems.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="高校生：探求ナビ1" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_09.png" /></figure>

<figure class="env_edu_flex_item"><img alt="高校生：探求ナビ2" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_10.png" /></figure>
</div>
</section>

<section class="section">
<h3 class="titleLv3">Collaboration with Government Agencies: STEAM Library</h3>

<p class="text">The Benesse Corporation developed disaster prevention teaching materials for STEAM aimed at high school students as part of the STEAM Library, a part of the Mirai no Kyoshitu (&quot;Future Classroom&quot;) project of the Ministry of Economy, Trade and Industry released in March 2021. These educational support materials allow high school students to investigate regional disaster prevention and risk reduction based on hazard maps and statistical information from the areas in which they live while also allowing students to understand the state of the occurrence of disasters in Japan and around the world. Students also consider robots as solutions together with universities, private companies, and local government agencies as examples of the utilization of technology in disasters and risk reduction as considered by the students themselves.</p>

<div class="env_edu_flex margin">
<figure class="env_edu_flex_item"><img alt="官公庁との連携：STEAMライブラリー1" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_11.png" /></figure>

<figure class="env_edu_flex_item"><img alt="官公庁との連携：STEAMライブラリー2" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_12.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="https://www.steam-library.go.jp/content/1" rel="noopener noreferrer" target="_blank">STEAM Library: Solving Disaster Problems with Technology【Japanese】</a></li>
</ul>
</section>
