<section class="section">
<h3 class="titleLv3">The Environmental Division in a Contest where Elementary School Students from Around Japan Create the Future: Supporting Environmental Activities</h3>

<p class="text">We offer opportunities every year during the summer holidays to combine studies of nearby initiatives, environmental issues, and more so that students can apply to this contest.</p>

<figure class="center res_img margin"><img alt="全国小学生『未来』をつくるコンクール　環境部門～環境活動を支援する" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_13.png" /></figure>

<ul class="relatedLinks">
	<li><a href="https://sgaku.benesse.ne.jp/sho/all/others/concour/" rel="noopener noreferrer" target="_blank">Summer challenge: A contest to create a future for elementary school students nationwide【Japanese】</a></li>
</ul>
</section>

<section class="section">
<h3 class="titleLv3">Environmental Essay Contest for High School Students</h3>

<p class="text">By collecting essays on environmental issues, we hold this contest in the hopes that it might be a chance for high school students to think about environmental issues, share this with their communities, and voluntarily take action.</p>

<figure class="center res_img margin"><img alt="Environmental Essay Contest for High School Students" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_14.png" /></figure>

<ul class="relatedLinks">
	<li><a href="https://manabi.benesse.ne.jp/kankyo/" rel="noopener noreferrer" target="_blank">Environmental Essay Contest for High School Students【Japanese】</a></li>
</ul>
</section>

<section class="section">
<h3 class="titleLv3">Benesse STEAM Festival</h3>

<p class="text">This is a community to share inquisitive learning among junior high school and high school students around Japan, with SDGs becoming a popular theme. In addition to surveys and experimental studies, students are also involved in the development of apps. Held online on March 14, 2020, 60 teams were chosen from all over Japan.</p>

<div class="env_edu_flex">
<figure class="env_edu_flex_item"><img alt="ベネッセSTEAMフェスタ1" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_15.png" /></figure>

<figure class="env_edu_flex_item"><img alt="ベネッセSTEAMフェスタ2" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_16.png" /></figure>
</div>

<div class="env_edu_festa">
<dl>
	<dt class="ttl_strong">An Impression from a STEAM Festival Participant</dt>
	<dd>I presented &quot;Visualization of Environmental Action&quot; at the Benesse STEAM Festival when I participated, and I received feedback from many junior high school and high school students and community supporters from all over Japan. As I was pursuing this research, I realized that people&#39;s awareness of the issue was the basis for environmental and other global issues. Since realizing this, I have continued my research while being aware of the issue of what to do to have people&#39;s awareness radically change in a natural way. The Festival is a place for joint creation and through interacting with other participants, my perspective was widened and&nbsp;a sense of camaraderie&nbsp;began to grow.<br />
	I felt that this kind of a place was necessary for me and my fellow junior high school and high school students in order to create the society of the future.</dd>
</dl>
</div>
</section>

<section class="section">
<h3 class="titleLv3" id="region">Environmental Education Through Local Events</h3>

<p class="text">We develop various events in cooperation with local government agencies, private companies, environmental groups, and more.</p>

<h5 class="ttl_strong margin">Examples of Local Events</h5>

<dl>
	<dt class="ttl_strong">●Eco Life Fair 2020 Online, hosted by the Ministry of the Environment</dt>
	<dd class="flex_txt_img margin">
	<div class="flex_txt">
	<p class="text">We participated in the Eco Life Fair 2020 Online, hosted by the Ministry of the Environment from December 19, 2020 to January 17, 2021, along with the Association for the Promotion of Electric Vehicles.</p>

	<p>We offered a video that introduced Benesse&#39;s environmental action and education and to spur viewers to consider the electric Shimajiro Car and other eco-friendly actions that they could take on their own at home, as greenhouse gas emissions from transport and households are increasing in Japan.</p>
	</div>

	<figure class="flex_img"><img alt="環境省主催「エコライフ・フェア2020　Online」" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_17.png" /></figure>
	</dd>
	<dt class="ttl_strong">●Environmental Workshop: Halloween in Tama Center 2019</dt>
	<dd class="flex_txt_img margin">
	<div class="flex_txt">
	<p>We participated in Halloween in Tama Center 2019. 4,326 children and their families participated in our photo opportunities with the popular electric Shimajiro Car and in workshops by participating university organizations.</p>

	<p class="idt text">※University organizations and workshops (random order):<br />
	Tokai University Science Communicator: Making Slime<br />
	Waseda University&#39;s Nonprofit Environment Rodorigues ecoSMILE:&nbsp;Ecolabel Memory Game<br />
	University of Tokyo Science Communication Contest CAST:&nbsp;Electric Experiments<br />
	Chiba University&#39;s Student Committee ISO for the Environment: Making Button Whirligigs</p>
	</div>

	<figure class="flex_img"><img alt="環境ワークショップ　ハロウィンin多摩センター2019" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_18.jpg" /></figure>
	</dd>
	<dt class="ttl_strong">●Environmental Workshop: Eco Life Fair 2019 at Yoyogi Park</dt>
	<dd class="flex_txt_img margin">
	<div class="flex_txt">
	<p class="text">We participated in the Eco Life Fair 2019 held in Yoyogi Park along with the Association for the Promotion of Electric Vehicles (APEV). 1,904 people participated over two days in our photo opportunities with the popular electric Shimajiro Car and in workshops to grow leaves, where participants wrote what they could do for the environment on heart-shaped stickers and placed those &quot;leaves&quot; on a tree on a poster.</p>

	<p>We also offer opportunities for environmental education through participating in many other events.</p>

	<ul class="relatedLinks">
		<li><a href="https://www.benesse.co.jp/kankyo/event/local_events.html" target="_blank">List of Local Events【Japanese】</a></li>
	</ul>
	</div>

	<figure class="flex_img"><img alt="環境ワークショップ　エコライフ・フェア2019＠代々木公園" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/education_19.jpg" /></figure>
	</dd>
</dl>
</section>

<section class="section">
<h3 class="titleLv3">Contributions to Environmental Education Together with Local Government Agencies</h3>

<h5 class="ttl_strong">●Participation in the Creation of Biological Diversity Guidelines in Tama City</h5>

<p class="text">Benesse Holdings and the Benesse Corporation participated in the creation of biological diversity guidelines in Tama City and&nbsp;collaborate in offering education on the biodiversity of Tama City to protect the rich natural environment,&nbsp;to gain the bounty of nature while coexisting&nbsp;with organisms, and to create a sustainable society.</p>

<ul class="relatedLinks">
	<li><a href="https://www.city.tama.lg.jp/0000005109.html" target="_blank">Biological Diversity Guidelines in Tama City【Japanese】</a></li>
</ul>
</section>
