<section class="section">
<p class="text">We offer online environmental training for all Benesse Corporation employees and promote a foundational understanding of environmental management. In addition to training for new employees and training for environmental supervisors in each department, we also offer training for each department as well as internal auditor training and other specialty training for employees who have been newly appointed to oversee environmental duties.<br />
We also appoint supervisors for each floor quarterly to ensure thorough separation of waste products and power saving. We promote the awareness of employees by sharing the condition of waste product separation for each floor.</p>

<h5 class="ttl_strong">Environmental Education Concepts and the Educational System</h5>

<figure class="res_img center"><img alt="Environmental Education Concepts and the Educational System" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/education_20_en.png" /></figure>
</section>
