<p class="text">This Policy applies to all directors and employees of the Benesse Group (Benesse Holdings, Inc. and its affiliated companies).</p>

<p class="text">This Policy will also be put into practice through our relationships with our business partners and suppliers.</p>

<p class="text"><u>Pursuit of Human Rights Principles and Standards</u><br />
We will pursue human rights initiatives based on the International Bill of Human Rights (Universal Declaration of Human Rights and International Covenants on Human Rights), the International Labour Organization (ILO) Declaration on Fundamental Principles and Rights at Work, the Ten Principles of the United Nations Global Compact, the United Nations Guiding Principles on Business and Human Rights, and Children’s Rights and Business Principles.</p>

<p class="text"><u>Our Responsibilities Regarding Respect for Human Rights</u><br />
We will prohibit forced labor and child labor in our own corporate and business activities. We will respect diversity and will eliminate discrimination or violations of human rights based on nationality, race, ethnic groups, beliefs, thoughts, gender, age, disability, gender identity, sexual orientation, or employment status.<br />
We will also respect diversity within the workplace and continue to demonstrate our values and philosophy for the &ldquo;Well-Being&rdquo; of our customers and other stakeholders with responsibility and integrity.</p>

<p class="text"><u>Human Rights Due Diligence</u><br />
We will develop mechanisms for human rights due diligence and take ongoing actions in our efforts to identify and prevent or mitigate any negative impacts by the Group on human rights.<br />
Further, in such cases where a negative impact on human rights caused by our business partner or supplier is directly or indirectly related to the businesses or services of the Benesse Group, we will seek remedial measures so as to respect and not infringe upon human rights.</p>

<p class="text"><u>Compliance with Applicable Laws</u><br />
We will respect internationally recognized human rights standards to the maximum extent possible as well as comply with all laws and regulations of the countries and regions where we conduct our business activities.</p>

<p class="text"><u>Education</u><br />
We will conduct ongoing education and training of our employees to ensure that this Policy is properly incorporated and firmly established in the respective locations of our corporate and business activities. We will also ensure that each and every one of our employees has a full understanding of this Policy and is supported in being able to practice respect for human rights.</p>

<p class="text"><u>Remedy</u><br />
We will take appropriate steps and strive to remedy the situation in such cases where it becomes apparent that we have caused and/or been in some way involved in a negative impact on human rights.</p>

<p class="text"><u>Dialogue and Discussions</u><br />
We will communicate our human rights initiatives under this Policy through different channels, including our website.<br />
We will also engage in active dialogue and discussions with relevant stakeholders to properly understand and respond to potential and actual impacts on human rights by the Group.</p>

<p class="text right">Established on June 22, 2020</p>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
