<p>ベネッセグループの事業活動は、企業理念「よく生きる」に基づいたものであり、すべてはお客さまの信頼のうえに成り立っています。<br />
また、お客さまをはじめとするステークホルダーとの共創にあたっては、多様性の尊重や個々人の尊厳を守ることが大切です。<br />
この考えにたって、私たちは、人権方針を策定します。<br />
&nbsp;<br />
本方針は、ベネッセグループ（株式会社ベネッセホールディングスおよび連結子会社）のすべての役員と従業員に適用されます。<br />
また、ビジネスパートナーやサプライヤーとも協働しながら、実践します。</p>

<p class="text"><br />
<span class="ttl_strong">【人権尊重の原則と規範の追求】</span><br />
私たちは、「国際人権章典（世界人権宣言と国際人権規約）」、「労働における基本的原則および権利に関する国際労働機関の宣言」、および国連「グローバル・コンパクト10の原則」、「ビジネスと人権に関する指導原則」、および「子どもの権利とビジネス原則」を基に、人権尊重の取り組みを推進していきます。</p>

<p class="text"><span class="ttl_strong">【当社の人権尊重の責任】</span><br />
私たちは、自らの企業活動や事業活動において、強制労働および児童労働を禁止します。また、 多様性を尊重し、 国籍・人種・民族・宗教・思想・性別・年齢・障がい・性自認・性的志向・雇用形態による 差別や人権の侵害を行いません。<br />
教育と介護のリーディングカンパニーとしての責任を持ち、商品・サービスの提供にあたっては、必ず人権に配慮します。<br />
また、職場内においても多様性も尊重し、自分らしさをお客様をはじめとするステークホルダーの「よく生きる」のために発揮しながら、自らの責任を全うします。</p>

<p class="text"><span class="ttl_strong">【人権デュー・デリジェンス】</span><br />
私たちは、人権デュー・デリジェンスの仕組みを開発し、自社の人権への負の影響を特定し、その防止、または軽減を図るよう努め、継続的に活動を実施していきます。<br />
また、ビジネスパートナーおよびサプライヤーによる人権への負の影響が、ベネッセグループの事業・サービスと直接的または間接的に関与している場合は、これらのパートナーおよびサプライヤーに対しても、人権を尊重し、侵害しないよう求めます。</p>

<p class="text"><span class="ttl_strong">【適用法令の遵守】</span><br />
私たちは、国際的に認められた人権基準を最大限尊重することはもとより、事業活動を行う国または地域における法と規制も遵守します。</p>

<p class="text"><span class="ttl_strong">【教育】</span><br />
私たちは、本方針が企業・事業活動それぞれの現場で組み込まれ、かつ定着するよう、従業員に対して教育と研修を継続的に行います。また、従業員一人ひとりが人権の尊重を十分理解し、実践できるようにします。</p>

<p class="text"><span class="ttl_strong">【救済】</span><br />
私たちは、人権に対する負の影響を引き起こした、あるいはこれに関与したことが明らかになった場合、適切な手続きによってその救済に努めます。</p>

<p class="text"><span class="ttl_strong">【対話と協議】</span><br />
私たちは、本方針に基づく人権尊重の取り組みについて、ウェブサイトなどで開示します。 また、自社の人権に対する潜在的および実際の影響を適切に把握し対応するために、関連するステークホルダーと対話と協議を行っていきます。</p>

<p class="right text">2020年6月22日制定</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>