<p class="text">Benesse Holdings has established a Human Rights Promotion Subcommittee as a subordinate organization of the Sustainability and ESG Promotion Committee to strengthen human rights initiatives. We have begun to create a human rights due diligence system based on the Group Human Rights Policy.&nbsp;During FY2020, Benesse started conducting human rights assessments of some companies in the Group and the assessment results were reported to the Sustainability Committee. Benesse will continue to roll out human rights initiatives across the entire Group step by step, supervising compliance with the Group&rsquo;s Human Rights Policy and the progress of these initiatives via the Sustainability Committee.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>