<p class="text">In 2020 Benesse started conducting human rights due diligence with the assistance of external experts, in accordance with the UN Guiding Principles on Business and Human Rights.</p>

<p class="text">Human rights risks to be assessed during the human rights assessment were listed based on material considerations and issues relating to the Group&rsquo;s corporate activities. These were determined in accordance with international standards and guidelines that define material human rights issues, using Benesse&rsquo;s own employment/work rules relating to human rights for reference.</p>

<div class="due_diligence x_scroll margin">
<table class="stdTb02 narrow">
	<colgroup>
		<col span="4" />
	</colgroup>
	<thead>
		<tr>
			<th>Step 1</th>
			<th>Step 2</th>
			<th>Step 3</th>
			<th>Step 4</th>
		</tr>
		<tr>
			<th class="subcell">Confirm standards to apply</th>
			<th class="subcell">Design assessment sheet</th>
			<th class="subcell">Conduct human rights assessment</th>
			<th class="subcell">Evaluate &amp; report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<ul>
				<li>International standards &amp; guidelines
				<ol>
					<li>1) Universal Declaration of Human Rights</li>
					<li>2) ILO standards</li>
					<li>3) UN Global Compact</li>
					<li>4) OECD</li>
					<li>5) GRI standards</li>
					<li>6) FLA</li>
					<li>7) CHRB</li>
				</ol>
				</li>
				<li>Existing standards &amp; rules
				<ol>
					<li>1) Group&rsquo;s Human Rights Policy</li>
					<li>2) Employment/work rules</li>
				</ol>
				</li>
			</ul>
			</td>
			<td>
			<ul>
				<li>Define human rights risks
				<p>List risks based on material human rights considerations and issues relating to the Group&rsquo;s corporate activities</p>
				</li>
				<li>Define measures that deter human rights violations
				<p>List measures taken in individual companies that positively impact respect for human rights, such as work-life management measures and employee education</p>
				</li>
			</ul>
			</td>
			<td>
			<ul>
				<li>Collate assessment sheet responses
				<p>Individuals in charge of responding at each company collate information from each relevant operating site, and enter responses on the assessment sheet</p>
				</li>
				<li>Hold dialogue with assessed companies
				<p>Hold dialogues with companies to discuss assessment sheet responses, involving external experts. Promote understanding of key human rights issues</p>
				</li>
			</ul>
			</td>
			<td>
			<ul>
				<li>Create risk maps
				<p>Evaluate risks from the perspectives of likelihood of occurrence, severity, and risk management weaknesses to create risk maps</p>
				</li>
				<li>Discuss at Human Rights Subcommittee
				<p>Evaluate and verify each company&rsquo;s risk map to identify key human rights themes for the Group</p>
				</li>
				<li>Report to Sustainability Committee
				<p>Report the key human rights themes identified for the Group and discuss future action</p>
				</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
