<p class="text">As a result of the human rights assessment, we identified the following as key themes subject to potential risk and confirmed that continuous risk management is being conducted regarding these themes.</p>

<div class="human_rights_theme_wrap">
<h2 class="human_rights_theme_ttl">Key Human Rights Themes Identified within the Benesse Group</h2>

<ul class="human_rights_theme_list">
	<li class="human_rights_theme_item">Eradication of child labor</li>
	<li class="human_rights_theme_item">Prevention of abuse</li>
	<li class="human_rights_theme_item">Prevention of harassment in the workplace</li>
</ul>
</div>

<p class="text">As a company that operates educational businesses for children, we believe that it is never acceptable to impede compulsory education or violate children&rsquo;s rights by requiring minors under the age of 18 to perform hazardous, harmful work prohibited under labor conventions.</p>

<p class="text">Furthermore, as many of the Benesse Group&rsquo;s businesses, including its nursing care and cram school businesses, provide customers with person-to-person services of high added value, we place importance on respect for fundamental human rights within our business activities.</p>

<p class="text">We will continue to monitor the situation regarding the key human rights themes identified within the Group. Next fiscal year, we plan to further increase the number of Group companies for which we conduct human rights due diligence.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
