<h2 class="titleLv4">We are taking the risk management measures detailed below to address the key human rights themes identified.</h2>

<div class="x_scroll">
<table class="stdTb02">
	<thead>
		<tr>
			<th>Key Human Rights Themes Identified</th>
			<th>Risk Management</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Eradication of child labor</th>
			<td>Regular audits are conducted by an external organization and we continuously monitor to ensure that respect for human rights and appropriate working environments are maintained by our suppliers.</td>
		</tr>
		<tr>
			<th>Prevention of abuse</th>
			<td>In our nursing care business, we administer regular questionnaires to all care workers to promptly identify any behavior that could develop into abuse and deal with it appropriately before actual abuse occurs. We also hold monthly meetings of a committee that works to prevent abuse in care homes.</td>
		</tr>
		<tr>
			<th>Prevention of harassment in the workplace</th>
			<td>To raise awareness of harassment among employees, we hold group sessions to go through documents setting out our standards, and provide guidance for managers and other employees including harassment-related training.<br />
			Note: We also offer a consultation service specifically for harassment-related issues.</td>
		</tr>
	</tbody>
</table>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
