<p class="text">The Benesse Group operates its businesses globally, promoting Group-wide diversity and inclusion while implementing a range of measures to deal with issues of harassment and discrimination.</p>

<p class="text">As a specific example, it has set up internal reporting mechanisms for passing on information or seeking advice regarding compliance-related concerns including potential human rights violations, discrimination, or harassment.</p>

<div class="x_scroll">
<table class="stdTb02">
	<thead>
		<tr>
			<th>Internal Reporting Mechanism</th>
			<th>Overview</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Benesse Group Speak-Up Line</th>
			<td>A mechanism for reporting the discovery of illegal or dishonest behavior, or violations of a company&rsquo;s articles of incorporation or internal rules</td>
		</tr>
		<tr>
			<th>Audit &amp; Supervisory Board Member Hotline</th>
			<td>A mechanism for reporting in cases where senior management may be involved, or similar situations</td>
		</tr>
	</tbody>
</table>

<p class="small">Note: Every effort is made to ensure that these reporting mechanisms can be used with peace of mind; for example, they are located outside the company itself and they can be used anonymously.</p>
</div>

<p class="text">In addition to the above, we also offer a consultation service provided by an external specialist organization that employees can use to seek advice related to harassment.</p>

<p class="text">For non-Japanese employees, we confirm visa status after an employee joins the company and do not make the type of demands that can lead to forced labor, such as requiring that a Group company takes possession of an employee&rsquo;s passport or other important documents.</p>

<p class="text">We also take other steps to ensure employees&rsquo; human rights are respected by instilling awareness of the relevant policies throughout the Group and implementing training.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
