<p class="text">As part of our efforts to promote awareness of human rights within the Group, we conduct human rights training for new recruits and harassment training for managers and other employees on an annual basis, aiming to eliminate the number of instances that occur.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
