<p class="text">The Benesse Group upholds the education and lifestyles of each child and supports the building of skills to create the future. Holding up the offering of learning opportunities to all as an important issue, we aim to respond to every person&#39;s desire to learn, provide accessible learning, and&nbsp;create a future where growth is possible.</p>

<h4 class="titleLv4">●Examples of Action</h4>

<h5 class="ttl_strong">Special consideration with GTEC for people with disabilities&nbsp;</h5>

<p class="text">For the GTEC, an English exam offered by the Benesse Corporation, we took people with disabilities into consideration for the four skills tested (listening, reading, writing, and speaking) with Braille versions, large print versions, considerations for time for the listening and speaking portions, scoring considerations, and more.</p>

<ul class="relatedLinks margin">
	<li>≫For more details：<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/gtec.html">A Desire to Contribute to the Self-fulfillment of All Students with Special Considerations for People with Disabilities for GTEC【Japanese】</a></li>
</ul>

<h5 class="ttl_strong">Closing of schools due to the spread of COVID-19</h5>

<p class="text">In response the sudden decision to close schools, we quickly developed ways to deliver required learning to students from preschool to high school so that learning wouldn&#39;t stop and daily rhythms wouldn&#39;t be disrupted.</p>

<table class="social_human_child_tbl margin">
	<caption class="social_human_child_tbl_caption">（Examples）</caption>
	<tbody>
		<tr>
			<th>Kodomo Challenge</th>
			<td>Online kindergarten, offering opportunities for regular nursery school and kindergarten growth even while at home<br />
			Exercise videos with Shimajiro and Hello Kitty to reduce stress due to lack of exercise</td>
		</tr>
		<tr>
			<th>Shinkenzemi</th>
			<td>The Haru no Sofukushu Doriru (&quot;Spring Comprehensive Review Drills&quot;) original educational materials<br />
			Kyo no Jikanwari (&quot;Today&#39;s Timetable&quot;) online classroom<br />
			Study consultations with current university students using live-streaming</td>
		</tr>
		<tr>
			<th>Shinkenzemi&nbsp;Private Lessons</th>
			<td>Offering online lessons</td>
		</tr>
		<tr>
			<th>duda Campus</th>
			<td>duda Campus Seminar online course</td>
		</tr>
	</tbody>
</table>

<ul class="relatedLinks margin">
	<li>≫For more details：<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/online-kindergarten.html">Kodomo Challenge, Learning that Adapts to Social Changes: Online Kindergarten【Japanese】</a></li>
</ul>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
