<p class="text">Working in the long-term senior care service business, Benesse Style Care established the Benesse Style Care Declaration that demonstrates actions and criteria for what employees should value in order to realize well-being in both customers and employees. In the Declaration, a customer-centered approach is put first and it is made clear that priority will be given to having customers live in their own way above everything else. Human rights will also be adequately considered when conducting business, and the Declaration defines principles to prevent expressions and actions that cause anyone to suffer and cause people with certain attributes to feel discomfort from discrimination based on race, nationality, beliefs, gender, or disability.</p>

<p class="text">All employees undergo Style Care Declaration training once a year, regularly spreading information and improving awareness.</p>

<p class="text">As a measure against mistreatment, we regularly survey all nursing care professionals to quickly discover signs that lead to mistreatment and respond appropriately before it occurs. We work to improve each of the opinions raised in this process. We also host a monthly committee to prevent mistreatment within homes and work to ensure the safety of our customers and employees. We have also established a standard for responding to mistreatment and enforce complete and suitable responses when mistreatment occurs. In addition to holding training for managers and familiarizing employees with consultation services as a measure against harassment, we have established harassment response guidelines for harassment to employees and aim to create an environment where employees working in a caregiving situation can continue to work safely and&nbsp;securely.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-style-care.co.jp/company/action" target="_blank">Benesse Style Care Declaration【Japanese】</a></li>
</ul>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
