<p class="text">The Benesse Holdings Group Personnel Headquarters coordinates with related personnel departments at each Group company, supervising and supporting the activities of each company. Policies and issues are regularly discussed at Group human resource manager meetings of the human resource managers of each company.</p>

<p class="text">We also actively promote the employment of workers with disabilities, and we have created an employment system in cooperation with Benesse Holdings, all Group companies, and Benesse Business Mate, a special-purpose subsidiary established for the purpose of employing workers with disabilities.</p>

<hr class="clear" />
<h3 class="titleLv3">Arrangements for employment of people with disabilities in the Benesse Group</h3>

<div class="x_scroll margin">
<table class="stdTb02">
	<thead>
		<tr>
			<td>Division</td>
			<td>Role</td>
			<td>Responsibilities</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Benesse Holdings Human Resource Department</th>
			<td>Responsibility for employment of people with disabilities in the group</td>
			<td>
			<ul>
				<li>Development and supervision of guidelines on group employment of people with disabilities and related guidance</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th>Benesse Business Mate<br />
			<span class="small">(hosts the Disabled Employment Promotion Office)</span></th>
			<td>Secretariat for employment of people with disabilities by group companies, employment and retainment support</td>
			<td>
			<ul>
				<li>Development of know-how on employment of people with disabilities</li>
				<li>Support for employment of people with disabilities by group companies</li>
				<li>Counseling service for people with disabilities working in the group</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th>Group companies</th>
			<td>Employment of people with disabilities at the level of individual companies</td>
			<td>
			<ul>
				<li>Development and implementation of plans to employ people with disabilities</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>
