<p class="text">ベネッセホールディングス グループ人財本部がグループ各社の人財関連部署と連携し、各社における活動を統括、支援しています。 各社の人事責任者が参加するグループ人事責任者会議を通じて、方針や課題について定期的に協議しています。</p>

<p class="text">また、障がい者雇用も積極的に進めており、ベネッセホールディングス、障がい者雇用を目的とした特例子会社であるベネッセビジネスメイト、およびグループ各社が連携して雇用実行体制を構築しています。</p>

<h3 class="titleLv3">ベネッセグループ全体の障がい者雇用実行体制</h3>

<div class="x_scroll margin">
<table class="stdTb02">
	<thead>
		<tr>
			<td>部門</td>
			<td>役割</td>
			<td>担当業務</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ベネッセホールディングス人事部</th>
			<td>グループの障がい者雇用責任部門</td>
			<td>
			<ul>
				<li class="idt">・グループ障がい者雇用方針の策定および管理、指導</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th>（株）ベネッセビジネスメイト<br />
			<span class="small">※障がい者雇用推進本部設置</span></th>
			<td>グループ会社障がい者雇用事務局<br />
			雇用・定着支援部門</td>
			<td>
			<ul>
				<li class="idt">・障がい者雇用ノウハウの積み上げ</li>
				<li class="idt">・グループ各社の障がい者雇用支援</li>
				<li class="idt">・グループ障がい者相談窓口</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="nowrap">グループ各社</th>
			<td>各社における障がい者雇用担当</td>
			<td>
			<ul>
				<li class="idt">・障がい者雇用計画策定～実行</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>