<p class="text">当社グループの事業は、「教育・子育て」「シニア・介護」など、生活者としての視点が重要であり、男女の区別なく個々の強みを生かして付加価値の高い仕事をすることが求められます。</p>

<p class="text">ベネッセコーポレーションは、女性活躍推進に四半世紀以上の歴史があり、様々な変遷を経て従業員とともに制度を作り上げてきました。出産・育児休暇や時短制度などによる「両立支援」のステージを超えて、両立しながらの「キャリア支援」を主軸にしており、管理職における女性の割合は2020年度で34％となっています。また、育児・介護などを含めた制度や施策の対象を、男性も含めた全従業員向けの人事施策として徹底していくことを目指しています。</p>

<dl class="margin">
	<dt class="ttl_strong">【ベネッセコーポレーションのワークライフマネジメント・キャリア支援の主な取り組み】</dt>
	<dd>
	<table class="diversity_worklife_tbl">
		<thead>
			<tr>
				<th class="diversity_worklife_tbl_th">ワークライフマネジメント関連制度・支援</th>
				<th class="diversity_worklife_tbl_th">キャリア支援</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="diversity_worklife_tbl_td">
				<ul>
					<li class="idt">◆スーパーフレックス制度（1995年～）</li>
					<li class="idt">◆育児休業制度（1995年～）</li>
					<li class="idt">◆育児時間短縮勤務制度（1992年～）</li>
					<li class="idt">◆介護休職制度（1991年～）</li>
					<li class="idt">◆介護時間短縮勤務制度（1996年～）</li>
					<li class="idt">◆カフェテリアプランにおけるワークライフマネジメント支援</li>
					<li class="idt">◆在宅勤務制度（2009年度本格導入）　など</li>
				</ul>
				</td>
				<td class="diversity_worklife_tbl_td">
				<ul>
					<li class="idt">◆ライフキャリア研修</li>
					<li class="idt">◆ワーキングマザーおよびプレワーキングマザー向けの他社社員との座談会</li>
					<li class="idt">◆女性役員、部長を囲むラウンドテーブル</li>
					<li class="idt">◆育児休職者に向けたウェブサイトでの会社情報の共有や連絡事項の発信</li>
					<li class="idt">◆育児休職後研修</li>
					<li class="idt">◆グループポータルサイトでのワーキングマザー向け情報発信</li>
					<li class="idt">◆グループポータルサイトでのブログ展開　など</li>
				</ul>
				</td>
			</tr>
		</tbody>
	</table>
	</dd>
</dl>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">ベネッセコーポレーション従業員・管理職等に占める女性比率</dt>
	<dd>
	<p class="right">（各年4月時点/正社員）</p>

	<div class="x_scroll">
	<table class="stdTb02 tb_011">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th colspan="2">2017年</th>
				<th colspan="2">2018年</th>
				<th colspan="2">2019年</th>
				<th colspan="2">2020年</th>
				<th colspan="2">2021年</th>
			</tr>
			<tr>
				<th rowspan="2">&nbsp;</th>
				<th>男性</th>
				<th rowspan="2">女性<br />
				比率<br />
				（%）</th>
				<th>男性</th>
				<th rowspan="2">女性<br />
				比率<br />
				（%）</th>
				<th>男性</th>
				<th rowspan="2">女性<br />
				比率<br />
				（%）</th>
				<th>男性</th>
				<th rowspan="2">女性<br />
				比率<br />
				（%）</th>
				<th>男性</th>
				<th rowspan="2">女性<br />
				比率<br />
				（%）</th>
			</tr>
			<tr>
				<th>女性</th>
				<th>女性</th>
				<th>女性</th>
				<th>女性</th>
				<th>女性</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th rowspan="2">従業員数</th>
				<td>1,197</td>
				<td rowspan="2">53</td>
				<td>1,246</td>
				<td rowspan="2">53</td>
				<td>1,184</td>
				<td rowspan="2">52</td>
				<td>1,182</td>
				<td rowspan="2">51</td>
				<td>1,087</td>
				<td rowspan="2">53</td>
			</tr>
			<tr>
				<td>1,356</td>
				<td>1,412</td>
				<td>1,298</td>
				<td>1,247</td>
				<td>1,218</td>
			</tr>
			<tr>
				<th rowspan="2">（内：課長層）</th>
				<td>150</td>
				<td rowspan="2">32</td>
				<td>146</td>
				<td rowspan="2">39</td>
				<td>126</td>
				<td rowspan="2">36</td>
				<td>134</td>
				<td rowspan="2">35</td>
				<td>149</td>
				<td rowspan="2">35</td>
			</tr>
			<tr>
				<td>71</td>
				<td>92</td>
				<td>72</td>
				<td>73</td>
				<td>82</td>
			</tr>
			<tr>
				<th rowspan="2">（内：部長層）</th>
				<td>50</td>
				<td rowspan="2">28</td>
				<td>55</td>
				<td rowspan="2">31</td>
				<td>39</td>
				<td rowspan="2">35</td>
				<td>41</td>
				<td rowspan="2">35</td>
				<td>47</td>
				<td rowspan="2">33</td>
			</tr>
			<tr>
				<td>19</td>
				<td>25</td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
			</tr>
			<tr>
				<th rowspan="2">役員</th>
				<td>9</td>
				<td rowspan="2">18</td>
				<td>10</td>
				<td rowspan="2">23</td>
				<td>11</td>
				<td rowspan="2">21</td>
				<td>12</td>
				<td rowspan="2">14</td>
				<td>11</td>
				<td rowspan="2">15</td>
			</tr>
			<tr>
				<td>2</td>
				<td>3</td>
				<td>3</td>
				<td>2</td>
				<td>2</td>
			</tr>
		</tbody>
	</table>
	</div>
	</dd>
</dl>

<p class="text">また、ベネッセスタイルケアは、全社員の女性比率が約7割で、高齢者向け生活ホームのホーム長や保育園の園長としても女性が多く活躍しています。様々な職種・勤務形態の従業員が活躍していますが、勤務条件と受け入れ先のニーズが一致すれば、ご自身のライフステージに合わせた多様な働き方を可能としています。保育園に子どもを通わせながらフルタイム勤務する正社員を支援する「保育手当」や、子どもが小学校3年生まで取得可能な「育児時短制度」は導入以降、利用者も年々増加しています。</p>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">ベネッセスタイルケア/ベネッセコーポレーション育児休職開始者数・復職者数</dt>
	<dd>
	<p class="right">（各年3月期）</p>

	<div class="x_scroll">
	<table class="stdTb02 tb_013">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th colspan="2">2017年</th>
				<th colspan="2">2018年</th>
				<th colspan="2">2019年</th>
				<th colspan="2"><span>2020年</span></th>
				<th>2021年</th>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<th>休職<br />
				開始者数</th>
				<th>復職<br />
				者数</th>
				<th>休職<br />
				開始者数</th>
				<th>復職<br />
				者数</th>
				<th>休職<br />
				開始者数</th>
				<th>復職<br />
				者数</th>
				<th>休職<br />
				開始者数</th>
				<th>復職<br />
				者数</th>
				<th>休職<br />
				開始者数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>ベネッセスタイルケア<br />
				(正社員、契約社員、準常勤スタッフ)</th>
				<td>166</td>
				<td>126</td>
				<td>215</td>
				<td>177</td>
				<td>204</td>
				<td>192</td>
				<td>267</td>
				<td>236</td>
				<td>252</td>
			</tr>
			<tr>
				<th>ベネッセコーポレーション<br />
				（正社員、特定職社員、契約社員）</th>
				<td>94</td>
				<td>82</td>
				<td>89</td>
				<td>87</td>
				<td>67</td>
				<td>72</td>
				<td>56</td>
				<td>57</td>
				<td>52</td>
			</tr>
		</tbody>
	</table>
	</div>

	<ul class="small">
		<li class="idts">※復職者：各社の制度上の休職期限までに復職した者</li>
	</ul>
	</dd>
</dl>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">ベネッセスタイルケア/ベネッセコーポレーション育児時短取得者数</dt>
	<dd>
	<p class="right">（各年4月時点）</p>

	<div class="x_scroll">
	<table class="stdTb02 tb_014">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th><span>2017年</span></th>
				<th><span>2018年</span></th>
				<th><span>2019年</span></th>
				<th><span>2020年</span></th>
				<th><span>2021年</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>ベネッセスタイルケア<br />
				（正社員、契約社員、準常勤スタッフ）</th>
				<td class="center">137</td>
				<td class="center">161</td>
				<td class="center">230</td>
				<td class="center">230<sup>※</sup></td>
				<td class="center">280</td>
			</tr>
			<tr>
				<th>ベネッセコーポレーション<br />
				（正社員、特定職社員、契約社員）</th>
				<td class="center">128</td>
				<td class="center">109</td>
				<td class="center">124</td>
				<td class="center">76</td>
				<td class="center">50</td>
			</tr>
		</tbody>
	</table>
	</div>

	<ul class="small">
		<li class="idts">※2020年は新型コロナウイルス感染拡大の影響で例年より復職時期が後ろ倒しとなりました。</li>
	</ul>
	</dd>
</dl>

<dl class="sustaina_data margin expand">
	<dt class="ttl_strong">ベネッセスタイルケア保育手当支給人数</dt>
	<dd>
	<p class="shrink right">（各年5月時点）</p>

	<table class="stdTb02 tb_015">
		<tbody>
			<tr>
				<th>2017年</th>
				<td>314</td>
			</tr>
			<tr>
				<th>2018年</th>
				<td>328</td>
			</tr>
			<tr>
				<th>2019年</th>
				<td>415</td>
			</tr>
			<tr>
				<th>2020年</th>
				<td>373<sup>※</sup></td>
			</tr>
			<tr>
				<th>2021年</th>
				<td>414</td>
			</tr>
		</tbody>
	</table>

	<ul class="small">
		<li class="idts">※2020年の減少は新型コロナウイルス感染拡大による登園自粛の影響によるものです。</li>
	</ul>
	</dd>
</dl>

<figure class="expand center res_img margin"><img alt="女性向けキャリア支援の主な取り組み" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_03.png" /></figure>

<div class="flex_txt_img expand flex_rev">
<figure class="flex_img res_img"><img alt="" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_04.png" /></figure>

<div class="flex_txt">
<p class="text">なお、べネッセコーポレーションは、2016年4月、女性活躍推進法の認定制度において、最上位の段階「3」を取得いたしました。認定段階「3」では、（1）採用、（2）継続就業、（3）労働時間等の働き方、（4）管理職比率、（5）多様なキャリアコースの5項目において、厚生労働省の定める一定基準を満たしていることが求められます。これからも一層の取り組みを推進して参ります。</p>

<dl>
	<dt class="ttl_strong texth">【ベネッセコーポレーション行動計画】</dt>
	<dd class="text">計画期間：令和2年4月1日～令和7年3月31日</dd>
	<dt>定量的目標</dt>
	<dd class="margin">
	<ul>
		<li class="idt">・管理職（課長級以上）に占める女性割合を39%以上にする</li>
		<li class="idt">・男性の育児休業（休暇及び休職）取得率を80％以上にする</li>
	</ul>
	</dd>
	<dt>取り組み内容</dt>
	<dd class="margin">
	<ul>
		<li class="idt">・女性社員を中心に管理職育成を目的としたプログラムを実施する<br />
		キーになる世代を対象にした（例 産休（育休）取得前後等）プログラムの検討、実施</li>
		<li class="idt">・働き方改革を継続実施する<br />
		本部単位での残業削減<br />
		PDS（有給休暇取得促進やノー残業デーの設定、在宅利用推進、在宅制度見直し拡大等）を見直し、継続実施</li>
		<li class="idt">・男性を中心とした育児休業取得促進<br />
		育児休業制度の周知、取得促進の発信実施等</li>
	</ul>
	</dd>
</dl>

<p>（参考）厚生労働省　女性の活躍推進企業データベースサイト：ベネッセコーポレーション</p>

<ul class="relatedLinks">
	<li><a href="https://positive-ryouritsu.mhlw.go.jp/positivedb/detail?id=2157" target="_blank">https://positive-ryouritsu.mhlw.go.jp/positivedb/detail?id=2157</a></li>
</ul>
</div>
</div>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>