<p class="text">Consumer-oriented perspectives are crucial to the Benesse Group&#39;s businesses, such as the education and childcare business and senior/nursing care business. Thus, all human resources, regardless of their gender, are required to make the most of their individual strengths to perform high-value-added work.</p>

<p class="text">Benesse Corporation has a history of more than 25 years working to promote active roles for women in the workplace. Through various changes over the years, the company has developed systems to support these efforts together with employees.&nbsp;Benesse seeks to emphasize career support based on a well-managed professional and personal life, with initiatives going beyond merely offering maternity leave, childcare leave, and reduced hours. In FY2020, 34% of&nbsp;managerial positions were held by women. We also aim to rigorously implement systems and measures for childcare, nursing, and more as a personnel measure not just for women, but for all employees.</p>

<dl class="margin">
	<dt class="ttl_strong">Benesse Corporation&#39;s Main Initiatives for Work-life Management and Career Support</dt>
	<dd>
	<table class="diversity_worklife_tbl">
		<thead>
			<tr>
				<th class="diversity_worklife_tbl_th">Systems and Support Related to Work-life Management</th>
				<th class="diversity_worklife_tbl_th">Career Support</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="diversity_worklife_tbl_td">
				<ul>
					<li class="idt">◆Super flex system (from 1995)</li>
					<li class="idt">◆Childcare leave system (from 1995)</li>
					<li class="idt">◆Reduced work hours for childcare system (from 1992)</li>
					<li class="idt">◆Nursing care leave system (from 1991)</li>
					<li class="idt">◆Reduced work hours for nursing care (from 1996)</li>
					<li class="idt">◆Work-life management support with cafeteria plans</li>
					<li class="idt">◆Remote work system (fully introduced in 2009)</li>
				</ul>
				</td>
				<td class="diversity_worklife_tbl_td">
				<ul>
					<li class="idt">◆Life career training</li>
					<li class="idt">◆Symposiums with other company&#39;s employees for working mothers or soon-to-be working mothers</li>
					<li class="idt">◆Roundtable discussions with female employees and departmental directors</li>
					<li class="idt">◆Sharing company information and delivering messages online for employees on childcare leave</li>
					<li class="idt">◆Post-childcare leave training</li>
					<li class="idt">◆Information for working mothers on the Group portal website</li>
					<li class="idt">◆Development of a blog on the Group portal website</li>
				</ul>
				</td>
			</tr>
		</tbody>
	</table>
	</dd>
</dl>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">Number of employees and management level employees by gender</dt>
	<dd>
	<p class="right">（As of April each year/Full-time employees）</p>

	<div class="x_scroll">
	<table class="stdTb02 tb_011">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th colspan="2">2017</th>
				<th colspan="2">2018</th>
				<th colspan="2">2019</th>
				<th colspan="2">2020</th>
				<th colspan="2">2021</th>
			</tr>
			<tr>
				<th rowspan="2">Target</th>
				<th>Men</th>
				<th rowspan="2">Ratio of female to male employees<br />
				（%）</th>
				<th>Men</th>
				<th rowspan="2">Ratio of female to male employees<br />
				（%）</th>
				<th>Men</th>
				<th rowspan="2">Ratio of female to male employees<br />
				（%）</th>
				<th>Men</th>
				<th rowspan="2">Ratio of female to male employees<br />
				（%）</th>
				<th>Men</th>
				<th rowspan="2">Ratio of female to male employees<br />
				（%）</th>
			</tr>
			<tr>
				<th>Women</th>
				<th>Women</th>
				<th>Women</th>
				<th>Women</th>
				<th>女Women</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th rowspan="2">Employees</th>
				<td>1,197</td>
				<td rowspan="2">53</td>
				<td>1,246</td>
				<td rowspan="2">53</td>
				<td>1,184</td>
				<td rowspan="2">52</td>
				<td>1,182</td>
				<td rowspan="2">51</td>
				<td>1,087</td>
				<td rowspan="2">53</td>
			</tr>
			<tr>
				<td>1,356</td>
				<td>1,412</td>
				<td>1,298</td>
				<td>1,247</td>
				<td>1,218</td>
			</tr>
			<tr>
				<th rowspan="2">Section managers</th>
				<td>150</td>
				<td rowspan="2">32</td>
				<td>146</td>
				<td rowspan="2">39</td>
				<td>126</td>
				<td rowspan="2">36</td>
				<td>134</td>
				<td rowspan="2">35</td>
				<td>149</td>
				<td rowspan="2">35</td>
			</tr>
			<tr>
				<td>71</td>
				<td>92</td>
				<td>72</td>
				<td>73</td>
				<td>82</td>
			</tr>
			<tr>
				<th rowspan="2">Departmental directors</th>
				<td>50</td>
				<td rowspan="2">28</td>
				<td>55</td>
				<td rowspan="2">31</td>
				<td>39</td>
				<td rowspan="2">35</td>
				<td>41</td>
				<td rowspan="2">35</td>
				<td>47</td>
				<td rowspan="2">33</td>
			</tr>
			<tr>
				<td>19</td>
				<td>25</td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
			</tr>
			<tr>
				<th rowspan="2">Executives&nbsp;</th>
				<td>9</td>
				<td rowspan="2">18</td>
				<td>10</td>
				<td rowspan="2">23</td>
				<td>11</td>
				<td rowspan="2">21</td>
				<td>12</td>
				<td rowspan="2">14</td>
				<td>11</td>
				<td rowspan="2">15</td>
			</tr>
			<tr>
				<td>2</td>
				<td>3</td>
				<td>3</td>
				<td>2</td>
				<td>2</td>
			</tr>
		</tbody>
	</table>
	</div>
	</dd>
</dl>

<p class="text">At Benesse Style Care Co., Ltd., female workers represent about 70% of all employees. Many of these women are working as heads of nursing homes and childcare facilities. These women are active in a variety of positions and&nbsp;employment styles, and we believe that if we can match working&nbsp;conditions to the needs of the recipient, we can make a diverse range of working styles possible, tailored to each employee&#39;s stage in life. Since the introduction of a childcare allowance to support full-time regular employees who have children in childcare centers and a reduction in work hours to help look after their children until they reach the 3rd grade in elementary school, there has been an increase in employees taking advantage of these services every year.</p>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">Benesse Style Care/Benesse Corporation Number of Employees Starting and Returning from Childcare Leave</dt>
	<dd>
	<p class="right">（As of March&nbsp;each year）</p>

	<div class="x_scroll">
	<table class="stdTb02 tb_013">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th colspan="2">2017</th>
				<th colspan="2">2018</th>
				<th colspan="2">2019</th>
				<th colspan="2"><span>2020</span></th>
				<th>2021</th>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<th>Number of Employees Taking Leave</th>
				<th>Number of Returnees</th>
				<th>Number of Employees Taking Leave</th>
				<th>Number of Returnees</th>
				<th>Number of Employees Taking Leave</th>
				<th>Number of Returnees</th>
				<th>Number of Employees Taking Leave</th>
				<th>Number of Returnees</th>
				<th>Number of Employees Taking Leave</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Benesse Style Care (full-time employees, specialists, associate employees)</th>
				<td>166</td>
				<td>126</td>
				<td>215</td>
				<td>177</td>
				<td>204</td>
				<td>192</td>
				<td>267</td>
				<td>236</td>
				<td>252</td>
			</tr>
			<tr>
				<th>Benesse Corporation (full-time employees, specialists, contract employees)</th>
				<td>94</td>
				<td>82</td>
				<td>89</td>
				<td>87</td>
				<td>67</td>
				<td>72</td>
				<td>56</td>
				<td>57</td>
				<td>52</td>
			</tr>
		</tbody>
	</table>
	</div>

	<ul class="small">
		<li class="idts">※Returnees：Persons who have returned to work by the institutional leave deadline of each company</li>
	</ul>
	</dd>
</dl>

<p class="right">（As of April each year）</p>

<dl class="sustaina_data margin">
	<dt class="ttl_strong">Number of Employees Taking Reduced Hours for Childcare Benesse Style Care and Benesse Corporation</dt>
	<dd>
	<div class="x_scroll">
	<table class="stdTb02 tb_014">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th><span>2017</span></th>
				<th><span>2018</span></th>
				<th><span>2019</span></th>
				<th><span>2020</span></th>
				<th><span>2021</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Benesse Style Care (full-time employees, specialists, associate employees)</th>
				<td class="center">137</td>
				<td class="center">161</td>
				<td class="center">230</td>
				<td class="center">230<sup>※</sup></td>
				<td class="center">280</td>
			</tr>
			<tr>
				<th>Benesse Corporation (full-time employees, specialists, contract employees)</th>
				<td class="center">128</td>
				<td class="center">109</td>
				<td class="center">124</td>
				<td class="center">76</td>
				<td class="center">50</td>
			</tr>
		</tbody>
	</table>
	</div>

	<ul class="small">
		<li class="idts">※In 2020, due to the spread of the COVID-19 pandemic, the time to return to work was delayed from that of regular years.</li>
	</ul>
	</dd>
</dl>

<dl class="sustaina_data margin expand">
	<dt class="ttl_strong">Number of Employees Receiving the Benesse Style Care Childcare Allowance</dt>
	<dd>
	<p class="shrink right">（As of May each year）</p>

	<table class="stdTb02 tb_015">
		<tbody>
			<tr>
				<th>2017</th>
				<td>314</td>
			</tr>
			<tr>
				<th>2018</th>
				<td>328</td>
			</tr>
			<tr>
				<th>2019</th>
				<td>415</td>
			</tr>
			<tr>
				<th>2020</th>
				<td>373<sup>※</sup></td>
			</tr>
			<tr>
				<th>2021</th>
				<td>414</td>
			</tr>
		</tbody>
	</table>

	<ul class="small">
		<li class="idts">※The decrease in 2020 is due to the effect of refraining from going to the kindergarten due to the spread of the COVID-19 pandemic.</li>
	</ul>
	</dd>
</dl>

<figure class="expand center res_img margin"><img alt="女性向けキャリア支援の主な取り組み" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/diversity_03_en.png" /></figure>

<div class="flex_txt_img expand flex_rev">
<figure class="flex_img res_img"><img alt="" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_04.png" /></figure>

<div class="flex_txt">
<p class="text">In April 2016, Benesse Corporation achieved the third rank (highest rank) in the designation system of the Act for Promoting Active Participation of Women in the Workforce. Companies receiving the third rank must meet the standards set by the Ministry of Health, Labour and Welfare for the five conditions of 1) recruitment, 2) work continuity, 3) working style including work hours, 4) ratio of women in management, and 5) diversity of career paths. Benesse is determined to promote its initiatives in this area even further going forward.</p>

<dl>
	<dt class="ttl_strong texth">Benesse Corporation Action Plan</dt>
	<dd class="text">Target period:April 1, 2020 to March 31, 2025</dd>
	<dt>Quantitative Targets</dt>
	<dd class="margin">
	<ul>
		<li class="idt">・Increase the percentage of women holding managerial positions (section&nbsp;managers or higher) to 39% or higher</li>
		<li class="idt">・Increase the percentage of men taking childcare leave (vacation and temporary leave) to 80% or higher</li>
	</ul>
	</dd>
	<dt>Details of the Initiatives</dt>
	<dd class="margin">
	<ul>
		<li class="idt">・Implementation of a program aimed at developing management-level employees, focusing on women. Looking into and implementing a program targeting key generations (ex. women before and after taking maternity leave (childcare leave))</li>
		<li class="idt">・Continued implementation of work style reforms<br />
		Decreasing overtime at headquarters. Review and continued implementation of PDS (promoting employees to take paid leave, establishing no-overtime days, promoting remote work, reviewing and expanding the remote work system, etc.)</li>
		<li class="idt">・Encouragement of childcare leave, targeting menNotifying employees of the childcare leave system, sharing encouragement to take leave, etc.</li>
	</ul>
	</dd>
</dl>

<p>(Reference) Ministry of Health, Labour and Welfare database website for companies promoting active participation of women (in Japanese): Benesse Corporation</p>

<ul class="relatedLinks">
	<li><a href="https://positive-ryouritsu.mhlw.go.jp/positivedb/detail?id=2157" target="_blank">https://positive-ryouritsu.mhlw.go.jp/positivedb/detail?id=2157【Japanese】</a></li>
</ul>
</div>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
