<div class="flex_txt_img">
<p class="flex_txt">The Benesse Group is working to create exciting, fulfilling workplaces where people of all abilities and disabilities can work together and make the most of their individual abilities and aptitudes. It is therefore an active employer of people with disabilities and maintains a high level of compliance with statutory employment rates. The Benesse Group as a whole aims to create an environment in which diverse individuals are accepted and employment of people with disabilities is completely normal.</p>

<figure class="flex_img"><img alt="障がい者の雇用を促進" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_05.jpg" /></figure>
</div>

<h3 class="titleLv3">Initiatives undertaken by Benesse Business Mate</h3>

<p class="text">Benesse Business Mate was established as a special-purpose subsidiary in 2005 to promote employment of people with disabilities by Benesse Corporation, Benesse Style Care, and other group companies.<br />
It was joined in 2016 by Benesse Socius, which was established as a Type A ongoing employment support business, creating further employment within the Group.</p>

<dl class="margin">
	<dt class="ttl_strong">● Vision and Role of Benesse Business Mate</dt>
	<dd>
	<table class="business_mate_tbl">
		<tbody>
			<tr>
				<th class="business_mate_tbl_vision">Vision</th>
				<td>Benesse Business Mate fulfills its role as a special-purpose subsidiary to employ people with disabilities while also being a self-sufficient company with competitive power in the market in its business areas, aiming to be an essential presence both for the Benesse Group and for society. This company will also play a role in supporting the employment of people with disabilities for the Benesse Group.</td>
			</tr>
			<tr>
				<th class="business_mate_tbl_part">Role</th>
				<td>
				<dl>
					<dt>●Advancing the employment of people with disabilities by Benesse</dt>
					<dd class="texth">Benesse Business Mate will&nbsp;be entrusted with new businesses and&nbsp;increase the number of colleagues working there. The goal is to create work styles and an environment where people with disabilities can work easily and be active.</dd>
					<dt>●Supporting Benesse&#39;s business</dt>
					<dd class="texth">As a shared service company of the Benesse Group that includes the Benesse Corporation, they will offer high-quality services and support business growth.</dd>
					<dt>●Creating a future for the employment of people with disabilities</dt>
					<dd>They will create a space where people with disabilities can work for the long term and will strive to create new work styles, widely contributing examples and knowledge to society and to the future of employment for people with disabilities.</dd>
				</dl>
				</td>
			</tr>
		</tbody>
	</table>
	</dd>
</dl>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-bizmate.jp/" target="_blank">Benesse Business Mate【Japanese】</a></li>
	<li><a href="https://www.benesse-socius.co.jp/" target="_blank">Benesse Socius【Japanese】</a></li>
</ul>

<h3 class="titleLv3">Results and Performance</h3>

<ul class="handicapped_employ_graph">
	<li class="handicapped_employ_graph_item"><img alt="State of Employment of People with Disabilities" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/diversity_06_en.png" /></li>
	<li class="handicapped_employ_graph_item"><img alt="RATIO OF EMPLOYEES WITH DISABILITIES" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/diversity_07_en.png" /></li>
</ul>

<h3 class="titleLv3">Benesse Joins The Valuable 500</h3>

<p class="text">As a Group, Benesse Holdings officially endorsed The Valuable 500, an international initiative that promotes the inclusive social advancement of people with disabilities, in March 2021. The Benesse Group is moving forward with action under its Sustainability Vision with the goal of creating a society where people with disabilities can participate and be active in social activities, an idea advocated by The Valuable 500.</p>

<dl>
	<dt class="diversity_commit_ttl">■The Benesse Group&#39;s Commitment</dt>
	<dd>
	<ol class="diversity_commit_list">
		<li class="text"><span>1. </span>Each company in the Benesse Group will create a space where people with disabilities can be active<br />
		The Benesse Group will establish workplaces where all employees can demonstrate their abilities and can actively work with purpose in a way that fits their aptitude and abilities. While doing so, the Group will actively promote the employment of people with disabilities and will continue to realize high statutory employment rates while also aiming for a corporate culture that accepts diverse human resources across the Group and a situation where the employment of people with disabilities becomes normal.</li>
		<li class="text"><span>2. </span>The Group will expand the scope of employment for people with disabilities while also offering employment to other people struggling to find employment<br />
		Benesse Socius was established as a welfare service company in 2016 and has been entrusted with and operates cleaning services at Benesse Style Care nursing facilities. They are expanding their wide-ranging employment of people with disabilities. They will also work to employ those without disabilities but who are struggling to find employment, in cooperation with the Tokyo Metropolitan Government.</li>
		<li class="text"><span>3. </span>&nbsp;The Benesse Group will actively share its initiatives in employing people with disabilities<br />
		The Group will actively share information with society about past employment initiatives for people with disabilities and hope to contribute towards the development of employment for these people throughout Japan
		<ul>
			<li>・Offering tours to about 1,000 people per year and accepting 100 trainees per year from&nbsp;affiliated companies, special support schools, welfare support organizations, etc.</li>
			<li>・Supplying lecturers and offering lectures of training for employment advisors for people with disabilities and other seminars</li>
		</ul>
		</li>
		<li class="text"><span>4. </span>The Benesse Group will consider people with disabilities in their educational material<br />
		Example 1: Considerations for people with disabilities in the GTEC English proficiency test<br />
		Aiming to contribute towards a society where all people can receive a fair education, the Group will continue to face the realities of students with disabilities head on and will continue to offer fair opportunities and examinations that can be evaluated fairly.
		<ul class="relatedLinks expand margin">
			<li>For more details＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/gtec.html">A Desire to Contribute to the Self-fulfillment of All Students with Special Considerations for People with Disabilities for GTEC【Japanese】</a></li>
		</ul>
		Example 2：Shinkenzemi Elementary School Course Developmental Disability Support Site to support educational concerns due to developmental disabilities<br />
		The Group offers consultations and responses with the Shinkenzemi online course offered by Benesse Corporation related to concerns from the guardians of children with or thought to have developmental disabilities, such as concerns about study troubles.
		<ul class="relatedLinks expand margin">
			<li>For more details:＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/hattatsu.html">Shinkenzemi Elementary School Course Developmental Disability Support Site to support educational concerns due to developmental disabilities【Japanese】</a></li>
		</ul>
		</li>
	</ol>
	</dd>
	<dt class="ttl_strong">（The Valuable 500）</dt>
	<dd>
	<p class="text">&nbsp;</p>

	<p class="text">Inaugurated at the World Economic Forum Annual Meeting (Davos Conference) in January 2019. It is a global network that aims to realize an inclusive society by promoting reforms that make our business inclusive by business leaders. The Valuable 500 aims to win the approval of 500 companies working to include people with disabilities.</p>

	<ul class="relatedLinks">
		<li><a href="https://www.thevaluable500.com/" target="_blank">The Valuable 500</a></li>
	</ul>
	</dd>
</dl>

<h3 class="titleLv3">External Evaluations and Awards</h3>

<div class="personnel_diversity s04">
<h5 class="ttl_strong texth">● Certification as a &quot;disability-friendly employer&quot;</h5>

<p class="texth">Benesse Business Mate was certified as a &quot;disability-friendly employer&quot; on March 29, 2018.<br />
This certification scheme is run by the Japan Association of Employers of Persons with Severe Disabilities (Zenjukyo) on behalf of the Ministry of Health, Labour and Welfare.</p>

<dl class="margin">
	<dt><img alt="障害者活躍企業" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_08.png" /></dt>
	<dd>In order to be certified as a disability-friendly employer, a company must meet the following conditions:<br />
	It must take active steps to provide working conditions to retain and support people with disabilities.<br />
	It must actively and continuously promote employment of people with disabilities.<br />
	It must be a trustworthy, good corporate citizen with whom people with disabilities can play active roles.<br />
	Companies are examined to determine whether they meet these conditions, and 21 companies around Japan have so far been certified. Benesse Business Mate will continue to promote the expansion of employment and retainment of people with disabilities within the Group.</dd>
</dl>

<h5 class="ttl_strong texth">●Outstanding Health and Productivity Management Company Certification</h5>

<dl class="margin">
	<dt><img alt="障害者活躍企業" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_09.png" /></dt>
	<dd>Benesse Business-mate, Inc. was jointly selected in the 2021 Certified Health &amp; Productivity Management Organizations Recognition Program (SMEs category) by the Ministry of Economy, Trade and Industry and Nippon Kenko Kaigi in March 2021.<br />
	They work to actively promote mental and physical health so that each and every employee with a disability can energetically work long-term.<br />
	In addition to conventional initiatives, they implemented new initiatives to prevent COVID-19 infections and to ensure the safety of employees in FY2020. They created an environment where many employees can work comfortably as usual by reducing employee anxiety and stress.
	<ul class="relatedLinks">
		<li class="idt">For more details＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/news/20210305_release2.pdf" target="_blank">News release【Japanese】</a></li>
	</ul>
	</dd>
</dl>

<h5 class="ttl_strong texth">● Other awards</h5>

<ul>
	<li>2013 to 2020: Received the Tokyo Award for Excellent Efforts in the Employment of People with Disabilities</li>
	<li>2020: Received the Okayama Prefectural Industrial Labor Department Director&#39;s Award</li>
	<li>Fiscal 2019: Received the Award of Excellence for Positive Examples of Employment of People with Disabilities</li>
	<li>2019: Received the Excellent Company Award for Employment of People with Disabilities</li>
	<li>2018: Recognized by Okayama City as an Independent Meritorious Company and by the Tokyo Metropolitan Government as a Company with Exceptional Skills</li>
	<li>2017: Received the Semi-Grand Prize in the Good Job Awards for Employment Support through Cooperation between Industry and Academia (in collaboration with Meisei University)</li>
	<li>Fiscal 2016: Received the Award of Excellence for Positive Examples of Employment of People with Disabilities</li>
</ul>
</div>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
