<div class="flex_txt_img">
<p class="flex_txt">ベネッセグループでは、障がいのあるなしにかかわらず、それぞれの能力・適性にあわせて能力を発揮しやりがいをもっていきいき働ける職場を整備しています。その中で、積極的に障がい者の雇用も進め、コンプライアンス（法定雇用率のクリア）を高いレベルで実現し続けるとともに、ベネッセグループ全体で多様な人材を受け入れられる風土、障がい者雇用もあたりまえになっている状態を目指しています。</p>

<figure class="flex_img"><img alt="障がい者の雇用を促進" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_05.jpg" /></figure>
</div>

<h3 class="titleLv3">株式会社ベネッセビジネスメイトでの取り組み</h3>

<p class="text">2005年、ベネッセグループの障がい者雇用を目的とした特定子会社であるベネッセビジネスメイトを設立し、ベネッセグループ各社での障がい者雇用を促進しています。さらに、2016年には新たに就労継続支援A型事業所として事業に取り組むベネッセソシアスを設立し、グループ内でのさらなる雇用を創出しています。</p>

<dl class="margin">
	<dt class="ttl_strong">● ベネッセビジネスメイトのビジョンと役割</dt>
	<dd>
	<table class="business_mate_tbl">
		<tbody>
			<tr>
				<th class="business_mate_tbl_vision">ビジョン</th>
				<td>ベネッセビジネスメイトは、障がい者雇用の特例子会社としての役割を果たしながら、その事業領域において市場競争力をもつ自立した会社となり、ベネッセグループや社会にとってなくてはならない存在となることをめざす。また、ベネッセグループ障がい者雇用支援の役割も果たしていく</td>
			</tr>
			<tr>
				<th class="business_mate_tbl_part">役割</th>
				<td>
				<dl>
					<dt>●ベネッセの障がい者雇用を推進する</dt>
					<dd class="texth">ベネッセビジネスメイトは新しい事業を受託し、仲間を増やしていきます。障がい者が働きやすく、活躍できる仕事のしかた、職場作りをめざします。</dd>
					<dt>●ベネッセの事業を支える</dt>
					<dd class="texth">ベネッセコーポレーションをはじめとしたベネッセグループのシェアードサービス会社として、品質の高いサービスを提供し、事業成長を支えていきます。</dd>
					<dt>●障がい者雇用の未来を育てる</dt>
					<dd>障がいのある人が長く働ける職場作り、新しい働き方にチャレンジし、その事例やノウハウを社会にも広く還元し、障がい者雇用の未来に貢献します。</dd>
				</dl>
				</td>
			</tr>
		</tbody>
	</table>
	</dd>
</dl>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-bizmate.jp/" target="_blank">ベネッセビジネスメイト</a></li>
	<li><a href="https://www.benesse-socius.co.jp/" target="_blank">ベネッセソシアス</a></li>
</ul>

<h3 class="titleLv3">雇用・活動実績</h3>

<ul class="handicapped_employ_graph">
	<li class="handicapped_employ_graph_item"><img alt="障がい者雇用状況" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_06.png" /></li>
	<li class="handicapped_employ_graph_item"><img alt="障害者雇用率推移" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_07.png" /></li>
</ul>

<h3 class="titleLv3">「The Valuable 500」に加盟</h3>

<p class="text">ベネッセホールディングスは障がい者のインクルーシブな社会進出を推進する国際的な活動である「The Valuable 500」に賛同し、2021年3月にグループとして署名を行いました。ベネッセグループはサステナビリティビジョンの下、「The Valuable 500」が提唱する「障がい者が社会的活動に参加し活躍できる社会づくり」を目指して活動を進めていきます。</p>

<dl>
	<dt class="diversity_commit_ttl">■ベネッセグループのコミットメント</dt>
	<dd>
	<ol class="diversity_commit_list">
		<li class="text"><span>1. ベネッセグループ各社で障がい者が活躍できる場を創出します</span><br />
		ベネッセグループでは、障がいのあるなしにかかわらず、それぞれの能力・適性にあわせて能力を発揮しやりがいをもっていきいき働ける職場を整備します。その中で、積極的に障がい者の雇用も進め、法定雇用率を高いレベルで実現し続けるとともに、ベネッセグループ全体で多様な人材を受け入れられる風土、障がい者雇用もあたりまえになっている状態を目指します。</li>
		<li class="text"><span>2. 障がい者雇用の範囲を拡大するとともに、障がい者以外の就労困難者の雇用も広げていきます</span><br />
		2016 年に福祉サービス会社である株式会社ベネッセソシアスを設立し、ベネッセスタイルケアの介護施設における洗濯業務を受託・運営し、幅広い障がい者雇用を拡大しています。さらに、東京都と連携して障がい者以外の就労困難者の雇用も目指していきます。</li>
		<li class="text"><span>3. ベネッセグループの障がい者雇用の取り組みを積極的に発信していきます</span><br />
		これまでの障がい者雇用の取り組みについて積極的に社会に発信し、日本全体の障がい者雇用の発展に貢献したいと考えています。
		<ul>
			<li>・対応企業や特別支援学校、福祉の支援機関など年間約1,000人の見学、年間100人の実習生の受け入れ</li>
			<li>・障害者職業生活相談員研修、その他セミナーでの講師・講演</li>
		</ul>
		</li>
		<li class="text"><span>4. 教材における障がい者への配慮</span><br />
		事例（1）：英語検定「GTEC」での障がい者への配慮<br />
		すべての人が平等な教育が受けられる社会に貢献することを目指し、これからも障がいのある生徒たちの実情に正面から向き合い、公平な機会と公正な評価ができる試験を提供し続けていきます。
		<ul class="relatedLinks expand margin">
			<li>事例詳細＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/gtec.html">すべての生徒の自己実現に貢献したい「GTEC」障がいのある方への特別な配慮</a></li>
		</ul>
		事例（2）：発達障害による学びの悩みをサポート「進研ゼミ小学講座 発達障害支援サイト」<br />
		ベネッセコーポレーションが提供する通信講座「進研ゼミ」にも発達障害や発達障害と思われる特性のお子さまの保護者のかたから、学習上の困難などのお悩みに関するご相談・お問い合わせにお応えしています。
		<ul class="relatedLinks expand margin">
			<li>事例詳細＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/2020/08/hattatsu.html">発達障害による学びの悩みをサポート「進研ゼミ 小学講座 発達障害支援サイト」</a></li>
		</ul>
		</li>
	</ol>
	</dd>
	<dt class="ttl_strong">（The Valuable 500とは）</dt>
	<dd>
	<p class="text">2019年1月の世界経済フォーラム年次総会（ダボス会議）にて発足。ビジネスリーダーが自社のビジネスをインクルーシブにする改革を推進することにより、インクルーシブな社会を実現することを目的としたグローバルなネットワークです。<br />
	「The Valuable 500」は、障がい者のインクリュージョンに取り組む企業 500 社の賛同を得ることを目指しています。</p>

	<ul class="relatedLinks">
		<li><a href="https://www.thevaluable500.com/" target="_blank">The Valuable 500</a></li>
	</ul>
	</dd>
</dl>

<h3 class="titleLv3">外部認証・表彰</h3>

<div class="personnel_diversity s04">
<h5 class="ttl_strong texth">● 「障がい者活躍企業」の認証</h5>

<p class="texth">ベネッセビジネスメイトは、2018年3月29日付けで「障がい者活躍企業」の認証を頂きました。<br />
これは、厚労省の委託を受けて全障協（公益社団法人全国障害者雇用事業所協会）が行っているものです。</p>

<dl class="margin">
	<dt><img alt="障害者活躍企業" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_08.png" /></dt>
	<dd>認証には
	<ul>
		<li class="idt">・障がい者の定着支援のための職場環境提供に向けた先進的な取組を実施していること</li>
		<li class="idt">・積極的継続的な障がい者雇用を推進していること</li>
		<li class="idt">・障がい者が活躍できる企業としての信頼性・社会性を兼ね備えていること</li>
	</ul>
	という企業であるかどうかの審査があり、2020年4月1日現在全国で58社が認証を受けています。ベネッセビジネスメイトでは、今後も当社グループ内外の障がい者雇用の拡大と定着推進に取り組んで参ります。</dd>
</dl>

<h5 class="ttl_strong texth">● 健康経営優良法人の認証</h5>

<dl class="margin">
	<dt><img alt="障害者活躍企業" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/diversity_09.png" /></dt>
	<dd>2021年3月に経済産業省と日本健康会議が共同選定した「健康経営優良法人2021」（中小規模法人部門）に認定されました。<br />
	障がいのある方一人ひとりが元気に長く働き続けるために、積極的に心と体の健康づくりに取り組んでいます。<br />
	2020年度は従来の取り組みに加え、新型コロナウイルス感染拡大予防、従業員の安全確保のための新たな取り組みを実施し、従業員の不安やストレスを抑え、多くの授業員が普段通りに元気に仕事ができる環境を整えました。
	<ul class="relatedLinks">
		<li class="idt">活動詳細＞＞　<a href="https://blog.benesse.ne.jp/bh/ja/news/20210305_release2.pdf" target="_blank">ニュースリリース</a></li>
	</ul>
	</dd>
</dl>

<h5 class="ttl_strong texth">● その他表彰など</h5>

<ul>
	<li>2013～2020年 東京都優秀勤労障害者努力賞受賞</li>
	<li>2020年 岡山県産業労働部長賞受賞</li>
	<li>2019年度 障害者雇用職場改善好事例優秀賞受賞</li>
	<li>2019年 東京都障害者雇用エクセレントカンパニー賞</li>
	<li>2018年 岡山市自立功労者表彰、東京都優秀技能者表彰</li>
	<li>2017年 Good Job！ Award 準大賞受賞「大学と企業の連携による就労支援」(明星大学とのコラボ）</li>
	<li>2016年度 障害者雇用職場改善好事例優秀賞受賞</li>
</ul>
</div>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>