<p class="text">Benesse Corporation and Benesse Style Care changed the age of compulsory retirement from 60 to 65. Over 3,000 employees over 60 work at Benesse Style Care, and about 50 employees over 60 work at Benesse Corporation.<br />
  The Benesse Group also announced the Benesse Health Declaration in 2018 to maintain and improve the health of our employees and their families based on our corporate philosophy of &ldquo;Benesse &ndash; Well-being,&rdquo; and we work to unify the company, employees, and insurance to promote health.<br />
  We also work to improve caregiving literacy within the Group, such as starting caregiving seminars in FY2013 to support the social issue of the compatibility of working and caregiving and distributing caregiving handbooks to 8,500 Group employees in FY2021.</p>
  
  <div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
