<p class="text">ベネッセコーポレーション、ベネッセスタイルケアは、正社員定年制度を60歳から65歳に延長しており、ベネッセスタイルケアでは3,000人以上、ベネッセコーポレーションでは約50人の60歳以上の社員が勤務しています。また、企業理念「Benesse=よく生きる」のもと、社員とそのご家族の健康維持向上に努める「ベネッセ健康宣言」を2018年に発信し、会社・社員・健保が一体となって健康づくりに取り組んでいます。併せて、社会課題となっている「仕事と介護の両立」へ支援すべく、2013年度に介護セミナーを開始、2021年度にはグループ従業員8,500人へ介護ハンドブックを配布するなど、グループ内の「介護リテラシー」向上にも取り組んでいます。</p>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>