<section class="section personnel_diversity s01">
<p class="text">The Benesse Group employs personnel of various nationalities due to its business expansion across many regions. Benesse Corporation mainly recruits and trains personnel in East Asia to meet the needs of its growing educational services business, while Berlitz Corporation recruits and trains in more than 70 countries (including direct and franchise operations). Through local job creation, the company contributes to the revitalization of the societies and economies of those regions.</p>

<h3 class="titleLv3 clear">Number&nbsp;of&nbsp;Employees&nbsp;in&nbsp;Domestic&nbsp;and&nbsp;Overseas&nbsp;Education&nbsp;Business&nbsp;Domains(FY2019 4Q)</h3>

<table class="stdTb02">
	<tbody>
		<tr>
			<th>Benesse Corporation China<br />
			Benesse Corporation GuangZhou<br />
			Benesse Consulting for Educational-Producing (Shenzhen) Co., Ltd.</th>
			<td class="right" style="text-align: right;">1,729</td>
		</tr>
		<tr>
			<th>Benesse Hong Kong Co., Ltd.</th>
			<td class="right" style="text-align: right;">9</td>
		</tr>
		<tr>
			<th>PT. Benesse Indonesia</th>
			<td class="right" style="text-align: right;">77</td>
		</tr>
		<tr>
			<th>Berlitz Corporation</th>
			<td class="right" style="text-align: right;">3,306</td>
		</tr>
		<tr>
			<th>Benesse GCA PTY LTD</th>
			<td class="right" style="text-align: right;">3</td>
		</tr>
	</tbody>
</table>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
