<section class="section personnel_diversity s01">
<p class="text">ベネッセグループでは、様々な地域での事業展開に伴い、多様な国籍の従業員を雇用しています。ベネッセコーポレーションでは、教育事業の拡大に応じて東アジアを中心に、またベルリッツ コーポレーションでは、直営・フランチャイズを含めると70以上の国と地域で、人財の採用・育成を行い、現地での雇用創出を通じて、その地域の社会・経済の活性化に貢献しています。</p>

<h3 class="titleLv3 clear">海外従業員数（国内および海外事業領域）※2020年度第4四半期</h3>

<table class="stdTb02">
	<tbody>
		<tr>
			<th>倍楽生商貿（中国）有限公司<br />
			広州倍楽生商貿有限公司<br />
			倍楽生教具技術諮詢（深セン）有限公司</th>
			<td class="right" style="text-align: right;">1,729</td>
		</tr>
		<tr>
			<th>Benesse Hong Kong Co., Ltd.</th>
			<td class="right" style="text-align: right;">9</td>
		</tr>
		<tr>
			<th>PT. Benesse Indonesia</th>
			<td class="right" style="text-align: right;">77</td>
		</tr>
		<tr>
			<th>Berlitz Corporation</th>
			<td class="right" style="text-align: right;">3,306</td>
		</tr>
		<tr>
			<th>Benesse GCA PTY LTD</th>
			<td class="right" style="text-align: right;">3</td>
		</tr>
	</tbody>
</table>
</section>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>