<section class="personnel_workplace section s02">
<p class="text">ベネッセグループでは2019年から本格的に健康経営をスタートさせました。社員および社員の家族の健康は会社の重要な資本であり、その健康管理は重要な経営課題の一つでもあります。<br />
産業保健に関するコンプライアンスや、社員の傷病等による労働力の損失などのリスクマネジメントとしてだけで「健康問題」をとらえるのではなく、企業理念「Benesse＝よく生きる」のもと「イキイキ・ワクワク」働ける職場づくりで社員の持っている能力を最大限に引き出すことが、ひいては「人の人生をより素晴らしくするサービス」を追求し、お客様や地域・社会から支持される「なくてはならない企業」につながるよう、会社・社員・健保が一体となって健康づくりに取り組んでいます。</p>

<h3 class="titleLv3">「ベネッセグループ健康宣言」の発信</h3>

<p class="text">2018年1月に「ベネッセグループ健康宣言」を発信し、従業員の健康の分野でもNO.１を目指しています。</p>

<div class="boxLnks">
<dl>
	<dt>ベネッセグループ健康宣言</dt>
	<dd>
	<p class="text">ベネッセグループは、企業理念「Benesse=よく生きる」のもと、社員とそのご家族の健康維持向上に努めることを宣言いたします。</p>

	<ul>
		<li>社員一人ひとりの心身の健康維持向上に努め、「イキイキ・ワクワク」働ける職場づくりを目指します</li>
		<li>私たちは社員本人だけでなく、そのご家族を含めた心身の健康づくりをサポートします</li>
		<li>社員とそのご家族の健康を増進し、働き方改革や医療費削減など、地域・社会からの期待に応えます</li>
		<li>｢人の人生をより素晴らしくするサービス」を追求し、お客さまや地域・社会から支持される「なくてはならない企業」となるために、会社・社員・健保が一体となって健康づくりに取り組みます</li>
	</ul>

	<div class="s02_2"><span><img alt="（株）ベネッセホールディングス 　代表取締役社長 安達　保" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_01.jpg" /></span>

	<p class="right"><span>（株）ベネッセホールディングス</span><br class="s02_2br" />
	<span>　代表取締役会長 CEO</span><br />
	安達　保</p>
	</div>
	</dd>
</dl>
</div>

<h3 class="titleLv3">健康経営を支える体制</h3>

<p class="text">ベネッセホールディングス 代表取締役会長 CEOが「最高健康責任者」（Chief Health Officer)となり、ベネッセホールディングスグループ人財本部に設置した「健康経営事務局」がグループ各社の人事・安全衛生担当と連携することで、グループ全体の健康施策を推進しています。</p>

<figure class="center"><span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_02.png" /></span></figure>

<h3 class="titleLv3">取り組み内容とその成果</h3>

<ul class="relatedLinks">
  <li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/pdf/health_management.pdf" target="_blank">健康経営の取り組みの全体像 (277KB)</a></li>
</ul>

<h4 class="titleLv4">■　取り組み詳細</h4>
 
<h4 class="titleLv4">【2020～2021年度】新しいワークスタイルを踏まえた健康セミナーを展開</h4>

<p class="texth">これまでの健康課題を踏まえたうえで、コロナ禍における健康意識の高まりと、在宅勤務など急速に拡大した新しいワークスタイル環境下の運動不足やストレスを新たな課題ととらえての施策を展開しました。<br />
短時間の運動習慣定着セミナーを、オンラインでリモート提供することでより広範囲の従業員の参加を実現し（2020年度：約900名、2021年度：約1,600人参加）、参加後アンケートでは約60％が健康を意識した行動変化を実感しています。<br />
また、女性向けの健康セミナーもオンラインにて開催し、生産性高く働くための生活習慣の改善にフォーカスした内容は好評で、着実に参加者を拡大しています（2020年度：135人、2021年度：212人参加）。<br />
こうした健康施策の推進等による効果の指標として、組織風土調査における「社員の働きがい」のスコア向上を目指しており現在の60％台から70％台への改善を志向しています。</p>

<div class="s02_3"><span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_03.jpg" /></span> <span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_04.jpg" /></span></div>

<h4 class="titleLv4">【2019年度】「女性の健康＆運動と食生活改善セミナー」で行動変容促進</h4>

<p class="texth">「健康スコアリングレポート｣※ やベネッセコーポレーションにおける健康意識調査の結果から、グループ内の健康課題を「食生活習慣の改善」と「女性社員の不定愁訴の低減」ととらえました。<br />
前者の課題解決に向けて、食生活の改善をテーマにした講義と実技も入れた形のセミナーを250人規模で計画、また後者の課題解決に向けて女性特有の疾患への予防や対応をテーマにしたオンラインセミナーも計画。日本国内はもちろん、海外からの受講も可能なグループの取り組みです。これらセミナー参加者に半年以上経過後にアンケートしたところ、70％近くが健康状態の改善につながる生活習慣の行動変化があったとの回答がありました。</p>

<p class="small">※健康保険組合等の加入者の健康状態や医療費、予防・健康づくりへの取り組み状況などをスコアリングして経営者に通知するレポート</p>

<h4 class="titleLv4">【2018年度】約300人が参加した「健康チャレンジキャンペーン」</h4>

<p class="text">チームや個人で設定した健康アクション（ダイエット、禁煙、ウォーキングなどの20コースから選択）を2か月間実施。ベネッセホールディングスのグループ人財部が事務局となり、担当役員も率先して参加する体制のなか、ベネッセコーポレーション、ベネッセスタイルケなどのグループ会社から約300人、23チームが参加しました。</p>

<p class="text">この結果体調、生活習慣、体重や血圧などの健診結果数値のいずれかへの改善が見られた人が参加者の73.8％に上りました。<br />
個人が100％のパフォーマンスを発揮するには、何よりも健康が重要。少しのきっかけが健康意識を変え、生活習慣の改善にもつながっていくことを、具体的なアンケートの結果や事例で改めて確認することのできた取り組みとなりました。</p>
</section>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>