<section class="personnel_workplace section s02">
<p class="text">The Benesse Group earnestly began health management in 2019. The health of our employees and their families is an important capital for the company. Health management is therefore one of our important management challenges.<br />
We do not see the issue of health only as a compliance issue concerning occupational health, nor do we see it only as a risk management issue such as the loss of labor through employees&rsquo; illnesses and injuries. Under our corporate philosophy of &ldquo;Benesse = Well-being&rdquo;, we believe that creating a work environment that enables our employees to work in a&nbsp;vigorous, enthusiastic way&nbsp;and making best use of their talent will ultimately make us an&nbsp;indispensable group of companies&nbsp;that seek to deliver&nbsp;services that enrich people&rsquo;s lives&nbsp;and that our customers, regions, and society as a whole can support. To attain this goal, our companies, employees, and health insurance cooperatives are all working as one to pursue better health.</p>

<p class="text">The Benesse Group announced the Benesse Group Health Declaration in January 2018 in our efforts to become the No.1 company in terms of employee health.</p>

<div class="boxLnks">
<dl>
	<dt>Benesse Group Health Declaration</dt>
	<dd>
	<p class="text">Driven by its corporate philosophy of &ldquo;Benesse = Well-being&rdquo;, the Benesse Group declares its commitment to working to maintain and promote the health of our employees and their families.</p>

	<ul>
		<li>We will work to maintain and promote the health of each and every employee in both mind and body and create environments that enable employees to work in an active, enthusiastic way.</li>
		<li>We will provide not only employees but also their families with support for improving their mental and physical health.</li>
		<li>We will strive to live up to the expectations of communities and society as a whole through a variety of measures, such as innovating workstyles and reducing medical expenses, as we promote the health of employees and their families.</li>
		<li>We will pursue better health through a far-reaching, collaborative effort, spanning our companies, employees, and health insurance cooperatives, in order to fulfill our aims of delivering services that enrich people&rsquo;s lives and embody an indispensable group of companies that customers, communities, and society as a whole can support.</li>
	</ul>

	<div class="s02_2"><span><img alt="（株）ベネッセホールディングス 　代表取締役社長 安達　保" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_01.jpg" /></span>

	<p class="right">&nbsp;</p>

	<p class="right">Benesse Holdings<br class="s02_2br" />
	<span>　</span>Representative Director and Chairman, CEO<br />
	Tamotsu Adachi</p>
	</div>
	</dd>
</dl>
</div>

<h3 class="titleLv3">Health Management Support Structure</h3>

<p class="text">The Benesse Group promotes group-wide health measures under a structure with the President of Benesse Holdings as Chief Health Officer and the Bureau of Good Health Management established in the Human Resources Division collaborating with human resources, safety, and health sections of each group member company.</p>

<figure class="center"><span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_02_en.png" /></span></figure>

<h3 class="titleLv3">Past Health Initiatives and Achievements</h3>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/health_management.pdf" target="_blank">Overall Picture of Health Management Efforts (134KB)</a></li>
</ul>

<h4 class="titleLv4">■ Details of Initiatives</h4>

<h4 class="titleLv4">[FY2020-2021] Developing Health Seminars Based on New Working Styles</h4>

<p class="texth">As new issues related to an increase in health awareness due to the pandemic with the lack of exercise, stress from working from home and in new working environments, as well as based on past health issues, we have developed new measures that have been quickly adopted.<br />
We were able to have a wider range of employees participate in short seminars on making exercises a habit by offering the seminars remotely online (FY2020: about 900 participants, FY2021: about 1,600 participants). About 60% of participants said in the post-seminar survey that they had made health-conscious behavioral changes.<br />
We are also holding women&#39;s health seminars online. The content, which focuses on improving daily habits to increase work productivity, has been well received and participants are steadily increasing. (FY2020: 135 participants, FY2021: 212 participants)<br />
We are aiming to improve our score, from the current 60% to 70% or higher, as an indicator of the effects of promoting these kinds of health measures on Employee Job Satisfaction in our Workplace Culture Survey.</p>

<div class="s02_3"><span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_03.jpg" /></span> <span><img alt="" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_04.jpg" /></span></div>

<h4 class="titleLv4">[FY2019] Seminar on improving women&rsquo;s health, exercise, and diet promotes change in behavior</h4>

<p class="texth">Based on the results of the Health Scoring Report* and a health awareness survey conducted by Benesse Corporation, we had identified the Group&rsquo;s health challenges as&nbsp;improving diets&nbsp;and&nbsp;reducing symptoms of general malaise of female employees.<br />
To resolve the first issue, we planned a seminar consisting of a lecture and practical training with the theme of improving a diet. For the second issue, we also planned an online seminar on the prevention and care of women&rsquo;s diseases. These are group-wide initiatives offered to employees in Japan as well as overseas. According to the results of a survey of the seminar participants conducted more than six months after the seminars, nearly 70% of the participants experienced positive change in their lifestyle habits that had led to a better health outcome.<br />
*The Health Scoring Report is a report on the physical condition, medical costs, prevention and health improvement efforts, and other health-related issues of the members of health insurance cooperatives and so on. Scores are given to the assessment results and management is notified of the results.</p>

<h4 class="titleLv4">[FY2018] Health Challenge Campaign with approximately 300 participants</h4>

<p class="text">The participating teams and individuals chose a healthy activity from 20 options, which included dieting, quitting smoking, and taking regular walks, and they continued this same activity for two months.&nbsp;The Group Human Resources Office at Benesse Holdings functioned as the secretariat of the Campaign, while the director in charge took the lead in participating in the Campaign. Approximately 300 employees and 23 teams participated from Benesse Corporation, Benesse Style Care, and other Group companies.</p>

<p class="text">As a result of the Campaign, 73.8% of the participants saw some improvement in their general wellness, lifestyle habits, weight, blood pressure levels, or other health statistics.<br />
Good health is the most important factor for individuals to fully unleash their potential. The survey results and the actual cases reconfirmed that a small trigger could change people&rsquo;s health awareness, leading to an improvement in their lifestyles.</p>
</section>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
