<p class="text">An environment where diverse human resources can unleash their abilities is a prerequisite for nurturing a corporate culture where each employee tries to improve by learning from others for their respective growth. The Benesse Group Principles state that &ldquo;We believe that before we become good business people, we must live as responsible members of society&hellip;&rdquo;. True to this sentiment, we have practiced the concept of work-life management for over ten years, respecting work as well as other areas of our employees&#39; lives.<br />
In addition, we continue to promote productivity improvement through the elimination of long working hours and the realization of a healthy work-life balance. Specifically, we manage appropriate working hours while also striving to pay employees more than the legally mandated minimum wage. In determining compensation, the personnel department offers payments on a standard that is above the legal standard while also&nbsp;observing laws and regulations.</p>

<h3 class="titleLv3">Promoting Diverse Work Styles</h3>

<p>（Benesse Corporation）</p>

<dl>
	<dt class="ttl_strong">●Promotion of Remote Work and Improvements in the Office Environment</dt>
	<dd class="margin">
	<p class="text">As a prevention measure against COVID-19, we revised our previous request-based remote work system.&nbsp;Our employees, in principle, now must work from home during the period when a state of emergency is declared. Even after the state of emergency ends, we recommend a combination of working from home and working in the office or working in staggered hours depending on their duties. Benesse Corporation also carried out a full renovation of their Tokyo headquarters in May 2021, aiming to create an office suitable for new work styles. They also abolished assigned seats based on an activity-based working (ABW) concept, where workers select the optimal location based on the work they are doing as a place to create value (joint creation) with the team. Spaces for team building and collaboration were also improved. This has lead to the realization of a hybrid work style with less than 50% of work done in the office, combining remote work and work in the office. In FY2020, 70% of employees at the Benesse Corporation worked from home.</p>

	<div class="social_office_various">
	<figure><img alt="在宅勤務促進とオフィス環境改善1" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_05.jpg" />
	<figcaption class="small">Introduce unassigned seating. Various spaces were prepared for selection and used based on work purpose. Open communication spaces were enhanced to&nbsp;ensure team work and a free and open environment, one of our&nbsp;strengths. The goal is to&nbsp;revitalize meetings and deepen communication.</figcaption>
	</figure>

	<figure><img alt="在宅勤務促進とオフィス環境改善2" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_06.jpg" />
	<figcaption class="small">Private booths with various specs were installed to be used for online meetings when in the office</figcaption>
	</figure>
	</div>
	</dd>
	<dt class="ttl_strong">●Super Flex Work</dt>
	<dd class="text">We set the standard working hours per day to 7 hours and each employee can decide when to begin and end work, between 7 am and 9 pm. We did not establish core time, and required work hours are given per month, with each employee determining how many hours they will work on a given day.</dd>
	<dt class="ttl_strong">●Reduced Working Hours</dt>
	<dd class="text">Employees can reduce their working hours to 5 or 6 hours per day until the end of March in the third year of elementary school for any child that is living with and being cared for by that employee. If the employee has a family member who requires caregiving, they can reduce their working hours to 5 or 6 hours per day generally for three years per family member.</dd>
</dl>

<p class="text">In addition to these programs, we keep employees from working long hours by promoting the use of paid holiday and by establishing no-overtime days, and we implement measures to ensure a healthy work-life balance through fair working hours.</p>

<h3 class="titleLv3">Paid Vacation and Temporary Leave System</h3>

<p>（Benesse Corporation）</p>

<dl>
	<dt class="ttl_strong">●Childcare Leave</dt>
	<dd class="text">A system for leave is applied before childbirth, after childbirth, and for childcare. In addition to the legally required time (until the child turns 1), we allow the leave period to be extended to either April 14 or September 14 after the child&#39;s first birthday (including the previous day and on that very day), whichever comes first. In addition to childcare leave payments, we supplement that with 33% of the normal pay for the first month after starting childcare leave.</dd>
</dl>

<div class="columnBox margin">
<div class="social_office_various_column">
<p class="ttl_strong">100% Paternity Leave Declaration</p>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="text">At Benesse Corporation, we introduced a childcare leave system in 1988 to prevent resignations due to pregnancy before the establishment of the Child Care and Family Care Leave Act, and since then, we have revised and operated this system based on opinions and actual utilization by employees for more than 25 years. We made our corporate message clear by making the first four weeks of childcare leave paid vacation time for both men and women so that it would be easier for women and men to take childcare leave if they so desired. We also plan to exchange information about the positive effects of childcare leave and eliminate career anxiety by holding symposiums for men who have taken childcare leave and those who want to and by sharing the details of these symposiums online. We want to continue to support the enrichment of employee work-life balance for the &quot;Benesse&quot; (Bene = good, esse = living) of all employees working here.</p>

<ul class="relatedLinks">
	<li><a href="https://work-life-b.co.jp/mens_ikukyu_100/" rel="noopener noreferrer" target="_blank">100% Paternity Leave Declaration【Japanese】</a></li>
</ul>
</div>

<figure class="flex_img"><img alt="小林　仁" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_07.jpg" />
<figcaption class="small">Benesse Corporation<br />
Representative Director and President<br />
Hitoshi Kobayashi</figcaption>
</figure>
</div>
</div>
</div>

<dl>
	<dt class="ttl_strong">●Nursing Care Leave</dt>
	<dd class="text">Employees with family members (conditions apply) who require nursing care can take leave generally for up to a year for each family member that requires nursing care whenever that family member is in a state where nursing care is required.</dd>
	<dt class="ttl_strong">●Benesse Vacation</dt>
	<dd class="text">We offer five to ten days of special paid leave based on years spent at the company. This is to raise our employees' ability to create value during work through improving organizational efficiency and productivity by expanding their perspectives through external life experiences and self-improvement.</dd>
	<dt class="ttl_strong">●Volunteer Leave</dt>
	<dd class="text">Employees can take 5 days of vacation time each year to participate in volunteer activities.</dd>
</dl>

<h3 class="titleLv3">Other Support Measures</h3>

<dl>
	<dt class="ttl_strong">●Childcare</dt>
	<dd class="text">
	<ul class="margin">
		<li>Symposiums with other company&#39;s employees for working mothers or soon-to-be working mothers</li>
		<li>Sharing company information and delivering messages online for employees on childcare leave</li>
		<li>Post-childcare leave training (accounts of the experiences of working mothers who took childcare leave previously)</li>
		<li>Information for working mothers on the Group portal website</li>
		<li>Development of a blog on the Group portal website (New Father&#39;s Blog/Veteran Father&#39;s Blog, etc.)</li>
	</ul>
	</dd>
</dl>

<dl>
	<dt class="ttl_strong">●Nursing Care</dt>
	<dd class="text">
	<ul>
		<li>Seminars on working while providing nursing care</li>
		<li>Distribution of handbooks on keeping a job while providing nursing care</li>
	</ul>
	</dd>
</dl>

<h4 class="titleLv4">Benesse Corporation<br />
Work-life Management Data (full-time employees)</h4>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="stdTb02 nowrap narrow">
	<tbody>
		<tr>
			<th colspan="2">Overtime work hours</th>
			<td class="right">38.2hours</td>
		</tr>
		<tr>
			<th colspan="2">Annual leave utilization rate</th>
			<td class="right">52%</td>
		</tr>
		<tr>
			<th colspan="2">Number of male employees taking childcare leave</th>
			<td class="right">5</td>
		</tr>
		<tr>
			<th colspan="2">Number of employees taking nursing care leave</th>
			<td class="right">1</td>
		</tr>
		<tr>
			<th rowspan="2">Average years of continuous service</th>
			<th class="subcell">Men</th>
			<td class="right">12.2</td>
		</tr>
		<tr>
			<th class="subcell">Women</th>
			<td class="right">13.0</td>
		</tr>
	</tbody>
</table>
</div>

<h4 class="titleLv4">Benesse Corporation<br />
	Data related to health (All employees, including full-time employees and contract employees)</h4>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
	<table class="stdTb02 social_vibrant_tbl01">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th class="stdTb02_th--date">2018</th>
				<th class="stdTb02_th--date">2019</th>
				<th class="stdTb02_th--date">2020</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Regular medical checkup receipt rate</th>
				<td class="right">99.7%</td>
				<td class="right">99.8%</td>
				<td class="right">100.0%</td>
			</tr>
			<tr>
				<th>Complete medical checkup receipt rate</th>
				<td class="right">62.0%</td>
				<td class="right">68.8%</td>
				<td class="right">61.5%</td>
			</tr>
			<tr>
				<th>Ratio of employees who maintain a desirable weight</th>
				<td class="right">71.3%</td>
				<td class="right">72.2%</td>
				<td class="right">68.7%</td>
			</tr>
			<tr>
				<th>Ratio of smokers</th>
				<td class="right">11.0%</td>
				<td class="right">11.2%</td>
				<td class="right">10.4%</td>
			</tr>
			<tr>
				<th>Ratio of employees who get sufficient sleep</th>
				<td class="right">58.9%</td>
				<td class="right">60.7%</td>
				<td class="right">67.9%</td>
			</tr>
			<tr>
				<th>Ratio of employees who exercise regularly</th>
				<td class="right">17.9%</td>
				<td class="right">18.9%</td>
				<td class="right">19.5%</td>
			</tr>
			<tr>
				<th>Ratio of employees who have (excessive) drinking habit*</th>
				<td class="right">14.8%</td>
				<td class="right">14.4%</td>
				<td class="right">11.1%</td>
			</tr>
		</tbody>
	</table>
</div>

<p class="idt">* Ratio of employees who drink excessively and who drink occasionally or everyday</p>

<p class="ttl_strong">Ref) Amount invested in the health promotion measures: 58,000 yen/employee (FY2020)</p>

<h3 class="titleLv3">Points of Contact for Consultations</h3>

<p class="text">Various consultation services have been established within the Benesse Group to support employees so that they can work in good health, both mentally and physically. We offer support in problem resolution through coordinating with industrial physicians, human affairs, and various supervising departments within the company and through introducing outside specialists and organizations.&nbsp;</p>

<dl class="margin">
	<dt>Examples:</dt>
	<dd>
	<ul>
		<li class="idt">・Outside consultation services (EAP＝Employee Assistance Program)</li>
		<li class="idt">・Harassment consultation services</li>
		<li class="idt">・24-hour medical and health consultation services</li>
		<li class="idt">・Private consultation services for work and nursing care</li>
		<li class="idt">・Consultation services for Benesse Group employees with disabilities</li>
	</ul>
	</dd>
</dl>

<div class="pageTop"><a class="scroll" href="#">back</a></div>
