<p class="text">多様な人財が活躍できる環境があるからこそ、お互いが切磋琢磨し、成長しあう企業風土も醸成されます。「ベネッセグループ行動指針」に「企業人である前に良き市民・よき社会人であるべきことを自覚し」と明文化されている通り、私たちは仕事（ワーク）と同時に仕事以外の生活（ライフ）も大切にし、「ワークライフマネジメント」の考え方を10年以上前から徹底しています。<br />
また、長時間労働を撲滅し、仕事と生活の健康的なバランスの実現によって生産性の向上に努めています。具体的には適正な労働時間管理を行うとともに、法定最低賃金以上の支払いに努めています。報酬の決定に当たっては、人事部門が法令を遵守しつつ、それを上回る水準での支払いを行っています。</p>

<h3 class="titleLv3">多様な働き方の推進</h3>

<p>（ベネッセコーポレーション）</p>

<dl>
	<dt class="ttl_strong">●在宅勤務促進とオフィス環境改善</dt>
	<dd class="margin">
	<p class="text">新型コロナウイルス感染症の予防対策を機とし、申請型であった従来の在宅勤務制度を改訂。緊急事態宣言発令期間は原則として在宅勤務、その後も個人の業務状況に合わせた出社/在宅のハイブリッド型勤務、および時差出社を推奨しています。また、ベネッセコーポレーション東京本部オフィスでは、新しい働き方にふさわしいオフィスを目指し、2021年5月に全面リニューアルを行いました。「チームでの価値創造（共創）を生み出す」場として、仕事の内容に応じて最適な場所が選べる「アクティビティー・ベースド・ワーキング（ABW）」の思想に基づき、固定席を廃止しフリーアドレス化。また、チームビルディングやコラボレーションスペースを拡充しました。これにより在宅勤務とオフィス出社を組み合わせ、出社率を5割以下とする「ハイブリッド型勤務」を実現しています。ベネッセコーポレーションの2020年度の在宅勤務制度利用率は70％でした。</p>

	<div class="social_office_various">
	<figure><img alt="在宅勤務促進とオフィス環境改善1" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_05.jpg" />
	<figcaption class="small">フリーアドレス制を導入。目的に合わせて選んで使えるスペースを複数用意。強みである自由闊達な風土やチームワークを大切にするため、オープンなコミュニケーションスペースを拡充。議論の活性化、コミュニケーションの深化を目指します</figcaption>
	</figure>

	<figure><img alt="在宅勤務促進とオフィス環境改善2" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_06.jpg" />
	<figcaption class="small">出社時のオンライン会議などに活用できるよう、様々な仕様の個人ブースを設置</figcaption>
	</figure>
	</div>
	</dd>
	<dt class="ttl_strong">●スーパーフレックス勤務</dt>
	<dd class="text">一日の勤務の目安となる標準労働時間を7時間とし、7：00～21：00の間で始業・終業時刻を各人が決定。コアタイムは定めず、また、一日の勤務時間も個人の裁量で決定し、1ヶ月単位で必要時間数を勤務しています。</dd>
	<dt class="ttl_strong">●時短勤務</dt>
	<dd class="text">同居、養育している社員のお子様が小学校3年の3月末まで、一日の所定労働時間を5時間または6時間のどちらかに短縮して勤務できます。また、介護を必要とするご家族がいる場合は、原則家族一人当たり3年間、1日の所定労働時間を5時間または6時間のどちらかに短縮して勤務が可能です。</dd>
</dl>

<p class="text">上記制度のほか、有給休暇取得促進やノー残業デーの設定など、長時間労働を抑制し、適正な労働時間の中でワークライフバランスを健全に保つための施策を行っています。</p>

<h3 class="titleLv3">休暇・休職制度</h3>

<p>（ベネッセコーポレーション）</p>

<dl>
	<dt class="ttl_strong">●育児休職</dt>
	<dd class="text">産前・産後休暇および育児休暇の制度を適用しています。お子様が1歳になるまでの法定期間に加え、1歳になった（誕生日の前日）直後（当日含む）の4月14日または9月14日のどちらか先に到来する日までの延長を認めています。また、育児休業給付金とは別に、育児休職開始後、最初の1ヶ月は基本給の33％を支給しています。</dd>
</dl>

<div class="columnBox margin">
<div class="social_office_various_column">
<p class="ttl_strong">【男性育休100％宣言】</p>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="text">ベネッセコーポレーションでは、育児介護休業法成立以前の1988年から、出産による退職を防ぐための育児休職制度を導入し、以降四半世紀以上にわたって社員の活用実態や意見を踏まえながら、制度を改定し運用しています。女性はもちろん、男性も希望する人が育児休職を取得しやすくなるように、男女かかわりなく育休の最初の4週間を有休化することで会社のメッセージを明確にしています。また、男性の育児休職経験者や今後に向けての希望者の座談会を実施したり、その内容をイントラネット上で共有したりすることで、育休のプラス効果の情報交換、キャリアへの不安の払しょくなども図ってきています。 当社で働く社員のBenesse(Bene=よく、esse=生きる)のためにも、今後も社員のワーク・ライフ・マネジメントの充実をサポートしていきたいと考えています。</p>

<ul class="relatedLinks">
	<li><a href="https://work-life-b.co.jp/mens_ikukyu_100/" rel="noopener noreferrer" target="_blank">男性育休100％宣言</a></li>
</ul>
</div>

<figure class="flex_img"><img alt="小林　仁" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_07.jpg" />
<figcaption class="small">ベネッセコーポレーション<br />
代表取締役社長<br />
小林　仁</figcaption>
</figure>
</div>
</div>
</div>

<dl>
	<dt class="ttl_strong">●介護休職</dt>
	<dd class="text">要介護状態にある家族（条件あり）を有する社員は、介護を必要とするご家族の方一人につき､原則として､通算1年の範囲内で、介護を必要とする状態に至るごとに取得することができます。</dd>
	<dt class="ttl_strong">●ベネッセ休暇</dt>
	<dd class="text">一定の勤続年数に応じて、会社外の生活体験による視野の拡大、 自己研鑽などから、 組織全体の業務効率化・生産性の向上による仕事の中での価値創造力アップを目的とした5日～10日の特別休暇を付与しています。</dd>
	<dt class="ttl_strong">●ボランティア休暇</dt>
	<dd class="text">ボランティア活動に参加する際に、年5日以内での休暇を取得することができます。</dd>
</dl>

<h3 class="titleLv3">その他支援施策</h3>

<dl>
	<dt class="ttl_strong">●育児</dt>
	<dd class="text">
	<ul class="margin">
		<li>ワーキングマザーおよびプレワーキングマザー向けの他社社員との座談会</li>
		<li>育児休職者に向けた、ウェブサイトでの会社情報の共有や連絡事項の発信</li>
		<li>育児休職後研修の実施（先輩ワーキングマザーの体験談等）</li>
		<li>グループポータルサイトでのワーキングマザー向け情報発信</li>
		<li>グループポータルサイトでのブログ展開（新米パパブログ/先輩パパブログ等）　など</li>
	</ul>
	</dd>
	<dt class="ttl_strong">●介護</dt>
	<dd class="text">
	<ul>
		<li>仕事と介護の両立セミナー</li>
		<li>仕事と介護の両立ハンドブックの配布　など</li>
	</ul>
	</dd>
</dl>

<h4 class="titleLv4">ベネッセコーポレーション<br />
ワーク・ライフ・マネジメント関連データ（正社員）</h4>

<div class="x_scroll">
<table class="stdTb02 nowrap narrow">
	<tbody>
		<tr>
			<th colspan="2">残業時間<br />
			（2021年3月期平均／月）</th>
			<td class="right">38.2時間</td>
		</tr>
		<tr>
			<th colspan="2">有休取得率<br />
			（2021年3月期平均／年間）</th>
			<td class="right">52%</td>
		</tr>
		<tr>
			<th colspan="2">男性の育児休職取得者数<br />
			（2021年3月期）</th>
			<td class="right">5人</td>
		</tr>
		<tr>
			<th colspan="2">介護休職取得者数<br />
			（2021年3月期）</th>
			<td class="right">1人</td>
		</tr>
		<tr>
			<th rowspan="2">平均勤続年数<br />
			（2021年3月期）</th>
			<th class="subcell">男性</th>
			<td class="right">12.2年</td>
		</tr>
		<tr>
			<th class="subcell">女性</th>
			<td class="right">13.0年</td>
		</tr>
	</tbody>
</table>
</div>

<h4 class="titleLv4">ベネッセコーポレーション<br />
健康関連データ（全社員　※正社員、契約社員含む）</h4>

<p class="right">各年3月期</p>

<table class="stdTb02 social_vibrant_tbl01">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th class="center"><span>2018年</span></th>
			<th class="center"><span>2019年</span></th>
			<th class="center"><span>2020年</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>定期健康診断受診率</th>
			<td class="right">99.7%</td>
			<td class="right">99.8%</td>
			<td class="right">100.0%</td>
		</tr>
		<tr>
			<th>精密検査受診率</th>
			<td class="right">62.0%</td>
			<td class="right">68.8%</td>
			<td class="right">61.5%</td>
		</tr>
		<tr>
			<th>適正体重維持者率</th>
			<td class="right">71.3%</td>
			<td class="right">72.2%</td>
			<td class="right">68.7%</td>
		</tr>
		<tr>
			<th>喫煙率</th>
			<td class="right">11.0%</td>
			<td class="right">11.2%</td>
			<td class="right">10.4%</td>
		</tr>
		<tr>
			<th>睡眠により十分な休養が取れている人の割合</th>
			<td class="right">58.9%</td>
			<td class="right">60.7%</td>
			<td class="right">67.9%</td>
		</tr>
		<tr>
			<th>運動習慣者比率</th>
			<td class="right">17.9%</td>
			<td class="right">18.9%</td>
			<td class="right">19.5%</td>
		</tr>
		<tr>
			<th>飲酒習慣者比率（適量を超えた）※</th>
			<td class="right">14.8%</td>
			<td class="right">14.4%</td>
			<td class="right">11.1%</td>
		</tr>
	</tbody>
</table>

<p class="idt">※頻度が時々または毎日かつ飲酒量が適量を超える人の割合</p>

<p class="ttl_strong">参考）健康推進施策の投資額：従業員1人当たり 5.8万円（2020年度）</p>

<h3 class="titleLv3">相談窓口</h3>

<p class="text">ベネッセグループでは、従業員が心身ともに健康に働けるようサポートするために各種相談窓口を設置しています。相談内容に応じ、産業医、人事、社内の各担当部署と連携したり、外部専門機関を紹介したりすることで問題解決をサポートします。</p>

<dl class="margin">
	<dt>（窓口例）</dt>
	<dd>
	<ul>
		<li class="idt">・外部相談窓口（EAP＝Emplyee Assistance Program）</li>
		<li class="idt">・ハラスメント相談窓口</li>
		<li class="idt">・24時間電話健康相談サービス</li>
		<li class="idt">・仕事と介護の個別相談窓口</li>
		<li class="idt">・ベネッセグループ障がい者配慮に関する相談窓口</li>
	</ul>
	</dd>
</dl>
<!--#include virtual="/inc/pagetop.html" -->