<p class="text">ベネッセグループでは、教育・介護など、とりわけ高い倫理感を求められる事業に取り組むことから、グループ従業員一人ひとりがコンプライアンスを理解し、正しく誠実な企業活動が行われるよう、風通しの良い職場づくりに努めています。<br />
一方で、こうした社員の気付きを会社へ確実に伝わる仕組みも運用し、日々の業務や職場の改善につなげています。</p>

<h3 class="titleLv3">組織風土調査</h3>

<p class="text">ベネッセグループでは、各社の組織と風土の現状を図るための全社員向けの調査を実施しています。<br />
グループや会社の経営、組織マネジメント、社員モチベーション、コンプライアンスの観点からなる調査に100%近い社員が回答し、その結果を経営層から各部門、それぞれのレイヤーにて分析し、経営や組織マネジメントに生かしています。社員一人ひとりの声を大切に聞き、明日に生かすこの取り組みがグループ内に根付いています。</p>

<figure class="res_img center"><img alt="社員の働きがいスコア" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_08.png" /></figure>

<h3 class="titleLv3">ベネッセグループ内部通報制度（スピークアップライン）の運用</h3>

<p class="text">ベネッセグループでは、違法または不正な行為、定款・社内規程に違反する行為を発見した場合に、迅速に相談・連絡を行うための内部通報制度として「スピークアップライン」を設置しています。</p>

<p class="text">この仕組みを適切に活用することによって、会社として様々な問題の予防や早期解決に取り組んでいます。</p>

<h3 class="titleLv3">新・提案制度 「B-STAGE」</h3>

<div class="flex_txt_img">
  <div class="flex_txt">
    <p class="text">ベネッセグループでは、従来より、従業員から広く提案を取り入れる取り組みを推進してきましたが、2021年度からは、ベネッセグループ従業員全員を対象とした新・提案制度「B-STAGE」を実施しています。</p>
    <p class="text">今のままでは解決できないお客様の課題、業務における課題や矛盾を1番感じられているのは、現場の一人ひとりの社員であり、これからのベネッセが「世の中になくてはならない存在」であり続けるため、経営と現場が一体となって解決に取り組む機会と位置付けています。</p>
    <p class="text">新しい事業アイデアを提案できる「新規事業提案部門」と日々の業務の改善点や気づきを提案できる「業務改革提案部門」があり、ベネッセグループの社員がチームに一人いれば、社外の方もご参加いただけます。</p>
    <p class="text">最終審査を通過した提案は次年度事業計画に反映します。初回となる2021年度は約1,800件の応募がありました。</p>
    <ul class="relatedLinks">
      <ul>
        <li><a href="https://www.benesse-hd.co.jp/ja/b-stage">ベネッセグループの新規事業・業務改革提案制度「B-STAGE」</a></li>
      </ul>
    </ul>
  </div>
  <figure class="flex_img"><img src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_12.png" alt="B-STAGEロゴ"></figure>
</div>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>