<p class="text">The Benesse Group&rsquo;s businesses, such as education and nursing care, require us to have a particularly strong sense of ethics. We work to create an open workplace so that each employee of the Group can understand compliance and the Group can conduct its corporate activities honestly and sincerely.<br />
We also have a structure that communicates this awareness of our employees to companies to improve our daily operations and workplaces.</p>

<h3 class="titleLv3">Study of Corporate Culture</h3>

<p class="text">The Benesse Group conducts a survey of all its employees to assess the present status of each company&rsquo;s organization and culture.<br />
Nearly 100 per cent of our employees participate in the survey that asks questions from the viewpoints of the business administration of the Group and companies, organizational management, employee motivation, and compliance. The results of the survey are analyzed at each layer from the management level to each business line and is utilized for business and organizational management. Designed to listen carefully to the voice of each employee and to utilize it for our future, the initiative has taken roots within the Group.</p>

<figure class="res_img center"><img alt="Employee Job Satisfaction Score" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_08_en.png" /></figure>

<h3 class="titleLv3">The Benesse Group Internal Reporting System (The Speak Up Line)</h3>

<p class="text">The Benesse Group has established the Speak Up Line as an internal reporting system for quick consultations and communications when an employee discovers an illegal or unfair action or an&nbsp;action that violates the Group&#39;s articles of incorporation or internal rules.</p>

<p class="text">We are working to prevent a variety of problems as a company and to solve problems quickly through making appropriate use of this system.</p>

<h3 class="titleLv3">B-STAGE, a new suggestion scheme</h3>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="text">In the past, the Benesse Group has promoted initiatives that widely incorporate suggestions from employees, and we began to implement a new suggestion scheme targeting all Benesse Group employees known as B-STAGE in FY2021.</p>

<p class="text">It is our on-site employees that can more easily sense customer dissatisfaction and/or business problems and inconsistencies. To continue being a necessary presence in the world, Benesse has positioned the fact that each employee is readily aware that these problems are an opportunity for management and the field to come together to solve these challenges.</p>

<p class="text">We have a New Business Proposal Department that can propose new business ideas and a Business Improvement Proposal Department that can suggest recommendations and points of improvement for the everyday work situation. Benesse Group employees and people from outside the company can join these teams.</p>

<p class="text">Business plans for the following year will reflect any proposals that pass final screening.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-hd.co.jp/ja/b-stage">The Benesse Group&#39;s new project, B-STAGE, a new suggestion scheme</a>【Japanese】</li>
</ul>
</div>

<figure class="flex_img"><img alt="B-STAGE Logo" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_12.png" /></figure>
</div>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
