<h5 class="titleLv4">● Recognized as a Certified Health &amp; Productivity Management Organization</h5>

<p>Under the Certified Health &amp; Productivity Management Organizations Recognition Program operated by the Ministry of Economy, Trade and Industry of Japan, three companies of the Benesse Group, namely, Benesse Holdings Inc., Benesse Corporation, and Tokyo Individualized Education Institute, Inc. were recognized for their health management efforts in the large enterprise category, while Benesse Business Mate, Inc. was recognized in the small to medium-sized enterprise category. The Program commends the following three initiatives of the Group: work-life management based on the corporate philosophy - “Benesse = Well-being” -, group-wide healthcare initiatives, and enhancement of staff in charge of maintaining and promoting health.</p>

<p class="text"><span><img alt="健康経営優良法人2020" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_09.jpg" /></span> <span><img alt="健康経営優良法人2020" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_10.jpg" /></span></p>

<p class="ttl_strong">【The Health & Productivity Management Organization Recognition Program】</p>

<p class="text">The Health &amp; Productivity Management Organization Recognition Program. The Certified Health &amp; Productivity Management Organization Recognition Program honors large-scale and small- and medium-scale companies that are conducting excellent health management based on the initiatives for regional health problems and the health promotion initiatives noted by Nippon Kenko Kaigi. By increasing the visibility of companies that engage in good health management, the scheme aims to develop an environment in which companies can be positively assessed by other members of society, including employees, job seekers, related companies, and financial institutions as companies that consider employee health management from a business management perspective and are engaged in strategic efforts for improving it.</p>

<dl>
	<dt class="titleLv4">● Obtained Eruboshi</dt>
	<dd class="flex_txt_img">
	<div class="flex_txt">Eruboshi certification is a system based on the Act for Promoting Active Participation of Women in the Workforce and is given to companies with excellent situations related to the promotion of women&#39;s participation that meet a certain standard. This certification is awarded by the Ministry of Health, Labour and Welfare. In April 2016, Benesse Corporation achieved the third rank (highest rank) in the designation system of the the Act for Promoting Active Participation of Women in the Workforce.</div>

	<figure class="flex_img"><img alt="えるぼしロゴ" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_11.png" /></figure>
	</dd>
</dl>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>