<p class="text">The Benesse Group develops human resources who can create a team that continues to change and grow by demonstrating leadership (a sense of ownership and independence) in an organization that has a complete customer orientation and trust with each other. In addition, in order to provide new value, we aim to create a condition where everyone can learn, feel growth, and foster a culture of learning.</p>

<h3 class="titleLv3">Program to Raise Leaders for the Next Generation</h3>

<p>We started the Next Generation Leader Development Program in 2010, focusing on the development of the next generation of top management who will lead the growth of the Group. Starting in FY2018, we started an initiative for the consecutive and systematic development for approximately 100 employees to become the next generation of management from each Group company.&nbsp;In addition to&nbsp;implementing this program&nbsp;following the development plans of selected candidates for training,&nbsp;temporary assignment to other organizations, and coaching, we regularly offer opportunities for top management to share information and conduct reviews from a variety of viewpoints. We also established Benesse University and open courses in FY2018 to develop young employees.<br />
Approximately 20 young employees selected from Group companies participate, and the five-month training program consists of lectures by senior managers and external instructors, a training camp on Naoshima island, and action-based learning that attempts to solve actual problems. Participants are trained to become proactive action-takers. By also establishing deeper connections through extensive interactions with each other, the participants establish cooperative working relationships that transcend the boundaries of their individual companies. These training efforts are ongoing, with the third year of the program in FY2020 taken online to prevent COVID-19 infections. Open courses, on the other hand, can be attended by all employees in the Group and are offered each year.<br />
These courses introduce the latest information from around the world on digitalization, AI, EdTech, and more. By offering a place where participants can connect this information with their own tasks, a willingness to grow is stimulated and intrinsic motivation is developed for each participant, leading to the development of a transformative corporate culture.</p>

<h3 class="titleLv3">A Culture of Learning</h3>

<p class="text">The Benesse Group aims to have employees actively work with a sense of growth while enjoying the process of increasing the value offered to our&nbsp;customers more than ever before through learning.&nbsp;With the idea of well-being, we are putting effort into developing a corporate learning culture that will lead to a sense of growth among all employees, which in turn will lead to the development of the company and business.</p>

<h5 class="titleLv4">●Offering Learning Opportunities for the Promotion of Digital Transformations</h5>

<p class="text">As digitalization rapidly progresses in the education industry, it is important for all employees, including IT-related departments, to learn digital skills and put them into practice. The Benesse Group has created the Digital Innovation Partners initiative to effectively utilize digital personnel both within and outside the company and to promote the digitalization of business. The Group also promotes the &quot;re-skilling&quot; of employees, offering learning to deepen digital knowledge through the introduction of the online Udemy platform within the company and more.</p>

<figure class="res_img center margin"><img alt="Offering Learning Opportunities for the Promotion of Digital Transformations" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/bringup_01_en.png" /></figure>

<dl class="bringup_dx_policy expand">
	<dt class="bringup_dx_policy_term bringup_dx_term">Development policy for digital transformation personnel</dt>
	<dd class="bringup_dx_policy_data">■ Encouraging employees&nbsp;to understand&nbsp;the organization&#39;s strengths, to improve themselves, and to take on challenges<br />
	■Preparing training for every job and skill level and developing the program while verifying the benefits</dd>
</dl>

<h5 class="titleLv4">Future Initiatives</h5>

<div class="bringup_dx_future flex_txt_img">
<div class="flex_txt">
<dl class="bringup_dx_future_txt">
	<dt class="bringup_dx_future_term bringup_dx_term">Job definition</dt>
	<dd class="bringup_dx_future_data">Defining jobs necessary for Benesse&#39;s digital transformation</dd>
</dl>

<dl class="bringup_dx_future_txt">
	<dt class="bringup_dx_future_term bringup_dx_term">Skill mapping</dt>
	<dd class="bringup_dx_future_data">Creating a skill map for each job and visualizing required skill levels</dd>
</dl>

<dl class="bringup_dx_future_txt">
	<dt class="bringup_dx_future_term bringup_dx_term">Assessment</dt>
	<dd class="bringup_dx_future_data">Considering objectivity and evaluations of market value, and utilizing outside assessments</dd>
</dl>

<dl class="bringup_dx_future_txt">
	<dt class="bringup_dx_future_term bringup_dx_term">Management</dt>
	<dd class="bringup_dx_future_data">Managing through the talent management system</dd>
</dl>
</div>

<figure class="flex_img"><img alt="ベネッセDX研修" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/bringup_02.png" /></figure>
</div>

<div class="bringup_dx_future flex_txt_img margin">
<div class="flex_txt">
<dl class="bringup_dx_future_txt">
	<dt class="bringup_dx_future_term bringup_dx_term">Training</dt>
	<dd class="bringup_dx_future_data">Utilizing Udemy and unique programs that make use of company precedent<br />
	※Number of Benesse Corporation employees enrolled in Udemy: 2,065 (93% of employees)</dd>
</dl>
</div>

<figure class="flex_img"><img alt="Udemy for Business" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/bringup_03.png" /></figure>
</div>

<div class="columnBox margin">
<div class="bringup_dx_selection_column">
<h5 class="ttl_strong margin">Selected as a Digital Transformation Certified Business Operator and Digital Transformation Stocks</h5>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="ttl_strong">●Digital Transformation Certified Business Operator</p>

<p class="text">We were certified as a Digital Transformation Certified Business Operator in May 2021 based on the digital transformation certification system as defined by the Ministry of Economy, Trade and Industry.</p>

<p class="text">Digital Transformation Certification System. This is a certification system based on the Act on Partial Revision of the Act on Facilitation of Information Processing that came into effect on May 15, 2020.<br />
With this system, certification is granted based on an application to business operators who understand the policies established by the government and are involved in satisfactory initiatives.</p>

<ul class="relatedLinks">
	<li><a href="https://blog.benesse.ne.jp/bh/ja/news/20210514release2.pdf" target="_blank">News release【Japanese】</a></li>
</ul>
</div>

<figure class="flex_img"><img alt="DX認定" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/bringup_04.png" /></figure>
</div>

<div class="flex_txt_img">
<div class="flex_txt">
<p class="ttl_strong">●&nbsp;Digital Transformation Stocks</p>

<p class="text">Our stocks were selected as Digital Transformation Stocks in June 2021 by the Ministry of Economy, Trade and Industry (METI) and the Tokyo Stock Exchange (TSE).</p>

<p class="text">Digital Transformation Stocks<br />
Together with TSE and as part of their initiatives to promote the utilization and application of strategic IT in Japanese companies, METI has selected companies that actively utilize and apply IT for innovation in management, along with improvements in profit standards and productivity to enhance medium- to long-term corporate value and strengthen competitiveness as Competitive IT Strategy Companies. Since 2020, they have also selected companies that are drastically innovating their business models on the basis of digital technology and are involved in digital transformations that will lead to new growth and greater competitiveness as Digital Transformation Stocks. For the Digital Transformation Stocks 2021, 28 companies were selected from among the 461 companies that entered (companies responding to the Digital Transformation Survey 2021), and of those, two companies were selected for the Digital Transformation Grand Prix.&nbsp;</p>

<ul class="relatedLinks">
	<li><a href="https://blog.benesse.ne.jp/bh/ja/news/20210607_release.pdf" target="_blank">News release【Japanese】</a></li>
</ul>
</div>

<figure class="flex_img"><img alt="DX銘柄2021ロゴ" class="img200" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/bringup_05.png" /></figure>
</div>
</div>
</div>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/digital/" target="_blank">The Benesse Group&#39;s Digital Transformation Strategy【Japnese】</a></li>
</ul>

<h5 class="titleLv4">●Offering a Space for Learning Within the Group</h5>

<p class="text">The Benesse Group, which offers services in education, nursing care, and many other fields, offers many opportunities for learning for employees in each business. In FY2021, a variety of learning opportunities have been offered within the Group, as we believe that knowledge can be enhanced while sharing spaces for learning because we are a Group that is strongly connected by our philosophy of well-being, even among different industries.</p>

<h3 class="titleLv3">Support for Skill Development and Career Advancement</h3>

<p class="text">We have established a variety of systems and opportunities beyond those listed above to support employees&#39; desire for improvement.</p>

<h5 class="ttl_strong">●Examples of Support Measures</h5>

<ul class="margin">
	<li class="idt">・Skill development point system: A system to support&nbsp;employees in gaining qualifications and improving their skills for&nbsp;self-development and skill improvement. Financial aid for learning and gaining qualifications (Benesse Corporation)</li>
	<li class="idt">・Introduction of Udemy, an online learning platform. Unrestricted access to courses (Benesse Corporation)</li>
	<li class="idt">・Level-based training, including basic business training (Benesse Corporation)</li>
	<li class="idt">・The Amazing System: an in-house qualification for nursing care expertise, started in October 2019. An allowance for this qualification is paid to employees who earn this expert qualification (177 employees were certified&nbsp;between FY2019 and FY2020) (Benesse Style Care)</li>
</ul>

<h5 class="ttl_strong">●Personal Skill Development and Business Management&nbsp;</h5>

<p class="text">We introduced management support tools to draw out each employee&#39;s potential naturally, and have established initiatives for personal skill development and business management. We have also implemented multidimensional performance appraisals (360-degree surveys) as initiatives towards improving management quality (Benesse Corporation)</p>

<h5 class="ttl_strong">●Group Open Recruitment</h5>

<p class="text">We offer opportunities for employees to apply for jobs at each Group company (up to one transfer between companies per year is allowed). The career experience gained by taking on the challenge of a new job while going beyond company borders and working at other companies is seen as an opportunity to contribute to personal growth.&nbsp;Successful applicants are determined through screening and interviews.</p>

<h5 class="titleLv4">Actual Training Expenses for Benesse Corporation Employees</h5>

<p class="right">Fiscal year ended March 31 of each year</p>
<table class="stdTb02">
	<tbody>
		<tr>
			<th>
			<div class="center">2018</div>
			</th>
			<th>
			<div class="center">2019</div>
			</th>
			<th>
			<div class="center">2020</div>
			</th>
			<th>
			<div class="center">2021</div>
			</th>
		</tr>
		<tr>
			<td class="center">160Million yen</td>
			<td class="center">127Million yen</td>
			<td class="center">142Million yen</td>
			<td class="center">110Million yen ※</td>
		</tr>
	</tbody>
</table>

<p class="idt small">※Decreased due to all training online due to the impact of the COVID-19 pandemic.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
