<h5 class="margin">（Benesse Corporation）</h5>

<ul class="margin">
	<li class="idt">1) Prioritize&nbsp;the observance of health and safety related laws and regulations and company standards, as well as safety and compliance</li>
	<li class="idt">2) Communicate with the company and employees and implement health and safety activities</li>
	<li class="idt">3) Strive to&nbsp;enhance health and safety awareness and&nbsp;awareness of disaster risk reduction through employee training</li>
</ul>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
