<h5 class="margin">（Benesse Corporation）</h5>

<dl class="margin">
	<dt>●Health and Safety Staff</dt>
	<dd class="texth">We promote measures for health and safety, appointing a senior heath and safety manager, a safety manager, and an industry physician at each base.</dd>
	<dt>●Health and Safety Committee&nbsp;</dt>
	<dd>Held to fulfill safety consideration obligations as a business through holding mutual talks between the company and employees and advancing the promotion of measures that match the actual situation in the workplace.​</dd>
</dl>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
