<h5 class="margin">（Benesse Corporation）</h5>

<p class="text">The Benesse Corporation works to reduce the lost time injury frequency rate through an understanding of information on work-related accidents.</p>

<table class="hygiene_tbl stdTb02 margin">
	<tbody>
		<tr>
			<th class="hygiene_th" rowspan="2">Lost Time Injury Frequency Rate</th>
			<th class="hygiene_th" scope="col">Fiscal 2018</th>
			<th class="hygiene_th" scope="col">Fiscal 2019</th>
			<th class="hygiene_th" scope="col">Fiscal 2020</th>
			<th class="hygiene_th" scope="col">Fiscal 2021</th>
		</tr>
		<tr>
			<td class="hygiene_td">1.41</td>
			<td class="hygiene_td">0.60</td>
			<td class="hygiene_td">0.59</td>
			<td class="hygiene_td">0.45</td>
		</tr>
	</tbody>
</table>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
