<h3 class="titleLv3">Employee Representation System</h3>

<p class="text">The Benesse Corporation has implemented an employee representation system that seeks opinions on employee representation when creating and changing labor-management agreements and work regulations.&nbsp;In each workplace, we recruit employee representation through candidacy and recommendations, conclude labor-management agreements and work regulations, and listen to opinions.</p>

<h3 class="titleLv3">Internal Reporting System</h3>

<p class="text">Complaints about health and safety or labor are received through the internal reporting system within the Group as needed.</p>

<ul class="relatedLinks margin">
	<li><a href="/en/themes/152#1019">The Benesse Group Internal Reporting System (The Speak Up Line)</a></li>
</ul>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
