<div class="materiality">
<ul class="flex_b flex_wrap">
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community01/"><span class="sustaina_pic"><img alt="Community-based education and nursing care" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_01.jpg" /></span> <span class="sustaina_txt"> <em>Community-based education and nursing care</em> <i>Through our education and nursing care businesses, we will conduct problem solving that suits the characteristics of each community.</i> </span> <b>Example Initiatives【Japanese】:</b> </a></li>
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community02/"><span class="sustaina_pic"><img alt="Global education with the locals" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_02.jpg" /></span> <span class="sustaina_txt"> <em>Global education with the locals</em> <i>By teaming up with local partners, we will deliver high quality education to the world while reflecting the characteristics of the region.</i> </span> <b>Example Initiatives【Japanese】:</b> </a></li>
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community03/"><span class="sustaina_pic"><img alt="Reinvigorating communities through art" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_03.jpg" /></span> <span class="sustaina_txt"> <em>Reinvigorating communities through art</em> <i>Through art and cultural activities, we will revitalize the power of the area and create an area where the local people can feel more satisfied.</i> </span> <b>Example Initiatives【Japanese】:</b> </a></li>
</ul>
</div>

<h3 class="titleLv3">Community-based education and nursing care</h3>

<p class="text">Through our education and nursing care businesses, we will conduct problem solving that suits the characteristics of each community.</p>

<h5 class="titleLv4">Example Initiatives:</h5>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="「すべての受験生の不安を安心に「ベネッセ 教育情報フォーラム」」" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_04.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">The Benesse Education Information Forum, Relieving the Anxiety of All Examinees</p>

<p>The COVID-19 pandemic has had a major impact on children&#39;s education with a lot  of anxiety and other issues remaining, especially in relation to entrance exams, which are a major turning point in a child&#39;s life.&nbsp;Aiming to reduce the worries and concerns of examinees across Japan facing their studies in these unusual times, we have been distributing the latest entrance exam information free of charge for each region separately for junior high school, high school, and university since September 2020.&nbsp;</p>

<p>Major Results as of April 2021</p>

<ul class="margin">
	<li>Seminars held: over 130</li>
	<li>Website views: 410,000</li>
	<li>Total video views: more than 1.2 million</li>
	<li>Total participants: 52,000</li>
	<li>Average satisfaction: 91.6%</li>
</ul>

<ul class="relatedLinks">
	<li><a href="https://benesse.jp/kyouiku/kyouikukaikaku/" rel="noopener noreferrer" target="_blank">The Benesse Education Information Forum【Japanese】</a></li>
</ul>
</div>
</div>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="「住み慣れた地域でいつまでも自分らしく　ベネッセパレット「ベネッセのおうちごはん」」" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_05.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">Be Yourself Where You&#39;ve Always Lived&nbsp;<br />
Benesse no Ouchi Gohan by Benesse Palette</p>

<p class="text">Making use of knowledge from the private retirement homes operated by Benesse Style Care, we deliver Benesse no Ouchi Gohan, meals which are the source of healthy living and vitality , to homes. With a desire to support seniors&#39; unique lifestyles in the local communities in which they live, we paid special attention to communication at the delivery point.&nbsp;We communicate with supervising care mangers or family as needed, supporting healthy lifestyles in the community.&nbsp;We also actively participate in the Mimamori framework, and currently have agreements with various Mimamori networks, including with Shinaga-ku, Suginami-ku, Nerima-ku, Bunkyo-ku, and Nakano-ku in Tokyo.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-palette.co.jp/" rel="noopener noreferrer" target="_blank">Benesse Palette【Japanese】 </a></li>
</ul>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community01/">See detailed examples of community-based education and nursing care【Japanese】</a></li>
</ul>
</div>

<h3 class="titleLv3">Global education with the locals</h3>

<p class="text">By joining hands with our local partners, we will deliver high quality education to the world, while reflecting local characteristics.</p>

<h5 class="titleLv4">Example Initiatives:</h5>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="Expansion of Kodomo Challenge into China, Solving National and Local Problems with Unchanging Ideas" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_06.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">Expansion of Kodomo Challenge into China, Solving National and Local Problems with Unchanging Ideas</p>

<p class="text">Shimajiro, the main character in Kodomo Challenge, is supporting over one million infants and their households in China using the name, Chaofu. We conduct business in China through business schemes with our local partners, and in 2007, we established an independent company in Shanghai that holds a license to sell published materials - a first for a Japanese company. With few ideas for educational materials that matched children&#39;s growth and development in the market originally, we greatly expanded to 1.1 million subscribers by successfully offering products for infants. Currently, we have expanded to 14 offices across China centered around our headquarters in Shanghai with offices in Beijing, Guangzhou, and Chengdu. We offer services that match the characteristics of customers and the educational problems in each area.</p>
</div>
</div>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="It Is Universal to Care About Children. Kodomo Challenge, Supporting the Future for Children from a Global and Local Point of View" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_07.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">It Is Universal to Care About Children. Kodomo Challenge, Supporting the Future for Children from a Global and Local Point of View</p>

<p class="text">In addition to being offered in Japan, Kodomo Challenge has been exported to Taiwan, China, South Korea, Hong Kong, Indonesia, and Thailand, with approximately 2 million subscribers worldwide. We introduced a standard global structure in FY2017 to offer quality educational content to infants and their households. We also began jointly developing learning materials, animation and movie contents with China in FY2019. The development-based curriculum was standardized globally, and content is created with culture and religion taken into consideration. Content is also created in cooperation with local partners, respecting the originality of each region and their language and cultural customs. Kodomo Challenge aims for a world where children, living in the future, can achieve well-being through everyone in the world from a global and local point of view.</p>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community02/">See detailed examples of global education with the locals【Japanese】</a></li>
</ul>
</div>

<h3 class="titleLv3">Reinvigorating communities through art</h3>

<p class="text">Through art and cultural activities, we will bring new energy to individual communities and create communities in which the locals can feel more satisfied.</p>

<h5 class="titleLv4">Example Initiatives:</h5>
<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="Benesse Art Site Naoshima, a Place that Embodies " benesse="Well-being&quot;&quot;" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_08.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">Benesse Art Site Naoshima, a Place that Embodies &quot;Benesse = Well-being&quot;</p>

<p class="texth">Benesse Holdings works to create communities where people can live good and happy lives based on the idea that our corporate philosophy of &quot;Benesse = well-being&quot; is created through good communities. Benesse Holdings and Fukutake Foundation are promoting the creation of good communities through the promotion of modern art and culture. The foundation&#39;s activities are mainly funded by Benesse Holdings&#39; dividends, which holds 8% of our stock, and our Group believes that realizing sustainable business growth and stable dividends will lead to continuous support for the community through the foundation.</p>

<ul class="relatedLinks margin">
	<li><a href="https://benesse-artsite.jp/en/" rel="noopener noreferrer" target="_blank">Benesse Art Site Naoshima</a></li>
</ul>
</div>
</div>

<div class="local_flex_img_txt">
<figure class="local_flex_img"><img alt="What is True Happiness? Joint Research by Benesse Art Site Naoshima and Okayama University" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_09.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">What is True Happiness? Joint Research by Benesse Art Site Naoshima and Okayama University</p>

<p class="texth">Okayama University, involved in SDG-related research, took notice of Benesse Art Site Naoshima and its many years of creating good communities through modern art. Together with Benesse Holdings, they began a joint research project in 2020 looking into the degree of happiness among island residents on Naoshima, Teshima, and Inujima islands. Specialists from Okayama University in economic policy and management strategy, medical experts on epidemiology and others participated, along with researchers focusing on changes to social systems. They will research the changes in the island’s medical care and island residents&#39; lifestyles and awareness through FY2022, with the aim to create policies for community creation. As society and people&#39;s values are greatly changing due to COVID-19, Benesse Art Site Naoshima&#39;s efforts are being reexamined as the Art Site has continued to create good communities. Meanwhile it has gained the attention of researchers from overseas for providing knowledge for drawing up new courses for the future of society.</p>

<ul class="relatedLinks">
	<li><a href="https://blog.benesse.ne.jp/bh/ja/news/20200923_release.pdf" rel="noopener noreferrer" target="_blank">Joint Press Release with Okayama University【Japanese】</a></li>
</ul>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community03/">See detailed examples of reinvigorating communities through art【Japanese】</a></li>
</ul>
</div>
<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
