<div class="materiality">
<ul class="flex_b flex_wrap">
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community01/"><span class="sustaina_pic"><img alt="地域に根ざす教育・介護" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_01.jpg" /></span> <span class="sustaina_txt"> <em>地域に根ざす教育・介護</em> <i>教育および介護事業を通じて、地域ごとの特性に合わせながら課題の解決を行う。</i> </span> <b>活動例を見る</b> </a></li>
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community02/"><span class="sustaina_pic"><img alt="世界の学びを現地と" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_02.jpg" /></span> <span class="sustaina_txt"> <em>世界の学びを現地と</em> <i>現地パートナーとタッグを組むことで、地域の特性を反映しつつ、世界中に豊かな学びを届ける。</i> </span> <b>活動例を見る</b> </a></li>
	<li><a class="over" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community03/"><span class="sustaina_pic"><img alt="アートによる地域再生" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_03.jpg" /></span> <span class="sustaina_txt"> <em>アートによる地域再生</em> <i>アート・文化活動を通じて、その地域にある力を活性化し、地元の人々が幸せを感じる地域を創る。</i> </span> <b>活動例を見る</b> </a></li>
</ul>
</div>

<h3 class="titleLv3">地域に根差す教育・介護</h3>

<p class="text">教育および介護事業を通じて、地域ごとの特性に合わせながら課題の解決を行います。</p>

<h5 class="titleLv4">【取り組み例】</h5>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="「すべての受験生の不安を安心に「ベネッセ 教育情報フォーラム」」" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_04.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">すべての受験生の不安を安心に「ベネッセ 教育情報フォーラム」</p>

<p>新型コロナウイルス感染症の流行は子どもたちの学びへの影響も大きく、特に子どもたちにとって大きなターニングポイントとなる「受験」に関し、様々な不安や課題が残されています。これまでとは異なる状況で勉強と向き合う日本中の受験生の困り・悩みを解消することを目指し、中・高・大などの学年別そして地域別に最新の入試情報などを2020年9月より無償で配信しています。</p>

<p>＜2021年4月時点での主な実績＞</p>

<ul class="margin">
	<li>セミナー実施回数：130回以上</li>
	<li>サイト訪問数：41万人</li>
	<li>のべ動画視聴回数：120万回以上</li>
	<li>のべ参加者数：5.2万人</li>
	<li>平均満足度：91.6%</li>
</ul>

<ul class="relatedLinks">
	<li><a href="https://benesse.jp/kyouiku/kyouikukaikaku/" rel="noopener noreferrer" target="_blank">ベネッセ教育情報フォーラム</a></li>
</ul>
</div>
</div>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="「住み慣れた地域でいつまでも自分らしく　ベネッセパレット「ベネッセのおうちごはん」」" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_05.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">住み慣れた地域でいつまでも自分らしく<br />
ベネッセパレット「ベネッセのおうちごはん」</p>

<p class="text">ベネッセスタイルケアが運営している有料老人ホームでの知見を生かし、健康的な暮らしと活力の源である食事「ベネッセのおうちごはん」をご自宅にお届けしています。「住み慣れた地域コミュニティでの、いつまでも自分らしい生活」を応援したいという想いで、配達先でのコミュニケーションを大切にしてきました。必要に応じて、担当のケアマネジャーやご家族の方とも連絡を取り、地域における健やかな生活を支援しています。各自治体の「見守り」の仕組みにも積極的に参加し、現在、品川区、杉並区、練馬区、文京区、中野区との各見守りネットワーク等に関する協定を結んでいます。</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-palette.co.jp/" rel="noopener noreferrer" target="_blank">ベネッセパレット</a></li>
</ul>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community01/">「地域に根ざす教育・介護」事例を詳しく見る</a></li>
</ul>
</div>

<h3 class="titleLv3">世界の学びを現地と</h3>

<p class="text">現地パートナーとタッグを組むことで、地域の特性を反映しつつ、世界中に豊かな学びを届けます。</p>

<h5 class="titleLv4">【取り組み例】</h5>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="変わらない想いで国・地域に沿った課題解決を　「こどもちゃれんじ」の中国展開" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_06.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">変わらない想いで国・地域に沿った課題解決を＜こどもちゃれんじ＞の中国展開</p>

<p class="text">＜こどもちゃれんじ＞のメインキャラクター「しまじろう」は、中国で100万人以上の幼児とそのご家庭に「巧虎（チャオフー）」として支持されています。中国では、現地のパートナーとスキームを組んで事業を行っており、2007年には、日本企業で初めて出版物販売の資格を持つ独資現地法人を上海に設立。子どもの成長発達に合わせた教材という概念が少なかった中で、月齢商品の提供などが奏功し、会員数110万人にまで大きく発展しました。現在では、上海本部、北京、広州、成都の４拠点を中心に、自社による全国計14拠点を展開し、各エリアのお客様特性、教育課題などに合わせたサービスの提供を行っています。</p>
</div>
</div>

<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="子どもを想う気持ちは世界共通。 グローバル・ローカル両方から子どもたちの未来を支援する＜こどもちゃれんじ＞" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_07.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">子どもを想う気持ちは世界共通。 グローバル・ローカル両方から子どもたちの未来を支援する＜こどもちゃれんじ＞</p>

<p class="text">＜こどもちゃれんじ＞は、日本のほかに台湾、中国、韓国、香港、インドネシア、タイに進出し、全世界に約200万人の会員が存在しています。幼児とその家庭に良質な教育コンテンツを提供するために2017年度よりグローバルスタンダードの仕組みを導入。2019年度より日中共同開発にも取り組んでいます。発達に基づくカリキュラムは世界で共通化し、文化・宗教などに配慮して制作する一方、言葉や文化的習慣などは、地域の独自性を重んじ、現地パートナーと協業して制作しています。＜こどもちゃれんじ＞は、グローバル、ローカル両方の観点から、未来を生きる「子どもたち」が「世界中みんな」で「よく生きる」ことができる世界を目指しています。</p>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community02/">「世界の学びを現地と」事例を詳しく見る</a></li>
</ul>
</div>

<h3 class="titleLv3">アートによる地域再生</h3>

<p class="text">アート・文化活動を通じて、その地域にある力を活性化し、地元の人々が幸せを感じる地域を創ります</p>

<h5 class="titleLv4">【取り組み例】</h5>
<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="「Benesse=よく生きる」を具現化した場所　ベネッセアートサイト直島" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_08.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">「Benesse=よく生きる」を具現化した場所　ベネッセアートサイト直島</p>

<p class="texth">ベネッセホールディングスは、企業理念である「Benesse＝よく生きる」は「よい地域から生まれる」という考えのもと、人々がよい人生、幸せな生活を送ることができるコミュニティづくりに取り組んでいます。ベネッセホールディングスと公益財団法人福武財団は、現代アートや文化振興による「よい地域づくり」を推進しています。財団の活動は、約8%保有する当社株式の配当を主な運営資金にしており、当社グループがサステナブルな事業成長を実現し、安定的に配当を行うことが財団を通じた継続的な地域支援につながると考えています。</p>

<ul class="relatedLinks margin">
	<li><a href="https://benesse-artsite.jp/" rel="noopener noreferrer" target="_blank">ベネッセアートサイト直島</a></li>
</ul>
</div>
</div>

<div class="local_flex_img_txt">
<figure class="local_flex_img"><img alt="「本当の幸せとは何か？」ベネッセアートサイト直島と岡山大学が共同研究" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_09.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">「本当の幸せとは何か？」ベネッセホールディングスと岡山大学が共同研究</p>

<p class="texth">ベネッセアートサイト直島が永年続けてきた現代アートによる「よい地域づくり」にSDGs研究を行う岡山大学が着目し、ベネッセホールディングスと共に、直島、豊島、犬島を対象とした島民の幸福度などを検証する共同研究が2020年より開始されました。岡山大学からは経済政策や経営戦略、疫学などの医療問題の専門家のほか、社会システム変革の研究者の方々が参加。2022年度まで島の医療や生活、島民の意識の変化を調べ、地域づくりの指針を作ることを目指します。新型コロナウイルスの感染拡大により社会や人々の価値観が大きく変わる中で、「よい地域づくり」を続けてきたベネッセアートサイト直島の取り組みが改めて見直されており、海外の研究者からも「将来の社会の新たな針路を描くための知見をもたらす」などと注目されています。</p>

<ul class="relatedLinks">
	<li><a href="https://blog.benesse.ne.jp/bh/ja/news/20200923_release.pdf" rel="noopener noreferrer" target="_blank">岡山大学との共同リリース</a></li>
</ul>
</div>
</div>

<div class="local_button">
<ul>
	<li><a class="local_btn_link" href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/community03/">「アートによる地域再生」事例を詳しく見る</a></li>
</ul>
</div>
<!--#include virtual="/inc/pagetop.html" -->