<p class="text">The Benesse Group works to solve social problems through its businesses, which are supported by our many stakeholders, and we are also involved in education support for the children of the future and support for the creation of good communities centered around education, culture, and art.</p>

<p class="text">Visit the link below for more details.</p>

<ul class="relatedLinks margin">
	<li><a href="/en/themes/141#984">Communication with Stakeholders &gt; Activities through foundations</a></li>
</ul>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
