<div class="local_flex_img_txt margin">
<figure class="local_flex_img"><img alt="Benesse Sailing Team" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_10.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">Benesse Sailing Team</p>

<p class="texth">The Benesse Sailing Team was founded in 1997. The team has been taken up as a corporate sport&nbsp;entity since 2000.</p>

<ul class="relatedLinks">
	<li><a href="https://benesse-sailing.jp/" rel="noopener noreferrer" target="_blank">Benesse Sailing Team【Japanese】</a></li>
</ul>
</div>
</div>

<div class="local_flex_img_txt margin expand">
<figure class="local_flex_img"><img alt="Fagiano Okayama Football Club" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/local_11.jpg" /></figure>

<div class="local_flex_txt">
<p class="ttl_strong">Fagiano Okayama Football Club</p>

<p class="text">Benesse Holdings and Benesse InfoShell have continued to support Fagiano Okayama, a J League Club active in Okayama, as a club sponsor, as these two companies were founded in Okayama. We completely agree with the principles behind the activities Fagiano Okayama takes (&quot;Giving Dreams to Children!&quot;), and work to promote sports and the local area through our support.</p>
</div>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
