<p class="text">After the Great East Japan Earthquake, we introduced a salary deduction donation system for any employees who wanted to participate. We began a matching program, where the company donates the same amount of money. We continue to offer matching gifts not only for disaster relief but also for donations from employees to our public foundation working to solve social problems for children (Benesse Foundation for Children). We also offer a volunteer leave system for employees.</p>

<ul class="relatedLinks margin">
	<li><a href="https://www.benesse-hd.co.jp/en/sustainability/mirai/" target="_blank">Benesse Brighter Future for Children Booster Project</a></li>
</ul>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
