<table class="stdTb02 margin">
	<tbody>
		<tr>
			<th>Total expenses for social action programs (Fiscal 2021)</th>
			<td class="right">163million JPY</td>
		</tr>
		<tr>
			<th>Of which are donations</th>
			<td class="right">163million JPY</td>
		</tr>
	</tbody>
</table>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
