<section class="section">
<p class="text">（ベネッセコーポレーション）</p>

<p class="text idt">■ベネッセコーポレーションでは、<a href="https://www.benesse-hd.co.jp/ja/about/philosophy.html">グループの企業理念（Benesse＝よく生きる）と行動指針</a>、<a href="/ja/themes/152">人権方針</a>、<a href="/ja/themes/147">環境方針</a>に基づいて事業活動を展開しています。安心・安全で高品質な商品・サービスを提供できるサプライチェーンを、パートナー企業の皆様と協働で構築してまいります。</p>

<p class="text idt">■ベネッセコーポレーションでは、事業活動における影響が広範囲であることを常に意識し、社会的責任経営を推進しています。パートナー企業の皆様と共に、国際的な法令やガイドラインを遵守し、倫理的な行動を徹底してまいります。</p>

<ol class="supply_procure_ol">
	<li>私たちは、公正・公平な調達取引を推進します。</li>
	<li>私たちは、安心・安全を重視した商品を提供し続けます。</li>
	<li>私たちは、サプライチェーンにおける情報管理とセキュリティの徹底に取り組みます。</li>
	<li>私たちは、常にお客様の期待を上回る品質の商品やサービスを追求し続けます。</li>
	<li>私たちは、環境負荷を軽減したサプライチェーンの構築と、 人権を尊重した行動、労働安全衛生への配慮に努めます。</li>
	<li>私たちは、信頼関係に基づき、共に成長・発展できるパートナーシップを構築します。</li>
</ol>
</section>
