<section class="section">
<p class="text">(Benesse Corporation)</p>

<p class="text idt">■ The Benesse Corporation develops its business activities based on <a href="https://www.benesse-hd.co.jp/en/about/philosophy.html">the Group Corporate Philosophy (Benesse = Well-being), Group Principles</a>, <a href="/en/themes/152">Human Rights Policy</a>, and <a href="/en/themes/147">Environmental Policies</a>. We will create a supply chain that can deliver high-quality products and services safely and securely in cooperation with all of our corporate partners.</p>

<p class="text idt">■ We are constantly aware of the fact that the impact of our business activities is widespread, and that we promote socially responsible management. Together with all of our corporate partners, we comply with international laws, regulations, and guidelines and ensure that we are taking ethical action.</p>

<ol class="supply_procure_ol">
	<li>We promote procurement transactions that are just and fair</li>
	<li>We will continue to offer products that are both safe and secure</li>
	<li>We will work to be thorough with supply chain information management and security</li>
	<li>We will continue to seek out quality products and services that always go beyond customer expectations</li>
	<li>We will work to create a supply chain with reduced environmental impact, take actions that respect human rights, and consider industrial health and safety</li>
	<li>We will create partnerships that allow for mutual growth and development based on relationships of trust</li>
</ol>
</section>
