<section class="section">
<p>（ベネッセコーポレーション）</p>

<h3 class="titleLv3">サプライチェーンマネジメントの担当領域</h3>

<p class="text">ベネッセコーポレーションにおける、製品・商品サービスの提供および販売活動に必要となる、原材料・部品調達から、製造、在庫管理、配送まで一連のサプライチェーンを構築する領域を、事業基盤本部・SCM部が主管部門として担当しています。</p>

<h3 class="titleLv3">推進体制</h3>

<p class="text">主管部門であるSCM部を中心に、ベネッセコーポレーションの「購買管理規程」「権限規程」に基づき、推進しています。</p>

<dl class="margin">
	<dt>●「購買管理規程」</dt>
	<dd class="text">ベネッセコーポレーションにおけるすべての購買業務の基本、取引先管理、購買業務の手続き等を定めており、的確で公正な管理と運用を図り、経営効率の向上を推進しています。</dd>
	<dt>●「権限規程」</dt>
	<dd>権限規程に基づく決裁によって、以下の内容等を決定しています。
	<ul>
		<li class="idt">・全社の資材購入、製造委託、配送、在庫管理に対する方針</li>
		<li class="idt">・取引における購買区分、購買方法</li>
		<li class="idt">・購買取引先、取引条件、価格等</li>
	</ul>
	</dd>
</dl>


<h3 class="titleLv3">バリューチェーン委員会</h3>

<p class="text">経営層と事業基盤本部で、事業戦略を踏まえた中長期の視点で、バリューチェーンの重点課題について、リスク分析を踏まえた重点テーマを選定の上、検討を行っています。</p>

<p>【重点テーマ例】</p>

<ul>
	<li class="idt">・感染症・自然災害リスクに対するBCP</li>
	<li class="idt">・サステナビリティの推進（環境配慮素材への切替、リサイクル推進など）　など</li>
</ul>

<h4 class="titleLv4">≪推進体制図≫</h4>

<figure class="res_img center margin"><img alt="推進体制図" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/supply_01.png" /></figure>

<h4 class="titleLv4">≪定期監査のPDCA（例：海外での製造）≫</h4>

<figure class="res_img center margin"><img alt="≪定期監査のPDCA（例：海外での製造）≫" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/supply_02.png" /></figure>

</section>
