<section class="section">
<p>(Benesse Corporation)</p>

<h3 class="titleLv3">Scope of Supply Chain Management Supervision</h3>

<p class="text">We promote supply chain management based on the Benesse Corporation&#39;s Purchasing Management Regulations and Authority Regulations, with the focus of supervision being the Supply Chain Management Department.</p>

<h3 class="titleLv3">Promotional Framework</h3>

<p class="text">The SCM Department, which is the main division, is in charge of promoting the supply chain management framework based on Benesse Corporation&#39;s &quot;Purchasing Management Regulations&quot;.</p>

<dl class="margin">
	<dt>●Purchasing Management Regulations</dt>
	<dd class="text">The foundation for all purchasing, management of transactions, and procedures in procurement at the Benesse Corporation have been defined. We work for fair and accurate management and operations, and promote improvements in operational efficiency.</dd>
	<dt>●Authority Regulations</dt>
	<dd>We have established the following through decisions based on Authority Regulations:
	<ul>
		<li class="idt">・Policies for material purchasing, manufacturing agreements, shipping, and storage management for all companies</li>
		<li class="idt">・Purchase sorting and purchasing methods for transactions</li>
		<li class="idt">・Purchasing trade partners, transaction conditions, price, etc.</li>
	</ul>
	</dd>
</dl>

<h3 class="titleLv3">Value Chain Committee</h3>

<p class="text">Management and the main business departments investigate major issues in the value chain to select priority themes based on risk analysis from a medium to long-term perspective based on our business strategy.</p>

<p>【Examples of Priority Themes】</p>

<ul>
	<li class="idt">・Business continuity plans for risks of infectious diseases and natural disasters</li>
	<li class="idt">・Promotion of sustainability (switch to environmentally-conscious materials, promotion of recycling, etc.)</li>
</ul>

<h4 class="titleLv4">≪Promotional Framework Diagram≫</h4>

<figure class="res_img center margin"><img alt="Promotional Framework Diagram" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/supply_01.png" /></figure>

<h4 class="titleLv4">≪PDCA for regular audits (ex. overseas manufacturing)≫</h4>

<figure class="res_img center margin"><img alt="PDCA for regular audits (ex. overseas manufacturing)" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/supply_02.png" /></figure>
</section>
