<section class="section">
<p>(Benesse Corporation)</p>

<h3 class="titleLv3">Just and Fair Procurement Transactions</h3>

<p>The Benesse Group Risk Management and Compliance Regulations have affirmed their legal compliance with fair trade and fairness in competition. We ensure justice and fairness through transactions based on the Benesse Corporation&#39;s Purchasing Management Regulations and the Supply Chain Management&#39;s Purchasing Management Outline.</p>

<h3 class="titleLv3">Putting Safety and Security First</h3>

<p class="text">Based on the Benesse Corporation Product Safety Policy, we have established procurement standards for paper and materials for teaching aids and toys as well as product safety standards for manufacturing. Specifically, we strictly prohibit the use of materials that impact the environment and have established an inspection system to do so.</p>

<h4 class="titleLv4">●Benesse Corporation Product Safety Initiatives</h4>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/anzen/index.html" target="_blank">The Five Safety and Security Activities</a>【Japanese】</li>
</ul>

<ol class="supply_init_activity_list">
	<li>Ensure an understanding of materials</li>
	<li>Control substances that are harmful to the environment and to the human body</li>
	<li>Work to prevent accidents by imagining use scenarios</li>
	<li>Third party checks</li>
	<li>Work to make improvements together with affiliated companies</li>
</ol>

<h3 class="titleLv3">Full Enforcement of Information Management</h3>

<p class="text">We meticulously manage and utilize the information we handle based on our Policy on Personal Information and our Management Guidelines for Outsourced Personal Information so that entrusted companies can safely carry out their work. We also check the status of the implementation of the information management at entrusted companies annually and carry out outsourced auditing as a major process to identify and improve issues.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/privacy/index.html" target="_blank">Initiatives to Protect Personal Information</a>【Japanese】</li>
</ul>

<h3 class="titleLv3">Reducing Environmental Burden</h3>

<p>We are consistently working from a procurement and logistics point of view in all of our processes to make the supply chain one that is environmentally-conscious, based on the Benesse Group&#39;s <a href="/en/themes/147">Environment Policies</a>. We promote actions on low-waste product specifications, environmentally conscious procurement, improvements in the accuracy of production numbers. We also work with our corporate trade partners to evaluate environmental initiatives, efficient shipping methods, etc.<br />
At our main logistics hub, the Benesse Logistics Center, we are engaged in actions to reduce CO2.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/kankyo/office/logistics_center.html" rel="noopener noreferrer" target="_blank">Actions to Reduce CO2 at the Benesse Logistics Center</a>【Japanese】</li>
</ul>

<h3 class="titleLv3">The Respect of Human Rights and Consideration of Industrial Health and Safety</h3>

<p class="idt text">●The Benesse Group has declared its support for <a href="/en/themes/170">the UN Global Compact</a>.</p>

<ul class="margin">
	<li class="idt">・We regularly carry out factory audits, mainly with our overseas suppliers, based on the Global Compact.</li>
	<li class="idt">・We hold supplier meetings with contracted factories producing  teaching aids and toys to promote the understanding and implementation of our policies.</li>
</ul>

<p class="idt text">●We carry out <a href="/en/themes/152#1016">human rights assessments</a> based on the Benesse Group Human Rights Policy.</p>

<ul class="margin">
	<li class="idt">・We continuously confirm that if each employee involved in the procurement process is carrying out their everyday work sound manner while respecting human rights.</li>
</ul>

<p class="idt text">●We support the promotional actions of the White Logistics Movement and have released a statement about our own actions.</p>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://white-logistics-movement.jp/wp-content/themes/white-logistics/docs/declarations/01566.pdf" rel="noopener noreferrer" target="_blank">White Logistics Action Declaration</a>【Japanese】</li>
</ul>

<h3 class="titleLv3">Partnerships with Corporate Trade Partners</h3>

<p class="text">We have offered a Partnership Building Declaration to create strong, sustainable partnerships through the prosperous coexistence of the entire supply chain, the creation of new values, and desirable business transactions with subcontractors.</p>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://www.biz-partnership.jp/declaration/776-16-00-okayama.pdf" rel="noopener noreferrer" target="_blank">Partnership Building Declaration</a>【Japanese】</li>
</ul>
</section>
