<section class="section">
<p>（ベネッセコーポレーション）</p>

<h3 class="titleLv3">公正・公平な調達取引</h3>

<p>「ベネッセグループ リスクマネジメント・コンプライアンス規程」において、「公正な取引、公正な競争に関する法令の遵守」を定めており、ベネッセコーポレーションの「購買管理規程」と「SCM領域購買管理要領」に基づく取引により、公正・公平を担保しています。</p>

<h3 class="titleLv3">安心・安全の最優先</h3>

<p class="text">ベネッセコーポレーションの<a href="https://www.benesse.co.jp/anzen_katsudo/" target="_blank">「商品安全ポリシー」</a>を踏まえ、紙及び教具・玩具の原材料の調達基準、製造における製品の安全基準を定め、特に、環境影響のある素材の使用禁止を厳格に規定し、検査体制を整えています。</p>

<h4 class="titleLv4">●ベネッセコーポレーションの商品安全への取り組み</h4>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/anzen/index.html" target="_blank">安心・安全5つの活動</a></li>
</ul>

<ol class="supply_init_activity_list">
	<li>原材料の把握の徹底をします</li>
	<li>環境や人体によくない物質を制限します</li>
	<li>使用シーンを想像し、事故の防止に努めます</li>
	<li>第三者チェックも行います</li>
	<li>ベネッセコーポレーション、関係会社が一体で改善に取り組みます</li>
</ol>

<h3 class="titleLv3">情報管理の徹底</h3>

<p class="text">委託先の皆様が安全に業務を遂行できるよう、ベネッセコーポレーションの「個人情報保護方針」および「個人情報委託先管理ガイドライン」に基づき、取り扱う情報を徹底して管理したうえで運用をすると共に、年に1回、委託先企業での情報管理の実施状況を確認し、課題を発見・改善する重要なプロセスとして「委託先監査」を実施しています。</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/privacy/index.html" target="_blank">個人情報保護の取り組みについて</a></li>
</ul>

<h3 class="titleLv3">環境負荷の軽減</h3>

<p>ベネッセグループの<a href="/ja/themes/147">環境方針</a>に基づき、全ての過程において、環境に配慮したサプライチェーンになるよう、調達・物流の観点から一貫して取り組んでいます。無駄の少ない製品仕様、環境に配慮した調達の推進、製作数の精度向上などの活動を推進しています。また、環境への取り組みの評価や効率的な配送方法など、取引先企業と協働して取り組んでいます。<br />
主力の物流拠点であるベネッセ・ロジスティクス・センターではCO2削減活動に取り組んでいます。</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse.co.jp/kankyo/office/logistics_center.html" rel="noopener noreferrer" target="_blank">ベネッセ・ロジスティクスセンターのCO2削減活動</a></li>
</ul>

<h3 class="titleLv3">人権の尊重・労働安全衛生への配慮</h3>

<p class="idt text">●ベネッセグループは、<a href="/ja/themes/170">「国連グローバルコンパクト」</a>の支持を宣言しています。</p>

<ul class="margin">
	<li class="idt">・グローバルコンパクトの観点を踏まえた工場監査を、海外の調達先を中心に定期的に実施しています。</li>
	<li class="idt">・教具玩具の生産委託工場とのサプライヤーミーティングを実施し、方針理解や実践を促進しています。</li>
</ul>

<p class="idt text">●ベネッセグループ人権方針を踏まえた<a href="/ja/themes/152#1016">「人権アセスメント」</a>を実施しています。</p>

<ul class="margin">
	<li class="idt">・調達業務に携わる社員一人ひとりが人権を尊重し日々の業務を健全に遂行していることを、継続的に確認しています。</li>
</ul>

<p class="idt text">●「ホワイト物流」推進運動に賛同し自主行動宣言を開示しています。</p>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://white-logistics-movement.jp/wp-content/themes/white-logistics/docs/declarations/01566.pdf" rel="noopener noreferrer" target="_blank">ホワイト物流自主行動宣言</a></li>
</ul>

<h3 class="titleLv3">取引先企業とのパートナーシップ</h3>

<p class="text">サプライチェーン全体の共存共栄と新たな価値創造、下請業者との望ましい取引慣行により、強固で持続可能なパートナーシップを構築をするために、「パートナーシップ構築宣言」を行っております。</p>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://www.biz-partnership.jp/declaration/776-16-00-okayama.pdf" rel="noopener noreferrer" target="_blank">パートナーシップ構築宣言</a></li>
</ul>
</section>
