<dl>
	<dt class="ttl_strong">1. Corporate Philosophy and Information Security</dt>
	<dd class="text">The Benesse Group empowers people to solve issues for themselves and to enjoy life to the fullest at every stage by offering them the tools and support they need to create well-being.&nbsp;Our Group&#39;s efforts to assure information security are essential in achieving this goal, demonstrating a vital concern in management and operation of each Group company.<br />
	The Benesse Group aims to achieve a first-class global security level, and has established an information security management system to effectively implement information security management.</dd>
	<dt class="ttl_strong">2. Protection of Personal and Significant Information&nbsp;</dt>
	<dd class="text">The Benesse Group believes that our customers&#39; personal information, our business partners&#39; information that we maintain on a contract basis, and company trade secrets including such information are particularly significant. When we receive personal information, we respect the customer&#39;s intentions and handle this information based on the customer&#39;s consent. In order to protect significant information, we establish and implement appropriate management measures governing confidentiality, integrity, and availability. In particular, we build a security structure for the database containing our customers&#39; personal information that includes controls limiting those with access rights, including&nbsp;outsourcers.</dd>
	<dt class="ttl_strong">3. Compliance and Conforming to Standards</dt>
	<dd class="text">Benesse Group companies comply with laws and regulations regarding information security and privacy protection. In light of business expansion to several overseas countries, we adopt international standards for information security management, and ensure that each company&#39;s governing regulations comply with international standards. If a Group employee commits a violation, we investigate the cause to prevent recurrence, and severely punish those involved in the breach.</dd>
	<dt class="ttl_strong">4. Continuous Improvement</dt>
	<dd class="text">The information security environment is constantly changing. To address these changes, the Benesse Group continually improves its information security management practices. In addition, we constantly endeavor to cope with emerging vulnerabilities, understanding that unaddressed vulnerabilities increase risks to information security.</dd>
	<dt class="ttl_strong">5. Training</dt>
	<dd class="text">The Benesse Group implements training on information security for executives and employees of all Group companies, believing that complete understanding and participation by everyone in an organization is essential to information security management. In addition, we conduct effective enrichment activities, such as measures to ensure understanding and improve awareness.</dd>
</dl>

<p class="right text">(April 1, 2015)</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
