<p class="text">We manage the plans and status of the enforcement of information security and protection of personal information through the Compliance Security Headquarters, led by an executive CRO. An information security chief is appointed in&nbsp;each operating company to implement and promote information security. We have created a system to promote information security, plans to respond to emergencies, and steps to respond to incidents. We have also established an information security surveillance committee as an outside organization. We aim to create world-class information security by being regularly audited by outside experts.</p>

<h3 class="titleLv3">Emergency Response</h3>

<p class="text">The Benesse Group has established a reporting route and has created a system to quickly take appropriate action when responding to incidents in an emergency.</p>

<p class="text">Employees who discover any anomalies in information security or the handling of personal information or who have received a report of an abnormality from a contractor quickly report to the head of their department. The department head then quickly reports to the Information Security Reporting Office or the Emergency Case Reporting Office (the Benesse Group Hotline). A situation-dependent direct reporting route to the Emergency Case Reporting Office by the person who discovered the abnormality has also been established for reporting emergency cases that are especially urgent. The Compliance Security Headquarters gathers the information and reports the overall status of the incident to the president of Benesse Holdings while also establishing a system to take appropriate measures for the issue that has arisen.</p>

<h3 class="titleLv3">Information Security Surveillance Committee</h3>

<p class="text">The Information Security Surveillance Committee regular checks data, system operation and maintenance, appropriate security standards for date usage and management, the state of the establishment of rules on usage and management, corresponding standards in Group companies and the state of compliance of rules, etc. within the Benesse Group. Our mission is to make fair decisions from the customer&rsquo;s point of view, including taking necessary measures for improvement. The committee was established on October 15, 2014, and regularly meets once every quarter. Checks are continuously implemented by outside experts. Members are made up of outside experienced academics who are authorities on information security and the protection of personal information, and they also offer suggestions on how to further strengthen&nbsp;our information security.</p>

<p class="ttl_strong">Information Security Surveillance Committee Members (FY2021)</p>

<table class="security_org_tbl1">
	<colgroup>
		<col width="20%" />
		<col width="80%" />
	</colgroup>
	<tbody>
		<tr>
			<td>Committee Chair</td>
			<td>Ryoichi Sasaki</td>
		</tr>
	</tbody>
</table>

<table class="security_org_tbl2">
	<colgroup>
		<col width="25%" />
		<col width="2%" />
		<col width="73%" />
	</colgroup>
	<tbody>
		<tr>
			<td>Current position</td>
			<td>&hellip;</td>
			<td>Advisor and visiting professor at Tokyo Denki University&#39;s Center for Research Collaboration, Honorary president of the Japan Society of Security Management, Director and advisor at the Institute of Digital Forensics, Fellow at the Information Processing Society of Japan, Chief information security advisor at the Board of Audit of Japan</td>
		</tr>
		<tr>
			<td>Career summary</td>
			<td>&hellip;</td>
			<td>Graduated from University of Tokyo in March Joined Hitachi, Ltd. in April 1971. Engaged in research into reliable system technology, security technology, and network management systems at the systems development lab. Appointed as head of the 4th department at the lab (network department), security system research center head, and chief researcher. Moved to Tokyo Denki University in April 2001, assuming the role of professor and Doctor of Engineering (University of Tokyo). He was also appointed as a cyber security aide to the Cabinet Secretariat.</td>
		</tr>
		<tr>
			<td>Awards received</td>
			<td>&hellip;</td>
			<td>IPSJ Outstanding Paper Award, IPSJ Contribution Award, IEEJ Distinguished Paper Award, Ministry of Internal Affairs and Communications Minster&#39;s Award, Information Security Culture Award, etc.</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table class="security_org_tbl3">
	<colgroup>
		<col width="20%" />
		<col width="20%" />
		<col width="60%" />
	</colgroup>
	<tbody>
		<tr>
			<td>Committee Member</td>
			<td>Atsuo Inomata</td>
			<td>Professor, Osaka University of Office for Information Security</td>
		</tr>
		<tr>
			<td>Committee Member</td>
			<td>Tetsutaro Uehara</td>
			<td>Professor, Ritsumeikan University College of Information Science and Engineering</td>
		</tr>
		<tr>
			<td>Committee Member</td>
			<td>Harumichi Yuas</td>
			<td>Professor, Meiji University of Governance Studies, Graduate School</td>
		</tr>
	</tbody>
</table>

<p class="bc-sb-p">（Honorific titles omitted）</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
