<h3 class="titleLv3">System and Environmental Improvements</h3>

<p class="text">We continue our initiatives to strengthen the operation and monitoring of our systems and to strengthen our system security with technological measures based on the latest information so that our customers will feel safe and have the confidence in Benesse to entrust their personal information to us. We also take advice from and are audited by outside experts and LAC Co., Ltd, the most trusted information security company in Japan. We are working to have the world&#39;s greatest information security.</p>

<h5 class="titleLv4">■Strengthening system security measures</h5>

<p>New technologies arise every day in our internet-based society. We are implementing measures from the following viewpoints and work to continuously improve.</p>

<ul class="margin">
	<li>Security measures in system operations (improving alert functions that detect abnormalities, etc.)</li>
	<li>Measures to prevent malware infections (implementation of a strict access system from inside to outside the network, etc.)</li>
	<li>Measures to protect the communications network (pertinent changes to network configuration, interception of external access, etc.)</li>
	<li>Access control to the system and information (Making authorization stricter and strengthening management of IDs and passwords, etc.)</li>
</ul>

<h5 class="titleLv4">■Strengthening our security environment</h5>

<p class="text">We continue to implement measures to strengthen our security environment to realize the world&#39;s highest level of security. The following are some specific examples.</p>

<dl>
	<dt class="ttl_strong">1) Strengthening checks through metal detectors</dt>
	<dd class="text">We perform stringent checks at the entrances and exits of the locations where we manage databases with customer information so that electronic and recording devices cannot be brought in or taken out.</dd>
	<dt class="ttl_strong">2) Managing and responding to limited risks and implement appropriate security measures</dt>
	<dd class="text">Benesse Corporation and Benesse InfoShell work to strengthen their security zoning at several levels at locations where they manage customer information data depending on the information being handled, the details of the work, and who can access the information. They implement security measures appropriate to each situation and handle customer information in a safe environment. The following are some specific examples.</dd>
</dl>

<dl>
	<dt class="ttl_strong">[Risk Control in the Office]</dt>
	<dd class="text">Only employees and involved persons may enter. We respond to our customers by having personal information viewable only on devices with strengthened security that can only be used by a limited number of people.</dd>
	<dt class="ttl_strong">[Risk Control in the Customer Information Database Viewing Area]</dt>
	<dd class="text">In addition to strictly managing who has access, we also fully monitor all operation logs and actions and implement security measures on our special network.</dd>
	<dt class="ttl_strong">[Comments from customers about the handling of customer information and examples of responses]</dt>
	<dd class="text">In addition to strictly managing entrance to the area,&nbsp;we&nbsp;also fully monitor all operation logs and actions&nbsp;and have disabled data exporting, though operations are possible with the database.</dd>
</dl>

<h3 class="titleLv3">Handling of Customer Information</h3>

<p class="text">We reexamine our policies on the handling of customer information and our responses based on customer feedback so that our&nbsp;products and services can be used securely.</p>

<h5 class="titleLv4">■Policy for handling customer information</h5>

<p>We handle customer information securely based on the following policy.</p>

<ol class="security_strengthen_list">
	<li>When handling customer information, we will strengthen the operation and management&nbsp;of this information at every step of the process (acquisition, use, utilization, and&nbsp;deletion)</li>
	<li>We will inform customers of our methods for operation and management in an understandable way</li>
</ol>

<div class="x_scroll">
<table>
	<tbody>
		<tr>
			<th class="security_strengthen_tbl_th">・About acquisition</th>
			<td class="security_strengthen_tbl_td">
			<dl>
				<dt class="ttl_strong">［Feedback］</dt>
				<dd>&quot;I responded to the Benesse survey but I&#39;m not really sure why they were asking those questions&quot;</dd>
				<dt class="ttl_strong">［Response］</dt>
				<dd>We will also inform customers about rules on acquisition, how we will use the data, and our methods for deleting and terminating use of that data in a way that is easier to understand.</dd>
			</dl>
			</td>
		</tr>
		<tr>
			<th class="security_strengthen_tbl_th">・About use and utilization</th>
			<td class="security_strengthen_tbl_td">
			<dl class="text">
				<dt class="ttl_strong">［Feedback］</dt>
				<dd>&quot;We would like you to stop sending us direct mail&quot;</dd>
				<dt class="ttl_strong">［Response］</dt>
				<dd>We will stop sending mail if and when requested. We will also work to improve our notifications on termination of use of provided information to make them easier to understand.</dd>
			</dl>

			<p>▽Example of a notification</p>

			<figure class="res_img margin"><img alt="告知例" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/security_01.jpg" /></figure>

			<dl class="text">
				<dt class="ttl_strong">［Feedback］</dt>
				<dd>&quot;I am uncomfortable posting the application postcards with my child&#39;s name&quot;</dd>
				<dt class="ttl_strong">［Response］</dt>
				<dd>We protect personal information so that a third party cannot view this information by using privacy stickers or making the application and registration postcards themselves into stickers.</dd>
			</dl>

			<p>▽Example of a privacy sticker</p>

			<figure class="res_img"><img alt="目隠しシールの例" class="img350" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/security_02.jpg" /></figure>
			</td>
		</tr>
		<tr>
			<th class="security_strengthen_tbl_th">・About deletion</th>
			<td class="security_strengthen_tbl_td">
			<dl class="text">
				<dt class="ttl_strong">［Feedback］</dt>
				<dd>&quot;I want my information deleted in addition to stopping direct mail from being sent to me&quot;</dd>
				<dt class="ttl_strong">［Response］</dt>
				<dd>We will explain termination of use, which terminates information on our products and services by direct mail, and deletion of customer information in a simpler way and will respond to customer requests.</dd>
			</dl>
			</td>
		</tr>
	</tbody>
</table>
</div>

<h3 class="titleLv3">Employee Training and Awareness</h3>

<h5 class="titleLv4">■Security Day</h5>

<p class="text">We set July 7 as Security Day in the wake of the breach on personal information that was discovered in 2014. Benesse Corporation and Benesse InfoShell carry out activities on this day each year where all employees pledge to remember incident training and work to strengthen information security. This includes holding morning meetings on information security, presenting internal initiatives, and having lectures from outside specialists.</p>

<h5 class="titleLv4">■Information security training</h5>

<p class="text">Benesse Holdings and Benesse Corporation implement web-based training where attendance is required of all employees working at Benesse (everyone from executives to part-time staff),and work to reconfirm the skills, actions, and basic knowledge that must be followed for information security, focusing on personal information. Remote work is being promoted during the pandemic, and we have prepared a system without changing our security standards or operations. Holding training for all employees and explaining security rules in advance allows for stable operations. At Benesse InfoShell, the Group&#39;s system manager, more stringent training is offered through a special program. We check on attendance until all target employees have completed the training, and our attendance rate is always 100%.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
