<h3 class="titleLv3">プライバシーマーク付与事業者登録（2016年11月）と個人情報保護活動の継続</h3>

<div class="security_certificate_logo_grp">
  <div>
    <p class="text">ベネッセコーポレーションは一般財団法人日本情報経済社会推進協会（JIPDEC）の審査を受け、2016年11月、プライバシーマーク付与事業者として登録されました。</p>
    <p>引き続き、情報セキュリティおよび個人情報保護マネジメントの維持・向上に取り組み、お客様の信頼を、より一層高めることができるよう取り組んで参ります。</p>
    <ul>
      <li>2016年11月2日　初回登録</li>
      <li>2022年11月1日　有効期限</li>
    </ul>
  </div>
  <figure class="security_certificate_pic"><img class="security_certificate_w150" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/security_04.png" alt="プライバシーマーク"></figure>
</div>

<h3 class="titleLv3">ISMS認証取得（2016年3月）とISMS活動の継続</h3>

<div class="security_certificate_logo_grp">
  <div>
    <p>2015年5月のベネッセコーポレーション学校本部およびベネッセベースコムのISO27001（ISMS）取得に続き、2016年3月にベネッセホールディングスおよびベネッセコーポレーション（一部の拠点を除く）、ベネッセインフォシェルで取得が完了いたしました。</p>
    
    <ul>
      <li>2015年5月25日　初回登録</li>
      <li>2024年5月24日　有効期限</li>
    </ul>
  </div>
  <figure class="security_certificate_pic"><img class="security_certificate_w150" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/security_05.png" alt="ISMSロゴ"></figure>
</div>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>