<h3 class="titleLv3">Registered as a Business Approved to Display the PrivacyMark Symbol (November 2016) and Continuation of Actions to Protect Personal Information</h3>

<div class="security_certificate_logo_grp">
<div>
<p class="text">After being assessed by JIPDEC, the Benesse Corporation was registered as a business approved to display the PrivacyMark symbol in November 2016.</p>

<p>We will continue to work to maintain and improve our information security and the management and protection of personal information and to further increase our customers&#39; trust.</p>

<ul>
	<li>November 2, 2016: Initial registration</li>
	<li>November 1, 2022: Expiry date</li>
</ul>
</div>

<figure class="security_certificate_pic"><img alt="PrivacyMark" class="security_certificate_w150" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/security_04_en.png" /></figure>
</div>

<h3 class="titleLv3">ISMS Certification (March 2016) and Continuation of ISMS Action</h3>

<div class="security_certificate_logo_grp">
<div>
<p>After ISO27001 (ISMS) certification was acquired by Benesse Corporation School Headquarters and&nbsp;Benesse BASE COM in May 2015, the same certification was also acquired by Benesse Holdings, Benesse Corporation (excluding some offices), and Benesse InfoShell in March 2016.</p>

<ul>
	<li>May 5, 2015: Initial registration</li>
	<li>May 5, 2024: Expiry date</li>
</ul>
</div>

<figure class="security_certificate_pic"><img alt="ISMS logo" class="security_certificate_w150" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/security_05_en.png" /></figure>
</div>

<div class="pageTop"><a class="scroll" href="#">To top</a></div>
