<p class="text">To ensure that work done by the Benesse Group is carried out justly and ethically, we established the Benesse Group Principles, which are based on our corporate philosophy and present our policies for conduct taken by each executive and employee in the Group. These Principles list the policies that form the basis for our values and decisions that are to be upheld by the executives and employees of the Group. We have also established the Benesse Group Risk Management and Compliance Regulations as a set of common regulations across the Group, aiming to create systems (internal regulation systems) to ensure compliance and fairness in our business affairs and to prevent and manage damages before they occur. These regulations also aim to realize appropriate and effective operations. Group companies observe these regulations and establish company-specific codes of conduct and other regulations with more specific details depending on the company&#39;s type of work, project characteristics, project regulations, and work environment. This ensures adequacy and allows for complete&nbsp;compliance.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
