<h3 class="titleLv3">Risk Management</h3>

<p class="text">We installed a Risk and Compliance Committee to promote risk management and compliance across the entire Benesse Group. The Committee is chaired by a management department supervisor who regulates risk management and compliance.&nbsp;Other members include executives who oversee business affairs, supervisors from the management department, and project supervisors working in the Group&#39;s strategic business areas. The Committee gathers the results of risk assessments in each Benesse Group company, proposes and manages measures against Group-wide risks, reports these results regularly to the COO and the Board of Directors, and receives necessary instructions. The Committee then notifies each Benesse Group company of these instructions, supports the promotion of the monitoring of improvement action (revisions, implementing prevention measures, training, etc.) and other important measures against risks, and adds this&nbsp;to the next risk assessment. In addition to operating this PDCA cycle, we also share negative information and promote action for risk management and compliance in ordinary times. When emergencies occur, the incident is quickly reported to management through the Emergency Case Reporting Office, and depending on the severity, an emergency response headquarters may be established to create systems that promote emergency responses.</p>

<h3 class="titleLv3">Complete&nbsp;Compliance</h3>

<p class="text">In addition to promoting risk management and compliance action in ordinary times, the Risk and Compliance Committee performs checks by the management department supervisors from a variety of expert viewpoints. The committee also promotes compliance by implementing consultations about the important business affairs of each Benesse Group company with the respective company in advance based on operating company management regulations that are shared across the Group. For these activities, a compliance supervisor is installed at each Group company and on-site systems are strengthened by dispatching supervisors as needed in close collaboration with the management department supervising the compliance of each company. The status of compliance in each workplace is also monitored by the internal audit department.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
