<p class="text">The Benesse Group Speak Up Line was set up as an internal hotline to be used when illegal or unjust actions or actions that violate articles of incorporation or internal regulations are discovered, and the Direct Auditor Hotline was set up to be used when there is a possibility of these discovered actions involving management. These hotlines are set up externally and can be used anonymously, ensuring both operations can be used safely and effectively in auditing performance. For emergencies, information can reach management quickly through the Emergency Case Reporting Office.</p>

<figure class="res_img center margin"><img alt="Internal Reporting Structure and Emergency Responses" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/governance/gov_01_en.png" /></figure>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
