<p class="text">Based on&nbsp;the Benesse Group Corporate Philosophy and the Benesse Group Principles, Group companies build and develop relationships of trust with our diverse inhouse and outside stakeholders. They also completely establish systems for legal compliance to carry out business activities with honesty and credibility. To prevent corruption, the Risk Management and Compliance Regulations have established legal compliance for fair trading and competition, a prohibition on trading with anti-social forces, a prohibition on providing or receiving profits or benefits, and a prohibition on actions that lead to a conflict of interest. Employees are definitely notified of these regulations.</p>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
