<section class="section sustaina_company s01">
<div class="x_scroll">
<table class="stdTb02">
	<tbody>
		<tr>
			<th>Name</th>
			<td>Benesse Holdings, Inc.</td>
		</tr>
		<tr>
			<th>Date established</th>
			<td>January 28, 1955</td>
		</tr>
		<tr>
			<th class="nowrap">Headquarters</th>
			<td>3-7-17 Minamigata, Kita-ku, Okayama-shi, Okayama 700-0807, Japan</td>
		</tr>
	</tbody>
</table>
</div>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
