<section class="section sustaina_company s02">
<h3 class="titleLv3">Group companies</h3>

<p>The Benesse Group consists of Benesse Holdings,37 consolidated subsidiaries, and 9 equity-method affiliates.</p>

<ul class="relatedLinks margin">
	<li><a href="https://www.benesse-hd.co.jp/en/about/group.html">Group Companies</a></li>
</ul>

<h3 class="titleLv3">Our Business</h3>

<p>The Benesse Group does business in four main segments: (1) domestic educational services, (2) globai kodomo challenge, (3) nursing care and childcare , and (4) Berlitz.</p>

<ul class="relatedLinks">
	<li><a href="https://www.benesse-hd.co.jp/en/about/management/business.html">Our Business</a></li>
</ul>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
