<section class="section sustaina_company s03">
<h3 class="titleLv3">Number of employees</h3>

<p class="right shrink">(Consolidated data as of March 31 of each year)</p>

<div class="x_scroll">
<table class="stdTb02">
	<thead>
		<tr>
			<th>Fiscal year</th>
			<td>2017</td>
			<td>2018</td>
			<td>2019</td>
			<td>2020</td>
			<td>2021</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Employees</th>
			<td>20,022</td>
			<td>20,387</td>
			<td>20,426</td>
			<td>20,673</td>
			<td>19,456</td>
		</tr>
	</tbody>
</table>
</div>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
