<section class="section sustaina_company s04">
<h3 class="titleLv3">Average annual salary (Benesse Holdings)</h3>

<p class="right shrink">(As of March 31 of each year)</p>

<div class="x_scroll">
<table class="stdTb02">
	<thead>
		<tr>
			<th>Fiscal year</th>
			<td>2017</td>
			<td>2018</td>
			<td>2019</td>
			<td>2020</td>
			<td>2021</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Average annual salary (in thousands of yen)</th>
			<td>9,304</td>
			<td>9,039</td>
			<td>9,456</td>
			<td>9,365</td>
			<td>9,343</td>
		</tr>
	</tbody>
</table>
</div>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
