<section class="section sustaina_company s08">
<p>The Benesse Group manufactures some products at outsourcing plants. These outsourcing plants are located mainly in countries such as China and Vietnam.<br />
Outsourcing contractors are regularly audited to check their environments and working practices, and they are required to practice sustainability in their procurement activities.</p>
</section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>
