<section class="section sustaina_data" id="data-personnel">
<h3 class="titleLv3">Ratio of Female Employees and Managers at Benesse Corporation</h3>

<p class="shrink right">&nbsp;</p>

<p class="shrink right">Regular employees as of April</p>

<div class="x_scroll">
<table class="stdTb02 tb_011">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th colspan="2">2017</th>
			<th colspan="2">2018</th>
			<th colspan="2">2019</th>
			<th colspan="2">2020</th>
			<th colspan="2">2021</th>
		</tr>
		<tr>
			<th rowspan="2">&nbsp;</th>
			<th>Male</th>
			<th rowspan="2">Ratio of<br />
			female<br />
			employees）</th>
			<th>Male</th>
			<th rowspan="2">Ratio of<br />
			female<br />
			employees</th>
			<th>Male</th>
			<th rowspan="2">Ratio of<br />
			female<br />
			employees</th>
			<th>Male</th>
			<th rowspan="2">Ratio of<br />
			female<br />
			employees</th>
			<th>Male</th>
			<th rowspan="2">Ratio of<br />
			female<br />
			employees</th>
		</tr>
		<tr>
			<th>Female</th>
			<th>Female</th>
			<th>Female</th>
			<th>Female</th>
			<th>Female</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">Number of employees</th>
			<td>1,197</td>
			<td rowspan="2">53</td>
			<td>1,246</td>
			<td rowspan="2">53</td>
			<td>1,184</td>
			<td rowspan="2">52</td>
			<td>1,182</td>
			<td rowspan="2">51</td>
			<td>1,087</td>
			<td rowspan="2">53</td>
		</tr>
		<tr>
			<td>1,356</td>
			<td>1,412</td>
			<td>1,298</td>
			<td>1,247</td>
			<td>1,218</td>
		</tr>
		<tr>
			<th rowspan="2">Section leader</th>
			<td>150</td>
			<td rowspan="2">32</td>
			<td>146</td>
			<td rowspan="2">39</td>
			<td>126</td>
			<td rowspan="2">36</td>
			<td>134</td>
			<td rowspan="2">35</td>
			<td>149</td>
			<td rowspan="2">35</td>
		</tr>
		<tr>
			<td>71</td>
			<td>92</td>
			<td>72</td>
			<td>73</td>
			<td>82</td>
		</tr>
		<tr>
			<th rowspan="2">General manager</th>
			<td>50</td>
			<td rowspan="2">28</td>
			<td>55</td>
			<td rowspan="2">31</td>
			<td>39</td>
			<td rowspan="2">35</td>
			<td>41</td>
			<td rowspan="2">35</td>
			<td>47</td>
			<td rowspan="2">33</td>
		</tr>
		<tr>
			<td>19</td>
			<td>25</td>
			<td>21</td>
			<td>22</td>
			<td>23</td>
		</tr>
		<tr>
			<th rowspan="2">Executive</th>
			<td>9</td>
			<td rowspan="2">18</td>
			<td>10</td>
			<td rowspan="2">23</td>
			<td>11</td>
			<td rowspan="2">21</td>
			<td>12</td>
			<td rowspan="2">14</td>
			<td>11</td>
			<td rowspan="2">15</td>
		</tr>
		<tr>
			<td>2</td>
			<td>3</td>
			<td>3</td>
			<td>2</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>

<h3 class="titleLv3">Ratio of Employees with Disabilities in the Benesse Group</h3>

<p class="shrink right">&nbsp;</p>

<p class="shrink right">As of June 1</p>

<div class="x_scroll">
<table class="stdTb02 tb_012">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>2017</th>
			<th>2018</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Ratio of Employees</th>
			<td>2.27%</td>
			<td>2.42%</td>
			<td>2.44%</td>
			<td>2.57%</td>
			<td>2.58%</td>
		</tr>
	</tbody>
</table>
</div>

<ul class="small">
	<li class="idts">※Ratio of employees with disabilities at Group companies subject to the Employment Quota System for Persons with Disabilities</li>
</ul>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>

<h3 class="titleLv3">Number of Employees Who Took Childcare Leave and Returned from Leave at Benesse Style Care Co., Ltd. and Benesse Corporation</h3>

<p class="shrink right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="stdTb02 tb_013">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th colspan="2">2017</th>
			<th colspan="2">2018</th>
			<th colspan="2">2019</th>
			<th colspan="2">2020</th>
			<th>2021</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th><br />
			Number of employees taking leave</th>
			<th><br />
			Number of returnees</th>
			<th><br />
			Number of employees taking leave</th>
			<th><br />
			Number of returnees</th>
			<th><br />
			Number of employees taking leave</th>
			<th><br />
			Number of returnees</th>
			<th><br />
			Number of employees taking leave</th>
			<th><br />
			Number of returnees</th>
			<th><br />
			Number of employees taking leave</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Benesse Style Care Co., Ltd.<br />
			(Regular employees, contract employees, semi-full time staff)</th>
			<td>166</td>
			<td>126</td>
			<td>215</td>
			<td>177</td>
			<td>204</td>
			<td>192</td>
			<td>267</td>
			<td>236</td>
			<td>252</td>
		</tr>
		<tr>
			<th>Benesse Corporation<br />
			(Regular employees, contract employees, specified job employees)</th>
			<td>94</td>
			<td>82</td>
			<td>89</td>
			<td>87</td>
			<td>67</td>
			<td>72</td>
			<td>56</td>
			<td>57</td>
			<td>52</td>
		</tr>
	</tbody>
</table>
</div>

<ul class="small">
	<li class="idts">※Returnees: Employees who return to work within the time limit for leave under each company&#39;s system</li>
</ul>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>

<h3 class="titleLv3">Number of employees who have obtained shorter working hours for childcare</h3>

<p class="shrink right">&nbsp;</p>

<p class="shrink right">As of April</p>

<table class="stdTb02 tb_014">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th><span>2017</span></th>
			<th><span>2018</span></th>
			<th><span>2019</span></th>
			<th><span>2020</span></th>
			<th><span>2021</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Benesse Style Care Co., Ltd.<br />
			(Regular employees, contract employees, semi-full time staff)</th>
			<td class="center">137</td>
			<td class="center">161</td>
			<td class="center">230</td>
			<td class="center">230<sup>※</sup></td>
			<td class="center">280</td>
		</tr>
		<tr>
			<th>Benesse Corporation<br />
			(Regular employees, contract employees, specified job employees)</th>
			<td class="center">128</td>
			<td class="center">109</td>
			<td class="center">124</td>
			<td class="center">76</td>
			<td class="center">50</td>
		</tr>
	</tbody>
</table>

<ul class="small">
	<li class="idts">※ In 2020, due to the spread of the COVID-19 pandemic, the time to return to work was delayed from that of regular&nbsp;years.</li>
</ul>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>

<h3 class="titleLv3">Number of Employees Receiving Childcare Allowance at Benesse Style Care Co., Ltd.</h3>

<p class="shrink right">&nbsp;</p>

<p class="shrink right">As of June</p>

<table class="stdTb02 tb_015">
	<tbody>
		<tr>
			<th>2017</th>
			<td>314</td>
		</tr>
		<tr>
			<th>2018</th>
			<td>328</td>
		</tr>
		<tr>
			<th>2019</th>
			<td>415</td>
		</tr>
		<tr>
			<th>2020</th>
			<td>373<sup>※</sup></td>
		</tr>
		<tr>
			<th>2021</th>
			<td>414</td>
		</tr>
	</tbody>
</table>

<ul class="small">
	<li class="idts">※The decrease in 2020 is the result of not going to the kindergarten due to the spread of the COVID-19 pandemic.</li>
</ul>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>

<h3 class="titleLv3">Benesse Corporation<br />
Work-life Management Data (full-time employees)</h3>

<p class="right">Fiscal year ended March 31, 2021</p>

<div class="x_scroll">
<table class="stdTb02 nowrap narrow">
	<tbody>
		<tr>
			<th colspan="2">Overtime work hours (average hours per month)</th>
			<td class="right">38.2hours</td>
		</tr>
		<tr>
			<th colspan="2">Annual leave utilization rate (average days per year)</th>
			<td class="right">52%</td>
		</tr>
		<tr>
			<th colspan="2">Number of male employees taking childcare leave (ending March each year)</th>
			<td class="right">5</td>
		</tr>
		<tr>
			<th colspan="2">Number of employees taking nursing care leave (ending March each year)</th>
			<td class="right">1</td>
		</tr>
		<tr>
			<th rowspan="2">Average years of continuous service (ending March each year)</th>
			<th class="subcell">Men</th>
			<td class="right">12.2</td>
		</tr>
		<tr>
			<th class="subcell">Women</th>
			<td class="right">13.0</td>
		</tr>
	</tbody>
</table>
</div>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>


<h3 class="titleLv3">Rewarding average data</h3>

<figure class="res_img center margin"><img alt="Employee Job Satisfaction Score" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/social/office_08_en.png" /></figure>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>


<h3 class="titleLv3">Actual Training Expenses for Benesse Corporation Employees</h3>

<p class="right">Fiscal year ended March 31 of each year</p>

<table class="stdTb02">
	<tbody>
		<tr>
			<th>
			<div class="center">2018</div>
			</th>
			<th>
			<div class="center">2019</div>
			</th>
			<th>
			<div class="center">2020</div>
			</th>
			<th>
			<div class="center">2021</div>
			</th>
		</tr>
		<tr>
			<td class="center">160Million yen</td>
			<td class="center">127Million yen</td>
			<td class="center">142Million yen</td>
			<td class="center">110Million yen ※</td>
		</tr>
	</tbody>
</table>

<p class="idt small">※Decreased&nbsp;since all training was online due to the impact of the COVID-19 pandemic.</p>
</section>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
