<section class="section sustaina_data" id="data-personnel">
<h3 class="titleLv3">ベネッセコーポレーション従業員・管理職等に占める女性比率</h3>

<p class="shrink right">各年4月時点／正社員</p>

<div class="x_scroll">
<table class="stdTb02 tb_011">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th colspan="2">2017年</th>
			<th colspan="2">2018年</th>
			<th colspan="2">2019年</th>
			<th colspan="2">2020年</th>
			<th colspan="2">2021年</th>
		</tr>
		<tr>
			<th rowspan="2">&nbsp;</th>
			<th>男性</th>
			<th rowspan="2">女性<br />
			比率<br />
			（%）</th>
			<th>男性</th>
			<th rowspan="2">女性<br />
			比率<br />
			（%）</th>
			<th>男性</th>
			<th rowspan="2">女性<br />
			比率<br />
			（%）</th>
			<th>男性</th>
			<th rowspan="2">女性<br />
			比率<br />
			（%）</th>
			<th>男性</th>
			<th rowspan="2">女性<br />
			比率<br />
			（%）</th>
		</tr>
		<tr>
			<th>女性</th>
			<th>女性</th>
			<th>女性</th>
			<th>女性</th>
			<th>女性</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">従業員数</th>
			<td>1,197</td>
			<td rowspan="2">53</td>
			<td>1,246</td>
			<td rowspan="2">53</td>
			<td>1,184</td>
			<td rowspan="2">52</td>
			<td>1,182</td>
			<td rowspan="2">51</td>
			<td>1,087</td>
			<td rowspan="2">53</td>
		</tr>
		<tr>
			<td>1,356</td>
			<td>1,412</td>
			<td>1,298</td>
			<td>1,247</td>
			<td>1,218</td>
		</tr>
		<tr>
			<th rowspan="2">（内：課長層）</th>
			<td>150</td>
			<td rowspan="2">32</td>
			<td>146</td>
			<td rowspan="2">39</td>
			<td>126</td>
			<td rowspan="2">36</td>
			<td>134</td>
			<td rowspan="2">35</td>
			<td>149</td>
			<td rowspan="2">35</td>
		</tr>
		<tr>
			<td>71</td>
			<td>92</td>
			<td>72</td>
			<td>73</td>
			<td>82</td>
		</tr>
		<tr>
			<th rowspan="2">（内：部長層）</th>
			<td>50</td>
			<td rowspan="2">28</td>
			<td>55</td>
			<td rowspan="2">31</td>
			<td>39</td>
			<td rowspan="2">35</td>
			<td>41</td>
			<td rowspan="2">35</td>
			<td>47</td>
			<td rowspan="2">33</td>
		</tr>
		<tr>
			<td>19</td>
			<td>25</td>
			<td>21</td>
			<td>22</td>
			<td>23</td>
		</tr>
		<tr>
			<th rowspan="2">役員</th>
			<td>9</td>
			<td rowspan="2">18</td>
			<td>10</td>
			<td rowspan="2">23</td>
			<td>11</td>
			<td rowspan="2">21</td>
			<td>12</td>
			<td rowspan="2">14</td>
			<td>11</td>
			<td rowspan="2">15</td>
		</tr>
		<tr>
			<td>2</td>
			<td>3</td>
			<td>3</td>
			<td>2</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
</div>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">ベネッセグループ障がい者雇用率</h3>

<p class="shrink right">各年6月1日時点</p>

<div class="x_scroll">
<table class="stdTb02 tb_012">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>2017年</th>
			<th>2018年</th>
			<th>2019年</th>
			<th>2020年</th>
			<th>2021年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>障がい者雇用率</th>
			<td>2.27%</td>
			<td>2.42%</td>
			<td>2.44%</td>
			<td>2.57%</td>
			<td>2.58%</td>
		</tr>
	</tbody>
</table>
</div>

<ul class="small">
	<li class="idts">※「障がい者雇用率制度」適用グループ企業の障がい者雇用率</li>
</ul>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">ベネッセスタイルケア／ベネッセコーポレーション育児休職開始者数・復職者数</h3>

<p class="right shrink">各年3月期</p>

<div class="x_scroll">
<table class="stdTb02 tb_013">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th colspan="2">2017年</th>
			<th colspan="2">2018年</th>
			<th colspan="2">2019年</th>
			<th colspan="2">2020年</th>
			<th>2021年</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>休職<br />
			開始者数</th>
			<th>復職<br />
			者数</th>
			<th>休職<br />
			開始者数</th>
			<th>復職<br />
			者数</th>
			<th>休職<br />
			開始者数</th>
			<th>復職<br />
			者数</th>
			<th>休職<br />
			開始者数</th>
			<th>復職<br />
			者数</th>
			<th>休職<br />
			開始者数</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ベネッセスタイルケア<br />
			(正社員、契約社員、準常勤スタッフ)</th>
			<td>166</td>
			<td>126</td>
			<td>215</td>
			<td>177</td>
			<td>204</td>
			<td>192</td>
			<td>267</td>
			<td>236</td>
			<td>252</td>
		</tr>
		<tr>
			<th>ベネッセコーポレーション<br />
			（正社員、特定職社員、契約社員）</th>
			<td>94</td>
			<td>82</td>
			<td>89</td>
			<td>87</td>
			<td>67</td>
			<td>72</td>
			<td>56</td>
			<td>57</td>
			<td>52</td>
		</tr>
	</tbody>
</table>
</div>

<ul class="small">
	<li class="idts">※復職者：各社の制度上の休職期限までに復職した者</li>
</ul>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">育児時短取得者数</h3>

<p class="shrink right">各年4月時点</p>

<table class="stdTb02 tb_014">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th><span>2017年</span></th>
			<th><span>2018年</span></th>
			<th><span>2019年</span></th>
			<th><span>2020年</span></th>
			<th><span>2021年</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ベネッセスタイルケア<br />
			（正社員、契約社員、準常勤スタッフ）</th>
			<td class="center">137</td>
			<td class="center">161</td>
			<td class="center">230</td>
			<td class="center">230<sup>※</sup></td>
			<td class="center">280</td>
		</tr>
		<tr>
			<th>ベネッセコーポレーション<br />
			（正社員、特定職社員、契約社員）</th>
			<td class="center">128</td>
			<td class="center">109</td>
			<td class="center">124</td>
			<td class="center">76</td>
			<td class="center">50</td>
		</tr>
	</tbody>
</table>

<ul class="small">
	<li class="idts">※ 2020年は新型コロナウイルス感染拡大の影響で例年より復職時期が後ろ倒しとなりました。</li>
</ul>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">ベネッセスタイルケア保育手当支給人数</h3>

<p class="shrink right">各年5月時点</p>

<table class="stdTb02 tb_015">
	<tbody>
		<tr>
			<th>2017年</th>
			<td>314</td>
		</tr>
		<tr>
			<th>2018年</th>
			<td>328</td>
		</tr>
		<tr>
			<th>2019年</th>
			<td>415</td>
		</tr>
		<tr>
			<th>2020年</th>
			<td>373<sup>※</sup></td>
		</tr>
		<tr>
			<th>2021年</th>
			<td>414</td>
		</tr>
	</tbody>
</table>

<ul class="small">
	<li class="idts">※2020年の減少は新型コロナウイルス感染拡大による登園自粛の影響によるものです。</li>
</ul>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">ベネッセコーポレーション<br />
ワーク・ライフ・マネジメント関連データ（正社員）</h3>

<div class="x_scroll">
<table class="stdTb02 nowrap narrow">
	<tbody>
		<tr>
			<th colspan="2">残業時間<br />
			（2021年3月期平均／月）</th>
			<td class="right">38.2時間</td>
		</tr>
		<tr>
			<th colspan="2">有休取得率<br />
			（2021年3月期平均／年間）</th>
			<td class="right">52%</td>
		</tr>
		<tr>
			<th colspan="2">男性の育児休職取得者数<br />
			（2021年3月期）</th>
			<td class="right">5人</td>
		</tr>
		<tr>
			<th colspan="2">介護休職取得者数<br />
			（2021年3月期）</th>
			<td class="right">1人</td>
		</tr>
		<tr>
			<th rowspan="2">平均勤続年数<br />
			（2021年3月期）</th>
			<th class="subcell">男性</th>
			<td class="right">12.2年</td>
		</tr>
		<tr>
			<th class="subcell">女性</th>
			<td class="right">13.0年</td>
		</tr>
	</tbody>
</table>
</div>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">従業員働きがい平均データ</h3>

<figure class="res_img center margin"><img alt="社員の働きがいスコア" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/social/office_08.png" /></figure>
<!--#include virtual="/inc/pagetop.html" -->

<h3 class="titleLv3">ベネッセコーポレーション社員の研修費実績</h3>
<p class="right">各年3月期</p>
<table class="stdTb02">
	<tbody>
		<tr>
			<th>
			<div class="center">2017年</div>
			</th>
			<th>
			<div class="center">2018年</div>
			</th>
			<th>
			<div class="center">2019年</div>
			</th>
			<th>
			<div class="center">2020年</div>
			</th>
		</tr>
		<tr>
			<td class="center">160百万円</td>
			<td class="center">127百万円</td>
			<td class="center">142百万円</td>
			<td class="center">110百万円 ※</td>
		</tr>
	</tbody>
</table>

<p class="idt small">※新型コロナウイルス感染拡大の影響により研修がすべてオンラインになったため減少</p>
</section>

<div class="pageTop"><a href="#" class="scroll"></a></div>