<section class="section sustaina_data" id="data-environment">
<h5 class="titleLv3">Benesse Group environmental policy</h5>

<ul class="relatedLinks">
	<li><a href="/en/themes/147#991">Benesse Group environmental policy</a></li>
</ul>

<div class="shrink">
<h5 class="titleLv4">Water policy (included in environmental policy)</h5>

<h6 class="titleLv5">Policy for reduction in water usage</h6>

<p class="texth">Reduce the usage of service water and sewage at offices where toilet renovation work was&nbsp;done when conducting plumbing construction at the Okayama Headquarters and the Tokyo Headquarters.</p>

<div class="data-environment_water margin">
<dl>
	<dt>Okayama Headquarters&nbsp;(August 2018 through July 2019)</dt>
	<dd>Annual reduction of approximately 2,500m&sup3; of service water and an equivalent amount of sewage&nbsp;(20% reduction versus the previous year)</dd>
</dl>

<dl>
	<dt>Tokyo Headquarters&nbsp;(planned for 2021 onward)</dt>
	<dd>Annual reduction of approximately 6,500m&sup3; of service water and an equivalent amount of sewage&nbsp;(40% reduction versus the previous year)</dd>
</dl>
</div>
</div>

<h5 class="titleLv4">Biodiversity policy (included in environmental policy)</h5>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>

<h4 class="titleLv4">[Energy consumption, resource consumption, emissions]</h4>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="stdTb02 tb_021">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Unit</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Electricity</th>
			<td>Thousand kWh</td>
			<td>12,794</td>
			<td>11,658</td>
			<td>11,304</td>
		</tr>
		<tr>
			<th>Steam</th>
			<td>Thousand GJ</td>
			<td>7</td>
			<td>6</td>
			<td>5</td>
		</tr>
		<tr>
			<th>City gas</th>
			<td>Thousand m&sup3;</td>
			<td>52</td>
			<td>53</td>
			<td>45</td>
		</tr>
		<tr>
			<th>Heavy oil</th>
			<td>ℓ</td>
			<td>44</td>
			<td>25</td>
			<td>54</td>
		</tr>
		<tr>
			<th>Total energy consumption</th>
			<td>Thousand&nbsp;GJ</td>
			<td>148</td>
			<td>135</td>
			<td>129</td>
		</tr>
	</tbody>
</table>
</div>

<div class="expand">
<div class="x_scroll">
<table class="stdTb02 tb_021">
	<tbody>
		<tr>
			<th>Paper Consumption</th>
			<td>t</td>
			<td>55,903</td>
			<td>55,102</td>
			<td>51,823</td>
		</tr>
		<tr>
			<th>Water Consumption</th>
			<td>Thousand m&sup3;</td>
			<td>2,412</td>
			<td>2,501</td>
			<td>2,540</td>
		</tr>
		<tr>
			<th>CO2&nbsp;emissions</th>
			<td>t</td>
			<td>5,082</td>
			<td>4,517</td>
			<td>4,185</td>
		</tr>
		<tr>
			<th>Wastematerials(paper)</th>
			<td>t</td>
			<td>1,768</td>
			<td>1,417</td>
			<td>1,474</td>
		</tr>
		<tr>
			<th>Waste materials(industrial waste)</th>
			<td>t</td>
			<td>545</td>
			<td>682</td>
			<td>576</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<ul class="small margin">
	<li>Energy consumption data is for the Okayama Headquarters, Tokyo Head Office, Benesse Logistics Center, and a property in Takayanagi, Okayama City, Okayama, and the seven branch offices as well as Class Benesse and the BE studio offices.</li>
	<li>The water consumption data are for the Okayama Headquarters, Tokyo Head Office (Tama Office), Benesse Logistics Center and Benesse socius only.
	<dl>
		<dt>Benesse Socius :</dt>
		<dd>&quot;A type-A worksite providing support for continuous employment&quot; that provides contracted services for laundering the personal items and bath towels of residents of the care facilities for the elderly operated by Benesse Style Care.<br />
		<a href="https://www.benesse-socius.co.jp" target="_blank">https://www.benesse-socius.co.jp【Japnese】</a></dd>
	</dl>
	</li>
	<li>Water source is 100% city water.</li>
	<li>Paper consumption excludes printing paper for use in offices.</li>
	<li>CO2&nbsp;emissions are for electricity consumption only.</li>
</ul>

<p class="expand margin">Benesse Corporation has upwardly revised its medium- and long-term emissions reduction targets as below. With the fiscal year ended March 31, 2018 (FY2017) as the reference year, these targets are science-based and designed to achieve the well-below 2℃ target (*) (2℃ target for Scope 3).<br />
※The well-below 2℃ target aims to hold the global average temperature rise to well below 2℃ Celsius above pre-industrial levels.</p>

<p class="right">Fiscal year ended March 31 of each year</p>

<p class="sbt-caption">&lt;SBT certification goals&gt;</p>

<table class="stdTb02 tb_cst">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th>Every fiscal year</th>
			<th>2030</th>
			<th>2050</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">Reduction rate when 2018 is set as 100%</th>
			<th>Scopes 1 and 2</th>
			<td class="right">3.02%</td>
			<td class="right">36.2%</td>
			<td class="right">100.0%</td>
		</tr>
		<tr>
			<th>Scopes3</th>
			<td class="right">1.23%</td>
			<td class="right">14.8%</td>
			<td class="right">39.4%</td>
		</tr>
	</tbody>
</table>

<dl class="small">
	<dt>※The above reductions targets cover scope 1, scope 2, and scope 3.</dt>
	<dd>Scope 1: Benesse&#39;s own direct greenhouse gas emissions<br />
	Scope 2: Indirect emissions from the use of electricity, heat, or steam provided by third partiesScope 3: Emissions from Benesse&#39;s value chain</dd>
	<dt>※Scope 3 categories include:</dt>
	<dd>category 1 (purchased goods and services), category 2 (capital goods), category 3 (fuel- and energy-related activities which are not included in scope 1 and 2),&nbsp;categories 4 and 9 (upstream and downstream transportation and distribution), category 5 (waste generated in operations), category 6 (business travel), category 7 (employee commuting), category 8 (upstream leased assets), category 11 (use of sold products), and category 12 (end-of-life treatment of sold products)</dd>
	<dt>※Scope of organizations covered:</dt>
	<dd>Benesse corporation offices, including offices in Japan and a branch in Taipei.</dd>
</dl>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="climate_index_tbl stdTb02 tb_024">
	<colgroup>
		<col style="width: 20%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 12%" />
		<col style="width: 13%" />
	</colgroup>
	<thead>
		<tr class="thead1">
			<th class="center" rowspan="2">Units:t-CO2</th>
			<th class="center"><span>2018</span></th>
			<th class="center" colspan="2"><span>2020</span></th>
			<th class="center" colspan="2"><span>2021</span></th>
			<th class="center" rowspan="2">Reductions from reference year</th>
			<th class="center" rowspan="2">Reductions from 2021 target</th>
		</tr>
		<tr class="thead2">
			<th class="center">Results</th>
			<th class="center">Target</th>
			<th class="center">Results</th>
			<th class="center">Target</th>
			<th class="center">Results</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Scopes1</th>
			<td class="right">120</td>
			<td class="right">113</td>
			<td class="right">88</td>
			<td class="right">109</td>
			<td class="right">76</td>
			<td class="right">36.7%</td>
			<td class="right">30.3%</td>
		</tr>
		<tr>
			<th>Scopes2</th>
			<td class="right">7,477</td>
			<td class="right">7,025</td>
			<td class="right">5,929</td>
			<td class="right">6,800</td>
			<td class="right">5,204</td>
			<td class="right">30.4%</td>
			<td class="right">23.5%</td>
		</tr>
		<tr>
			<th>Scopes3</th>
			<td class="right">400,988</td>
			<td class="right">391,124</td>
			<td class="right">390,498</td>
			<td class="right">386,192</td>
			<td class="right">442,701</td>
			<td class="right">-10.4%</td>
			<td class="right">-14.6%</td>
		</tr>
		<tr>
			<th>Total of Scopes 1, 2, and 3</th>
			<td class="right">408,585</td>
			<td class="right">398,262</td>
			<td class="right">396,515</td>
			<td class="right">393,101</td>
			<td class="right">447,981</td>
			<td class="right">-9.6%</td>
			<td class="right">-14.0%</td>
		</tr>
	</tbody>
</table>

<table class="stdTb02 tb_024_2">
	<colgroup>
		<col style="width: 20%;" />
		<col style="width: 11%;" />
		<col style="width: 22%;" />
		<col style="width: 22%;" />
		<col style="width: 25%;" />
	</colgroup>
	<tbody>
		<tr>
			<th>Scopes 1, 2, and 3<br />
			Specific unit results<br />
			（Unit sales basis<br />
			t-CO2/thousand yen）</th>
			<td class="right">0.0023</td>
			<td class="right">0.0022</td>
			<td class="right">0.0024</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
		<tr>
			<th colspan="2">YoY change</th>
			<td class="right">104.8%</td>
			<td class="right">109.1%</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p class="right">Date of revision October 27, 2021</p>
</div>

<h4 class="titleLv4">[CO2&nbsp;emissions by scope]</h4>

<p class="right">Fiscal year ended March 31 of each year</p>

<div class="x_scroll">
<table class="stdTb02 tb_025">
	<thead>
		<tr>
			<th colspan="3">Unit: Tons CO2</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="3">Scope 1</th>
			<td>88</td>
			<td>88</td>
			<td>76</td>
		</tr>
		<tr>
			<th colspan="3">Scope 2</th>
			<td>6,595</td>
			<td>5,929</td>
			<td>5,204</td>
		</tr>
		<tr>
			<th colspan="3">Scope 3</th>
			<td>373,986</td>
			<td>390,498</td>
			<td>442,701</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>1</td>
			<td>Purchased products and services</td>
			<td>336,330</td>
			<td>349,544</td>
			<td>410,798</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>2</td>
			<td>Capital goods</td>
			<td>11,364</td>
			<td>10,774</td>
			<td>7,100</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>3</td>
			<td>Fuel and energy activities that do not fall under Scopes 1 and 2</td>
			<td>577</td>
			<td>1,041</td>
			<td>987</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>4</td>
			<td>Transportation and distribution (upstream)</td>
			<td>6,084</td>
			<td>5,930</td>
			<td>6,014</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>5</td>
			<td>Waste generated from operations</td>
			<td>39</td>
			<td>905</td>
			<td>515</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>6</td>
			<td>Business trips</td>
			<td>2,478</td>
			<td>3,756</td>
			<td>1,098</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>7</td>
			<td>Employee commuting</td>
			<td>661</td>
			<td>1,011</td>
			<td>345</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>8</td>
			<td>Leased assets (upstream)</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>9</td>
			<td>Transportation and distribution (downstream)</td>
			<td>8,306</td>
			<td>9,659</td>
			<td>8,340</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>10</td>
			<td>Fabrication of sold products</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>11</td>
			<td>Use of sold products</td>
			<td>305</td>
			<td>351</td>
			<td>417</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>12</td>
			<td>Disposal of sold products</td>
			<td>7,842</td>
			<td>7,528</td>
			<td>7,086</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>13</td>
			<td>Leased assets (downstream)</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>14</td>
			<td>Franchises</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>15</td>
			<td>Investments</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th colspan="3">Total of Scopes 1, 2, and 3</th>
			<td>380,669</td>
			<td>396,515</td>
			<td>447,981</td>
		</tr>
	</tbody>
</table>

<p class="right">Date of revision October 27, 2021</p>
</div>

<h4 class="titleLv4">Third-Party Verification</h4>

<p class="shrink">To improve the reliability of the Company&#39;s CO2&nbsp;emissions volume performance, it received third-party verification from the Japan Quality Assurance Organization for its fiscal 2020 data in scope 1, scope 2, and scope 3&nbsp;for the following categories: category 1 (purchased goods and services), category 2 (capital goods), category 3 (fuel- and energy-related activities which are not included in scope 1 and 2),&nbsp;categories 4 and 9 (upstream and downstream transportation and distribution), category 5 (waste generated in operations), category 6 (business travel), category 7 (employee commuting), category 8 (upstream leased assets), category 11 (use of sold products), and category 12 (end-of-life treatment of sold products)</p>

<nav class="boxLnks">
<dl>
	<dt>Greenhouse Gas Emissions Volume Verification Report</dt>
	<dd>
	<ul class="data_3rd_pdf">
		<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2020_ja.pdf" target="_blank"><img alt="温室効果ガス排出量等検証報告書2019" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_02.png" /></a></li>
		<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2020_en.pdf" target="_blank"><img alt="" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_03.png" /></a></li>
	</ul>

	<p class="center margin">Click to open PDF</p>

	<ul class="noteBox">
		<li>Verification Report for Previous Year
		<ul class="relatedLinks">
			<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2019_ja.pdf" target="_blank">Independent Verification Report in Japanese[PDF:905KB]</a></li>
			<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2019_en.pdf" target="_blank">Independent Verification Report in English [PDF:672KB] </a></li>
		</ul>
		</li>
	</ul>
	</dd>
</dl>
</nav>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>


</section>
