<section class="section sustaina_data" id="data-environment">
<h5 class="titleLv3">ベネッセグループの環境方針</h5>

<ul class="relatedLinks">
	<li><a href="/ja/themes/147#991">ベネッセグループの環境方針</a></li>
</ul>

<div class="shrink">
<h5 class="titleLv4">水方針（環境方針に含む）</h5>

<h6 class="titleLv5">水の使用量の削減方針</h6>

<p class="texth">岡山本社ならびに東京本部の衛生配管工事の際に、トイレ改修工事を行ってオフィスでの上水ならびに排水の下水の使用量を削減</p>

<div class="data-environment_water margin">
<dl>
	<dt>岡山本社<span>（2018年8月～2019年7月）</span></dt>
	<dd>年間約2,500m&sup3;の上水と同量の下水を削減<span>（対前年20％の削減）</span></dd>
</dl>

<dl>
	<dt>東京本部<span>（2021年以降の計画）</span></dt>
	<dd>年間約6,500m&sup3;の上水と同量の下水を削減<span>（対前年40％の削減）</span></dd>
</dl>
</div>
</div>

<h5 class="titleLv4">生物多様性方針（環境方針に含む）</h5>
<!--#include virtual="/inc/pagetop.html" -->

<h4 class="titleLv4">【エネルギー使用量・資源使用量・排出量】</h4>

<div class="right">各年3月期</div>

<div class="x_scroll">
<table class="stdTb02 tb_021">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>単位</th>
			<th>2019年</th>
			<th>2020年</th>
			<th>2021年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>電力</th>
			<td>千kWh</td>
			<td>12,794</td>
			<td>11,658</td>
			<td>11,304</td>
		</tr>
		<tr>
			<th>蒸気</th>
			<td>千GJ</td>
			<td>7</td>
			<td>6</td>
			<td>5</td>
		</tr>
		<tr>
			<th>都市ガス</th>
			<td>千m&sup3;</td>
			<td>52</td>
			<td>53</td>
			<td>45</td>
		</tr>
		<tr>
			<th>重油</th>
			<td>ℓ</td>
			<td>44</td>
			<td>25</td>
			<td>54</td>
		</tr>
		<tr>
			<th>エネルギー消費量合計</th>
			<td>千GJ</td>
			<td>148</td>
			<td>135</td>
			<td>129</td>
		</tr>
	</tbody>
</table>
</div>

<div class="expand">
<div class="x_scroll">
<table class="stdTb02 tb_021">
	<tbody>
		<tr>
			<th>紙使用量</th>
			<td>t</td>
			<td>55,903</td>
			<td>55,102</td>
			<td>51,823</td>
		</tr>
		<tr>
			<th>水使用量</th>
			<td>千m&sup3;</td>
			<td>2,412</td>
			<td>2,501</td>
			<td>2,540</td>
		</tr>
		<tr>
			<th>CO2排出量</th>
			<td>t</td>
			<td>5,082</td>
			<td>4,517</td>
			<td>4,185</td>
		</tr>
		<tr>
			<th><span>廃棄物</span><span>（紙）</span><span>排出量</span></th>
			<td>t</td>
			<td>1,768</td>
			<td>1,417</td>
			<td>1,474</td>
		</tr>
		<tr>
			<th><span>廃棄物</span><span>（産業廃棄物）</span><span>排出量</span></th>
			<td>t</td>
			<td>545</td>
			<td>682</td>
			<td>576</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<ul class="small margin">
	<li>エネルギー使用量は、岡山本社、東京本部、ベネッセ・ロジスティクス・センター、岡山県岡山市高柳所在物件、７支社ならびにクラスベネッセ教室・ビースタジオ教室の数値を集計しています。</li>
	<li>水使用量は、岡山本社、東京本部、ベネッセ・ロジスティクス・センター、ベネッセスタイルケア（高齢者向け住宅）およびベネッセソシアスの数値を集計しています。
	<dl>
		<dt>ベネッセソシアス：</dt>
		<dd>ベネッセスタイルケアが運営する老人ホームに入居されている方の私物やバスタオルの洗濯業務を受託してサービス提供する「就労継続支援A型事業所」<br />
		<a href="https://www.benesse-socius.co.jp" target="_blank">https://www.benesse-socius.co.jp</a></dd>
	</dl>
	</li>
	<li>水源は100％水道水です。</li>
	<li>紙使用量は、オフィス使用を除いて集計しています。</li>
	<li>CO2排出量は、電力分のみ集計しています。</li>
</ul>

<p class="expand margin">ベネッセコーポーレーションは、2018年3月期（FY2017）を基準年とし、SBT基準に準拠したWB2℃目標※（スコープ３については２℃目標）に沿って削減目標を上方修正し、以下の通り、温室効果ガスの排出量の中長期的な削減目標を立てています。<br />
※産業革命前から気温上昇を2℃よりも十分下方に抑える目標</p>

<p class="right">各年3月期</p>

<p class="sbt-caption">＜SBT認定目標＞</p>

<table class="stdTb02 tb_cst">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th>毎年</th>
			<th>2030年</th>
			<th>2050年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="2">2018年を100%とした時の削減率</th>
			<th>スコープ1・2</th>
			<td class="right">3.02%</td>
			<td class="right">36.2%</td>
			<td class="right">100.0%</td>
		</tr>
		<tr>
			<th>スコープ3</th>
			<td class="right">1.23%</td>
			<td class="right">14.8%</td>
			<td class="right">39.4%</td>
		</tr>
	</tbody>
</table>

<dl class="small">
	<dt>※上記削減目標は、スコープ1、スコープ2、スコープ3を対象としている。</dt>
	<dd>スコープ1：ベネッセ自らによる温室効果ガスの直接排出<br />
	スコープ2：他者から供給された電気、熱・蒸気の使用に伴う間接排出<br />
	スコープ3：ベネッセのバリューチェーンからの排出</dd>
	<dt>※スコープ3の対象カテゴリー：</dt>
	<dd>カテゴリー1（購入した製品・サービス）、2（資本財）、3（燃料およびエネルギー関連活動　※スコープ1,2に含まないもの）、4・9（輸送・配送　上流・下流）、5（事業からでる廃棄物）、6（出張）、7（雇用者の通勤）、8（リース資産）、11（販売した製品の使用）、12（販売した製品の廃棄）</dd>
	<dt>※対象組織範囲：</dt>
	<dd>（株）ベネッセコーポレーションの国内及び台北支社</dd>
</dl>

<p class="right">各年3月期</p>

<div class="x_scroll">
<table class="stdTb02 tb_024">
	<colgroup>
		<col style="width: 20%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 11%" />
		<col style="width: 12%" />
		<col style="width: 13%" />
	</colgroup>
	<thead>
		<tr class="thead1">
			<th class="center" rowspan="2">単位：t-CO2</th>
			<th class="center"><span>2018年</span></th>
			<th class="center" colspan="2"><span>2020年</span></th>
			<th class="center" colspan="2"><span>2021年</span></th>
			<th class="center" rowspan="2"><span>基準年からの</span><span>削減率</span></th>
			<th class="center" rowspan="2"><span>2021年目標</span><span>からの削減率</span></th>
		</tr>
		<tr class="thead2">
			<th class="center">実績</th>
			<th class="center">目標</th>
			<th class="center">実績</th>
			<th class="center">目標</th>
			<th class="center">実績</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><span>スコープ1</span></th>
			<td class="right">120</td>
			<td class="right">113</td>
			<td class="right">88</td>
			<td class="right">109</td>
			<td class="right">76</td>
			<td class="right">36.7%</td>
			<td class="right">30.3%</td>
		</tr>
		<tr>
			<th><span>スコープ2</span></th>
			<td class="right">7,477</td>
			<td class="right">7,025</td>
			<td class="right">5,929</td>
			<td class="right">6,800</td>
			<td class="right">5,204</td>
			<td class="right">30.4%</td>
			<td class="right">23.5%</td>
		</tr>
		<tr>
			<th><span>スコープ3</span></th>
			<td class="right">400,988</td>
			<td class="right">391,124</td>
			<td class="right">390,498</td>
			<td class="right">386,192</td>
			<td class="right">442,701</td>
			<td class="right">-10.4%</td>
			<td class="right">-14.6%</td>
		</tr>
		<tr>
			<th><span>スコープ1,2,3合計</span></th>
			<td class="right">408,585</td>
			<td class="right">398,262</td>
			<td class="right">396,515</td>
			<td class="right">393,101</td>
			<td class="right">447,981</td>
			<td class="right">-9.6%</td>
			<td class="right">-14.0%</td>
		</tr>
	</tbody>
</table>

<table class="stdTb02 tb_024_2">
	<colgroup>
		<col style="width: 20%;" />
		<col style="width: 11%;" />
		<col style="width: 22%;" />
		<col style="width: 22%;" />
		<col style="width: 25%;" />
	</colgroup>
	<tbody>
		<tr>
			<th>スコープ1,2,3<br />
			原単位実績<br />
			（売上高原単位<br />
			t-CO2/千円）</th>
			<td class="right">0.0023</td>
			<td class="right">0.0022</td>
			<td class="right">0.0024</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
		<tr>
			<th colspan="2">前年比</th>
			<td class="right">104.8%</td>
			<td class="right">109.1%</td>
			<td colspan="2" style="background: none; border: none !important;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p class="right">【改定日：2021年10月27日】</p>
</div>

<h4 class="titleLv4">【スコープ別 CO2排出量】</h4>

<p class="right">各年3月期</p>

<div class="x_scroll">
<table class="stdTb02 tb_025">
	<thead>
		<tr>
			<th colspan="3">単位：t-CO2</th>
			<th>2019年</th>
			<th>2020年</th>
			<th>2021年</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="3">スコープ1</th>
			<td>88</td>
			<td>88</td>
			<td>76</td>
		</tr>
		<tr>
			<th colspan="3">スコープ2</th>
			<td>6,595</td>
			<td>5,929</td>
			<td>5,204</td>
		</tr>
		<tr>
			<th colspan="3">スコープ3</th>
			<td>373,986</td>
			<td>390,498</td>
			<td>442,701</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>1</td>
			<td>購入した製品・サービス</td>
			<td>336,330</td>
			<td>349,544</td>
			<td>410,798</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>2</td>
			<td>資本財</td>
			<td>11,364</td>
			<td>10,774</td>
			<td>7,100</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>3</td>
			<td>スコープ1,2に含まれない燃料及びエネルギー活動</td>
			<td>577</td>
			<td>1,041</td>
			<td>987</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>4</td>
			<td>輸送、配送（上流）</td>
			<td>6,084</td>
			<td>5,930</td>
			<td>6,014</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>5</td>
			<td>事業から出る廃棄物</td>
			<td>39</td>
			<td>905</td>
			<td>515</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>6</td>
			<td>出張</td>
			<td>2,478</td>
			<td>3,756</td>
			<td>1,098</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>7</td>
			<td>雇用者の通勤</td>
			<td>661</td>
			<td>1,011</td>
			<td>345</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>8</td>
			<td>リース資産（上流）</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>9</td>
			<td>輸送、配送（下流）</td>
			<td>8,306</td>
			<td>9,659</td>
			<td>8,340</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>10</td>
			<td>販売した製品の加工</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>11</td>
			<td>販売した製品の使用</td>
			<td>305</td>
			<td>351</td>
			<td>417</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>12</td>
			<td>販売した製品の廃棄</td>
			<td>7,842</td>
			<td>7,528</td>
			<td>7,086</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>13</td>
			<td>リース資産（下流）</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>14</td>
			<td>フランチャイズ</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>15</td>
			<td>投資</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th colspan="3">スコープ1,2,3合計</th>
			<td>380,669</td>
			<td>396,515</td>
			<td>447,981</td>
		</tr>
	</tbody>
</table>

<p class="right">【改定日：2021年10月27日】</p>
</div>

<h4 class="titleLv4">【第三者検証】</h4>

<p class="shrink">当社は、CO2排出量実績の信頼性向上のため、2020年度数値において、スコープ1およびスコープ2とスコープ3のうちのカテゴリー1（購入した製品・サービス）、2（資本財）、3（燃料およびエネルギー関連活動　※スコープ1,2に含まないもの）、4・9（輸送・配送　上流・下流）、5（事業からでる廃棄物）、6（出張）、7（雇用者の通勤）、11（販売した製品の使用）、12（販売した製品の廃棄）について、一般財団法人日本品質保証機構による第三者検証を受けています。</p>

<nav class="boxLnks">
<dl>
	<dt>温室効果ガス排出量等検証報告書</dt>
	<dd>
	<ul class="data_3rd_pdf">
		<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2020_ja.pdf" target="_blank"><img alt="温室効果ガス排出量等検証報告書2019" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_02.png" /></a></li>
		<li class="climate_3rd_pdf_item"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2020_en.pdf" target="_blank"><img alt="" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/climate_change_03.png" /></a></li>
	</ul>

	<p class="center margin">クリックするとPDFが開きます</p>

	<ul class="noteBox">
		<li><strong>前年度の検証報告書</strong>

		<ul class="relatedLinks">
			<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/independent-verification-report_2019_ja.pdf" target="_blank">日本語版 [PDF:905KB]</a></li>
			<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/download/independent-verification-report_2019_en.pdf" target="_blank">英語版 [PDF:696KB]</a></li>
		</ul>
		</li>
	</ul>
	</dd>
</dl>
</nav>
<div class="pageTop"><a href="#" class="scroll">To Top</a></div>
</section>
