<div class="section">
<p class="text">GRI（Global Reporting Initiative）の「サステナビリティ・レポーティング・ガイドライン」（GRI Standards）と、ベネッセホールディングスの取り組みの対照表です。</p>

<ul>
	<li class="move"><a class="scroll" href="#general">一般開示事項</a></li>
	<li class="move"><a class="scroll" href="#economy">経済</a></li>
	<li class="move"><a class="scroll" href="#environment">環境</a></li>
	<li class="move"><a class="scroll" href="#society">社会</a></li>
</ul>
<!-- end .section --></div>

<div class="section">　　　　　
<table class="stdTb02" id="general">
	<caption class="left bold">一般開示事項</caption>
	<colgroup>
		<col width="11%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">項目</th>
			<th scope="col">指標の内容（一部抜粋）</th>
			<th scope="col">掲載ページ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>102-1</td>
			<td>組織の名称</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/company.html">会社概要</a></td>
		</tr>
		<tr>
			<td>102-2</td>
			<td>
			<ol class="list-a">
				<li>組織の事業活動に関する説明</li>
				<li>主要なブランド、製品、およびサービス。特定の市場で販売が禁止されている製品またはサービスがあれば、その説明を含める</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/business.html">事業内容</a></td>
		</tr>
		<tr>
			<td>102-3</td>
			<td>組織の本社の所在地</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/company.html">会社概要</a></td>
		</tr>
		<tr>
			<td>102-4</td>
			<td>組織が事業を展開している国の数、および重要な事業所を所有している国の名称。報告書に記載している項目との関連は問わない</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/group.html">グループ会社</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/ir/strategy/risk.html">事業等のリスク</a></td>
		</tr>
		<tr>
			<td>102-5</td>
			<td>組織の所有形態や法人格の形態</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/company.html">会社概要</a></td>
		</tr>
		<tr>
			<td>102-6</td>
			<td>
			<ol class="list-a">
				<li>参入市場。次の事項を含む
				<ol class="list-i">
					<li>製品およびサービスを提供している地理的な場所</li>
					<li>参入業種</li>
					<li>顧客および受益者の種類</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/business_segment.html">事業内容（セグメント）</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/profile.html">ベネッセグループ会社案内</a></td>
		</tr>
		<tr>
			<td>102-7</td>
			<td>
			<ol class="list-a">
				<li>組織の規模。次の事項を含む
				<ol class="list-i">
					<li>総従業員数</li>
					<li>総事業所数</li>
					<li>純売上高（民間組織について）、純収入（公的組織について）</li>
					<li>株主資本および負債の内訳を示した総資本（民間組織について）</li>
					<li>提供する製品、サービスの量</li>
				</ol>
				</li>
			</ol>
			</td>
			<td>
        <a class="pdf" href="https://pdf.irpocket.com/C9783/wUtl/eidp/t8lo.pdf#page=17" target="_blank">会社情報</a><br />
        <a class="pdf" href="https://pdf.irpocket.com/C9783/wUtl/eidp/t8lo.pdf#page=3" target="_blank">連結財務ハイライト</a><br />
        <a class="pdf" href="https://pdf.irpocket.com/C9783/wUtl/eidp/t8lo.pdf#page=4" target="_blank">連結貸借対照表</a><br />
        <a class="pdf" href="https://pdf.irpocket.com/C9783/wUtl/eidp/t8lo.pdf#page=2" target="_blank">At a Glance</a>
      </td>
		</tr>
		<tr>
			<td>102-8</td>
			<td>
			<ol class="list-a">
				<li>雇用契約（正社員と臨時雇用者）別の、男女別総従業員数</li>
				<li>雇用契約（正社員と臨時雇用者）別の、地域別総従業員数</li>
				<li>雇用の種類（常勤と非常勤）別の、男女別総従業員数</li>
				<li>組織の活動の相当部分を担う者が、従業員以外の労働者であるか否か。該当する場合、従業員以外の労働者が担う作業の性質および規模についての記述</li>
				<li>開示事項102-8-a、102-8-b、102-8-cで報告する従業員数に著しい変動（観光業や農業における季節変動）</li>
				<li>データの編集方法についての説明（何らかの前提があればそれも含める）</li>
			</ol>
			</td>
			<td><a href="/ja/themes/153">ダイバーシティ＆インクリュージョン</a></td>
		</tr>
		<tr>
			<td>102-9</td>
			<td>
			<ol class="list-a">
				<li>組織のサプライチェーンの説明。組織の活動、主要なブランド、製品、およびサービスに関するサプライチェーンの主要要素を含める</li>
			</ol>
			</td>
			<td><a href="https://www.benesse.co.jp/anzen/anzen_05.html" target="_blank">安心・安全5つの行動</a></td>
		</tr>
		<tr>
			<td>102-10</td>
			<td>
			<ol class="list-a">
				<li>組織の規模、構造、所有形態、またはサプライチェーンに関して生じた重大な変化。次の事項を含む
				<ol class="list-i">
					<li>所在地または事業所に関する変化（施設の開設や閉鎖、拡張を含む）</li>
					<li>株式資本構造の変化、その他資本の形成、維持、変更手続きの実施による変化（民間組織の場合）</li>
					<li>サプライヤーの所在地、サプライチェーンの構造、またはサプライヤーとの関係の変化（選定や解消を含む）</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=26" target="_blank">経営上の重要な契約等</a></td>
		</tr>
		<tr>
			<td>102-11</td>
			<td>
			<ol class="list-a">
				<li>組織が予防原則や予防的アプローチに取り組んでいるか。またその取り組み方</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/internal_control.html">内部統制システムに関する基本的な考え方及びその整備状況</a></td>
		</tr>
		<tr>
			<td>102-12</td>
			<td>
			<ol class="list-a">
				<li>外部で作成された経済、環境、社会の憲章、原則その他のイニシアティブで、組織が署名または支持しているもののリスト</li>
			</ol>
			</td>
			<td rowspan="2"><a href="/ja/themes/142">イニシアティブの参加</a><br />
			<a href="/ja/themes/170">国連グローバル・コンパクト</a></td>
		</tr>
		<tr>
			<td>102-13</td>
			<td>
			<ol class="list-a">
				<li>業界団体、その他の協会、および国内外の提言機関で組織が持っている主な会員資格のリスト</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-14</td>
			<td>
			<ol class="list-a">
				<li>組織とサステナビリティの関連性、およびサステナビリティに取り組むための戦略に関する、組織の最高意思決定者（CEO、会長またはそれに相当する上級幹部）の声明</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/message/index.html">トップメッセージ</a></td>
		</tr>
		<tr>
			<td>102-15</td>
			<td>
			<ol class="list-a">
				<li>重要なインパクト、リスク、機会の説明</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/ir/strategy/middleplan.html">中期経営計画</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/ir/strategy/risk.html">事業等のリスク</a></td>
		</tr>
		<tr>
			<td>102-16</td>
			<td>
			<ol class="list-a">
				<li>組織の価値観、理念、行動基準・規範についての説明</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/philosophy.html">グループ企業理念・行動指針</a></td>
		</tr>
		<tr>
			<td>102-17</td>
			<td>
			<ol class="list-a">
				<li>組織内外に設けられている次の制度についての説明
				<ol class="list-i">
					<li>倫理的行為および合法行為、ならびに組織の誠実性に関する助言を求める制度</li>
					<li>非倫理的行為または違法行為、ならびに組織の誠実性に関する懸念を通報する制度</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/corp_governance.html">コーポレート・ガバナンス</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/internal_control.html">内部統制システムに関する基本的な考え方及びその整備状況</a><br />
			<a href="/ja/themes/164">リスクマネジメント・コンプライアンス</a></td>
		</tr>
		<tr>
			<td>102-18</td>
			<td>
			<ol class="list-a">
				<li>組織のガバナンス構造。最高ガバナンス機関の委員会を含む</li>
				<li>経済、環境、社会項目に関する意思決定に責任を負っている委員会</li>
			</ol>
			</td>
			<td rowspan="4"><a class="pdf" href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf" target="_blank">コーポレート・ガバナンス報告書</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a></td>
		</tr>
		<tr>
			<td>102-19</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関から役員や他の従業員へ、経済、環境、社会項目に関して権限委譲を行うプロセス</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-20</td>
			<td>
			<ol class="list-a">
				<li>組織が、役員レベルの地位にある者を経済、環境、社会項目の責任者として任命しているか</li>
				<li>その地位にある者が、最高ガバナンス機関の直属となっているか</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-21</td>
			<td>
			<ol class="list-a">
				<li>ステークホルダーと最高ガバナンス機関の間で、経済、環境、社会項目に関して協議を行うプロセス</li>
				<li>協議が権限移譲されている場合は、誰に委任されているか、最高ガバナンス機関への結果のフィードバックをどのように行っているか</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-22</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関およびその委員会の構成。次の事項による
				<ol class="list-i">
					<li>執行権の有無</li>
					<li>独立性</li>
					<li>ガバナンス機関における任期</li>
					<li>構成員の他の重要な役職およびコミットメントの数、ならびにコミットメントの性質</li>
					<li>ジェンダー</li>
					<li>発言権が低い社会的グループのメンバー</li>
					<li>経済、環境、社会項目に関係する能力</li>
					<li>ステークホルダーの代表</li>
				</ol>
				</li>
			</ol>
			</td>
			<td rowspan="2"><a href="https://www.benesse-hd.co.jp/ja/about/management/corp_governance.html">コーポレート・ガバナンス</a><br />
			<a class="pdf" href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_effectiveness_2020.pdf" target="_blank">当社取締役会の実効性に関する評価結果の概要について</a></td>
		</tr>
		<tr>
			<td>102-23</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関の議長が組織の執行役員を兼ねているか否か</li>
				<li>議長が執行役員を兼ねている場合、組織の経営におけるその者の役割と、そのような人事の理由</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-24</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関およびその委員会メンバーの指名と選出のプロセス</li>
				<li>最高ガバナンス機関のメンバーの指名と選出で用いられる基準。次の事項を含む
				<ol class="list-i">
					<li>ステークホルダー（株主を含む）が関与しているか、どのように関与しているか</li>
					<li>多様性が考慮されているか、どのように考慮されているか</li>
					<li>独立性が考慮されているか、どのように考慮されているか</li>
					<li>経済、環境、社会項目に関する専門知識や経験が考慮されているか、どのように考慮されているか</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/corp_governance.html">コーポレート・ガバナンス</a></td>
		</tr>
		<tr>
			<td>102-25</td>
			<td>
			<ol class="list-a">
				<li>利益相反の回避、対処のために最高ガバナンス機関が行っているプロセス</li>
				<li>利益相反に関する情報をステークホルダーに開示しているか。最低限、次の事項を含む
				<ol class="list-i">
					<li>役員会メンバーへの相互就任</li>
					<li>サプライヤーおよびその他のステークホルダーとの株式の持ち合い</li>
					<li>支配株主の存在</li>
					<li>関連当事者の情報</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/internal_control.html">内部統制システムに関する基本的な考え方及びその整備状況</a></td>
		</tr>
		<tr>
			<td>102-26</td>
			<td>
			<ol class="list-a">
				<li>経済、環境、社会項目に関わる組織の目的、価値観、ミッション・ステートメント、戦略、方針、目標の策定、承認、更新に際して、最高ガバナンス機関と役員が果たす役割</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/message/index.html">トップメッセージ</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=10" target="_blank">業務執行、監査・監督、指名、報酬決定等の機能に係る事項</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a></td>
		</tr>
		<tr>
			<td>102-27</td>
			<td>
			<ol class="list-a">
				<li>経済、環境、社会項目に関する最高ガバナンス機関の集合的知見を発展、強化するために実施した施策</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=13" target="_blank">ステークホルダーの立場の尊重に係る取組み状況</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a></td>
		</tr>
		<tr>
			<td>102-28</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関の経済、環境、社会項目のガバナンスに関するパフォーマンスを評価するためのプロセス</li>
				<li>当該評価の独立性が確保されているか否か、および評価の頻度</li>
				<li>当該評価が自己評価であるか否か</li>
				<li>最高ガバナンス機関の経済、環境、社会項目のガバナンスに関するパフォーマンス評価に対応して行った措置<br />
				最低限、メンバーの変更や組織の実務慣行の変化を含む</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_effectiveness_2020.pdf" target="_blank">当社取締役会の実効性に関する評価結果の概要について</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a></td>
		</tr>
		<tr>
			<td>102-29</td>
			<td>
			<ol class="list-a">
				<li>経済、環境、社会項目、およびそのインパクト、リスク、機会の特定とマネジメントにおける最高ガバナンス機関の役割。デュー・デリジェンス・プロセスの実施における最高ガバナンス機関の役割を含む</li>
				<li>最高ガバナンス機関による経済、環境、社会項目、およびそのインパクト、リスク、機会の特定とマネジメントをサポートするために、ステークホルダーとの協議が活用されているか否か</li>
			</ol>
			</td>
			<td rowspan="4"><a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/materiality/index.html">ベネッセのマテリアリティ</a><br />
			<a href="/ja/themes/152">人権の尊重</a><br />
			<a href="/ja/themes/148">気候変動への対応</a></td>
		</tr>
		<tr>
			<td>102-30</td>
			<td>
			<ol class="list-a">
				<li>経済、環境、社会項目に関するリスクマネジメント・プロセスの有効性のレビューにおける最高ガバナンス機関の役割</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-31</td>
			<td>
			<ol class="list-a">
				<li>経済、環境、社会項目、およびそのインパクト、リスク、機会に関して最高ガバナンス機関が行うレビューの頻度</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-32</td>
			<td>
			<ol class="list-a">
				<li>組織のサステナビリティ報告書の正式なレビューや承認を行い、すべてのマテリアルな項目が取り上げられていることを確認する機能を果たしている最高位の委員会または役職</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-33</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関に対して重大な懸念事項を伝達するために設けられているプロセス</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/internal_control.html">内部統制システムに関する基本的な考え方及びその整備状況</a></td>
		</tr>
		<tr>
			<td>102-35</td>
			<td>
			<ol class="list-a">
				<li>最高ガバナンス機関および役員に対する報酬方針。次の種類の報酬を含む
				<ol class="list-i">
					<li>固定報酬と変動報酬（パフォーマンス連動報酬、株式連動報酬、賞与、後配株式または権利確定株式を含む）</li>
					<li>契約金、採用時インセンティブの支払い</li>
					<li>契約終了手当</li>
					<li>クローバック</li>
					<li>退職給付（最高ガバナンス機関、役員、その他の全従業員について、それぞれの給付制度と拠出金率の違いから生じる差額を含む）</li>
				</ol>
				</li>
				<li>報酬方針におけるパフォーマンス基準と、最高ガバナンス機関および役員の経済、環境、社会項目における目標がどのように関係しているか</li>
			</ol>
			</td>
			<td rowspan="2"><a href="https://www.benesse-hd.co.jp/ja/about/management/corp_governance.html">コーポレート・ガバナンス</a></td>
		</tr>
		<tr>
			<td>102-36</td>
			<td>
			<ol class="list-a">
				<li>報酬の決定プロセス</li>
				<li>報酬コンサルタントが報酬の決定に関与しているか否か、また報酬コンサルタントが経営陣から独立しているか否か</li>
				<li>報酬コンサルタントと組織との間に存在するその他の関係</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-37</td>
			<td>
			<ol class="list-a">
				<li>報酬に関するステークホルダーの意見をどのように求め、また考慮しているか</li>
				<li>考慮している場合、報酬方針や提案への投票結果</li>
			</ol>
			</td>
			<td><a class="pdf" href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=51" target="_blank">(4)役員の報酬等<br />
			（（注）1．に記載あり。）</a></td>
		</tr>
		<tr>
			<td>102-40</td>
			<td>
			<ol class="list-a">
				<li>組織がエンゲージメントしたステークホルダー・グループのリスト</li>
			</ol>
			</td>
			<td><a href="/ja/themes/141">ステークホルダーとのコミュニケーション</a></td>
		</tr>
		<tr>
			<td>102-41</td>
			<td>
			<ol class="list-a">
				<li>団体交渉協定の対象となる全従業員の割合</li>
			</ol>
			</td>
			<td><a class="pdf" href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=10" target="_blank">（3）労働組合の状況</a></td>
		</tr>
		<tr>
			<td>102-42</td>
			<td>
			<ol class="list-a">
				<li>組織がエンゲージメントを行うステークホルダーを特定および選定する基準</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/materiality/index.html">ベネッセのマテリアリティ</a></td>
		</tr>
		<tr>
			<td>102-43</td>
			<td>
			<ol class="list-a">
				<li>組織のステークホルダー・エンゲージメントへのアプローチ方法。種類別、ステークホルダー・グループ別のエンゲージメントの頻度を含む。また、特に報告書作成プロセスの一環として行ったエンゲージメントか否かを示す</li>
			</ol>
			</td>
			<td rowspan="2"><a href="/ja/themes/141">ステークホルダーとのコミュニケーション</a></td>
		</tr>
		<tr>
			<td>102-44</td>
			<td>
			<ol class="list-a">
				<li>ステークホルダー・エンゲージメントにより提起された重要な項目および懸念。次の事項を含む
				<ol class="list-i">
					<li>組織が重要な項目および懸念にどう対応したか（報告を行って対応したものを含む）</li>
					<li>重要な項目および懸念を提起したステークホルダー・グループ</li>
				</ol>
				</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-45</td>
			<td>
			<ol class="list-a">
				<li>組織の連結財務諸表または同等文書の対象になっているすべての事業体のリスト</li>
				<li>組織の連結財務諸表または同等文書の対象になっている事業体のいずれかが報告書の記載から外れているか否か</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/ir/doc/stock/shareholdersmeeting/invite_67_2jp.pdf#page=8">1．連結の範囲に関する事項</a><br />
			<a href="https://pdf.irpocket.com/C9783/g7QL/wxib/YIi7.pdf#page=8">4【関係会社の状況】</a></td>
		</tr>
		<tr>
			<td>102-46</td>
			<td>
			<ol class="list-a">
				<li>報告書の内容および項目の該当範囲を確定するためのプロセスの説明</li>
				<li>組織が報告書の内容を確定する際、報告原則をどのように適用したかについての説明</li>
			</ol>
			</td>
			<td rowspan="2"><a href="/ja/themes/141#985">報告実務</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/materiality/index.html">ベネッセのマテリアリティ</a></td>
		</tr>
		<tr>
			<td>102-47</td>
			<td>
			<ol class="list-a">
				<li>報告書の内容を確定するプロセスで特定したマテリアルな項目のリスト</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-48</td>
			<td>
			<ol class="list-a">
				<li>過去の報告書で提供した情報を修正再記述する場合、再記述の影響および理由</li>
			</ol>
			</td>
			<td><a href="/ja/themes/168">ESGデータ集</a></td>
		</tr>
		<tr>
			<td>102-50</td>
			<td>
			<ol class="list-a">
				<li>提供情報の報告期間</li>
			</ol>
			</td>
			<td rowspan="3"><a href="/ja/themes/141#985">報告実務</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/ir/ir_news/index.html">IRニュース</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/ir/strategy/ir_policy.html">IR基本方針</a></td>
		</tr>
		<tr>
			<td>102-51</td>
			<td>
			<ol class="list-a">
				<li>前回発行した報告書の日付（該当する場合）</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-52</td>
			<td>
			<ol class="list-a">
				<li>報告サイクル</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>102-53</td>
			<td>
			<ol class="list-a">
				<li>報告書またはその内容に関する質問の窓口</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/ir/info/contact_ssl.html">お問い合わせ</a></td>
		</tr>
		<tr>
			<td>102-54</td>
			<td>
			<ol class="list-a">
				<li>組織がGRIスタンダードに準拠し、次のいずれかの選択肢を選んで報告書を作成したことを表す主張
				<ol class="list-i">
					<li>「この報告書は、GRIスタンダードの中核（Core）オプションに準拠して作成されている。」</li>
					<li>「この報告書は、GRIスタンダードの包括（Comprehensive）オプションに準拠して作成されている。」</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/141#985">報告実務</a></td>
		</tr>
		<tr>
			<td>102-55</td>
			<td>
			<ol class="list-a">
				<li>GRI の内容索引（使用した各スタンダードを明記し、報告書に記載したすべての開示事項を一覧表示する）</li>
				<li>内容索引には、各開示事項について次の情報を含める
				<ol class="list-i">
					<li>開示事項の番号（GRIスタンダードに従って開示した項目について）</li>
					<li>報告書またはその他の公開資料の中で、該当の情報が記載されているページ番号またはURL</li>
					<li>要求される開示事項の省略が認められていて、開示できない場合の省略の理由（該当する場合）</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/169">GRIスタンダード対照表</a></td>
		</tr>
		<tr>
			<td>102-56</td>
			<td>
			<ol class="list-a">
				<li>報告書の外部保証に関する組織の方針および現在の実務慣行の説明</li>
				<li>報告書が外部保証を受けている場合、
				<ol class="list-i">
					<li>外部保証報告書、表明、意見に言及する。外部保証によって保証されている事項、保証されていない事項、その根拠（サステナビリティ報告書に添付する保証報告書に記載がない場合）。これには保証基準、保証レベル、保証プロセスに存在する制約事項も含める</li>
					<li>組織と保証提供者の関係</li>
					<li>最高ガバナンス機関または役員が、組織のサステナビリティ報告書の保証に関わっているか否か、どのように関わっているか</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/168#1070">温室効果ガス排出量等検証報告書</a></td>
		</tr>
		<tr>
			<td>103-1</td>
			<td>
			<ol class="list-a">
				<li>その項目がマテリアルである理由の説明</li>
				<li>マテリアルな項目の該当範囲。次の記述を含む
				<ol class="list-i">
					<li>どこでインパクトが生じるのか</li>
					<li>組織のインパクトへの関与。例えば、組織のインパクトへの関与は直接的か間接的か、または組織のビジネス関係を通じてインパクトに関連したかどうか</li>
					<li>該当範囲に関する具体的な制約事項</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/message/index.html">トップメッセージ</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/vision/index.html">サステナビリティビジョン</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/materiality/index.html">ベネッセのマテリアリティ</a><br />
			<a href="/ja/themes/145">ベネッセグループのESG活動</a></td>
		</tr>
		<tr>
			<td>103-2</td>
			<td>
			<ol class="list-a">
				<li>組織がその項目をどのようにマネジメントしているかについての説明</li>
				<li>マネジメント手法の目的に関する表明</li>
				<li>マネジメント手法に次の要素が含まれている場合、各要素についての説明
				<ol class="list-i">
					<li>方針</li>
					<li>コミットメント</li>
					<li>目標およびターゲット</li>
					<li>責任</li>
					<li>経営資源</li>
					<li>苦情処理メカニズム</li>
					<li>具体的な措置（プロセス、プロジェクト、プログラム、イニシアティブなど）</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/message/index.html">トップメッセージ</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/vision/index.html">サステナビリティビジョン</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/materiality/index.html">ベネッセのマテリアリティ</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=10">業務執行、監査・監督、指名、報酬決定等の機能に係る事項</a><br />
			<a href="/ja/themes/145">ベネッセグループのESG活動</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a><br />
			<a href="/ja/themes/152">人権の尊重</a><br />
			<a href="/ja/themes/142">イニシアティブへの参加</a></td>
		</tr>
		<tr>
			<td>103-3</td>
			<td>
			<ol class="list-a">
				<li>組織によるマネジメント手法の評価方法。次の事項を含む
				<ol class="list-i">
					<li>マネジメント手法の有効性を評価する仕組み</li>
					<li>マネジメント手法の評価結果</li>
					<li>マネジメント手法に関して行った調整</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/sustainability/framework/index.html">推進体制</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_effectiveness_2020.pdf">当社取締役会の実効性に関する評価結果の概要について</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/evaluation/index.html">外部評価・受賞実績</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>
<!--#include virtual="/inc/pagetop.html" -->

<div class="section">
<table class="stdTb02" id="economy">
	<caption class="left bold"><strong>経済</strong></caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th class="BG-Gray" scope="col">項目</th>
			<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
			<th class="BG-Gray" scope="col">掲載ページ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>201-1</td>
			<td>
			<ol class="list-a">
				<li>創出、分配した直接的経済価値（発生主義ベースによる）。これには、組織のグローバルにおける事業について、次に一覧表示する基本要素を含める。データを現金主義で表示する場合は、その判断理由を次の基本要素に加えて報告する
				<ol class="list-i">
					<li>創出した直接的経済価値：収益</li>
					<li>分配した経済価値：事業コスト、従業員給与と諸手当、資本提供者への支払い、政府への支払い（国別）、コミュニティ投資</li>
					<li>留保している経済価値：「創出した直接的経済価値」から「分配した経済価値」を引いたもの</li>
				</ol>
				</li>
				<li>影響が著しいものについて、創出・分配経済価値を国、地域、市場レベルに分けて報告する。また「著しい」と判断する基準も報告する</li>
			</ol>
			</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=60" target="_blank">②【連結損益計算書及び連結包括利益計算書】</a></td>
		</tr>
		<tr>
			<td>201-2</td>
			<td>
			<ol class="list-a">
				<li>気候変動に起因してもたらされるリスクや機会で、事業、収益、費用に実質的な変動が生じる可能性のあるもの。次の事項を含む
				<ol class="list-i">
					<li>リスクと機会の記述。リスクと機会を物理的、規制関連、その他に分類</li>
					<li>リスクと機会に関連するインパクトの記述</li>
					<li>措置を行う前から想定されるリスクと機会の財務上の影響</li>
					<li>リスクと機会をマネジメントするために用いた手法</li>
					<li>リスクと機会をマネジメントするために行った措置のコスト</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/148">気候変動への対応</a><br />
			<a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/achievement/environment/tcfd_disclosure.pdf" target="_blank">TCFD対応の情報開示</a></td>
		</tr>
		<tr>
			<td>201-3</td>
			<td>
			<ol class="list-a">
				<li>組織の一般財源で当該制度の債務をまかなっている場合、その債務の推定額</li>
				<li>年金制度の債務を支払うために別の基金を持っている場合、次の事項
				<ol class="list-i">
					<li>年金制度の債務額のうち別途積み立て資産でカバーされる割合の推定値</li>
					<li>当該推定値の計算基礎</li>
					<li>推定値の計算時期</li>
				</ol>
				</li>
				<li>年金制度の債務を支払うために設けられた基金が不足している場合、雇用者が完全補償実現に向けて実施している戦略があればそれを説明する。また雇用者が完全補償実現の目標時期を設定している場合は、それについて説明する</li>
				<li>従業員、雇用者による拠出額が給与に占める割合</li>
				<li>退職金積立制度への参加レベル（義務的参加か任意制度か、地域的制度か国の制度か、経済的インパクトがあるものか、など）</li>
			</ol>
			</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=90">（退職給付関係）</a></td>
		</tr>
		<tr>
			<td>203-1</td>
			<td>
			<ol class="list-a">
				<li>重要なインフラ投資や支援サービスを展開した範囲</li>
				<li>コミュニティや地域経済に与えているインパクト、または与えると思われるインパクト。プラスとマイナス双方を含む（該当する場合）</li>
				<li>当該投資・サービスが商業目的のものか、現物支給するものか、無償で実施するものかを報告する</li>
			</ol>
			</td>
			<td rowspan="2"><a href="/ja/themes/157">地域社会</a><br />
			<a href="/ja/themes/141">ステークホルダーとのコミュニケーション</a><br />
			<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/index.html">マテリアリティ活動事例</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/sustainability/mirai/index.html">ベネッセこどもの未来応援プロジェクト</a></td>
		</tr>
		<tr>
			<td>203-2</td>
			<td>
			<ol class="list-a">
				<li>組織が与える著しい間接的な経済的インパクト（プラスおよびマイナス）と特定された事例</li>
				<li>外部のベンチマークおよびステークホルダーの優先事項（国内および国際的な基準、協定、政策課題など）を考慮した場合の間接的な経済的インパクトの「著しさ」</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>205-2</td>
			<td>
			<ol class="list-a">
				<li>ガバナンス機関メンバーのうち、腐敗防止に関する組織の方針や手順の伝達対象となった者の総数と割合（地域別に）</li>
				<li>従業員のうち、腐敗防止に関する組織の方針や手順の伝達対象となった者の総数と割合（従業員区分別、地域別に）</li>
				<li>ビジネスパートナーのうち、腐敗防止に関する組織の方針や手順について伝達対象となった者の総数と割合（ビジネスパートナー種類別、地域別に）。腐敗防止に関する組織の方針や手順が、その他の個人または組織に伝達されているかどうかを記述する</li>
				<li>ガバナンス機関メンバーのうち、腐敗防止に関する研修を受講した者の総数と割合（地域別に）</li>
				<li>従業員のうち、腐敗防止に関する研修を受講した者の総数と割合（従業員区分別、地域別に）</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/corp_governance.html">コーポレート・ガバナンス</a><br />
			<a href="/ja/themes/164">リスクマネジメント・コンプライアンス</a></td>
		</tr>
		<tr>
			<td>207-1</td>
			<td>
			<ol class="list-a">
				<li>税務へのアプローチの説明。次の事項を含む
				<ol class="list-i">
					<li>組織に税務戦略があるか否か、戦略があり、公開されている場合は当該戦略へのリンク</li>
					<li>税務戦略を正式にレビューし承認する組織内のガバナンス機関もしくは役員レベルの地位</li>
					<li>法規制の遵守へのアプローチ</li>
					<li>税務へのアプローチが事業及び組織の持続可能な開発戦略とどのように関連しているか</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/taxpolicy.html">ベネッセグループ税務基本方針</a></td>
		</tr>
		<tr>
			<td>207-2</td>
			<td>
			<ol class="list-a">
				<li>税務ガバナンス及び管理フレームワーク。次の事項を含む
				<ol class="list-i">
					<li>税務戦略との整合性について組織内で説明責任を有するガバナンス機関もしくは役員レベルの地位</li>
					<li>組織内で税務へのアプローチがどのように組み込まれているか</li>
					<li>税務リスクへのアプローチ。リスクをどのように特定し、管理し、モニタリングしているかを含む</li>
					<li>税務戦略や管理フレームワークとの整合性がどのように評価されているか</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/taxpolicy.html">ベネッセグループ税務基本方針</a></td>
		</tr>
		<tr>
			<td>207-3</td>
			<td>
			<ol class="list-a">
				<li>税務に関するステークホルダーエンゲージメント及び懸念事項へのアプローチの説明。次の事項を含む
				<ol class="list-i">
					<li>税務当局とのエンゲージメントへのアプローチ</li>
					<li>組織内で税務へのアプローチがどのように組み込まれているか</li>
					<li>税務に関する公共政策へのアドボカシー活動</li>
					<li>外部ステークホルダーを含むステークホルダーの意見や懸念事項を収集し検討する</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/taxpolicy.html">ベネッセグループ税務基本方針</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>
<!--#include virtual="/inc/pagetop.html" -->

<div class="section">
<table class="stdTb02" id="environment">
	<caption class="left bold">環境</caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th class="BG-Gray" scope="col">項目</th>
			<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
			<th class="BG-Gray" scope="col">掲載ページ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>301-1</td>
			<td>
			<ol class="list-a">
				<li>組織が報告期間中に主要製品やサービスの生産、梱包に使用した原材料の重量または体積の総計。次の分類による
				<ol class="list-i">
					<li>使用した再生不能原材料</li>
					<li>使用した再生可能原材料</li>
				</ol>
				</li>
			</ol>
			</td>
			<td rowspan="3"><a href="/ja/themes/168">ESGデータ集</a><br />
			<a href="/ja/themes/149">資源の保全</a></td>
		</tr>
		<tr>
			<td>301-2</td>
			<td>
			<ol class="list-a">
				<li>組織の主要製品やサービスの生産に使用したリサイクル材料の割合</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>301-3</td>
			<td>
			<ol class="list-a">
				<li>再生利用された製品と梱包材の割合。製品区分別に</li>
				<li>本開示事項のデータ収集方法</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>302-1</td>
			<td>
			<ol class="list-a">
				<li>組織内における非再生可能エネルギー源に由来する総燃料消費量（ジュールまたはその倍数単位（メガ、ギガなど）による）。使用した燃料の種類も記載する</li>
				<li>組織内における再生可能エネルギー源に由来する総燃料消費量（ジュールまたはその倍数単位による）<br />
				使用した燃料の種類も記載する</li>
				<li>次の総量（ジュール、ワット時、またはその倍数単位による）
				<ol class="list-i">
					<li>電力消費量</li>
				</ol>

				<ol class="list-i">
					<li>暖房消費量</li>
				</ol>

				<ol class="list-i">
					<li>冷房消費量</li>
				</ol>

				<ol class="list-i">
					<li>蒸気消費量</li>
				</ol>
				</li>
				<li>次の総量（ジュール、ワット時、またはその倍数単位による）
				<ol class="list-i">
					<li>販売した電力</li>
					<li>販売した暖房</li>
					<li>販売した冷房</li>
					<li>販売した蒸気</li>
				</ol>
				</li>
				<li>組織内のエネルギー総消費量（ジュールまたはその倍数単位による）</li>
				<li>使用した基準、方法、前提条件、計算ツール</li>
				<li>使用した変換係数の情報源</li>
			</ol>
			</td>
			<td><a href="/ja/themes/168#1070">ESGデータ集（電力使用量）</a><br />
			<a href="/ja/themes/149">資源の保全</a></td>
		</tr>
		<tr>
			<td>303-1</td>
			<td>
			<ol class="list-a">
				<li>水源からの総取水量。次の水源別内訳による
				<ol class="list-i">
					<li>地表水（湿地、河川、湖、海などからの水を含む）</li>
					<li>地下水</li>
					<li>組織が直接貯めた雨水</li>
					<li>他の組織からの廃水</li>
					<li>地方自治体の水道や他の公営・民間水道施設</li>
				</ol>
				</li>
				<li>使用した基準、方法、前提条件</li>
			</ol>
			</td>
			<td><a href="/ja/themes/168#1070">ESGデータ集（水使用量）</a><br />
			※水源は100％水道水です。<br />
			<a href="/ja/themes/149">資源の保全</a></td>
		</tr>
		<tr>
			<td>304-1</td>
			<td>
			<ol class="list-a">
				<li>保護地域および保護地域ではないが生物多様性価値の高い地域、もしくはそれらの隣接地域に所有、賃借、管理している事業サイトに関する次の情報
				<ol class="list-i">
					<li>所在地</li>
					<li>組織が所有、賃借、管理する可能性のある地表下および地下の土地</li>
					<li>保護地域（保護地域内部、隣接地域、または保護地域の一部を含む地域）または保護地域ではないが生物多様性価値の高い地域との位置関係</li>
					<li>事業形態（事務所、製造・生産、採掘）</li>
					<li>事業敷地の面積（km<sup class="square-meter">2</sup>で表記。適切な場合は他の単位も可）</li>
					<li>該当する保護地域および保護地域ではないが生物多様性価値の高い地域の特徴（陸上、淡水域、あるいは海洋）から見た生物多様性の価値</li>
					<li>保護地域登録されたリスト（IUCN 保護地域管理カテゴリー、ラムサール条約、国内法令など）の特徴から見た生物多様性の価値</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/147">環境マネジメント</a></td>
		</tr>
		<tr>
			<td>305-1</td>
			<td>
			<ol class="list-a">
				<li>直接的（スコープ1）GHG 排出量の総計（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>計算に用いたガス（CO<sub class="sub-x">2</sub>、CH<sub class="sub-x">4</sub>、N<sub class="sub-x">2</sub>O、HFC、PFC、SF<sub class="sub-x">6</sub>、NF<sub class="sub-x">3</sub>、またはそのすべて）</li>
				<li>生物由来のCO<sub class="sub-x">2</sub>排出量（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>計算の基準年（該当する場合、次の事項を含む）
				<ol class="list-i">
					<li>その基準年を選択した理論的根拠</li>
					<li>基準年における排出量</li>
					<li>排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯</li>
				</ol>
				</li>
				<li>使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典</li>
				<li>排出量に関して選択した連結アプローチ（株式持分、財務管理、もしくは経営管理）</li>
				<li>使用した基準、方法、前提条件、計算ツール</li>
			</ol>
			</td>
			<td rowspan="3"><a href="/ja/themes/168">ESGデータ集</a><br />
			<a href="/ja/themes/148">気候変動への対応</a></td>
		</tr>
		<tr>
			<td>305-2</td>
			<td>
			<ol class="list-a">
				<li>ロケーション基準の間接的（スコープ2）GHG 排出量の総計（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>該当する場合、マーケット基準の間接的（スコープ2）GHG 排出量の総計（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>データがある場合、総計計算に用いたガス（CO<sub class="sub-x">2</sub>、CH<sub class="sub-x">4</sub>、N<sub class="sub-x">2</sub>O、HFC、PFC、SF<sub class="sub-x">6</sub>、NF<sub class="sub-x">3</sub>、またはそのすべて）</li>
				<li>計算の基準年（該当する場合、次の事項を含む）
				<ol class="list-i">
					<li>その基準年を選択した理論的根拠</li>
					<li>基準年における排出量</li>
					<li>排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯</li>
				</ol>
				</li>
				<li>使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典</li>
				<li>排出量に関して選択した連結アプローチ（株式持分、財務管理、経営管理）</li>
				<li>使用した基準、方法、前提条件、計算ツール</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>305-3</td>
			<td>
			<ol class="list-a">
				<li>その他の間接的（スコープ3）GHG 排出量の総計（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>データがある場合、総計計算に用いたガス（CO<sub class="sub-x">2</sub>、CH<sub class="sub-x">4</sub>、N<sub class="sub-x">2</sub>O、HFC、PFC、SF<sub class="sub-x">6</sub>、NF<sub class="sub-x">3</sub>、またはそのすべて）</li>
				<li>生物由来のCO<sub class="sub-x">2</sub>排出量（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>計算に用いたその他の間接的（スコープ3）GHG 排出量の区分と活動
				<ol class="list-i">
					<li>その基準年を選択した理論的根拠</li>
					<li>基準年における排出量</li>
					<li>排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯</li>
				</ol>
				</li>
				<li>計算の基準年（該当する場合、次の事項を含む）</li>
				<li>使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典</li>
				<li>使用した基準、方法、前提条件、計算ツール</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td>305-5</td>
			<td>
			<ol class="list-a">
				<li>排出量削減の取り組みによる直接的な結果として削減された GHG 排出量（CO<sub class="sub-x">2</sub>換算値（t-CO<sub class="sub-x">2</sub>）による）</li>
				<li>計算に用いたガス（CO<sub class="sub-x">2</sub>、CH<sub class="sub-x">4</sub>、N<sub class="sub-x">2</sub>O、HFC、PFC、SF<sub class="sub-x">6</sub>、NF<sub class="sub-x">3</sub>、またはそのすべて）</li>
				<li>基準年または基準値、およびそれを選択した理論的根拠</li>
				<li>GHG 排出量が削減されたスコープ。直接的（スコープ1）、間接的（スコープ2）、その他の間接的（スコープ3）<br />
				のいずれか</li>
				<li>使用した基準、方法、前提条件、計算ツール</li>
			</ol>
			</td>
			<td><a href="/ja/themes/122#951">ESGデータ集</a></td>
		</tr>
		<tr>
			<td>306-1</td>
			<td>
			<ol class="list-a">
				<li>想定内および想定外の排水量（次の事項による）
				<ol class="list-i">
					<li>排出先</li>
					<li>水質（処理方法を含む）</li>
					<li>他の組織による水の再利用の有無</li>
				</ol>
				</li>
				<li>使用した基準、方法、前提条件</li>
			</ol>
			</td>
			<td rowspan="2"><a href="/ja/themes/148">気候変動への対応</a><br />
			<a href="/ja/themes/149">資源の保全</a><br />
			<a href="/ja/themes/168">ESGデータ集</a></td>
		</tr>
		<tr>
			<td>306-2</td>
			<td>
			<ol class="list-a">
				<li>有害廃棄物の総重量（次の処分方法を用いている場合には、この処分方法別に内訳を提示）
				<ol class="list-i">
					<li>リユース</li>
					<li>リサイクル</li>
					<li>堆肥化</li>
					<li>回収（エネルギー回収を含む）</li>
					<li>焼却（大量燃焼）</li>
					<li>深井戸注入</li>
					<li>埋め立て</li>
					<li>現場保管</li>
					<li>その他（詳細を記述）</li>
				</ol>
				</li>
				<li>非有害廃棄物の総重量（次の処分方法を用いている場合には、この処分方法別に内訳を提示）
				<ol class="list-i">
					<li>リユース</li>
					<li>リサイクル</li>
					<li>堆肥化</li>
					<li>回収（エネルギー回収を含む）</li>
					<li>焼却（大量燃焼）</li>
					<li>深井戸注入</li>
					<li>埋め立て</li>
					<li>現場保管</li>
					<li>その他（詳細を記述）</li>
				</ol>
				</li>
				<li>廃棄物処分方法の判定方法
				<ol class="list-i">
					<li>自ら処分している場合または直接確認した場合</li>
					<li>廃棄物処分請負業者から提供された情報による場合</li>
					<li>廃棄物処分請負業者からの報告がない場合</li>
				</ol>
				</li>
			</ol>
			</td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>
<!--#include virtual="/inc/pagetop.html" -->

<div class="section">
<table class="stdTb02" id="society">
	<caption class="left bold">社会</caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">項目</th>
			<th scope="col">指標の内容（一部抜粋）</th>
			<th scope="col">掲載ページ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>401-2</td>
			<td>
			<ol class="list-a">
				<li>組織の正社員には標準支給されるが、非正規社員には支給されない手当（重要事業拠点別）。これらの手当には、少なくとも次のものを含める
				<ol class="list-i">
					<li>生命保険</li>
					<li>医療</li>
					<li>身体障がいおよび病気補償</li>
					<li>育児休暇</li>
					<li>定年退職金</li>
					<li>持ち株制度</li>
					<li>その他</li>
				</ol>
				</li>
				<li>「重要事業拠点」の定義</li>
			</ol>
			</td>
			<td><a href="/ja/themes/154">働きやすく活気ある職場づくり</a><br />
			<a href="/ja/themes/153">ダイバーシティ&amp;インクリュージョン</a></td>
		</tr>
		<tr>
			<td>401-3</td>
			<td>
			<ol class="list-a">
				<li>育児休暇を取得する権利を有していた従業員の総数（男女別）</li>
				<li>育児休暇を取得した従業員の総数（男女別）</li>
				<li>報告期間中に育児休暇から復職した従業員の総数（男女別）</li>
				<li>育児休暇から復職した後、12ヶ月経過時点で在籍している従業員の総数（男女別）</li>
				<li>育児休暇後の従業員の復職率および定着率（男女別）</li>
			</ol>
			</td>
			<td><a href="/ja/themes/153">ダイバーシティ&amp;インクリュージョン</a></td>
		</tr>
		<tr>
			<td>403-1</td>
			<td>
			<ol class="list-a">
				<li>正式な労使合同安全衛生委員会が組織内で設置・運用されている典型的なレベル</li>
				<li>正式な労使合同安全衛生委員会に代表を送る労働者（業務または職場が組織の管理下にある）の労働者全体に対する割合</li>
			</ol>
			</td>
			<td><a href="/ja/themes/156">労働安全衛生</a></td>
		</tr>
		<tr>
			<td>404-2</td>
			<td>
			<ol class="list-a">
				<li>従業員のスキル向上のために実施したプログラムの種類、対象と、提供した支援</li>
				<li>雇用適性の維持を促進するために提供した移行支援プログラムと、定年退職や雇用終了に伴うキャリア終了マネジメント</li>
			</ol>
			</td>
			<td><a href="/ja/themes/109">「人財」の育成</a></td>
		</tr>
		<tr>
			<td>405-1</td>
			<td>
			<ol class="list-a">
				<li>組織のガバナンス機関に属する個人で、次のダイバーシティ区分に該当する者の割合
				<ol class="list-i">
					<li>性別</li>
					<li>年齢層：30歳未満、30歳～50歳、50歳超</li>
					<li>該当する場合には、その他のダイバーシティ指標（例えばマイノリティ、社会的弱者など）</li>
				</ol>
				</li>
				<li>次のダイバーシティ区分の従業員区分別の従業員の割合
				<ol class="list-i">
					<li>性別</li>
					<li>年齢層：30歳未満、30歳～50歳、50歳超</li>
					<li>該当する場合には、その他のダイバーシティ指標（例えばマイノリティ、社会的弱者など）</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/153">ダイバーシティ＆インクリュージョン</a></td>
		</tr>
		<tr>
			<td>413-1</td>
			<td>
			<ol class="list-a">
				<li>地域コミュニティとのエンゲージメント、インパクト評価、開発プログラムを実施（次のものなどを活用して）した事業所の割合
				<ol class="list-i">
					<li>一般参加型アプローチに基づく社会インパクト評価（ジェンダーインパクト評価を含む）</li>
					<li>環境インパクト評価および継続的モニタリング</li>
					<li>環境および社会インパクト評価の結果の公開</li>
					<li>地域コミュニティのニーズに基づく地域コミュニティ開発プログラム</li>
					<li>ステークホルダー・マッピングに基づくステークホルダー・エンゲージメント計画</li>
					<li>広範なコミュニティ協議委員会や社会的弱者層を包摂する各種プロセス</li>
					<li>インパクトに対処するための労使協議会、労働安全衛生委員会、その他従業員代表機関</li>
					<li>正式な地域コミュニティ苦情処理プロセス</li>
				</ol>
				</li>
			</ol>
			</td>
			<td><a href="/ja/themes/157">地域社会</a><br />
			<a href="/ja/themes/148">気候変動への対応</a><br />
			<a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/achievement/environment/tcfd_disclosure.pdf" target="_blank">TCFD対応の情報開示</a><br />
			<a href="/ja/themes/141">ステークホルダーとのコミュニケーション</a><br />
			<a href="/ja/themes/156">労働安全衛生</a></td>
		</tr>
		<tr>
			<td>416-1</td>
			<td>
			<ol class="list-a">
				<li>重要な製品およびサービスのカテゴリーのうち、安全衛生インパクトの評価を改善のために行っているものの割合</li>
			</ol>
			</td>
			<td><a class="outside" href="https://www.benesse.co.jp/anzen/anzen_04.html" target="_blank">安心・安全5つの活動：第三者チェック</a></td>
		</tr>
		<tr>
			<td>416-2</td>
			<td>
			<ol class="list-a">
				<li>報告期間中に、製品やサービスについて発生した安全衛生インパクトに関する規制および自主的規範の違反事例の総件数。次の分類による
				<ol class="list-i">
					<li>罰金または処罰の対象となった規制違反の事例</li>
					<li>警告の対象となった規制違反の事例</li>
					<li>自主的規範の違反事例</li>
				</ol>
				</li>
				<li>規制および自主的規範への違反が無い場合は、その旨を簡潔に述べる</li>
			</ol>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>417-1</td>
			<td>
			<ol class="list-a">
				<li>製品およびサービスの情報とラベリングに関して、組織が定める手順において、次の各事項の情報が求められているか否か
				<ol class="list-i">
					<li>製品またはサービスの構成要素の調達</li>
					<li>内容物（特に環境的、社会的インパクトを生じさせる可能性のあるもの）</li>
					<li>製品またはサービスの利用上の安全性</li>
					<li>製品の廃棄と、環境的、社会的インパクト</li>
					<li>その他（詳しく説明のこと）</li>
				</ol>
				</li>
				<li>重要な製品およびサービスのカテゴリーのうち、組織が定める手順の対象であり、手順の遵守評価を行っているものの割合</li>
			</ol>
			</td>
			<td><a class="outside" href="https://www.benesse.co.jp/anzen/index.html" target="_blank">安心・安全5つの活動</a></td>
		</tr>
		<tr>
			<td>418-1</td>
			<td>
			<ol class="list-a">
				<li>顧客プライバシーの侵害に関して具体化した不服申立の総件数。次の分類による
				<ol class="list-i">
					<li>外部の当事者から申立を受け、組織が認めたもの</li>
					<li>規制当局による申立</li>
				</ol>
				</li>
				<li>顧客データの漏洩、窃盗、紛失の総件数</li>
				<li>具体化した不服申立が無い場合は、その旨を簡潔に述べる</li>
			</ol>
			</td>
			<td><a class="pdf" href="https://blog.benesse.ne.jp/bh/ja/news/m/2014/09/25/docs/20140925%E3%83%AA%E3%83%AA%E3%83%BC%E3%82%B9.pdf#page=9" target="_blank">情報漏えい後の再発防止策について</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>
<!--#include virtual="/inc/pagetop.html" -->