<div class="section">
<p class="text">&nbsp;</p>

<p class="text">Content Index between GRI (Global Reporting Initiative) Sustainability Reporting Standards (GRI Standards) and disclosure of Benesse Holdings.</p>

<ul>
	<li class="move"><a class="scroll" href="#general">Universal Standards</a></li>
	<li class="move"><a class="scroll" href="#economy">Economic</a></li>
	<li class="move"><a class="scroll" href="#environment">Environmental</a></li>
	<li class="move"><a class="scroll" href="#society">Social</a></li>
</ul>
<!-- end .section --></div>

<div class="section">　　　　　
<table class="stdTb02" id="general">
	<caption class="left bold">Universal Standards</caption>
	<colgroup>
		<col width="11%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Disclosure Number</th>
			<th scope="col">Requirements</th>
			<th scope="col">Link to the page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>102-1</td>
			<td>Name of the organization.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/company.html">Corporate Data</a></td>
		</tr>
		<tr>
			<td>102-2</td>
			<td>A description of the organization&rsquo;s activities.<br />
			Primary brands, products, and services, including an explanation of any products or services that are banned in certain markets.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/business.html">Our Business</a></td>
		</tr>
		<tr>
			<td>102-3</td>
			<td>Location of the organization&rsquo;s headquarters.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/company.html">Corporate Data</a></td>
		</tr>
		<tr>
			<td>102-4</td>
			<td>Number of countries where the organization operates, and the names of countries where it has significant operations and/or that are relevant to the topics covered in the report.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/group.html">Group Companies</a><br />
			<a href="https://www.benesse-hd.co.jp/en/ir/strategy/risk.html">Risk Factors</a></td>
		</tr>
		<tr>
			<td>102-5</td>
			<td>Nature of ownership and legal form.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/company.html">Corporate Data</a></td>
		</tr>
		<tr>
			<td>102-6</td>
			<td>Markets served, including:<br />
			geographic locations where products and services are offered;<br />
			sectors served;<br />
			types of customers and beneficiaries.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/business_segment.html">Our Business</a><br />
			<a href="https://www.benesse-hd.co.jp/en/about/profile.html">Benesse Group Corporate Guide</a></td>
		</tr>
		<tr>
			<td>102-7</td>
			<td>Scale of the organization, including:<br />
			total number of employees;<br />
			total number of operations;<br />
			net sales (for private sector organizations) or net revenues (for public sector&nbsp;organizations);<br />
			total capitalization (for private sector organizations) broken down in terms of debt&nbsp;and equity;<br />
			quantity of products or services provided.</td>
			<td><a class="pdf" href="https://pdf.irpocket.com/C9783/xl10/WMdW/dzDg.pdf#page=17" target="_blank">Corporate Information</a><br />
			<a class="pdf" href="https://pdf.irpocket.com/C9783/xl10/WMdW/dzDg.pdf#page=3" target="_blank">Ten-Year Summary of Consolidated Financial Statements</a><br />
			<a class="pdf" href="https://pdf.irpocket.com/C9783/xl10/WMdW/dzDg.pdf#page=4" target="_blank">Consolidated Balance Sheets</a><br />
			<a class="pdf" href="https://pdf.irpocket.com/C9783/xl10/WMdW/dzDg.pdf#page=2" target="_blank">At a Glance</a></td>
		</tr>
		<tr>
			<td>102-8</td>
			<td>Total number of employees by employment contract (permanent and temporary), by gender.<br />
			Total number of employees by employment contract (permanent and temporary), by region.<br />
			Total number of employees by employment type (full-time and part-time), by gender.<br />
			Whether a significant portion of the organization&rsquo;s activities are performed by workers who&nbsp;are not employees. If applicable, a description of the nature and scale of work performed by&nbsp;workers who are not employees.<br />
			Any significant variations in the numbers reported in Disclosures 102-8-a, 102-8-b, and 102-8-c&nbsp;(such as seasonal variations in the tourism or agricultural industries).<br />
			An explanation of how the data have been compiled, including any assumptions made.</td>
			<td><a href="/en/themes/153">Diversity and Inclusion</a></td>
		</tr>
		<tr>
			<td>102-9</td>
			<td>A description of the organization&rsquo;s supply chain, including its main elements as they relate to<br />
			the organization&rsquo;s activities, primary brands, products, and services.</td>
			<td><a href="https://www.benesse.co.jp/anzen/anzen_05.html" target="_blank">Benesse Corporation&#39;s Five Core Safety and Security Initiatives【Japanese】</a></td>
		</tr>
		<tr>
			<td>102-10</td>
			<td>The reporting organization shall report the following information: a. Significant changes to the organization&rsquo;s size, structure, ownership, or supply chain, including i. Changes in the location of, or changes in, operations, including facility openings, closings, and expansions; ii. Changes in the share capital structure and other capital formation, maintenance, and alteration operations (for private sector organizations); iii. Changes in the location of suppliers, the structure of the supply chain, or relationships with suppliers, including selection and termination.</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=26" target="_blank">Important management contracts, etc.【Japanese】</a></td>
		</tr>
		<tr>
			<td>102-11</td>
			<td>Whether and how the organization applies the Precautionary Principle or approach.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/internal_control.html">Basic Stance and Implementation of Internal Control System</a></td>
		</tr>
		<tr>
			<td>102-12</td>
			<td>A list of externally developed economic, environmental, and social charters, principles, or other initiatives to which the organization subscribes, or which it endorses.</td>
			<td rowspan="2"><a href="/en/themes/142">Participation in Initiatives</a><br />
			<a href="/en/themes/170">The United Nations&#39; Global Compact</a></td>
		</tr>
		<tr>
			<td>102-13</td>
			<td>A list of the main memberships of industry or other associations, and national or international&nbsp;advocacy organizations.</td>
		</tr>
		<tr>
			<td>102-14</td>
			<td>A statement from the most senior decision-maker of the organization (such as CEO, chair,&nbsp;or equivalent senior position) about the relevance of sustainability to the organization and&nbsp;its strategy for addressing sustainability.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/sustainability/message/index.html">Top Message</a></td>
		</tr>
		<tr>
			<td>102-15</td>
			<td>A description of key impacts, risks, and opportunities.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/ir/strategy/middleplan.html">Medium-Term Management Plan</a><br />
			<a href="https://www.benesse-hd.co.jp/en/ir/strategy/risk.html">Risk Factors</a></td>
		</tr>
		<tr>
			<td>102-16</td>
			<td>A description of the organization&rsquo;s values, principles, standards, and norms of behavior.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/philosophy.html">Benesse Group Corporate Philosophy and Principle</a></td>
		</tr>
		<tr>
			<td>102-17</td>
			<td>A description of internal and external mechanisms for:<br />
			seeking advice about ethical and lawful behavior, and organizational integrity;<br />
			reporting concerns about unethical or unlawful behavior, and organizational integrity.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/corp_governance.html">Corporate Governance</a><br />
			<a href="https://www.benesse-hd.co.jp/en/about/management/internal_control.html">Basic Stance and Implementation of Internal Control System</a><br />
			<a href="/en/themes/164">Risk Management and Compliance</a></td>
		</tr>
		<tr>
			<td>102-18</td>
			<td>Governance structure of the organization, including committees of the highest governance body.<br />
			Committees responsible for decision-making on economic, environmental, and social topics.</td>
			<td rowspan="4"><a class="pdf" href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf" target="_blank">Corporate Governance Report【Japanese】</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a></td>
		</tr>
		<tr>
			<td>102-19</td>
			<td>Process for delegating authority for economic, environmental, and social topics from the highest<br />
			governance body to senior executives and other employees.</td>
		</tr>
		<tr>
			<td>102-20</td>
			<td>Whether the organization has appointed an executive-level position or positions with<br />
			responsibility for economic, environmental, and social topics.<br />
			Whether post holders report directly to the highest governance body.</td>
		</tr>
		<tr>
			<td>102-21</td>
			<td>Processes for consultation between stakeholders and the highest governance body on economic,&nbsp;environmental, and social topics.<br />
			If consultation is delegated, describe to whom it is delegated and how the resulting feedback is<br />
			provided to the highest governance body.</td>
		</tr>
		<tr>
			<td>102-22</td>
			<td>Composition of the highest governance body and its committees by:<br />
			executive or non-executive;<br />
			independence;<br />
			tenure on the governance body;<br />
			number of each individual&rsquo;s other significant positions and commitments, and the&nbsp;nature of the commitments;<br />
			gender;<br />
			membership of under-represented social groups;<br />
			competencies relating to economic, environmental, and social topics;<br />
			stakeholder representation.</td>
			<td rowspan="2"><a href="https://www.benesse-hd.co.jp/en/about/management/corp_governance.html">Corporate Governance</a><br />
			<a class="pdf" href="https://www.benesse-hd.co.jp/en/about/management/pdf/governance_effectiveness_2020.pdf" target="_blank">Summary of Results of Evaluation of the Effectiveness of the Board of Directors</a></td>
		</tr>
		<tr>
			<td>102-23</td>
			<td>Whether the chair of the highest governance body is also an executive officer in the organization.<br />
			If the chair is also an executive officer, describe his or her function within the organization&rsquo;s&nbsp;management and the reasons for this arrangement.</td>
		</tr>
		<tr>
			<td>102-24</td>
			<td>Nomination and selection processes for the highest governance body and its committees.<br />
			Criteria used for nominating and selecting highest governance body members, including whether<br />
			and how:<br />
			stakeholders (including shareholders) are involved;<br />
			diversity is considered;<br />
			independence is considered;<br />
			expertise and experience relating to economic, environmental, and social topics&nbsp;are considered.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/corp_governance.html">Corporate Governance</a></td>
		</tr>
		<tr>
			<td>102-25</td>
			<td>Processes for the highest governance body to ensure conflicts of interest are avoided&nbsp;and managed.<br />
			Whether conflicts of interest are disclosed to stakeholders, including, as a minimum:<br />
			Cross-board membership;<br />
			Cross-shareholding with suppliers and other stakeholders;<br />
			Existence of controlling shareholder;<br />
			Related party disclosures.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/internal_control.html">Basic Stance and Implementation of Internal Control System</a></td>
		</tr>
		<tr>
			<td>102-26</td>
			<td>Highest governance body&rsquo;s and senior executives&rsquo; roles in the development, approval, and&nbsp;updating of the organization&rsquo;s purpose, value or mission statements, strategies, policies,&nbsp;and goals related to economic, environmental, and social topics.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/sustainability/message/index.html">Top Message</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=10" target="_blank">Corporate Governance Report【Japanese】</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a></td>
		</tr>
		<tr>
			<td>102-27</td>
			<td>Measures taken to develop and enhance the highest governance body&rsquo;s collective knowledge&nbsp;of economic, environmental, and social topics.</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=13" target="_blank">Corporate Governance Report【Japanese】</a>&nbsp;<br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a></td>
		</tr>
		<tr>
			<td>102-28</td>
			<td>Processes for evaluating the highest governance body&rsquo;s performance with respect to governance<br />
			of economic, environmental, and social topics.<br />
			Whether such evaluation is independent or not, and its frequency.<br />
			Whether such evaluation is a self-assessment.<br />
			Actions taken in response to evaluation of the highest governance body&rsquo;s performance with&nbsp;respect to governance of economic, environmental, and social topics, including, as a minimum,&nbsp;changes in membership and organizational practice.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/pdf/governance_effectiveness_2020.pdf" target="_blank">Summary of Results of Evaluation of the Effectiveness of the Board of Directors</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a></td>
		</tr>
		<tr>
			<td>102-29</td>
			<td>Highest governance body&rsquo;s role in identifying and managing economic, environmental, and social<br />
			topics and their impacts, risks, and opportunities &ndash; including its role in the implementation of&nbsp;due diligence processes.<br />
			Whether stakeholder consultation is used to support the highest governance body&rsquo;s&nbsp;identification and management of economic, environmental, and social topics and their impacts,&nbsp;risks, and opportunities.</td>
			<td rowspan="4"><a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/materiality/index.html">Materiality</a><br />
			<a href="/en/themes/152">Respect for Human Rights</a><br />
			<a href="/en/themes/148">Our Response to Climate Change</a></td>
		</tr>
		<tr>
			<td>102-30</td>
			<td>Highest governance body&rsquo;s role in reviewing the effectiveness of the organization&rsquo;s risk&nbsp;management processes for economic, environmental, and social topics.</td>
		</tr>
		<tr>
			<td>102-31</td>
			<td>Frequency of the highest governance body&rsquo;s review of economic, environmental, and social topics&nbsp;and their impacts, risks, and opportunities.</td>
		</tr>
		<tr>
			<td>102-32</td>
			<td>The highest committee or position that formally reviews and approves the organization&rsquo;s&nbsp;sustainability report and ensures that all material topics are covered.</td>
		</tr>
		<tr>
			<td>102-33</td>
			<td>Process for communicating critical concerns to the highest governance body.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/internal_control.html">Basic Stance and Implementation of Internal Control System</a></td>
		</tr>
		<tr>
			<td>102-35</td>
			<td>Remuneration policies for the highest governance body and senior executives for the following&nbsp;types of remuneration:<br />
			Fixed pay and variable pay, including performance-based pay, equity-based pay, bonuses,<br />
			and deferred or vested shares;<br />
			Sign-on bonuses or recruitment&nbsp;incentive payments;<br />
			Termination payments;<br />
			Clawbacks;<br />
			Retirement benefits, including the difference between benefit schemes and contribution&nbsp;rates for the highest governance body, senior executives, and all other employees.<br />
			How performance criteria in the remuneration policies relate to the highest governance body&rsquo;s<br />
			and senior executives&rsquo; objectives for economic, environmental, and social topics.</td>
			<td rowspan="2"><a href="https://www.benesse-hd.co.jp/en/about/management/corp_governance.html">Corporate Governance</a></td>
		</tr>
		<tr>
			<td>102-36</td>
			<td>Process for determining remuneration.<br />
			Whether remuneration consultants are involved in determining remuneration and whether&nbsp;they are independent of management.<br />
			Any other relationships that the remuneration consultants have with the organization.</td>
		</tr>
		<tr>
			<td>102-37</td>
			<td>The reporting organization shall report the following information: a. How stakeholders&rsquo; views are sought and taken into account regarding remuneration. b. If applicable, the results of votes on remuneration policies and proposals.</td>
			<td><a class="pdf" href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=51" target="_blank">(4) Remuneration for officers, etc.<br />
			（（note）1．Described in）【Japanese】</a></td>
		</tr>
		<tr>
			<td>102-40</td>
			<td>A list of stakeholder groups engaged by the organization.</td>
			<td><a href="/en/themes/141">Communication with Stakeholders</a></td>
		</tr>
		<tr>
			<td>102-41</td>
			<td>The reporting organization shall report the following information: a. Percentage of total employees covered by collective bargaining agreements.</td>
			<td><a class="pdf" href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=10" target="_blank">（3）Trade union status【Japanese】</a></td>
		</tr>
		<tr>
			<td>102-42</td>
			<td>The basis for identifying and selecting stakeholders with whom to engage.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/sustainability/materiality/index.html">Materiality</a></td>
		</tr>
		<tr>
			<td>102-43</td>
			<td>The organization&rsquo;s approach to stakeholder engagement, including frequency of engagement by type and by stakeholder group, and an indication of whether any of the engagement was&nbsp;undertaken specifically as part of the report preparation process.</td>
			<td rowspan="2"><a href="/en/themes/141">Communication with Stakeholders</a></td>
		</tr>
		<tr>
			<td>102-44</td>
			<td>Key topics and concerns that have been raised through stakeholder engagement, including:<br />
			how the organization has responded to those key topics and concerns, including through its reporting;<br />
			the stakeholder groups that raised each of the key topics and concerns.</td>
		</tr>
		<tr>
			<td>102-45</td>
			<td>The reporting organization shall report the following information: a. A list of all entities included in the organization&rsquo;s consolidated financial statements or equivalent documents. b. Whether any entity included in the organization&rsquo;s consolidated financial statements or equivalent documents is not covered by the report.</td>
			<td><a href="https://www.benesse-hd.co.jp/ja/ir/doc/stock/shareholdersmeeting/invite_67_2jp.pdf#page=8">Matters concerning the scope of consolidation【Japanese】</a><br />
			<a href="https://pdf.irpocket.com/C9783/g7QL/wxib/YIi7.pdf#page=8">4【Status of affiliated companies】【Japanese】</a></td>
		</tr>
		<tr>
			<td>102-46</td>
			<td>An explanation of the process for defining the report content and the topic Boundaries.<br />
			An explanation of how the organization has implemented the Reporting Principles for defining&nbsp;report content.</td>
			<td rowspan="2"><a href="/en/themes/141#985">Reporting</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/materiality/index.html">Materiality</a></td>
		</tr>
		<tr>
			<td>102-47</td>
			<td>A list of the material topics identified in the process for defining report content.</td>
		</tr>
		<tr>
			<td>102-48</td>
			<td>The effect of any restatements of information given in previous reports, and the reasons for&nbsp;such restatements.</td>
			<td><a href="/en/themes/168">ESG Data</a></td>
		</tr>
		<tr>
			<td>102-50</td>
			<td>Reporting period for the information provided.</td>
			<td rowspan="3"><a href="/en/themes/141#985">Reporting</a><br />
			<a href="https://www.benesse-hd.co.jp/en/ir/ir_news/index.html">IR News</a><br />
			<a href="https://www.benesse-hd.co.jp/en/ir/strategy/ir_policy.html">Basic IR Policy</a></td>
		</tr>
		<tr>
			<td>102-51</td>
			<td>If applicable, the date of the most recent previous report.</td>
		</tr>
		<tr>
			<td>102-52</td>
			<td>Reporting cycle.</td>
		</tr>
		<tr>
			<td>102-53</td>
			<td>The contact point for questions regarding the report or its contents.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/ir/info/contact_ssl.html">IR Contact</a></td>
		</tr>
		<tr>
			<td>102-54</td>
			<td>The claim made by the organization, if it has prepared a report in accordance with the GRI<br />
			Standards, either:<br />
			&lsquo;This report has been prepared in accordance with the GRI Standards: Core option&rsquo;;<br />
			&lsquo;This report has been prepared in accordance with the GRI Standards: Comprehensive option&rsquo;.</td>
			<td><a href="/en/themes/141#985">Reporting</a></td>
		</tr>
		<tr>
			<td>102-55</td>
			<td>The GRI content index, which specifies each of the GRI Standards used and lists all disclosures&nbsp;included in the report.<br />
			For each disclosure, the content index shall include:<br />
			the number of the disclosure (for disclosures covered by the GRI Standards);<br />
			the page number(s) or URL(s) where the information can be found, either&nbsp;within&nbsp;the report or in other published materials;<br />
			if applicable, and where permitted, the reason(s) for omission when a required disclosure&nbsp;cannot be made.</td>
			<td><a href="/en/themes/169">GRI Standards Content Index</a></td>
		</tr>
		<tr>
			<td>102-56</td>
			<td>A description of the organization&rsquo;s policy and current practice with regard to seeking external&nbsp;assurance for the report.<br />
			If the report has been externally assured:<br />
			A reference to the external assurance report, statements, or opinions. If not included&nbsp;in the assurance report accompanying the sustainability report, a description of what&nbsp;has and what has not been assured and on what basis, including the assurance standards&nbsp;used, the level of assurance obtained, and any limitations of the assurance process;<br />
			The relationship between the organization and the assurance provider;<br />
			Whether and how the highest governance body or senior executives are involved in&nbsp;seeking external assurance for the organization&rsquo;s sustainability report.</td>
			<td><a href="/en/themes/168#1070">Greenhouse Gas Emissions Volume Verification Report</a></td>
		</tr>
		<tr>
			<td>103-1</td>
			<td>An explanation of why the topic is material.<br />
			The Boundary for the material topic, which includes a description of:<br />
			where the impacts occur;<br />
			the organization&rsquo;s involvement with the impacts. For example, whether the organization has caused or contributed to the impacts or is directly linked&nbsp;to the impacts through its business relationships.<br />
			Any specific limitation regarding the topic Boundary.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/sustainability/message/index.html">Top Message</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/vision/index.html">Sustainability Vision</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/materiality/index.html">Materiality</a><br />
			<a href="/en/themes/145">Benesse Group&#39;s ESG Initiatives</a></td>
		</tr>
		<tr>
			<td>103-2</td>
			<td>An explanation of how the organization manages the topic.<br />
			A statement of the purpose of the management approach.<br />
			A description of the following, if the management approach includes that component:<br />
			Policies<br />
			Commitments<br />
			Goals and targets<br />
			Responsibilities<br />
			Resources<br />
			Grievance mechanisms<br />
			Specific actions, such as processes, projects, programs and initiatives</td>
			<td><a href="https://www.benesse-hd.co.jp/en/sustainability/message/index.html">Top Message</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/vision/index.html">Sustainability Vision</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/materiality/index.html">Materiality</a><br />
			<a href="https://www.benesse-hd.co.jp/ja/about/management/pdf/governance_20210708.pdf#page=10">Corporate Governance Report【Japanese】</a><br />
			<a href="/en/themes/145">Benesse Group&#39;s ESG Initiatives</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/framework/index.html">Promotion of Sustainability</a><br />
			<a href="/en/themes/152">Respect for Human Rights</a><br />
			<a href="/en/themes/142">Participation in Initiatives</a></td>
		</tr>
		<tr>
			<td>103-3</td>
			<td>An explanation of how the organization evaluates the management approach, including:<br />
			the mechanisms for evaluating the effectiveness of the management approach;<br />
			the results of the evaluation of the management approach;<br />
			any related adjustments to the management approach.</td>
			<td><a href="/en/themes/142">Participation in Initiatives</a><br />
			<a href="https://www.benesse-hd.co.jp/en/about/management/pdf/governance_effectiveness_2020.pdf">Summary of Results of Evaluation of the Effectiveness of the Board of Directors</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/evaluation/index.html">External Evaluations and Awards</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>

<div class="section">
<table class="stdTb02" id="economy">
	<caption class="left bold">Economic</caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th class="BG-Gray" scope="col">Disclosure Number</th>
			<th class="BG-Gray" scope="col">Requirements</th>
			<th class="BG-Gray" scope="col">Link to the page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>201-1</td>
			<td>Direct economic value generated and distributed (EVG&amp;D) on an accrual basis, including the basic components for the organization&rsquo;s global operations as listed below. If data are presented on a cash basis, report the justification for this decision in addition to reporting the following basic components:<br />
			Direct economic value generated: revenues;<br />
			Economic value distributed: operating costs, employee wages and benefits,payments to providers of capital, payments to government by country, and&nbsp;community investments;<br />
			Economic value retained: &lsquo;direct economic value generated&rsquo; less &lsquo;economic value&nbsp;distributed&rsquo;.<br />
			Where significant, report EVG&amp;D separately at country, regional, or market levels,&nbsp;and the criteria used for defining significance.</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=60" target="_blank">②FINANCIAL STATEMENTS 2020【Japanese】</a></td>
		</tr>
		<tr>
			<td>201-2</td>
			<td>Risks and opportunities posed by climate change that have the potential to generate&nbsp;substantive changes in operations, revenue, or expenditure, including:<br />
			a description of the risk or opportunity and its classification as either physical,regulatory, or other;<br />
			a description of the impact associated with the risk or opportunity;<br />
			the financial implications of the risk or opportunity before action is taken;<br />
			the methods used to manage the risk or opportunity;<br />
			the costs of actions taken to manage the risk or opportunity.</td>
			<td><a href="/en/themes/148">Our Response to Climate Change</a><br />
			<a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/tcfd_disclosure.pdf" target="_blank">Information disclosure for TCFD</a></td>
		</tr>
		<tr>
			<td>201-3</td>
			<td>If the plan&rsquo;s liabilities are met by the organization&rsquo;s general resources, the estimated value&nbsp;of those liabilities.<br />
			If a separate fund exists to pay the plan&rsquo;s pension liabilities:<br />
			the extent to which the scheme&rsquo;s liabilities are estimated to be covered by the&nbsp;assets that have been set aside to meet them;<br />
			the basis on which that estimate has been arrived at;<br />
			when that estimate was made.<br />
			If a fund set up to pay the plan&rsquo;s pension liabilities is not fully covered, explain the strategy,&nbsp;if any, adopted by the employer to work towards full coverage, and the timescale, if any,&nbsp;by which the employer hopes to achieve full coverage.<br />
			Percentage of salary contributed by employee or employer.<br />
			Level of participation in retirement plans, such as participation in mandatory or voluntary schemes, regional, or country-based schemes, or those with financial impact.</td>
			<td><a href="https://pdf.irpocket.com/C9783/ZhsL/dttk/WMxa.pdf#page=90">Retirement Benefits </a></td>
		</tr>
		<tr>
			<td>203-1</td>
			<td>Extent of development of significant infrastructure investments and services supported.<br />
			Current or expected impacts on communities and local economies, including positive&nbsp;and negative impacts where relevant.<br />
			Whether these investments and services are commercial, in-kind, or pro bono engagements.</td>
			<td rowspan="2"><a href="/en/themes/157">Local Communities</a><br />
			<a href="/en/themes/141">Communication with Stakeholders</a><br />
			<a href="https://blog.benesse.ne.jp/bh/ja/sustainability/activity/">Examples of materiality action【Japanese】</a><br />
			<a href="https://www.benesse-hd.co.jp/en/sustainability/mirai/" target="_blank">Benesse Brighter Future for Children Booster Project</a></td>
		</tr>
		<tr>
			<td>203-2</td>
			<td>Examples of significant identified indirect economic impacts of the organization, including&nbsp;positive and negative impacts.<br />
			Significance of the indirect economic impacts in the context of external benchmarks&nbsp;and stakeholder priorities, such as national and international standards, protocols, and&nbsp;policy agendas.</td>
		</tr>
		<tr>
			<td>205-2</td>
			<td>Total number and percentage of governance body members that the organization&rsquo;s&nbsp;anti-corruption policies and procedures have been communicated to, broken down by region.<br />
			Total number and percentage of employees that the organization&rsquo;s anti-corruption policies&nbsp;and procedures have been communicated to, broken down by employee category and region.<br />
			Total number and percentage of business partners that the organization&rsquo;s anti-corruption&nbsp;policies and procedures have been communicated to, broken down by type of business partner&nbsp;and region. Describe if the organization&rsquo;s anti-corruption policies and procedures have been&nbsp;communicated to any other persons or organizations.<br />
			Total number and percentage of governance body members that have received training on&nbsp;anti-corruption, broken down by region.<br />
			Total number and percentage of employees that have received training on anti-corruption,&nbsp;broken down by employee category and region.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/corp_governance.html">Corporate Governance</a><br />
			<a href="/en/themes/164">Risk Management and Compliance</a></td>
		</tr>
		<tr>
			<td>207-1</td>
			<td>A description of the approach to tax, including:<br />
			whether the organization has a tax strategy and, if so, a link to this strategy if publicly&nbsp;available;<br />
			the governance body or executive-level position within the organization that formally&nbsp;reviews and approves the tax strategy, and the frequency of this review;<br />
			the approach to regulatory compliance;<br />
			how the approach to tax is linked to the business and sustainable development strategies of the organization.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/taxpolicy.html">Benesse Group Tax Policy</a></td>
		</tr>
		<tr>
			<td>207-2</td>
			<td>A description of the tax governance and control framework, including:<br />
			the governance body or executive-level position within the organization accountable for&nbsp;compliance with the tax strategy;<br />
			how the approach to tax is embedded within the organization;<br />
			the approach to tax risks, including how risks are identified, managed, and monitored;<br />
			how compliance with the tax governance and control framework is evaluated.<br />
			A description of the mechanisms for reporting concerns about unethical or unlawful behavior and the organization&rsquo;s integrity in relation to tax.<br />
			A description of the assurance process for disclosures on tax and, if applicable, a reference to&nbsp;the assurance report, statement, or opinion.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/taxpolicy.html">Benesse Group Tax Policy</a></td>
		</tr>
		<tr>
			<td>207-3</td>
			<td>A description of the approach to stakeholder engagement and management of stakeholder concerns related to tax, including:<br />
			the approach to engagement with tax authorities;<br />
			the approach to public policy advocacy on tax;<br />
			the processes for collecting and considering the views and concerns of stakeholders,&nbsp;including external stakeholders.</td>
			<td><a href="https://www.benesse-hd.co.jp/en/about/management/taxpolicy.html">Benesse Group Tax Policy</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>

<div class="section">
<table class="stdTb02" id="environment">
	<caption class="left bold"><br />
	Environmental</caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th class="BG-Gray" scope="col">Disclosure Number</th>
			<th class="BG-Gray" scope="col">Requirements</th>
			<th class="BG-Gray" scope="col">Link to the page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>301-1</td>
			<td>Total weight or volume of materials that are used to produce and package the organization&rsquo;s&nbsp;primary products and services during the reporting period, by:<br />
			non-renewable materials used;<br />
			renewable materials used.</td>
			<td rowspan="3"><a href="/en/themes/168">ESG Data</a><br />
			<a href="/en/themes/149">Resource Conservation</a></td>
		</tr>
		<tr>
			<td>301-2</td>
			<td>Percentage of recycled input materials used to manufacture the organization&rsquo;s primary&nbsp;products and services.</td>
		</tr>
		<tr>
			<td>301-3</td>
			<td>Percentage of reclaimed products and their packaging materials for each product category.<br />
			How the data for this disclosure have been collected.</td>
		</tr>
		<tr>
			<td>302-1</td>
			<td>Total fuel consumption within the organization from non-renewable sources, in joules&nbsp;or multiples, and including fuel types used.<br />
			Total fuel consumption within the organization from renewable sources, in joules&nbsp;or multiples, and including fuel types used.<br />
			In joules, watt-hours or multiples, the total:<br />
			electricity consumption<br />
			heating consumption<br />
			cooling consumption<br />
			steam consumption<br />
			In joules, watt-hours or multiples, the total:<br />
			electricity sold<br />
			heating sold<br />
			cooling sold<br />
			steam sold<br />
			Total energy consumption within the organization, in joules or multiples.<br />
			Standards, methodologies, assumptions, and/or calculation tools used.<br />
			Source of the conversion factors used.</td>
			<td><a href="/en/themes/168#1070">ESG Data (Electricity Consumption)</a><br />
			<a href="/en/themes/149">Resource Conservation</a></td>
		</tr>
		<tr>
			<td>303-1</td>
			<td>A description of how the organization interacts with water, including how and where water is&nbsp;withdrawn, consumed, and discharged, and the water-related impacts caused or contributed to,&nbsp;or directly linked to the organization&rsquo;s activities, products or services by a business relationship&nbsp;(e.g., impacts caused by runoff).<br />
			A description of the approach used to identify water-related impacts, including the scope of&nbsp;assessments, their timeframe, and any tools or methodologies&nbsp;used.<br />
			A description of how water-related impacts are addressed, including how the organization&nbsp;works with stakeholders to steward water as a shared resource, and how it engages with&nbsp;suppliers or customers with significant water-related impacts.<br />
			An explanation of the process for setting any water-related goals and targets that are part of&nbsp;the organization&rsquo;s management approach, and how they relate to public policy and the local&nbsp;context of each area with water stress.</td>
			<td><a href="/en/themes/168#1070">ESG Data (Water Consumption)</a><br />
			Note: All water resources consist of tap water.<br />
			<a href="/en/themes/149">Resource Conservation</a></td>
		</tr>
		<tr>
			<td>304-1</td>
			<td>For each operational site owned, leased, managed in, or adjacent to, protected areas and&nbsp;areas of high biodiversity value outside protected areas, the following information:<br />
			Geographic location;<br />
			Subsurface and underground land that may be owned, leased, or managed&nbsp;by the organization;<br />
			Position in relation to the protected area (in the area, adjacent to, or containing portions of the protected area) or the high biodiversity value area outside&nbsp;protected areas;<br />
			Type of operation (office, manufacturing or production, or extractive);<br />
			Size of operational site in km2 (or another unit, if appropriate);<br />
			Biodiversity value characterized by the attribute of the protected area or area of high&nbsp;biodiversity value outside the protected area (terrestrial, freshwater, or maritime&nbsp;ecosystem);<br />
			Biodiversity value characterized by listing of protected status (such as IUCN Protected&nbsp;Area Management Categories, Ramsar Convention, national legislation).</td>
			<td><a href="/en/themes/147">Environment Management</a></td>
		</tr>
		<tr>
			<td>305-1</td>
			<td>Gross direct (Scope 1) GHG emissions in metric tons of CO2 equivalent.<br />
			Gases included in the calculation; whether CO2, CH4, N2O, HFCs, PFCs, SF6, NF3, or all.<br />
			Biogenic CO2 emissions in metric tons of CO2 equivalent.<br />
			Base year for the calculation, if applicable, including:<br />
			the rationale for choosing it;<br />
			emissions in the base year;<br />
			the context for any significant changes in emissions that triggered recalculations of base&nbsp;year emissions.<br />
			Source of the emission factors and the global warming potential (GWP) rates used,&nbsp;or a reference to the GWP source.<br />
			Consolidation approach for emissions; whether equity share, financial control,&nbsp;or operational control.<br />
			Standards, methodologies, assumptions, and/or calculation tools used.</td>
			<td rowspan="3"><a href="/en/themes/168">ESG Data</a><br />
			<a href="/en/themes/148">Our Response to Climate Change</a></td>
		</tr>
		<tr>
			<td>305-2</td>
			<td>Gross location-based energy indirect (Scope 2) GHG emissions in metric tons of CO2 equivalent.<br />
			If applicable, gross market-based energy indirect (Scope 2) GHG emissions in metric tons of&nbsp;CO2 equivalent.<br />
			If available, the gases included in the calculation; whether CO2, CH4, N2O, HFCs, PFCs, SF6, NF3,<br />
			or all.<br />
			Base year for the calculation, if applicable, including:<br />
			the rationale for choosing it;<br />
			emissions in the base year;<br />
			the context for any significant changes in emissions that triggered recalculations of base&nbsp;year emissions.<br />
			Source of the emission factors and the global warming potential (GWP) rates used,&nbsp;or a reference to the GWP source.<br />
			Consolidation approach for emissions; whether equity share, financial control,&nbsp;or operational control.<br />
			Standards, methodologies, assumptions, and/or calculation tools used.</td>
		</tr>
		<tr>
			<td>305-3</td>
			<td>Gross other indirect (Scope 3) GHG emissions in metric tons of CO2 equivalent.<br />
			If available, the gases included in the calculation; whether CO2, CH4, N2O, HFCs, PFCs, SF6, NF3,<br />
			or all.<br />
			Biogenic CO2 emissions in metric tons of CO2 equivalent.<br />
			Other indirect (Scope 3) GHG emissions categories and activities included in the calculation.<br />
			Base year for the calculation, if applicable, including:<br />
			the rationale for choosing it;<br />
			emissions in the base year;<br />
			the context for any significant changes in emissions that triggered recalculations of base&nbsp;year emissions.<br />
			Source of the emission factors and the global warming potential (GWP) rates used,&nbsp;or a reference to the GWP source.<br />
			Standards, methodologies, assumptions, and/or calculation tools used.</td>
		</tr>
		<tr>
			<td>305-5</td>
			<td>GHG emissions reduced as a direct result of reduction initiatives, in metric tons of CO2 equivalent.<br />
			Gases included in the calculation; whether CO2, CH4, N2O, HFCs, PFCs, SF6, NF3, or all.<br />
			Base year or baseline, including the rationale for choosing it.<br />
			Scopes in which reductions took place; whether direct (Scope 1), energy indirect (Scope 2),&nbsp;and/or other indirect (Scope 3).<br />
			Standards, methodologies, assumptions, and/or calculation tools used.</td>
			<td><a href="/en/themes/122#951">ESG Data</a></td>
		</tr>
		<tr>
			<td>306-1</td>
			<td>For the organization&rsquo;s significant actual and potential waste-related impacts, a description of:<br />
			the inputs, activities, and outputs that lead or could lead to these impacts;<br />
			whether these impacts relate to waste generated in the organization&rsquo;s own activities or&nbsp;to waste generated upstream or downstream in its value chain.</td>
			<td rowspan="2"><a href="/en/themes/148">Our Response to Climate Change</a><br />
			<a href="/en/themes/149">Resource Conservation</a><br />
			<a href="/en/themes/168">ESG Data</a></td>
		</tr>
		<tr>
			<td>306-2</td>
			<td>Actions, including circularity measures, taken to prevent waste generation in the organization&rsquo;s&nbsp;own activities and upstream and downstream in its value chain, and to manage significant&nbsp;impacts from waste generated.<br />
			If the waste generated by the organization in its own activities is managed by a third party, a&nbsp;description of the processes used to determine whether the third party manages the waste in&nbsp;line with contractual or legislative obligations.<br />
			The processes used to collect and monitor waste-related data.</td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>

<div class="section">
<table class="stdTb02" id="society">
	<caption class="left bold">Social</caption>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Disclosure Number</th>
			<th scope="col">Requirements</th>
			<th scope="col"><br />
			Link to the page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>401-2</td>
			<td>Benefits which are standard for full-time employees of the organization but are not provided&nbsp;to temporary or part-time employees, by significant locations of operation. These include,&nbsp;as a minimum:<br />
			life insurance;<br />
			health care;<br />
			disability and invalidity coverage;<br />
			parental leave;<br />
			retirement provision;<br />
			stock ownership;<br />
			others.<br />
			The definition used for &lsquo;significant locations of operation&rsquo;.</td>
			<td><a href="/en/themes/154">Creating a Vibrant and Pleasant Workplace </a><br />
			<a href="/en/themes/153">Diversity and Inclusion</a></td>
		</tr>
		<tr>
			<td>401-3</td>
			<td>Total number of employees that were entitled to parental leave, by gender.<br />
			Total number of employees that took parental leave, by gender.<br />
			Total number of employees that returned to work in the reporting period after parental&nbsp;leave ended, by gender.<br />
			Total number of employees that returned to work after parental leave ended that were&nbsp;still employed 12 months after their return to work, by gender.<br />
			Return to work and retention rates of employees that took parental leave, by gender.</td>
			<td><a href="/en/themes/153">Diversity and Inclusion</a></td>
		</tr>
		<tr>
			<td>403-1</td>
			<td>A statement of whether an occupational health and safety management system has been&nbsp;implemented, including whether:<br />
			the system has been implemented because of legal requirements and, if so, a list of the&nbsp;requirements;<br />
			the system has been implemented based on recognized risk management and/or&nbsp;management system&nbsp;standards/guidelines and, if so, a list of the standards/guidelines.<br />
			A description of the scope of workers, activities, and workplaces covered by the occupational&nbsp;health and safety management system, and an explanation of whether and, if so, why any&nbsp;workers, activities, or workplaces are not covered.</td>
			<td><a href="/en/themes/156">Workplace Safety and Hygiene</a></td>
		</tr>
		<tr>
			<td>404-2</td>
			<td>Type and scope of programs implemented, and assistance provided to upgrade employee skills.<br />
			Transition assistance programs provided to facilitate continued employability and the&nbsp;management of career endings resulting from retirement or termination of employment.</td>
			<td><a href="/en/themes/109">Human Resource Development</a></td>
		</tr>
		<tr>
			<td>405-1</td>
			<td>Percentage of individuals within the organization&rsquo;s governance bodies in each of the following<br />
			diversity categories:<br />
			Gender;<br />
			Age group: under 30 years old, 30-50 years old, over 50 years old;<br />
			Other indicators of diversity where relevant (such as minority or vulnerable groups).<br />
			Percentage of employees per employee category in each of the following diversity categories:<br />
			Gender;<br />
			Age group: under 30 years old, 30-50 years old, over 50 years old;<br />
			Other indicators of diversity where relevant (such as minority or vulnerable groups).</td>
			<td><a href="/en/themes/153">Diversity and Inclusion</a></td>
		</tr>
		<tr>
			<td>413-1</td>
			<td>Percentage of operations with implemented local community engagement, impact assessments, and/or development programs, including the use of:<br />
			social impact assessments, including gender impact assessments, based on participatory&nbsp;processes;<br />
			environmental impact assessments and ongoing monitoring;<br />
			public disclosure of results of environmental and social impact assessments;<br />
			local community development programs based on local communities&rsquo; needs;<br />
			stakeholder engagement plans based on stakeholder mapping;<br />
			broad based local community consultation committees and processes that include&nbsp;vulnerable groups;<br />
			works councils, occupational health and safety committees and other worker representation&nbsp;bodies to deal with impacts;<br />
			formal local community grievance processes.</td>
			<td><a href="/en/themes/157">Local Communities</a><br />
			<a href="/en/themes/148">Our Response to Climate Change</a><br />
			<a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/tcfd_disclosure.pdf" target="_blank">Information disclosure for TCFD</a><br />
			<a href="/en/themes/141">Communication with Stakeholders</a><br />
			<a href="/en/themes/156">Workplace Safety and Hygiene</a></td>
		</tr>
		<tr>
			<td>416-1</td>
			<td>Percentage of significant product and service categories for which health and safety impacts are assessed for improvement.</td>
			<td><a class="outside" href="https://www.benesse.co.jp/anzen/anzen_04.html" target="_blank">Benesse Corporation&#39;s Five Core Safety and Security Initiatives：Benesse Corporation&#39;s Five Core Safety and Security Initiatives【Japanese】</a></td>
		</tr>
		<tr>
			<td>416-2</td>
			<td>Total number of incidents of non-compliance with regulations and/or voluntary codes concerning<br />
			the health and safety impacts of products and services within the reporting period, by:<br />
			incidents of non-compliance with regulations resulting in a fine or penalty;<br />
			incidents of non-compliance with regulations resulting in a warning;<br />
			incidents of non-compliance with voluntary codes.<br />
			If the organization has not identified any non-compliance with regulations and/or voluntary codes, a brief statement of this fact is sufficient.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>417-1</td>
			<td>Whether each of the following types of information is required by the organization&rsquo;s procedures&nbsp;for product and service information and labeling:<br />
			The sourcing of components of the product or service;<br />
			Content, particularly with regard to substances that might produce an environmental&nbsp;or social impact;<br />
			Safe use of the product or service;<br />
			Disposal of the product and&nbsp;environmental or social impacts;<br />
			Other (explain).<br />
			Percentage of significant product or service categories covered by and assessed for compliance with such procedures.</td>
			<td><a class="outside" href="https://www.benesse.co.jp/anzen/index.html" target="_blank">Benesse Corporation&#39;s Five Core Safety and Security Initiatives【Japanese】</a></td>
		</tr>
		<tr>
			<td>418-1</td>
			<td>The reporting organization shall report the following information: a. Total number of substantiated complaints received concerning breaches of customer privacy, categorized by: i. complaints received from outside parties and substantiated by the organization; ii. complaints from regulatory bodies. b. Total number of identified leaks, thefts, or losses of customer data. c. If the organization has not identified any substantiated complaints, a brief statement of this fact is sufficient.</td>
			<td><a class="pdf" href="https://blog.benesse.ne.jp/bh/ja/news/m/2014/09/25/docs/20140925%E3%83%AA%E3%83%AA%E3%83%BC%E3%82%B9.pdf#page=9" target="_blank">Measures to Prevent Information Leakage【Japanese】</a></td>
		</tr>
	</tbody>
</table>
<!-- end .section --></div>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
