<p class="text">The Benesse Group offers services that support all stages of life in education, nursing-care, and lifestyles based on our Corporate Philosophy of &quot;Benesse = Well-being&quot;.<br />
We implement marketing communication, aiming to support the desire for the improvement and problem resolution of each of our customers throughout their lives based on our Corporate Philosophy.</p>

<p class="text">We consider the delivery of value that meets our customers&#39; life stages through marketing communication as our main priority, based on our customer-oriented values respected by each Group company. These values are specifically included in the Group Corporate Philosophy, the Benesse Corporation&#39;s purpose and school of thought, and Benesse Style Care&#39;s “Benesse Style Care Declaration”.<br />
In addition to observing the related laws and regulations in each country, we will carry out responsible marketing communication by applying this policy, which was established based on the International Chamber of Commerce&#39;s international standards known as the ICC Advertising and Marketing Communications Code. Additionally, we give further consideration to children.</p>

<dl>
	<dt class="ttl_strong">1. Appropriate Expressions for Customers</dt>
	<dd class="text">In our marketing communications, we value the delivery of necessary information precisely when it is needed, matching the life stages and lifestyles of our customers.<br />
	The information delivered is meant to support customer growth and problem solving, and we will not use expressions that unduly recommend products and services or promote anxiety. We will use expressions that observe related laws and regulations, are suitable and easy to understand, and are not misleading.</dd>
	<dt class="ttl_strong">2. Trustworthy Delivery of Information</dt>
	<dd class="text">We will constantly deliver trustworthy, reliably objective information so our customers can be convinced to use our products and that they can use our products and services safely.</dd>
	<dt class="ttl_strong">3. The Pursuit of Safety and Security</dt>
	<dd class="text">We will observe the laws and regulations related to product and service safety  while offering appropriate explanations and warnings so our customers can use our products and services safely and securely.</dd>
	<dt class="ttl_strong">4. Respect for Diversity</dt>
	<dd class="text">We will communicate with all of our customers, regardless of race, ethnicity, nationality, religion, creed, birthplace, gender, age, disability, sexuality, or any other differences. We will not use expressions that are discriminatory or offensive.</dd>
	<dt class="ttl_strong">5. Fair Actions</dt>
	<dd class="text">We will not discredit other companies by giving false information about their products and services to our customers or trade partners. We will also not take any action that infringes upon the rights of a third party.</dd>
	<dt class="ttl_strong">6. Protection of Personal Information and Privacy</dt>
	<dd class="text">With information security being one of our most important issues, we will observe laws and regulations related to information security and privacy protection. We have established <a href="/en/themes/160">the Benesse Group Information Security and Personal Information Protection Policy</a>. Under this policy we work to maintain and improve information security and manage the protection of personal information.</dd>
	<dt class="ttl_strong">7. Attention to Children</dt>
	<dd class="text">We support the growth of children through our products and services. To do so, we will provide information that is suitable, easy to understand, and that matches the age, level of growth, and experience of the children being targeted in our child-oriented marketing communication. We will work to support children understand our information correctly and will exclude any expressions that could be misleading.</dd>
	<dt class="ttl_strong">8. Attention to Guardians</dt>
	<dd class="text">We respect the role of guardians in marketing communication for products and services for children, and we will communicate in a way that is similar to the guardian&#39;s point of view and thoughts.</dd>
</dl>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
