<p class="text">ベネッセグループは、企業理念「Benesse=よく生きる」に基づき、教育、介護・生活といった分野において、人生のあらゆるステージを支援するサービスを提供しています。<br />
私たちは、企業理念に基づき、お客様一人ひとりの向上意欲と課題解決を生涯にわたって支援していくことを目指してマーケティングコミュニケーションを行います。</p>

<p class="text">具体的には、グループの企業理念ならびに、ベネッセコーポレーションの<a href="https://www.benesse.co.jp/ism/" target="_blank">「パーパス」「イズム」</a>、ベネッセスタイルケアの<a href="https://www.benesse-style-care.co.jp/company/action" target="_blank">「ベネッセスタイルケア宣言」</a>をはじめとする、グループ各社で大切にしている「お客様本位」という価値観に基づき、マーケティングコミュニケーションを通じて、お客様のライフステージに応じた価値提供を行うことを第一に考えます。<br />
そして、各国における関連法規を遵守するとともに、国際的な基準であるInternational Chamber of Commerce制定の&ldquo;ICC Advertising and Marketing Communications Code&rdquo; をふまえて策定した本方針を、すべてのマーケティングコミュニケーションに適用し、責任あるマーケティングコミュニケーションを行います。特に子どもに対しては一層の配慮を行います。</p>

<dl>
	<dt class="ttl_strong">1. お客様に合わせた適切な表現</dt>
	<dd class="text">私たちのマーケティングコミュニケーションでは、お客様のライフステージやライフスタイルに合わせ、必要な時期に必要な情報をご提供することを大切にしています。<br />
	ご提供する情報は、お客様の成長や課題解決を支援することを目的としており、過剰に商品・サービスを勧めたり、不安を助長する表現は行いません。関連法令を遵守し、適正でわかりやすく、お客様にとって誤解を招かない表現・表示を行います。</dd>
	<dt class="ttl_strong">2. 信頼できる情報提供</dt>
	<dd class="text">お客様にご納得いただいたうえで、安心して商品・サービスをご利用いただけるよう、私たちは常に信頼に足る、十分な客観的根拠を持った情報提供を行います。</dd>
	<dt class="ttl_strong">3. 安全・安心の追求</dt>
	<dd class="text">お客様に安心して、安全に商品・サービスをご利用いただくために、私たちは、商品・サービスの安全に関する法律・規制を遵守し、適切な説明および注意喚起を行います。</dd>
	<dt class="ttl_strong">4. 多様性の尊重</dt>
	<dd class="text">私たちは、人種、民族、国籍、宗教、信条、出身地、性別、年齢、障がい、LGBTQ等の違いに関係なく、すべてのお客様への配慮を持ってコミュニケーションを行います。差別的・攻撃的な表現を用いません。</dd>
	<dt class="ttl_strong">5. 公正な活動</dt>
	<dd class="text">私たちは他社の商品・サービスについて事実と異なることをお客様や取引先に語ることで他社の信用を傷つけるような行為は行いません。また、第三者の権利を侵害するような行為は行いません。</dd>
	<dt class="ttl_strong">6. 個人情報とプライバシーの保護</dt>
	<dd class="text">私たちは情報の安全確保を最重要課題の一つとし、情報セキュリティおよびプライバシー保護に関する法令を遵守するとともに、<a href="/ja/themes/160">ベネッセグループ 情報セキュリティ・個人情報保護方針</a>を定め、情報セキュリティおよび個人情報保護マネジメントの維持・向上に取り組んでいます。</dd>
	<dt class="ttl_strong">7. 子どもへの配慮</dt>
	<dd class="text">私たちは子どもの成長を商品・サービスを通じて支援しています。そのため、子ども向けのマーケティングコミュニケーションにおいては、対象となる子どもの年齢層、成長段階、経験値などに合わせた、適切でわかりやすい情報を提供します。子どもが正しく理解できることを追求し、誤解・誤認を招く可能性のある表現の排除をしています。</dd>
	<dt class="ttl_strong">8. 保護者への配慮</dt>
	<dd class="text">私たちは子ども向けの商品・サービスに関するマーケティングコミュニケーションにおいて保護者の 役割を尊重し、保護者の視点や思いに寄り添ったコミュニケーションを行います。</dd>
</dl>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
