<p class="text">The Benesse Group has set up a marketing system that follows the Benesse Group Marketing Policy.</p>

<p class="text">We have also established various marketing guidelines based on the unique attributes of each business and ensure their compliance in marketing. In addition to keeping all employees informed, we have also established a hotline in cooperation with specialized departments to verify and guide employees based on laws, regulations, and internal guidelines so that each employee involved in marketing activities can act in compliance with these guidelines.</p>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
