<p class="text">ベネッセグループでは、「ベネッセグループマーケティング方針」に沿ったマーケティングを行う体制を整備しています。</p>

<p class="text">さらに、各事業ごとに事業特性を踏まえたマーケティングについての各種のガイドラインを設け、実行において徹底をしています。活動に携わる従業員一人ひとりがガイドラインに沿って行動するよう、周知徹底を図るとともに、専門部署と連携した相談窓口を設け、法令や社内ガイドライン等に基づいた確認や指導を行っています。</p>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
