<h4 class="titleLv4">● Major Training and Educational Activities</h4>

<h5>&lt;Benesse Corporation&gt;</h5>

<dl class="res_market_training_sample">
	<dt class="idt">・Word Day</dt>
	<dd>: A meeting to share and reconfirm marketing and customer communication policies and to reinforce these policies with specific examples<br />
	(for all employees working in the correspondence education business for children)</dd>
</dl>

<dl class="res_market_training_sample margin">
	<dt class="idt">・Legal Training</dt>
	<dd>: e-learning on laws and regulation that should be followed, including the Act against Unjustifiable Premiums and Misleading Representations and the Copyright Act<br />
	(for all employees)</dd>
</dl>

<h5>&lt;Benesse Style Care&gt;</h5>

<dl class="res_market_training_sample">
	<dt class="idt">・Training on the Guidelines in the Act against Unjustifiable Premiums and Misleading Representations</dt>
	<dd>: e-learning to promote a complete understanding of guidelines through several actual examples inside and outside the company<br />
	(for employees supervising and presiding over promotional activities and customer explanations)</dd>
</dl>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
