<h4 class="titleLv4">●主な研修・啓発活動例</h4>

<h5>＜ベネッセコーポレーション＞</h5>

<dl class="res_market_training_sample">
  <dt>・コトバの日</dt>
  <dd class="idt">：マーケティングや顧客コミュニケーションの方針を共有し、具体的事例を交えて再確認する全体会<br />
    （対象：子ども向け通信教育事業に従事する社員全員）
  </dd>
</dl>
<dl class="res_market_training_sample margin">
  <dt>・法務研修</dt>
  <dd class="idt">：景品表示表や著作権法等、遵守すべき法令に関するe-learning<br />
    （対象：全社員）
  </dd>
</dl>

<h5>＜ベネッセスタイルケア＞</h5>

<dl class="res_market_training_sample">
  <dt>・景品表示法ガイドライン研修</dt>
  <dd class="idt">：社内外の多数の実例を通して、ガイドライン徹底を促進するe-learning<br />
    （対象：プロモーション活動および顧客説明を担当・統括する社員　）　など
  </dd>
</dl>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>