<section class="section" id="report-download">
<figure class="expand center"><a href="https://pdf.irpocket.com/C9783/l3Fa/iOtz/CEOx.pdf" target="_blank"><img alt="Benesse Report 2021" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/data/download/report_2021.jpg" /></a></figure>
<a href="https://pdf.irpocket.com/C9783/l3Fa/iOtz/CEOx.pdf" target="_blank"><span><span>Benesse Report 2021</span> <span>[PDF:10,279KB]</span></span></a></section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>