<section class="section" id="report-download">
<figure class="expand center"><a href="https://pdf.irpocket.com/C9783/l3Fa/JQl3/TPo5.pdf" target="_blank"><img alt="Benesse Integrated Report 2021" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/data/report_2021_e.jpg" /></a></figure>
<a href="https://pdf.irpocket.com/C9783/l3Fa/JQl3/TPo5.pdf" target="_blank"><span><span>Benesse Integrated Report 2021</span> <span>[PDF:8629KB] </span></span></a></section>

<div class="pageTop"><a href="#" class="scroll">&nbsp;</a></div>