<section class="section group_csr s04">
<table class="stdTb02">
	<thead>
		<tr>
			<th>Stakeholders</th>
			<th>Engagement Initiatives</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="subcell">Customers</th>
			<td>
			<p class="texth">Continuous creation of services related to current and future problem solving for customers through appropriate communication with customers.</p>

			<p>【Example Initiatives】</p>

			<ul>
				<li class="idt">・Customer questionnaires</li>
				<li class="idt">・Having customers&#39;&nbsp;opinions influence business activities through&nbsp;face-to-face communication</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">Employees</th>
			<td>
			<p class="texth">Development of fair and vibrant workplaces through communication with employees.</p>

			<p>【Example Initiatives】</p>

			<ul>
				<li class="idt">・<a href="/en/themes/156#1040">Communication with employee representatives</a></li>
				<li class="idt">・<a href="/en/themes/154#1031">Regular employee surveys on organization and culture</a></li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell nowrap">Suppliers and partners</th>
			<td>
			<p class="texth">Treating partners as important co-creators of value and maintaining good trust-based relationships.</p>

			<p>【Example Initiatives】</p>

			<ul>
				<li class="idt">・Regular audits in Japan and overseas</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">Communities and society</th>
			<td>
			<p class="texth">While creating local job through business activities, we generate new values and realize a society of abundance through education, culture, art, with the people living in the community.</p>

			<p>【Example Initiatives】</p>

			<ul>
				<li class="idt">・<a href="/en/themes/157">Education and nursing projects rooted in the community</a></li>
				<li class="idt">・<a href="/en/themes/157#1043">Contributions to sports</a></li>
				<li class="idt">・<a href="/en/themes/157#1042">Activities through foundations</a></li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">Shareholder and investors</th>
			<td>
			<p class="texth">Disclosure through appropriate media and opportunities to maintain lasting trust with shareholders and investors.</p>

			<p>【Example Initiatives】</p>

			<ul>
				<li class="idt">・<a href="https://www.benesse-hd.co.jp/en/ir/stock/shareholders_meeting.html">Annual shareholders&#39; meetings</a></li>
				<li class="idt">・<a href="https://www.benesse-hd.co.jp/ja/ir/library/kabutsu/index.html">Publication of annual shareholder newsletters and integrated annual reports【Japanese】</a></li>
				<li class="idt">・Meetings with institutional investors (as necessary)</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<h3 class="titleLv3" id="dialogue">Benesse Stakeholder Dialogue</h3>

<p class="margin">We regularly hold Benesse Stakeholder Dialogue as a place for conversation on social issues between experts and intellectuals from different fields, and management.</p>

<div class="stake_dialogue_wrap">
<figure class="stake_dialogue_box">
<div class="stake_dialogue_pic"><img alt="Tamotsu Adachi, Representative Director and Chairman and CEO of Benesse Holdings, and Akie Iriyama, professor of graduate studies at Waseda University" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/stakeholder_01.jpg" /></div>

<figcaption class="stake_dialogue_cap">December 2020<br />
Tamotsu Adachi, Representative Director and Chairman and CEO of Benesse Holdings, and Akie Iriyama, professor of graduate studies at Waseda University<br />
<a href="https://www.benesse-hd.co.jp/en/sustainability/dialogue/2021jan.html">&quot;The Search of Knowledge, Advanced by Core Businesses and New Areas: What Future Image is the Benesse Group Creating?&quot;</a></figcaption>
</figure>

<figure class="stake_dialogue_box">
<div class="stake_dialogue_pic"><img alt="Tamotsu Adachi, Representative Director and Chairman and CEO of Benesse Holdings, and Kouichi Sakai, publisher of Nikkei ESG" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/stakeholder_02.jpg" /></div>

<figcaption class="stake_dialogue_cap">March 2021<br />
Tamotsu Adachi, Representative Director and Chairman and CEO of Benesse Holdings, and Kouichi Sakai, publisher of Nikkei ESG<br />
<a href="https://www.benesse-hd.co.jp/en/sustainability/dialogue/2021apr.html">&quot;Becoming a Company that Leads the World in Strengthening the Value of Human Resources and Considering Education and Care&quot;</a></figcaption>
</figure>
</div>
</section>

<div class="pageTop"><a class="scroll" href="#">&nbsp;</a></div>
