<section class="section group_csr s04">
<table class="stdTb02">
	<thead>
		<tr>
			<th><span class="nowrap">ステークホルダー</span></th>
			<th>エンゲージメントの取り組み</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="subcell">顧客</th>
			<td>
			<p class="texth">お客様との適切なコミュニケーションを通して、お客様の今と未来の課題解決につながるサービスを継続的に創出して参ります。</p>

			<p>【取り組み例】</p>

			<ul>
				<li class="idt">・お客様アンケート</li>
				<li class="idt">・窓口等を通じたお客様の声を事業活動に反映</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">社員</th>
			<td>
			<p class="texth">社員とのコミュニケ―ションを通して、公正で活気に満ちた職場を作ります。</p>

			<p>【取り組み例】</p>

			<ul>
				<li class="idt">・<a href="/ja/themes/156#1040">社員代表とのコミュニケーション</a></li>
				<li class="idt">・<a href="/ja/themes/154#1031">組織・風土に関する従業員調査の定期的な実施</a></li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell nowrap">取引先・<br class="spBr" />
			パートナー</th>
			<td>
			<p class="texth">ともに価値を生み出す大切なパートナーと考え、信頼関係に基づいた適切な関係を保ちます。</p>

			<p>【取り組み例】</p>

			<ul>
				<li class="idt">・国内外の定期的な監査</li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">地域・社会</th>
			<td>
			<p class="texth">事業を通した雇用を地域に創出するとともに、その地域に暮らす人々と、学びや文化・アート等を通じて新しい価値を生み出し、豊かな社会を実現します。</p>

			<p>【取り組み例】</p>

			<ul>
				<li class="idt">・<a href="/ja/themes/157">地域に根差した教育・介護事業</a></li>
				<li class="idt">・<a href="/ja/themes/157#1043">スポーツへの貢献</a></li>
				<li class="idt">・<a href="/ja/themes/157#1042">財団の活動</a></li>
			</ul>
			</td>
		</tr>
		<tr>
			<th class="subcell">株主・投資家</th>
			<td>
			<p class="texth">株主・投資家の皆様から長きにわたって信頼して頂けるよう、適切なツールや場を基にご説明しています。</p>

			<p>【取り組み例】</p>

			<ul>
				<li class="idt">・<a href="https://www.benesse-hd.co.jp/ja/ir/stock/shareholders_meeting.html">株主総会の開催（年1回）</a></li>
				<li class="idt">・<a href="https://www.benesse-hd.co.jp/ja/ir/library/kabutsu/index.html">株主通信</a>（年1回）、<a href="https://www.benesse-hd.co.jp/ja/ir/library/ar/index.html">統合報告書</a>（年1回）の発行</li>
				<li class="idt">・機関投資家とのミーティング（随時）</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<h3 class="titleLv3" id="dialogue">Benesseステークホルダーダイアログ</h3>

<p class="margin">各分野の社会課題専門家、有識者等と経営との対話の場として、定期的に「Benesseステークホルダーダイアログ」を実施しています。</p>

<div class="stake_dialogue_wrap">
<figure class="stake_dialogue_box">
<div class="stake_dialogue_pic"><img alt="ベネッセホールディングス代表取締役会長 CEO 安達保×早稲田大学大学院教授 入山章栄氏" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/stakeholder_01.jpg" /></div>

<figcaption class="stake_dialogue_cap">2020年12月<br />
ベネッセホールディングス代表取締役会長 CEO 安達 保&times;早稲田大学大学院教授 入山 章栄 氏<br />
<a href="https://www.benesse-hd.co.jp/ja/sustainability/dialogue/2021jan.html">『コア事業と新領域の双方で進める「知の探索」～ベネッセグループが描く未来像とは？～』</a></figcaption>
</figure>

<figure class="stake_dialogue_box">
<div class="stake_dialogue_pic"><img alt="ベネッセホールディングス代表取締役会長 CEO 安達保×「日経ESG」発行人 酒井耕一氏" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/stakeholder_02.jpg" /></div>

<figcaption class="stake_dialogue_cap">2021年3月<br />
ベネッセホールディングス代表取締役会長 CEO 安達 保&times;「日経ESG」発行人 酒井 耕一 氏<br />
<a href="https://www.benesse-hd.co.jp/ja/sustainability/dialogue/2021apr.html">『「人財価値」を強化し、世界で最も教育や介護について考える会社に』 </a></figcaption>
</figure>
</div>
</section>
<!--#include virtual="/inc/pagetop.html" -->