<section class="section group_csr s01">
<p class="text">Benesse Group&#39;s solution for the social issue through its operations, which are supported by numerous stakeholders, go along with the missions of three foundations that&nbsp;promote social activity.</p>

<p class="text">We work to solve social problems by supporting these foundations that aim to solve social problems through supporting the children who will carry the future and supporting the creation of good communities centered on education, culture, and art.</p>

<p class="expand margin center"><img alt="ベネッセのCSR全体像" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/fig01_en.png" /></p>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="https://benesse-kodomokikin.or.jp/en/" target="_blank">Benesse Foundation for Children</a></li>
</ul>

<p class="expand">This foundation was established in 2014 to achieve a society where children can expand their potential in an environment in which children with promising futures can learn with peace of mind.</p>

<p class="foundation_img expand margin center"><img alt="ベネッセこども基金 4つのテーマ" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/stakeholder_03_en.png" /></p>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="https://fukutake-foundation.jp/" target="_blank">Fukutake Foundation【Japanese】</a></li>
</ul>

<p class="expand">This foundation carries out art activities centered around three projects: 1. art museums on Naoshima,&nbsp;Teshima, and&nbsp;Inujima, 2. aid projects for&nbsp;regional development through culture and art all over Japan, and&nbsp;3. independent and joint projects to support&nbsp;Art Setouchi, etc.<br />
Through these activities, the foundation aims to help build better communities full of smiling seniors considering Benesse to mean &quot;well-being&quot;.</p>

<figure class="foundation_img expand margin center"><img alt="地中美術館  写真: 大沢誠一" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/stakeholder_04.jpg" />
<figcaption>Chichu Art Museum Photo: Seiichi Ohsawa</figcaption>
</figure>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="http://www.fukutake.or.jp/ec/" target="_blank">Fukutake Education and Culture Foundation【Japanese】</a></li>
</ul>

<p class="expand">This foundation supports activities that solve problems in the local community and create social value through education, culture, and art. They carry out their&nbsp;subsidy programs,&nbsp;awards, and independent projects, aiming to contribute to the development of human resources and the local community in Okayama Prefecture.</p>

<p class="foundation_img expand margin center"><img alt="公益財団法人　福武教育文化振興財団" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/management/stakeholder_05.jpg" /></p>
</section>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
