<section class="section group_csr s01">
<p class="text">多くのステークホルダーに支えられて実施しているベネッセグループの事業を通じた社会課題の解決は、社会活動を推進する3つの財団のミッションと通じるものです。</p>

<p class="text">「未来を担う子どもたちの学び支援」「教育・文化・芸術を中心としたよい地域づくり支援」などを通じて、社会課題の解決を目指す財団への支援により、社会課題の解決を目指しています。</p>

<p class="expand margin center"><img alt="ベネッセのCSR全体像" class="full" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/stakeholder/fig01.png" /></p>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="https://benesse-kodomokikin.or.jp/" target="_blank">公益財団法人　ベネッセこども基金</a></li>
</ul>

<p class="expand">未来ある子どもたちが、安心して学習に取り組める環境のもとで、自ら可能性を広げられる社会を目指し、2014年に設立。子どもを取り巻く多様な課題の中から、以下の4つをテーマとして活動しています。</p>

<p class="foundation_img expand margin center"><img alt="ベネッセこども基金 4つのテーマ" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/stakeholder_03.png" /></p>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="https://fukutake-foundation.jp/" target="_blank">公益財団法人　福武財団</a></li>
</ul>

<p class="expand">直島・豊島・犬島を中心とした美術館事業、日本各地における文化・芸術による地域振興活動などへの助成事業、瀬戸内国際芸術祭などの支援を行う自主・共催事業の3つの事業を柱としてアート活動を行っています。アート活動を通じて、一人ひとりが「Benesse＝よく生きる」を考え、お年寄りの笑顔のあふれる、よりよい地域をつくることを目指しています。</p>

<figure class="foundation_img expand margin center"><img alt="地中美術館  写真: 大沢誠一" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/stakeholder_04.jpg" />
<figcaption>地中美術館&nbsp;&nbsp;写真:&nbsp;大沢誠一</figcaption>
</figure>
</section>

<section class="section">
<ul class="relatedLinks">
	<li><a href="http://www.fukutake.or.jp/ec/" target="_blank">公益財団法人　福武教育文化振興財団</a></li>
</ul>

<p class="expand">教育と文化・芸術の両面から地域社会の課題解決と社会的価値の創造を図る活動を応援し、岡山県の人づくり・地域づくりに貢献することを目的として、助成事業や表彰事業、自主事業を行っています。教育と文化の持つ力によって、より充実したコミュニティづくりを目指しています。</p>

<p class="foundation_img expand margin center"><img alt="公益財団法人　福武教育文化振興財団" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/stakeholder_05.jpg" /></p>
</section>
<!--#include virtual="/inc/pagetop.html" -->