<section class="section init_logo_sec">
<p class="init_link"><a href="https://www.unglobalcompact.org/" target="_blank">United Nations Global Compact</a></p>

<div class="init_logo_grp">
<p class="init_logo_txt text">In March 2010, we announced our support for the United Nations Global Compact as we support the Compact&#39;s aim of solving global issues&nbsp;as responsible&nbsp;corporate citizens.<br />
In FY2021, we are also participants in the ESG subcommittee, the environmental management subcommittee, and two other subcommittees in the Global Compact.</p>

<figure class="init_logo_pic"><img alt="Global Compact" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_01.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="/en/themes/170">United Nations Global Compact Reference Chart</a></li>
</ul>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://www.fsb-tcfd.org/" target="_blank">The Task Force on Climate-related Financial Disclosures (TCFD)</a></p>

<div class="init_logo_grp">
<p class="init_logo_txt text">On July 23, 2019, Benesse expressed its agreement with the recommendations of The Task Force on Climate-related Financial Disclosures (TCFD), which was established by the Financial Stability Board (FSB). It was the first education business operator in Japan to do so.&nbsp;</p>

<figure class="init_logo_pic"><img alt="TCFD logo" class="init_logo_tcfd" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_02.png" /></figure>
</div>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/tcfd_disclosure.pdf" target="_blank">Disclosure of Information on TCFD (1.83MB）</a></li>
</ul>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://japanclimate.org/english//" target="_blank">Japan Climate Initiative (JCI)</a></p>

<div class="init_logo_grp">
<div>
<p class="init_logo_txt text">Benesse Holdings supports JCI&#39;s declaration, &quot;Joining the front line of the global push for decarbonization from Japan&quot; and agrees with the JCI&#39;s Statement to Call for an Ambitious 2030 Target for Japan to Realize the Paris Agreement Goal which was announced on April 19, 2021. To ensure a beautiful global environment is preserved for the children of the future, we support the Paris Agreement and the Japanese government&#39;s decarbonization policies. We also comply with Japan&#39;s climate change laws, including the law related to the streamlining of energy usage (the Act on Rationalizing Energy Use) and the Act on Promotion of Global Warming Countermeasures. Following the climate change laws, the Group conducts environmental activities including the submission of annual reports to the government disclosing our energy use, greenhouse gas emissions, and our progress in the achievement of energy conservation goals. In line with the JCI&#39;s activities, we continue reduction activities with the goal of the 100% reduction of Scope 1 and 2 by 2050 and also actively participate in seminars and study meetings to work towards decarbonization. In addition, the information that we obtain through seminars and other activities is reflected in our initiatives, while we consider the utilization of progressive approaches and the technologies of our member companies, local governments, groups and NGOs and others. Information about the activities of Benesse Holdings, including the above, can be found on the <a href="https://japanclimate.org/member/benesse/" target="_blank">JCI&#39;s website【Japanese】</a>.<br />
Moving forward in collaboration with all of the stakeholders who are members of JCI, we will work towards the realization of a decarbonizing society.</p>

<ul class="relatedLinks margin">
	<li><a href="https://japanclimate.org/news-topics/call-for-ambitious-2030-target/" target="_blank">JCI Message: Calling for an Ambitious 2030 Target to Realize the Paris Agreement Goal in Japan as well【Japanese】</a></li>
</ul>
</div>

<figure class="init_logo_pic"><img alt="JCIロゴ" class="init_logo_jci" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_03.png" /></figure>
</div>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://sciencebasedtargets.org" target="_blank">Science Based Taregets（SBT）</a></p>

<div class="init_logo_grp">
<div>
<p class="init_logo_txt text">The Benesse Corporation&#39;s greenhouse gas emission targets for 2030 and 2050 were certified by the SBT Initiative based on scientific evidence to &ldquo;keep the global average temperature increase well below 2&deg;C and below 1.5&deg;C compared to pre-industrial levels &rdquo; under the Paris Agreement. We also received SBT certification from the Initiative in May 2021.<br />
The goals for Scope 1 and 2 are set at well-below 2℃ and at 2℃ for Scope 3.<br />
The following goals for reduction are based on FY2018.<br />
Scope 1 and 2: 36.2% reduction by 2030, 100% reduction by 2050<br />
Scope 3: 14.8% reduction by 2030, 39.4% reduction by 2050</p>

<ul class="relatedLinks margin">
	<li><a href="https://sciencebasedtargets.org/companies-taking-action" target="_blank">SBT-certified corporate action list</a></li>
</ul>
</div>

<figure class="init_logo_pic"><img alt="SBT logo" class="init_logo_sbt" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_04.png" /></figure>
</div>
</section>

<p class="text">We also actively participate in outside organizations both in Japan and abroad.</p>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
