<section class="section init_logo_sec">
<p class="init_link"><a href="https://www.ungcjn.org/gc/index.html" target="_blank">国連グローバル・コンパクト</a></p>

<div class="init_logo_grp">
<p class="init_logo_txt text">責任ある企業市民としてグローバルな課題を解決していこうという趣旨に賛同し、2010年3月、「国連グローバル・コンパクト」の支持を宣言しました。2021年度はグローバル・コンパクト・ネットワーク・ジャパンの「ESG分科会」「環境経営分科会」などの4つの分科会に参加しています。</p>

<figure class="init_logo_pic"><img alt="グローバルコンパクト" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_01.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="/ja/themes/170">国連グローバル・コンパクト対照表</a></li>
</ul>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://www.fsb-tcfd.org/" target="_blank">気候関連財務情報開示タスクフォース（TCFD）</a></p>

<div class="init_logo_grp">
<p class="init_logo_txt text">金融安定理事会（「FSB」）により設置された「気候関連財務情報開示タスクフォース（The Task Force on Climate-related Financial Disclosures「TCFD」）」の提言に、日本国内の教育事業者として初めて、2019年7月23日に賛同を表明しました。</p>

<figure class="init_logo_pic"><img alt="TCFDロゴ" class="init_logo_tcfd" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_02.png" /></figure>
</div>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/achievement/environment/tcfd_disclosure.pdf" target="_blank">TCFD対応の情報開示（2.98MB）</a></li>
</ul>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://japanclimate.org/" target="_blank">気候変動イニシアティブ（JCI）</a></p>

<div class="init_logo_grp">
<div>
<p class="init_logo_txt text">ベネッセホールディングスは、「脱炭素化をめざす世界の最前線に日本から参加する」というJCIの宣言を支持しており、2021年4月19日に発表された「JCIメッセージ：パリ協定を実現する野心的な2030年目標を日本でも」にも賛同しております。自社においては、未来の子どもたちへ美しい地球環境を残すために、「パリ協定」および日本政府の脱炭素化政策を支持し、国の気候変動に関連する法規制であるエネルギーの使用の合理化等に関する法律（省エネ法）や地球温暖化対策推進法を遵守するとともに、年１回、エネルギー使用量、省エネルギ―目標の達成状況、温室効果ガス排出量の報告書を行政に提出するなどの環境活動を行っています。同団体に沿った活動として、2050年スコープ１・２の100％削減という目標に向けた削減活動を継続し、脱炭素化をめざしてセミナーや勉強会に積極的に参加しています。また、セミナー等を通じて得られた情報を自社の取り組みに反映するとともに、加盟する企業、自治体、団体、 NGO等における先進事例や技術の活用を検討しています。これらを含めたベネッセホールディングスの活動実績は<a href="https://japanclimate.org/member/benesse/" target="_blank">JCIのウェブサイト</a>にてご確認いただけます。<br />
  今後もJCIに加盟する各ステークホルダーの皆様と協力し、脱炭素社会の実現に取り組んで参ります。</p>

<ul class="relatedLinks margin">
	<li><a href="https://japanclimate.org/news-topics/call-for-ambitious-2030-target/" target="_blank">JCIメッセージ：パリ協定を実現する野心的な2030年目標を日本でも</a></li>
</ul>
</div>

<figure class="init_logo_pic"><img alt="JCIロゴ" class="init_logo_jci" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_03.png" /></figure>
</div>
</section>

<section class="section init_logo_sec">
<p class="init_link"><a href="https://sciencebasedtargets.org" target="_blank">Science Based Taregets（SBT）</a></p>

<div class="init_logo_grp">
<div>
<p class="init_logo_txt text">ベネッセコーポレーションは、SBTイニシアティブより、当社の2030年・2050年に向けた温室効果ガス排出目標が、パリ協定における「世界的な平均気温上昇を産業革命以前に比べて2℃より十分低く保つとともに、1.5℃未満に抑える」ための科学的な根拠に基づいた目標であると承認され、2021年5月に同イニシアティブからSBT認定を取得いたしました。<br />
スコープ1・2についてはWB2℃、スコープ3については2℃目標で設定しています。<br />
2018年を基準年とし、以下の削減目標を掲げています。<br />
スコープ1・2：2030年36.2％、2050年100％削減<br />
スコープ3：2030年14.8％、2050年39.4％削減</p>

<ul class="relatedLinks margin">
	<li><a href="https://sciencebasedtargets.org/companies-taking-action" target="_blank">SBT認定企業アクション一覧</a></li>
</ul>
</div>

<figure class="init_logo_pic"><img alt="SBTロゴ" class="init_logo_sbt" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_04.png" /></figure>
</div>
</section>

<p class="text">また、国内の外部団体にも積極的に参加しています。</p>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>