<section class="section">
<p class="init_link_ex"><a href="https://www.apev.jp/en/" target="_blank">Association for the Promotion of Electric Vehicles（APEV）</a></p>

<div class="init_logo_grp">
<p class="init_logo_txt text">We agree with this organization&#39;s aim to leave behind a beautiful world for the children of the future, and since their founding, we have continued to support the organization by actively donating, supporting, and cooperating in their activities and since 2019, we have been active as an executive member.</p>

<figure class="init_logo_pic"><img alt="APEV logo" class="init_logo_apev" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/management/initiative_05.png" /></figure>
</div>

<ul class="relatedLinks">
	<li><a href="https://www.keidanren.or.jp/en/" target="_blank">KEIDANREN (Japan Business Federation)</a></li>
	<li><a href="https://www.jadma.or.jp/e/" target="_blank">Japan Direct Marketing Association</a></li>
	<li><a href="https://j-agce.org/" target="_blank">The Japan Association for Global Competency Education【Japanese】</a></li>
	<li><a href="http://www.u-ma21.com/" target="_blank">University Management Association【Japanese】</a></li>
	<li><a href="https://www.jbpa.or.jp/en/index.html" target="_blank">Japan Book Publishers Association</a></li>
	<li><a href="https://www.jepa.or.jp/english/" target="_blank">Japan Electronic Publishing Association</a></li>
</ul>
</section>
