<section class="section environment_eco s01">
<p class="text">Environmental issues are an important global priority. We believe that corporations have a duty to actively promote environmental activities. To fulfill its corporate philosophy, Benesse = Supporting the Well-Being of Everyone , the Benesse Group has positioned the environment as a key management priority and is actively promoting initiatives according to the characteristics of each of its business domains, which mainly include education and childcare, language/global leadership training, and senior/nursing care.</p>

<p class="text">We will adhere to all environmental laws and regulations when undertaking environmental activities. At the same time, we will have every person involved in our business proactively take part in environmental activities while working to continuously upgrade environmental management systems and environmental performance. Details of these activities are as follows:</p>

<ul class="text">
	<li>（1）<strong>Promote climate control and environmental consciousness in products and services, as well as in sales and other activities</strong><br />
	We promote environmentally conscious design principles, including avoiding the use of hazardous substances, climate control through resource conservation and other GHG emission reduction, the preservation of biodiversity and water resources and the efficient use of water, to ensure that we provide safe, low environmental impact materials. We apply these principles to products, services, and to marketing tools.</li>
	<li>（2）<strong>Encourage energy conservation and waste reduction for climate control, recycling, the preservation of biodiversity and the conservation of water resources</strong><br />
	We work to prevent environmental pollution and reduce environmental impact in the course of business activities by encouraging climate control through GHG emission reduction activities, including energy conservation and waste reduction, recycling, the preservation of biodiversity and the conservation of water resources, including the efficient use of water through the implementation of new technologies and other means.</li>
	<li>（3）<strong>Engage society</strong><br />
	We leverage the unique characteristics of each of the Group&#39;s businesses to collaborate with society and local communities in environmental activities that promote environmental education, community programs and other activities for climate control through the reduction of GHG emissions, preservation of biodiversity and the conservation of water resources, including the efficient use of water.</li>
</ul>

<p class="text">This Environmental Policy will be made known to all employees and other personnel involved in the Group&#39;s business activities and will also be disclosed to the public.</p>

<p class="right">August 1, 2011<br />
Revised March 22, 2021<br />
Benesse Holdings, Inc.</p>
</section>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
