<section class="section environment_eco s01" id="sustaina_framework02">
<p>The Sustainability and ESG Committee, made up of full-time directors and the Representative Director and Chairman/CEO as chairman, meets regularly to decide on policies for ESG initiatives and to monitor the status of these activities. The activities of the Sustainability Committee are reported to the Board of Directors.</p>

<p class="titleLv4 texth">Committee Members as of June 2021</p>

<table class="stdTb02">
	<tbody>
		<tr>
			<th>Chairperson</th>
			<td>
			<table>
				<tbody>
					<tr class="tr">
						<td>Representative Director and Chairman, CEO of Benesse Holdings</td>
						<td>Tamotsu Adachi</td>
						<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/adachi.html">Profile</a></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<th>Committee Members</th>
			<td>
			<table>
				<tbody>
					<tr class="tr">
						<td>Representative Director and President, COO of Benesse Holdings</td>
						<td>Hitoshi Kobayashi</td>
						<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/kobayashi.html">Profile</a></td>
					</tr>
					<tr class="tr">
						<td>Director of Benesse Holdings</td>
						<td>Shinya Takiyama</td>
						<td><a class="arrow" href="https://www.benesse-hd.co.jp/en/about/management/executive/takiyama.html">Profile</a></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<p class="text">The above members are joined at meetings by outside directors, audit &amp; supervisory board members, and individuals nominated by the chairman as observers.</p>

<p>At Benesse Corporation, we promote education on the environment and a reduction in the environmental burden including a reduction in greenhouse gas emissions by establishing the environmental supervisor in each division and creating annual plans with customers and at each business stage.</p>

<p class="titleLv4 texth">Benesse Corporation Environmental Action Promotional Framework</p>

<figure class="res_img"><img alt="Benesse Corporation Environmental Action Promotional Framework" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/management_01.png" /></figure>
</section>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
