<section class="section environment_eco s01" id="sustaina_framework02">
<p>代表取締役会長CEOを委員長とし、常勤取締役をメンバーとするサステナビリティ・ESG推進委員会を定期開催し、ESG課題についての取り組みについて方針を決定し、その活動状況のモニタリングを行っています。サステナビリティ・ESG推進委員会での活動は取締役会へ報告を行っています。</p>

<p class="titleLv4 texth">【サステナビリティ・ESG推進委員会メンバー】 2021年6月現在</p>

<table class="stdTb02">
	<tbody>
		<tr>
			<th>委員長</th>
			<td>
			<table>
				<tbody>
					<tr class="tr">
						<td>ベネッセホールディングス代表取締役会長 CEO</td>
						<td>安達 保</td>
						<td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/adachi.html">略歴はこちら</a></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<th>委員</th>
			<td>
        <table>
          <tbody>
            <tr class="tr">
              <td>ベネッセホールディングス代表取締役社長 COO</td>
              <td>小林 仁</td>
              <td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/kobayashi.html">略歴はこちら</a></td>
            </tr>
            <tr class="tr">
              <td>ベネッセホールディングス取締役</td>
              <td>滝山 真也</td>
              <td><a class="arrow" href="https://www.benesse-hd.co.jp/ja/about/management/executive/takiyama.html">略歴はこちら</a></td>
            </tr>
          </tbody>
        </table>
			</td>
		</tr>
	</tbody>
</table>

<p class="text">なお、各開催回においては、上記メンバーに加えて、社外取締役、監査役、および委員長の指名者がオブザーバーとして参加することがあります。</p>

<p>また、ベネッセコーポレーションでは、各事業部ごとに環境担当者を据え、顧客や事業ステージにおいて毎年各部計画を立案し、GHG排出量削減を含む環境負荷削減と環境教育の推進を行っています。</p>

<p class="titleLv4 texth">【ベネッセコーポレーション環境活動推進体制】</p>

<figure class="res_img"><img alt="ベネッセコーポレーション環境活動推進体制図" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/management_01.gif" /></figure>
</section>

<div class="pageTop"><a href="#" class="scroll">To Top</a></div>
