<section class="section">
<p class="text">At Benesse, we implement screenings and internal audits once per year through a certifying body based on ISO14001. The internal audits are held to improve the environmental management system from the previous screening (target for FY2020 audit: Benesse Corporation)<br />
There were no major instances of non-conformity but there were two opportunities for improvement in the screening by the certifying body.</p>

<dl>
	<dt class="env_inspect_term">■Major Instances of Non-conformity or Examples of Recommended Items (Opportunities for Improvement)</dt>
	<dd>Need for on-site confirmation related to waste product processing from the perspective of corporate social responsibility<br />
	Quick response to lithium batteries collected for recycling that have been collecting in the waste drop-off area (fire risk)</dd>
	<dt class="env_inspect_term">■Main Positive Examples</dt>
	<dd>A corporate culture of active improvement in preserving the environment, educating about the environment, and improving customer trust has developed, and the rapid visualization and examination of work processes during the COVID-19 pandemic has led to BPR</dd>
</dl>

<p class="titleLv4">Status of the FY2020 Environmental Audit (cases)</p>

<table class="env_inspect_tbl stdTb02">
	<colgroup>
		<col />
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Items to Check (total)</th>
			<th scope="col">Instances of Non-conformity or Recommended Items</th>
			<th scope="col">Positive Examples</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Work processes（12）</td>
			<td>&nbsp;</td>
			<td>12</td>
		</tr>
		<tr>
			<th class="vm" scope="row">2</th>
			<td>Products and services（8）<br />
			※including environmental education</td>
			<td class="vm">1</td>
			<td class="vm">7</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Energy saving（3）</td>
			<td>&nbsp;</td>
			<td>3</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td>EMS, etc.（5）</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td>Supply chains（2）</td>
			<td>&nbsp;</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
</section>
