<section class="section">
<p class="texth">In 2004, Benesse acquired ISO14001 certification, an international standard for environmental management systems. Efforts are underway to deliver environmentally-conscious products and services&nbsp;and reduce our environmental burden in our business activities based on the Benesse Group Environmental Policy and&nbsp;Guidelines. The Benesse Group also aims to increase the number of personnel capable of promoting environmental education, understanding environmental problems, and engaging in environmentally-conscious actions.</p>

<p class="idt">※Transition to 2015 version complete (FY2017), and update to 2021 version complete</p>

<p class="titleLv4">PDCA in the Environmental Management System</p>

<figure class="res_img center"><img alt="PDCA in the Environmental Management System" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/environment/management_02_en.png" /></figure>
</section>
