<section class="section">
<p>The Benesse Group is involved in the following initiatives following the three areas defined in the Environmental Policy</p>

<table class="stdTb02">
	<tbody>
		<tr>
			<th class="env_init_tbl_th">&nbsp;Promote climate control and environmental consciousness in products and services, as well as in sales and other activities</th>
			<td><a href="/en/themes/150#1011">■Implementing environmental education through products and services</a> 　
			<ul class="env_init_list">
				<li class="env_init_item idt">・Offering environmental content for preschool-aged children that matches their stage of development: Kodomo Challenge</li>
				<li class="env_init_item idt">・Offering Shinkenzemi , a course for students from elementary school to high school that offers environmental content based on course of study</li>
			</ul>
			<a href="/en/themes/150#1012">■Environmental Contests</a>

			<ul class="env_init_list">
				<li class="env_init_item idt">・The Environmental Division in a contest where elementary schools students from around Japan create the future: supporting environmental activities</li>
				<li class="env_init_item idt">・Environmental essay contest for high school students, etc.</li>
			</ul>
			<a href="/en/themes/150#region">■Environmental Workshops</a></td>
		</tr>
		<tr>
			<th class="env_init_tbl_th">Encourage energy conservation and waste reduction for climate control, recycling, the preservation of biodiversity and the conservation of water resources</th>
			<td>■Environmental considerations when creating products and services
			<ul class="env_init_list">
				<li class="env_init_item idt"><a href="/en/themes/148#1005">・Promotion of digitalization of products and services</a></li>
				<li class="env_init_item idt"><a href="/en/themes/148#1005">・Creating and using environmentally friendly paper</a></li>
				<li class="env_init_item idt"><a href="/en/themes/149#1009">・Promoting the reuse of student tablets</a></li>
				<li class="env_init_item idt"><a href="/en/themes/149#1009">・Kurukuru Recycle</a></li>
				<li class="env_init_item idt"><a href="/en/themes/149#1009">・Tree planting through Akapen Sensei no Mondai, etc.</a></li>
			</ul>
			■Environmental Actions at Our Buildings

			<ul class="env_init_list">
				<li class="env_init_item idt"><a href="/en/themes/148#office">・Promoting floor activities, such as thorough waste separation and energy reduction</a></li>
				<li class="env_init_item idt"><a href="/en/themes/148#office">・Understanding the used volume of copy paper and reduce usage</a></li>
				<li class="env_init_item idt"><a href="/en/themes/148#office">・An initiative to have zero CO2 emissions at general stockholder meetings</a></li>
				<li class="env_init_item idt"><a href="https://www.benesse.co.jp/kankyo/office/logistics_center.html" target="_blank">・Actions to reduce CO2 at the Benesse Logistics Center, etc.【Japanese】</a></li>
			</ul>
			<a href="https://www.benesse.co.jp/kankyo/office/logistics_center.html" target="_blank"> </a><a href="/en/themes/148#modal">■Modal Shift in Transportation</a></td>
		</tr>
		<tr>
			<th class="env_init_tbl_th">Engage society</th>
			<td><a href="/en/themes/141#dialogue">■Stakeholder Dialogue with Outside Intellectuals</a>
			<div class="env_init_2nd_ttl">■Engagement with non-profit organizations, non-governmental organizations, administrative organizations, and high school and university students</div>

			<div class="env_init_item">Cooperation through engagement several times throughout the year on a variety of themes related to the environment, including measures against climate change, biological diversity, energy-saving, and renewable energy</div>
			</td>
		</tr>
	</tbody>
</table>
</section>
