<section class="section">
<p>Japan:（1）Energy Conservation Law （2）Waste Disposal Law （3）Containers and Packaging Recycling Law<br />
Overseas:Basic Environment Act (Taiwan)<br />
There were no violations against environmental laws and regulations in FY2020.</p>
</section>
