<section class="section">
<table class="stdTb02">
	<thead>
		<tr>
			<th class="env_manage_pos">Base Name</th>
			<th class="env_manage_pos">Location</th>
			<th class="env_manage_pos">Business Content</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Okayama Headquarters</td>
			<td>3-7-17 Minamigata, Kita-ku, Okayama-shi, Okayama</td>
			<td rowspan="3">Planning, creation, and sales of&nbsp;distance learning materials,&nbsp;trial exams for schools,&nbsp;career path materials, magazines, and other related products</td>
		</tr>
		<tr>
			<td>Tokyo Headquarters<br />
			Tama Office</td>
			<td>1-34 Ochiai, Tama-shi, Tokyo<br />
			<br />
			1-32-1 Ochiai, Tama-shi, Tokyo<br />
			Peperi Building (tenant)</td>
		</tr>
		<tr>
			<td>Tokyo Headquarters<br />
			Shinjuku Office</td>
			<td>Shinjuku-Mitsui Building, 2-1-1 Nishi Shinjuku, Shinjuku-ku, Tokyo</td>
		</tr>
		<tr>
			<td>Tokyo Headquarters<br />
			Hatsudai Office</td>
			<td>1-53-6 Hatsudai, Shibuya-ku, Tokyo</td>
			<td>Planning, creation, sales, and alliances for teaching materials for the classroom business</td>
		</tr>
		<tr>
			<td>Tokyo Headquarters<br />
			Tosei Building</td>
			<td>1-15-2 Ochiai, Tama-shi, Tokyo</td>
			<td>Back Office Operations</td>
		</tr>
		<tr>
			<td>Tokyo Headquarters<br />
			Meidaimae Office</td>
			<td>2-7-1 Izumi, Suginami-ku, Tokyo</td>
			<td>Call center</td>
		</tr>
		<tr>
			<td>Benesse Logistics Center</td>
			<td>660 Osafune-cho Osafune, Setouchi-shi, Okayama</td>
			<td>Storage and shipping of&nbsp;distance learning materials,&nbsp;trial exams for schools,&nbsp;career path materials, magazines, and other related products</td>
		</tr>
	</tbody>
</table>

<p class="env_manage_tbl_cap">（As of June&nbsp;2021）</p>
</section>
