<section class="environment_eco section s03">
<h3 class="titleLv3">Awarded top A evaluation in CDP&rsquo;s 2020 climate change survey for third consecutive year</h3>

<div class="margin"><span><img alt="" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/cdp_climate2020.png" /></span>

<p>Benesse Holdings<br />
In the CDP&rsquo;s climate change survey, we were selected in 2020 as an A List company, the highest evaluation for companies that conduct outstanding activities in greenhouse gas emission reduction, climate change mitigation measures, etc., for the third consecutive year.</p>
</div>

<ul class="relatedLinks">
	<li class="pdf"><a href="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/en/pdf/cdp_2020.pdf" target="_blank">Responses to the CDP Climate Change 2020 Questionnaire [PDF:764KB]</a></li>
</ul>

<p class="small idt">※Since answering, we have raised the targets for Scopes 1 and 2 and revised the results of Scope 3.<br />
Please see the revised figures.<br />
<a href="/en/themes/168#1070">https://benesse-hd.disclosure.site/en/themes/168</a></p>
</section>

<section class="environment_eco section s03">
<h3 class="titleLv3">Receiving the highest rank &ldquo;A&rdquo; in the CDP&rsquo;s Suppliers Engagement Valuation</h3>

<div><span><img alt="CDP 2020 サプライヤー・エンゲージメント評価" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/cdp_supplier2020.png" /></span>

<p>Benesse Holdings<br />
In the CDP&rsquo;s Suppliers Engagement Valuation, we have continuously been ranked the highest (A). On this supplier engagement leader board, we are among the 396 high-ranking companies taking action for climate change.</p>
</div>
</section>

<section class="environment_eco section s03">
<h3 class="titleLv3">Acquired Science Based Targets (SBT) Certification</h3>

<div><span><img alt="Science Based Targets" src="https://sustainability-cms-staging3-7-s3.s3-ap-northeast-1.amazonaws.com/ja/environment/management_03.png" /></span>

<p>Benesse Corporation<br />
Our greenhouse gas emission targets for 2030 and 2050 were certified by the SBT Initiative based on scientific evidence to &ldquo;keep the global average temperature increase well below 2&deg;C and below 1.5&deg;C compared to pre-industrial levels &rdquo; under the Paris agreement. We have received SBT certification from the Initiative.</p>
</div>
</section>

<div class="pageTop"><a class="scroll" href="#">To Top</a></div>
