<section class="section">
<p>Based on our Group Environmental Policy, the Benesse Group promotes an understanding of and measures against climate change through&nbsp;environmental education and transition plans for decarbonization in companies.</p>

<ul class="relatedLinks">
	<li><a href="/en/themes/147#991">The Benesse Group Environmental Policy</a></li>
</ul>
</section>
