<div class="contents"><h1 class="titleLv1">Workplace Safety and Hygiene</h1><header class="section"><p>To manage health and safety, we have established a policy for workplace safety and work to create an environment where employees can work safely and in a healthy way. </p></header></div>