<div class="contents"><h1 class="titleLv1">サプライチェーン・マネジメント</h1><header class="section"><p>ベネッセコーポレーションでは、品質・価格・納期のみならず、環境や人権・労働などの社会側面にも配慮した、責任ある調達活動を推進しています。また、調達に関する考え方を「調達基本方針」に定め、サプライチェーン全体のサステナブルな社会の実現に向けて、パートナー企業の皆様と共に取り組んでいます。</p></header></div>