<nav class="boxLnks">
<dl>
<dt>Relevant Pages</dt>
<dd>
<ul class="relatedLinks">
  <li><a href="/en/themes/152">Respect for Human Rights</a></li>
  <li><a href="/en/themes/148">Our Response to Climate Change</a></li>
  <li><a href="/en/themes/149">Resource Conservation</a></li>
</ul>
</dd>
</dl>
</nav>
</div>
<div id="LastUpDate"><p>Last updated : 2021/11/05</p></div>