<nav class="boxLnks">
<dl>
<dt>関連リンク</dt>
<dd>
<ul class="relatedLinks">
  <li><a href="/ja/themes/152">人権の尊重</a></li>
  <li><a href="/ja/themes/148">気候変動への対応</a></li>
  <li><a href="/ja/themes/149">資源の保全</a></li>
</ul>
</dd>
</dl>
</nav>
</div>
<div id="LastUpDate"><p>最終更新日：2021年10月27日</p></div>