<div class="contents"><h1 class="titleLv1">Risk Management and Compliance</h1><header class="section"><p>The Benesse Group has established a system to expand in a healthy and sustainable way based on the Benesse ("well-being") corporate philosophy. </p></header></div>