<div class="contents"><h1 class="titleLv1">責任あるマーケティング</h1><header class="section"><p>ベネッセグループは、企業理念「Benesse=よく生きる」ならびにグループ各社が大切にしている「お客様本位」という価値観に基づき、お客様のライフステージに応じた価値提供を第一に考え、責任あるマーケティングコミュニケーションを行っています。</p></header></div>