<nav class="boxLnks">
<dl>
<dt>関連リンク</dt>
<dd>
<ul class="relatedLinks">
  <li><a href="https://www.benesse.co.jp/anzen_katsudo/" target="_blank">商品安全活動</a></li>
  <li><a href="/ja/themes/152">人権の尊重</a></li>
  <li><a href="/ja/themes/160">情報セキュリティ</a></li>
</ul>
</dd>
</dl>
</nav>
</div>
<div id="LastUpDate"><p>最終更新日：2021年10月13日</p></div>