<nav class="boxLnks">
<dl>
<dt>Relevant Pages</dt>
<dd>
<ul class="relatedLinks">
  <li><a href="https://www.benesse.co.jp/anzen_katsudo/" target="_blank">Product Safety Action 【Japanese】</a></li>
  <li><a href="/en/themes/152">Respect for Human Rights</a></li>
  <li><a href="/en/themes/160">Information Security</a></li>
</ul>
</dd>
</dl>
</nav>
</div>
<div id="LastUpDate"><p>Last updated : 2021/10/21</p></div>