/* 取り組み ------------------------------------------------------------------*/

/* INDEX
 -----------------------*/
.Topics-contents .achieve header					{ margin:0 0 30px 0; padding:20px; color:#222; background:#edf5ff;}
.Topics-contents .achieve header p					{ position:relative; padding:0 0 0.5em 1em;}
.Topics-contents .achieve header p:last-child		{ padding:0 0 0 1em;}
.Topics-contents .achieve header p::after			{ position:absolute; content:''; top:0.45em; left:0; width:6px; height:6px; background:#59a3e3; -webkit-border-radius:50%; border-radius:50%;}
.Topics-contents .achieve .s01 p					{ margin-left:10px; margin-right:10px;}
.Topics-contents .achieve .s02						{ background:#edf5ff; border:solid 1px #c0dafb;}
.Topics-contents .achieve .s02 h2					{ display:inline-block; padding:5px 15px; color:#fff; font-weight:bold; letter-spacing:2px; background:#59a3e3;}
.Topics-contents .achieve .s02 li					{ position:relative;}
.Topics-contents .achieve .s02>ul					{ margin:20px 20px 0 20px;}
.Topics-contents .achieve .s02>ul>li				{ min-height:170px; margin:0 0 20px 0; padding:20px 0 20px 20px; background:#fff; -webkit-box-sizing:border-box; box-sizing:border-box;}
.Topics-contents .achieve .s02 h3					{ padding:0 210px 10px 0; font-size:1.7rem; color:#0c61ce; font-weight:bold;}
.Topics-contents .achieve .s02 h3 img				{ width:17px; height:17px; margin:0 5px 1px 0; vertical-align:-3px;}
.Topics-contents .achieve .s02 .sublist				{ margin:-20px 0 0 0;}
.Topics-contents .achieve .s02 .sublist>li			{ padding:20px 0 0 0;}
.Topics-contents .achieve .s02 h4					{ padding:0 210px 10px 0; font-size:1.7rem; font-weight:bold;}
.Topics-contents .achieve .s02 p,
.Topics-contents .achieve .s02 .item				{ padding:0 210px 5px 4px;}
.Topics-contents .achieve .s02 .item>li				{ padding:0 0 5px 1em;}
.Topics-contents .achieve .s02 .item>li::after		{ position:absolute; content:''; top:0.45em; left:0; width:6px; height:6px; background:#59a3e3; -webkit-border-radius:50%; border-radius:50%;}
.Topics-contents .achieve .s02 li>img				{ position:absolute; top:20px; right:20px; width:172px; height:auto;}
@media screen and (max-width:600px){
	.Topics-contents .achieve .s02>ul				{ margin:20px 10px; margin:20px -webkit-calc(2.22% + 3.3px); margin:20px calc(2.22% + 3.3px);}
	.Topics-contents .achieve .s02>ul>li			{ margin:0; padding:20px 10px; padding:20px -webkit-calc(2.22% + 3.3px); padding:20px calc(2.22% + 3.3px);}
	.Topics-contents .achieve .s02 h3				{ padding:0 0 10px 0;}
	.Topics-contents .achieve .s02 .sublist			{ margin:-20px 0 0 0;}
	.Topics-contents .achieve .s02 .sublist>li		{ padding:20px 0 0 0;}
	.Topics-contents .achieve .s02 h4				{ padding:0 0 10px 0;}
	.Topics-contents .achieve .s02 p,
	.Topics-contents .achieve .s02 .item			{ padding:0 0 5px 4px;}
	.Topics-contents .achieve .s02 .item>li			{ padding:0 0 5px 1em;}
	.Topics-contents .achieve .s02 li>img			{ position:relative; top:0; right:0; margin:10px 0 0 0;}
}

/* COMMON
 -----------------------*/
.columnLw1					{ width:-webkit-calc(100% - 240px); width:calc(100% - 240px); float:left;}
.imgColumnRw1				{ width:216px; float:right;}
.imgColumnRw1 span			{ display:block; margin:5px 0; font-size:1.4rem;}
@media screen and (max-width:770px){
	.columnLw1				{ width:100%; float:none;}
	.imgColumnRw1			{ width:auto; margin:20px 0 5px 0; text-align:left; float:none;}
}
.imgStart,
.imgAround,
.imgBetween					{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.imgStart					{ -webkit-justify-content:flex-start; justify-content:flex-start;}
.imgAround					{ -webkit-justify-content:space-around; justify-content:space-around;}
.imgBetween					{ -webkit-justify-content:space-between; justify-content:space-between;}

.imgStart li				{ display:inline-block; padding:5px 20px 5px 0;}
.imgAround li				{ display:inline-block; padding:5px;}
.imgBetween li				{ display:inline-block;}

.imgStart span,
.imgStart span,
.imgAround span,
.imgBetween span			{ display:block; margin:5px 0 0 0; font-size:1.4rem;}
@media screen and (max-width:770px){
	.imgColumnRw1 span,
	.imgStart span,
	.imgAround span,
	.imgBetween span		{ font-size:1.3rem;}
}
.disc						{ position:relative; padding-left:1.5em;}
.disc::after				{ position:absolute; content:''; top:0.45em; left:3px; width:6px; height:6px; background:#59a3e3; -webkit-border-radius:50%; border-radius:50%;}

.columnBox					{ position:relative; padding:8px; background:#edf5ff; border:solid 1px #c0dafb;}
.columnBox dt				{ position:absolute; top:-1px; left:-1px; padding:3px 15px 1px; line-height:1.6; font-weight:bold; color:#ffffff; background:#59a3e3; letter-spacing:2px;}
.columnBox dd				{ padding:2.5em 20px 15px; background:#fff;}
.columnBox dd strong		{ display:block; padding:0 0 5px 0; font-weight:bold;}
.columnBox dd i				{ display:block; line-height:1.3;}
@media screen and (max-width:770px){
	.columnBox dd			{ padding:2.5em -webkit-calc(2.22% + 3.3px) 15px; padding:2.5em calc(2.22% + 3.3px) 15px;}
}


/* 取り組み：教育・子育て 98 ------------------------------------------------------------------*/

/* 教育へのデジタル活用 99
 -----------------------*/
/* グローバル人材育成 100
 -----------------------*/
/* 子育て支援 101
 -----------------------*/
.education_baby.s01 .imgAround		{ max-width:600px; margin:0 auto;}

/* 事業を支える取り組み 102
 -----------------------*/
.education_service.s01 th			{ min-width:100px;}
.education_service.s03 li			{ padding:0 0 5px 2.5em; text-indent:-2.5em;}
.education_service.s03 li strong	{ font-weight:bold;}
.education_service.s04 img			{ max-width:694px;}

/* 取り組み：シニア・介護 104 ------------------------------------------------------------------*/

/* 事業を通じた取り組み 105
 -----------------------*/
.senior_living.s02 img				{ max-width:694px; margin:0 auto;}
.senior_living.s03 img				{ max-width:520px; margin:0 auto;}

/* 事業を支える取り組み 106
 -----------------------*/
.senior_society.s02 img				{ max-width:694px; margin:0 auto;}

/* 取り組み：人財 107 ------------------------------------------------------------------*/

/* ダイバーシティ 108
 -----------------------*/
.personnel_diversity .imgAround					{ max-width:714px; margin:0 auto;}
.personnel_diversity.s01 li img					{ max-width:337px; margin:0 auto;}
.personnel_diversity.s02 ul li:nth-child(1) img	{ min-width:300px; max-width:615px; margin:10px auto;}
.personnel_diversity.s02 ul li:nth-child(2) img	{ min-width:300px; max-width:347px; margin:10px auto;}
.personnel_diversity.s02>p img					{ min-width:300px; max-width:694px; margin:10px auto;}

.personnel_diversity.s04 .imgColumnRw1			{ width:220px;}
.personnel_diversity.s04 .stdTb02				{ min-width:500px;}
.personnel_diversity.s04>dl						{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start;}
.personnel_diversity.s04>dl dt					{ width:130px;}
.personnel_diversity.s04>dl dd					{ width:-webkit-calc(100% - 130px); width:calc(100% - 130px);}
@media screen and (max-width:480px){
	.personnel_diversity.s04>dl					{ display:block;}
	.personnel_diversity.s04>dl dt				{ width:130px;}
	.personnel_diversity.s04>dl dd				{ width:auto; padding:10px 0 0;}
}

/* 働きやすく活気ある職場づくり 110
 -----------------------*/
[id="894"], [id="937"], [id="938"] { display:none;}
.personnel_workplace.s02 .boxLnks				{ margin:0 0 50px 0;}
.personnel_workplace.s02 li						{ position:relative; padding:0 0 5px 15px;}
.personnel_workplace .s02_2						{ padding:25px 0 0 0; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:flex-end; align-items:flex-end;}
.personnel_workplace .s02_2>span				{ display:block; max-width:400px; width:-webkit-calc(100% - 25em); width:calc(100% - 25em);}
.personnel_workplace .s02_2 p					{ width:25em; white-space:nowrap;}
.personnel_workplace .s02_2 .s02_2br			{ display:none;}
.personnel_workplace.s02 figure span			{ display:inline-block; max-width:100%; padding:20px 20px 10px 20px; background:#fff;}
.personnel_workplace .s02_3						{ padding:0 0 20px 0; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center;}
.personnel_workplace .s02_3 span				{ display:block; }
.personnel_workplace .s02_3 span:nth-child(1)	{ padding:0 5px 0 0;}
.personnel_workplace .s02_3 span:nth-child(2)	{ padding:0 0 0 5px;}
.personnel_workplace.s04 th br					{ display:none;}
.personnel_workplace.s04 td						{ width:35%;}
.personnel_workplace.s04 th.center				{ text-align:center;}
.personnel_workplace .columnBox strong span		{ display:inline-block;}
@media screen and (max-width:770px){
	.personnel_workplace .s02_2>span			{ max-width:350px; width:-webkit-calc(100% - 16em); width:calc(100% - 16em);}
	.personnel_workplace .s02_2 p				{ width:16em;}
	.personnel_workplace .s02_2 .s02_2br		{ display:inline;}
	.personnel_workplace.s02 figure span		{ padding:15px 10px 10px 10px;}
	.personnel_workplace.s02 figure img			{ -webkit-backface-visibility:hidden;}
	.personnel_workplace .s02_3					{ display:block;}
	.personnel_workplace .s02_3 span				{ max-width:none;}
	.personnel_workplace .s02_3 span img				{ width: auto; max-width: 100%;}
	.personnel_workplace .s02_3 span:nth-child(n)
												{ padding:5px 0; margin:0 auto;}
}
@media screen and (max-width:480px){
	.personnel_workplace .s02_2					{ display:inline-block; margin:0 auto; padding:15px 0 0 0;}
	.personnel_workplace .s02_2>span			{ display:inline-block; max-width:450px; width:auto;}
	.personnel_workplace .s02_2 p				{ display:block; width:auto;}
}
@media screen and (max-width:440px){
	.personnel_workplace.s02 figure span		{ padding:10px 5px 5px 5px;}
	.personnel_workplace.s04 th br				{ display:inline;}
}

/* 取り組み：環境 111 ------------------------------------------------------------------*/

/* ベネッセグループの環境方針 112
 -----------------------*/
[id="968"], [id="969"], [id="970"], [id="971"]	{}
.environment_eco.s01 li						{ padding:0 0 5px 2.5em; text-indent:-2.5em;}
.environment_eco.s01 li strong				{ font-weight:bold;}
.environment_eco.s03>div					{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start;}
.environment_eco.s03>div>span				{ display:block; width:150px; min-width:150px; padding:0 40px 0 0;}
.environment_eco.s03>div>span img			{ display:block; width:100%; height:auto;}

.environment_eco.s04 > div {
	display: flex;
	justify-content: space-between;
}
.environment_eco.s04 > div > span	{
	display: block;
	/* width: 300px; */
	min-width: 300px;
	padding: 0 40px 0 0;
}
.environment_eco.s04 > div > span img	{
	display:block;
	width:100%;
	height:auto;
}

@media screen and (max-width:770px){
	.environment_eco.s03>div>span			{ width:120px; width:-webkit-calc(6.667vw + 98.67px); width:calc(6.667vw + 98.67px); min-width:120px; min-width:-webkit-calc(6.667vw + 98.67px); min-width:calc(6.667vw + 98.67px); padding:0 -webkit-calc(8.889vw + -28.44px) 0 0; padding:0 calc(8.889vw + -28.44px) 0 0;}
	.environment_eco.s04 > div > span	{
		width: 100%;
		padding:0 calc(8.889vw + -28.44px) 0 0;
	}
	.environment_eco.s04 > div > span img	{
		width: 100%;
		max-width: 523px;
	}
@media screen and (max-width:640px){
	.environment_eco.s03>div				{ display:block;}
	.environment_eco.s03>div>span			{ padding:0 0 20px 0;}
	.environment_eco.s04>div				{ display:block;}
	.environment_eco.s04>div>span			{ padding:0 0 20px 0;}
}

/* 事業と環境のかかわり 113
 -----------------------*/
.environment_business.s01 img				{ max-width:600px; margin:0 auto;}
.environment_business.s03 span				{ margin:0 0 10px 25px; float:right;}
.environment_business.s03 b					{ display:block; padding:2px 0 2px 0;}
.environment_business.s03 rp,
.environment_business.s03 rt				{ font-size:75%; font-weight:normal;}
.environment_business.s03 i					{ display:block; font-size:92%; line-height:1.3;}
.environment_business.s03 p.clear img		{ max-width:480px; margin:10px auto 0 0;}

/* 環境教育を通じた啓発活動 114
 -----------------------*/
.environment_education .columnBox			{ padding:8px; background:#d4e8e4; border:solid 1px #00a291;}
.environment_education .columnBox dt		{ background:#58b3a5;}
.environment_education .columnBox em		{ color:#58b3a5;}
.environment_education.s03 li				{ width:50%; padding:10px 0 0 0; float:left;}
.environment_education.s03 p				{ width:50%; float:left;}
.environment_education.s03 div				{ width:50%; float:left;}
@media screen and (max-width:770px){
	.environment_education.s03 li			{ width:100%; float:none;}
	.environment_education.s03 p			{ width:-webkit-calc(100% - 170px); width:calc(100% - 170px); float:left;}
	.environment_education.s03 div			{ width:150px; float:right;}
}
@media screen and (max-width:413px){
	.environment_education.s03 p			{ width:100%; float:none;}
	.environment_education.s03 div			{ width:150px; margin:5px 0 0 0; float:none;}
}

/* 取り組み：地域／社会貢献 115 ------------------------------------------------------------------*/

/* 財団と連携したよい地域づくり 116
---------------------------------*/
.society_foundation.s01 li					{ width:140px;}
.society_foundation.s01 li span				{ display:block; padding:5px 0 10px 0; font-size:1.2rem; line-height:1.3;}

/* 地域に根ざした活動 117
---------------------------------*/
.society_subject.s01 table					{ min-width:0 !important; max-width:-webkit-calc(100% - 240px); max-width:calc(100% - 240px);}
.society_subject.s01 th						{ width:50%;}
.society_subject.s02 .columnLw1				{ max-width:-webkit-calc(100% - 394px); max-width:calc(100% - 394px);}
.society_subject.s02 .imgColumnRw1			{ width:370px;}
.society_subject.s02 .imgColumnRw1::after	{ content:''; display:block; clear:both;}
.society_subject.s02 .imgRw1				{ float:right;}
.society_subject.s02 .imgColumnRw1 span		{ clear:both;}
@media screen and (max-width:770px){
	.society_subject.s01 table				{ width:100%; max-width:400px;}
	.society_subject.s02 .columnLw1			{ width:100%; max-width:100%;}
	.society_subject.s02 .imgColumnRw1		{ width:auto; margin:10px 0 0 0;}
	.society_subject.s02 .imgColumnRw1 img	{ margin:10px 8px 0 0;}
	.society_subject.s02 .imgRw1			{ float:left;}
}
.society_subject.s03 dl						{ margin:20px 0 0 0; padding:10px; background:rgba(255,255,255,0.8); border:solid 1px #7c8fc7;}
.society_subject.s04 .columnBox				{ padding:8px; background:#f0f1f9; border:solid 1px #7c8fc7;}
.society_subject.s04 .columnBox dt			{ background:#7c8fc7;}
.society_subject.s04 .columnBox em			{ color:#7c8fc7;}
.society_subject.s04 .c_note p				{ padding:4px 0 0 0;}
.society_subject.s04 .c_note p span			{ display:inline-block;}
.society_subject.s04 .c_note b				{ display:block;}
.society_subject.s04 .c_note b span:after	{ content:'/';}
