a					{ text-underline-position:under;}
a.under_auto		{ text-underline-position:auto;}
.yugo_more			{ padding-left:20px; font-size:14px;/* color:#0070c1;*/ text-decoration:underline; background:url(/ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important; font-family:YuGothic,'Hiragino Kaku Gothic Pro','Hiragino Sans','游ゴシック Medium','Yu Gothic Medium','メイリオ',Meiryo,sans-serif;}
.flex				{ display:-webkit-flex; display:flex;}
.flex_e				{ display:-webkit-flex; display:flex; -webkit-justify-content:flex-end; justify-content:flex-end;}
.flex_a				{ display:-webkit-flex; display:flex; -webkit-justify-content:space-around; justify-content:space-around;}
.flex_b				{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
.flex_c				{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center;}
.flex_sc			{ display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center;}
.flex_bc			{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; align-items:center;}
.flex_cc			{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center;}
.flex_wrap			{ -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.flex_mid			{ align-items:center; -webkit-align-items:center;}
.flex_rev			{ flex-direction:row-reverse; -webkit-flex-direction:row-reverse;}
.flex_col			{ flex-direction:column; -webkit-flex-direction:column;}
.flex_grow1			{ flex-grow:1; -webkit-flex-grow:1;}


/* トップ
------------------------------------------------------------------*/
#wrap.sustaina_index						{ width:100%; text-align:left; background:#f4f4f4; overflow:hidden;}

/* Visual
---------------------------------*/
.sustaina_index #vis ul						{ position:relative; width:100%; height:0; padding:35.3684% 0 0 0;}
.sustaina_index #vis ul li					{ display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
.sustaina_index #vis ul li:nth-child(1)		{ display:block;}
.sustaina_index #vis>div					{ position:absolute; z-index:200; top:0; left:0; width:100%; height:100%; padding:0 11.5%; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start; -webkit-align-items:center; align-items:center;}
.sustaina_index #vis em						{ display:block; font-size:2.36vw; line-height:1.875; color:#fff;}
.sustaina_index #vis em>span				{ display:block;}
.sustaina_index #vis_txt>span				{ display:inline-block; margin-top:20px; padding:15px 20px 15px 5px; background:url(/ja/hd-common/images/icon/ico_win2.png) 100% 45% no-repeat;}
.sustaina_index #vis_txt a					{ display:inline-block; padding:4px 0 4px 22px; font-size:1.4rem; color:#fff; text-decoration:underline; background:url(/ja/hd-common/images/icon/arr3wb.png) 0 50% no-repeat; background-size:10px 10px !important;}
@media screen and (max-width:1356px){
	.sustaina_index #vis em					{ font-size:21px; font-size:-webkit-calc(1.062vw + 17.6px); font-size:calc(1.062vw + 17.6px);}
}
@media screen and (max-width:959px){
	.sustaina_index #vis					{ height:340px; padding:0;}
	.sustaina_index #vis img				{ position:relative; width:auto; height:340px; left:50%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	.sustaina_index #vis>div				{ padding:0 -webkit-calc(13.855% - 22.5px) -webkit-calc(-3.13vw + 30.02px); padding:0 calc(13.855% - 22.5px) calc(-3.13vw + 30.02px);}
	.sustaina_index #vis em>span			{ display:inline;}
	.sustaina_index #vis em>span span		{ display:inline-block;}
	.sustaina_index #vis_txt>span			{ margin-top:10px; margin-top:-webkit-calc(1.565vw + 4.99px); margin-top:calc(1.565vw + 4.99px);}
}

/* MAIN
------------------------------------------------------------------*/
.sustaina_wrap			{ padding:0 40px;}
.sustaina_title			{ display:block; font-size:28px;}
.sustaina_pic			{ display:block; overflow:hidden;}
.sustaina_groupe_		{ margin-bottom:26px;}
.sustaina_col_			{ width:-webkit-calc(33.333% - 20px); width:calc(33.333% - 20px); margin-bottom:30px;}
.plr-1					{ padding-left:30px; padding-right:30px;}
.plr-2					{ padding-left:25px; padding-right:25px;}
.plr-3					{ padding-left:20px; padding-right:20px;}
.ptb-1					{ padding-top:40px; padding-bottom:40px;}
.ptb-2					{ padding-top:30px; padding-bottom:30px;}
.ptb-3					{ padding-top:20px; padding-bottom:20px;}
@media (min-width:771px) and (max-width:1120px){
	.sustaina_wrap		{ padding:0 -webkit-calc(7.163vw + -40.23px); padding:0 calc(7.163vw + -40.23px);}
	.sustaina_title		{ font-size:22px; font-size:-webkit-calc(1.719vw + 8.74px); font-size:calc(1.719vw + 8.74px);}
	.sustaina_groupe_	{ margin-bottom:-webkit-calc(1.719vw + 6.74px); margin-bottom:calc(1.719vw + 6.74px);}
	.sustaina_col_		{ width:-webkit-calc(33.333% - 2.865vw + 12.09px); width:calc(33.333% - 2.865vw + 12.09px); margin-bottom:-webkit-calc(4.298vw + -18.14px); margin-bottom:calc(4.298vw + -18.14px);}
	.plr-1				{ padding-left:-webkit-calc(4.298vw + -18.14px); padding-left:calc(4.298vw + -18.14px);		padding-right:-webkit-calc(4.298vw + -18.14px); padding-right:calc(4.298vw + -18.14px);}
	.plr-2				{ padding-left:-webkit-calc(3.582vw + -15.11px); padding-left:calc(3.582vw + -15.11px);		padding-right:-webkit-calc(3.582vw + -15.11px); padding-right:calc(3.582vw + -15.11px);}
	.plr-3				{ padding-left:-webkit-calc(2.865vw + -12.09px); padding-left:calc(2.865vw + -12.09px);		padding-right:-webkit-calc(2.865vw + -12.09px); padding-right:calc(2.865vw + -12.09px);}
	.ptb-1				{ padding-top:-webkit-calc(2.865vw + 7.91px); padding-top:calc(2.865vw + 7.91px);		padding-bottom:-webkit-calc(2.865vw + 7.91px); padding-bottom:calc(2.865vw + 7.91px);}
	.ptb-2				{ padding-top:-webkit-calc(2.149vw + 5.93px); padding-top:calc(2.149vw + 5.93px);		padding-bottom:-webkit-calc(2.149vw + 5.93px); padding-bottom:calc(2.149vw + 5.93px);}
	.ptb-3				{ padding-top:-webkit-calc(1.433vw + 3.95px); padding-top:calc(1.433vw + 3.95px);		padding-bottom:-webkit-calc(1.433vw + 3.95px); padding-bottom:calc(1.433vw + 3.95px);}
}
@media screen and (max-width:770px){
	.sustaina_wrap		{ padding:0 10px; padding:0 -webkit-calc(1.111vw + 6.44px); padding:0 calc(1.111vw + 6.44px);}
	.sustaina_title		{ font-size:20px; font-size:-webkit-calc(0.889vw + 17.16px); font-size:calc(0.889vw + 17.16px);}
	.sustaina_groupe_	{ margin-bottom:15px; margin-bottom:calc(1.778vw + 9.31px); margin-bottom:-webkit-calc(1.778vw + 9.31px);}
	.sustaina_col_		{ width:100%; margin-bottom:13px; margin-bottom:-webkit-calc(2.889vw + 3.76px); margin-bottom:calc(2.889vw + 3.76px);}
	.plr-1				{ padding-left:15px; padding-left:-webkit-calc(3.333vw + 4.33px); padding-left:calc(3.333vw + 4.33px);		padding-right:15px; padding-right:-webkit-calc(3.333vw + 4.33px); padding-right:calc(3.333vw + 4.33px);}
	.plr-2				{ padding-left:12px; padding-left:-webkit-calc(2.778vw + 3.61px); padding-left:calc(2.778vw + 3.61px);		padding-right:12px; padding-right:-webkit-calc(2.778vw + 3.61px); padding-right:calc(2.778vw + 3.61px);}
	.plr-3				{ padding-left:10px; padding-left:-webkit-calc(2.222vw + 2.89px); padding-left:calc(2.222vw + 2.89px);		padding-right:10px; padding-right:-webkit-calc(2.222vw + 2.89px); padding-right:calc(2.222vw + 2.89px);}
	.ptb-1				{ padding-top:20px; padding-top:-webkit-calc(2.222vw + 22.89px); padding-top:calc(2.222vw + 22.89px);	padding-bottom:20px;	padding-bottom:-webkit-calc(2.222vw + 22.89px); padding-bottom:calc(2.222vw + 22.89px);}
	.ptb-2				{ padding-top:15px; padding-top:-webkit-calc(1.667vw + 17.17px); padding-top:calc(1.667vw + 17.17px);	padding-bottom:15px;	padding-bottom:-webkit-calc(1.667vw + 17.17px); padding-bottom:calc(1.667vw + 17.17px);}
	.ptb-3				{ padding-top:10px; padding-top:-webkit-calc(1.111vw + 11.44px); padding-top:calc(1.111vw + 11.44px);	padding-bottom:10px;	padding-bottom:-webkit-calc(1.111vw + 11.44px); padding-bottom:calc(1.111vw + 11.44px);}
}
.imgover										{ -webkit-transition:opacity 0.4s ease-in-out 0s; transition:opacity 0.4s ease-in-out 0s;}
.imgover:hover									{ opacity:0.8;}
.imgover .sustaina_pic img						{ -webkit-transition:transform 0.4s ease-in-out 0s; transition:transform 0.4s ease-in-out 0s;}
.imgover:hover .sustaina_pic img				{ -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}



#sustaina_navwrap,
#sustaina_navwrap2								{ z-index:200; position:relative; max-width:1020px;}
#sustaina_navwrap								{ margin:-25px auto 0 auto;}
#sustaina_navwrap2								{ margin:25px auto 0 auto;}

/* 更新情報
---------------------------------*/
#sustaina_topics								{}
#sustaina_topics dt								{ width:160px; color:#fff; font-size:1.4rem; font-weight:500; text-align:center; background:#0070c1;}
#sustaina_topics dd								{ width:-webkit-calc(100% - 160px); width:calc(100% - 160px); background:#fff;}
#sustaina_topics ul								{ position:relative; height:50px; overflow:hidden;}
#sustaina_topics li								{ position:absolute; top:-50px; left:30px; width:-webkit-calc(100% - 60px); width:calc(100% - 60px); height:100%;}
#sustaina_topics li.show						{ top:0; -webkit-transition:top 0.4s ease-in-out 0s; transition:top 0.4s ease-in-out 0.1s;}
#sustaina_topics li.hide						{ top:50px; -webkit-transition:top 0.4s ease-in-out 0s; transition:top 0.4s ease-in-out 0.1s;}
#sustaina_topics a								{ display:block; width:100%; height:50px; line-height:50px; color:#222; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#sustaina_topics a span.yugo					{ padding:0 1.5em 0 0; white-space:nowrap;}
@media screen and (max-width:770px){
	#sustaina_topics							{ display:block;}
	#sustaina_topics dt							{ width:100%; height:3.33em;}
	#sustaina_topics dd							{ width:100%; font-size:1.4rem;}
	#sustaina_topics ul							{ height:auto; min-height:200px; padding-top:20px; padding-bottom:5px;}
	#sustaina_topics li							{ display:block; position:relative; top:0 !important; left:0; width:auto; height:auto; padding:0 0 20px 0;}
	#sustaina_topics a							{ height:auto; line-height:1.6; white-space:normal;}
	#sustaina_topics a span.yugo				{ display:block; padding:0 0 4px 0;}
}

/* トップメッセージ
---------------------------------*/
#sustaina_top_message a							{ position:relative;}
#sustaina_top_message a::after					{ position:absolute; content:''; width:25px; height:25px; bottom:15px; right:15px; border:solid 1px #fff; background:url(/ja/hd-common/images/icon/arr3wl.png) 50% 50% no-repeat; background-size:8px 8px !important; -webkit-border-radius:50%; border-radius:50%;}
#sustaina_top_message .sustaina_pic				{ width:50%;}
#sustaina_top_message .sustaina_txt				{ width:50%; color:#fff; background:#08b459;}
#sustaina_top_message .sustaina_txt span		{ display:block; width:100%; padding-left:14.8%; -webkit-box-sizing:border-box; box-sizing:border-box; white-space:nowrap;}
#sustaina_top_message em						{ display:block; margin:0 0 1em -0.3em;}
#sustaina_top_message i							{ display:block; font-size:1.3rem; line-height:1.5;}
#sustaina_top_message b							{ display:block; font-size:1.5rem; line-height:1.5;}
@media screen and (max-width:770px){
	#sustaina_top_message a						{ display:block;}
	#sustaina_top_message .sustaina_pic			{ width:100%;}
	#sustaina_top_message .sustaina_pic img		{ margin:-3% 0 -8%;}
	#sustaina_top_message .sustaina_txt			{ width:100%; height:170px; padding:2% 0;}
	#sustaina_top_message .sustaina_txt span	{ padding-left:15px; padding-left:-webkit-calc(13.333% + -25.67px); padding-left:calc(13.333% + -25.67px);}
	#sustaina_top_message em					{ margin:0 0 1em -0.1em;}
}

/* ステークホルダーダイヤログ
---------------------------------*/
#dialog_title								{ background:#e9efee;}
#dialog_title a								{ position:relative; display:block; overflow:hidden;}

#dialog_title .title1,
#dialog_title .title2						{ position:relative; z-index:2; display:block; margin:0 auto;}
#dialog_title .title1						{ width:260px; padding:25px 10px 0 0;}
#dialog_title .title2						{ width:140px; padding:20px 0 0 0;}
#dialog_title .title1 img,
#dialog_title .title2 img					{ display:block; width:100%; height:auto;}
#dialog_person								{ position:relative; display:-webkit-flex; display:flex; margin:-200px 0 0 0; -webkit-justify-content:center; justify-content:center;}
#dialog_person>span							{ position:relative; display:block;}
#dialog_person>span:nth-of-type(1)			{ width:180px; padding:0 40px 0 0;}
#dialog_person>span:nth-of-type(3)			{ width:180px; padding:0 0 0 40px;}
#dialog_person>span:nth-of-type(1) img,
#dialog_person>span:nth-of-type(3) img		{ display:block; max-width:100%; height:auto; transition:transform 0.4s ease-in-out 0s;}
#dialog_person>span:nth-of-type(1) img		{ transform-origin:150% 50%;}
#dialog_person>span:nth-of-type(3) img		{ transform-origin:-50% 50%;}
#dialog_title a:hover #dialog_person>span:nth-of-type(1) img,
#dialog_title a:hover #dialog_person>span:nth-of-type(3) img
											{ transform:scale(1.06,1.06);}
#dialog_person>span:nth-of-type(2)			{ width:140px; padding:210px 0 0 0;}
#dialog_person>span:nth-of-type(2)>img		{ display:block; max-width:100%; height:auto; margin:0 auto;}
@media screen and (max-width:770px){
	#dialog_title .title1					{ width:200px;}
	#dialog_title .title2					{ width:120px; padding:10px 0 0 0;}
	#dialog_person							{ -webkit-align-items:flex-end; align-items:flex-end;}
	#dialog_person>span:nth-of-type(1),
	#dialog_person>span:nth-of-type(3)		{ width:100px; width:calc(11.111vw + 64.44px); padding:0 5px; padding:0 calc(7.778vw + -19.89px);}
	#dialog_person>span:nth-of-type(2)		{ width:115px; width:calc(5.556vw + 97.22px);}
}
#dialog_title2 a							{ position:relative; display:block; overflow:hidden;}
#dialog_title2 a::after						{ position:absolute; content:''; width:25px; height:25px; bottom:15px; right:15px; border:solid 1px #fff; background:url(/ja/hd-common/images/icon/arr3wl.png) 50% 50% no-repeat; background-size:8px 8px !important; -webkit-border-radius:50%; border-radius:50%;}
#dialog_title2 img							{ display:block; width:100%; height:auto;}
#dialog_title2_img							{ transition:transform 0.4s ease-in-out 0s;}
#dialog_title2 a:hover #dialog_title2_img	{ transform:scale(1.06,1.06);}
#dialog_title2_txt							{ position:absolute; top:0; left:0;}
dialog_person>span:nth-of-type(3) img		{ display:block; max-width:100%; height:auto; transition:transform 0.4s ease-in-out 0s;}


/* ビジョン
---------------------------------*/
#sustaina_vision_mater_wrap						{ position:relative; width:100%; padding:40px 0;}
#sustaina_vision_mater_wrap::before				{ position:absolute; content:''; top:0; left:50%; width:150%; height:100%; background:#f4f4f4; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
#sustaina_vision_flow							{ padding:40px 0 0 0;}

#sustaina_top_vision a 							{ position:relative; display:block; color:#fff;}
#sustaina_top_vision a::after					{ position:absolute; content:''; width:25px; height:25px; bottom:15px; right:15px; border:solid 1px #fff; background:url(/ja/hd-common/images/icon/arr3wl.png) 50% 50% no-repeat; background-size:8px 8px !important; -webkit-border-radius:50%; border-radius:50%;}
#sustaina_top_vision .sustaina_pic				{ position:relative;}
#sustaina_top_vision .sustaina_pic img			{ transform-origin:100% 50%;}
#sustaina_top_vision .sustaina_txt.flex_sc		{ position:absolute; top:0; left:0; width:100%; height:100%;}
#sustaina_top_vision .sustaina_txt>span			{ display:block; width:100%; padding-left:10%; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_top_vision em							{ display:block; margin:0 0 1.0em 0; font-size:1.4rem; line-height:1.5;}
#sustaina_top_vision em span					{ display:inline-block;}
#sustaina_top_vision i							{ display:block; margin:0 0 0 -0.6em; line-height:1.8;}
@media screen and (max-width:770px){
	#sustaina_top_vision .sustaina_pic img		{ position:relative; width:auto; height:300px; left:50%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	#sustaina_top_vision .sustaina_txt>span		{ padding:0 15px; padding:0 -webkit-calc(13.333% + -25.67px); padding:0 calc(13.333% + -25.67px);}
}

/* TOP NAV
---------------------------------*/
#sustaina_nav									{ padding:10px 0 25px;}
.sustaina_nav1>a,
.sustaina_nav2>div								{ position:relative; display:block; height:100%; background:#fff; -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden;}
#sustaina_nav .sustaina_txt em span				{ display:inline-block;}
.sustaina_nav1>a								{ padding:0 0 40px 0;}
.sustaina_nav1 .sustaina_txt					{ display:block; padding-top:20px; padding-bottom:30px;}
.sustaina_nav1 .sustaina_txt em					{ display:block; font-size:1.8rem; line-height:1.3; color:#6e777f;}
.sustaina_nav1 .sustaina_txt strong.el			{ display:block; padding:10px 0 0 0; font-size:12px; color:#6e777f;}
.sustaina_nav1 .yugo_more						{ position:absolute; bottom:25px; right:25px;}
.sustaina_nav2 div								{ padding:0 0 10px 0; color:#6e777f;}
.sustaina_nav2 div>a							{ display:block;}
.sustaina_nav2 .sustaina_txt					{ position:relative; height:60px; border-bottom:solid 1px #ccc;}
.sustaina_nav2 .sustaina_txt::after				{ position:absolute; content:''; top:50%; right:20px; width:10px; height:10px; border-width:2px; border-color:#0070c1; border-style:none solid solid none; -webkit-transform:translate(0,-50%) rotate(-45deg); transform:translate(0,-50%) rotate(-45deg);}
.sustaina_nav2 .sustaina_txt em					{ display:block; padding-right:1em; font-size:1.6rem; line-height:1.3;}
.sustaina_nav2 ul								{ padding:10px 0;}
.sustaina_nav2 li								{ padding-top:0.3em; padding-bottom:0.3em;}
.sustaina_nav2 li a								{ display:inline-block; padding:0.1em 0 0.1em 20px; line-height:1.3; text-decoration:underline; background-position:0 0.4em;}


/* マテリアリティ活動事例
 -------------------------------------*/
#materiality_wrap								{ position:relative;}
#materiality_wrap::before						{ position:absolute; z-index:-1; content:''; top:0; left:50%; width:100vw; height:100%; background:#fff; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}

#materiality_wrap h2							{ color:#6e777f; text-align:center;}
#materiality_wrap h2 span						{ display:inline-block; line-height:1.4;}

.materiality_nav								{ width:100%;}
.materiality_nav ul								{ display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.materiality_nav li								{ position:relative; width:31.5%; margin:0 0 60px 0;}
.materiality_nav li.empty						{ height:1px; margin:0;}
.materiality_nav a								{ display:block; text-align:left; text-decoration:none;}
.materiality_nav a span							{ display:block; color:#222;}
.materiality_nav a:hover span					{ color:#1374c1;}

.materiality_nav .img							{ position:relative; width:100%; height:0; padding:71% 0 0 0; border-radius:10px; overflow:hidden;}
.materiality_nav .img:empty::after				{ position:absolute; content:''; width:100%; height:100%; top:0; left:0; background-color:#ecf4fa;}
.materiality_nav .img span						{ position:absolute; width:100%; height:100%; top:0; left:0;}
.materiality_nav .img1							{ display:none;}
.materiality_nav .img1 img						{ display:block; width:100%; height:100%; object-fit:cover;}
.materiality_nav .img2							{ background-position:50% 50%; background-repeat:no-repeat; background-size:cover !important; -webkit-transition:transform 0.4s ease-in-out 0s; transition:transform 0.4s ease-in-out 0s;}
.materiality_nav a:hover .img2					{ -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}
@media print									{
	.materiality_nav .img1						{ display:block;}
	.materiality_nav .img2						{ display:none;}
}
.materiality_nav .txt							{}
.materiality_nav .txt1							{ margin:1em 0; font-size:21px; line-height:1.6; font-weight:500;}
.materiality_nav a:hover .txt1					{ text-decoration:underline;}
.materiality_nav .txt2							{ font-size:1.4rem; line-height:2.0; color:#555;}
.materiality_nav .txt2 span:nth-child(1)		{ display:inline-block; margin-right:1em;}
.materiality_nav .txt2 span:nth-child(2)		{ display:inline-block; font-weight:500; text-decoration:underline;}
.materiality_nav .txt3							{ display:none; font-size:1.4rem; color:#666;}

.materiality_nav .txt4							{ position:relative; margin:10px 0; padding:0 0 0 25px; line-height:2;}
.materiality_nav .txt4::after					{ position:absolute; content:''; top:1em; left:0; width:15px; height:1px; background:#222;}
.materiality_nav .txt4.blank::after				{ top:0.5em; width:15px; height:15px; background:url(/ja/hd-common/images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important;}
.materiality_nav .pdf .txt4						{ position:relative; padding:0;}
.materiality_nav .pdf .txt4::after				{ position:relative; display:inline-block; content:'PDF'; top:auto; width:auto; height:auto; margin:0 0 0 4px; padding:0 8px; font-size:11px; line-height:17px; color:#fff; background:#d14421; border-radius:3px; vertical-align:1px;}
.materiality_nav .txt4:empty::after				{ position:absolute; content:none;}

.materiality_category_label						{ display:block; margin:20px 0 0;}
.materiality_category_label a					{ display:inline-block; margin:0 10px 5px 0; padding:2px 15px; font-size:12px; line-height:2.0; color:#1374c1; font-weight:500; border:solid 2px #1374c1; -webkit-border-radius:50px; border-radius:50px; -webkit-transition:all 0.3s ease-in-out 0s; transition:all 0.3s ease-in-out 0s;}
.materiality_category_label a:last-child		{ margin:0 0 5px 0;}
.materiality_category_label a:hover				{ color:#fff; background-color:#1374c1;}

@media screen and (max-width:770px){
	.materiality_nav li							{ width:100%; margin:0 0 10% 0;}
	.materiality_nav .txt1						{ font-size:16px;}
	.materiality_nav .txt2						{ line-height:1.8;}
	.materiality_nav .txt3						{ font-size:13px;}
	.materiality_category_label i				{ font-size:11px;}
}
@media screen and (max-width:601px){
	.materiality_nav li							{ width:100%;}
}

#materiality_wrap>div							{ padding:0 0 20px 0;}
#activity_link									{ display:block; width:330px; max-width:100%; height:50px; margin:0 auto; padding:0 0 0 5px; font-size:1.8rem; color:#222; border:solid 2px #ddd; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; -webkit-border-radius:20px; border-radius:20px; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:all 0.3s ease-in-out 0s; transition:all 0.3s ease-in-out 0s;}
#activity_link:hover							{ color:#444; background:#ddd;}



/* 動画で見るベネッセ
 -------------------------------------*/
#sustaina_channel								{ position:relative; padding:20px 0 1px 0;}
#sustaina_channel h2							{ margin:0 20px; color:#6e777f; text-align:center;}
#sustaina_channel h2 span						{ display:inline-block; line-height:1.4;}
#sustaina_channel::before						{ position:absolute; content:''; top:0; left:0; width:100%; height:15px; background:-webkit-linear-gradient(top, rgba(0,0,0,0.02), rgba(0,0,0,0)); background:linear-gradient(to bottom, rgba(0,0,0,0.02), rgba(0,0,0,0));}
#sustaina_channel nav							{ position:relative; padding:0 10px;}
#sustaina_channel_movie .owl-item				{}
#sustaina_channel_movie .item					{ padding:0 10px;}
#sustaina_channel_movie a						{ display:block; position:relative; height:100%; background:#fff; text-align:left;}
#sustaina_channel_movie span.img				{ display:block; overflow:hidden;}
#sustaina_channel_movie a img					{ display:block; width:100%; height:auto; -webkit-transform:scale(1.008,1.008); transform:scale(1.008,1.008); -webkit-transition:transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s; transition:transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s; backface-visibility:hidden;}
#sustaina_channel_movie a:hover img				{ opacity:0.8; -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}
#sustaina_channel_movie span.txt				{ display:block; padding:18px;}
#sustaina_channel_movie em						{ display:block; padding:0 0 0 20px; font-size:1.4rem; line-height:1.8; text-decoration:underline; text-indent:-0.5em; background:url(/ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important;}
#sustaina_channel_movie em:first-line			{ text-decoration:none;}
#sustaina_channel .owl-theme .owl-nav						{ position:relative; z-index:1; margin:0 10px 25px; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
#sustaina_channel .owl-theme .owl-nav button				{ position:relative; top:20px; display:inline-block; width:26px; height:26px; margin:0; padding:0; background-size:26px 26px !important; -webkit-transition:opacity 200ms; transition:opacity 200ms; cursor:pointer;}
#sustaina_channel .owl-theme .owl-nav button:hover			{ opacity:0.7;}
#sustaina_channel .owl-theme .owl-nav .owl-prev				{ background:url(/ja/ir/individual/images/top/prev.png) 0 0 no-repeat;}
#sustaina_channel .owl-theme .owl-nav .owl-next				{ background:url(/ja/ir/individual/images/top/next.png) 0 0 no-repeat;}
#sustaina_channel .owl-theme .owl-nav span					{ display:none;}
#sustaina_channel .owl-theme .owl-dots button				{ margin:-20px 0 0 0; padding:0; vertical-align:top; cursor:pointer;}
#sustaina_channel .owl-theme .owl-dots						{ position:relative; z-index:2;}
#sustaina_channel .owl-theme .owl-dots .owl-dot span		{ display:block; width:8px; height:8px; margin:0 5px; background:transparent; border:solid 1px #aeb3b7; border-radius:4px;}
#sustaina_channel .owl-theme .owl-dots .owl-dot.active span,
#sustaina_channel .owl-theme .owl-dots .owl-dot:hover span	{ background:#6e777f;}
#sustaina_channel button:focus								{ outline:0;}

#sustaina_channel_movie2                    { width:100%; max-width:790px; margin:0 auto; padding:0 20px 50px 20px; -webkit-box-sizing:border-box; box-sizing:border-box; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
#sustaina_channel_movie2 div                { position:relative; width:calc(50% - 15px);}
#sustaina_channel_movie2 div.new::after     { position:absolute; content:''; width:50px; height:35px; top:-5px; right:10px; background:url(/ja/hd-common/images/icon/new.png) 0 0 no-repeat; background-size:100% auto !important;}
#sustaina_channel_movie2 a                  { display:block; background:#fff;}
#sustaina_channel_movie2 img                { width:100%; height:auto;}
#sustaina_channel_movie2 .txt               { display:block; padding:18px;}
#sustaina_channel_movie2 em                 { display:block; padding:0 0 0 20px; font-size:1.4rem; line-height:1.8; text-decoration:underline; text-indent:-0.5em; background:url(/ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important;}
@media screen and (min-width:771px) and (max-width:820px){
    #sustaina_channel_movie2 div            { width:calc(36.11% + 89.2px);}
}
@media screen and (max-width:770px){
	#sustaina_channel_movie2                { display:block; padding:0 calc(1.111vw + 6.44px) 30px;}
    #sustaina_channel_movie2 div            { width:100%; margin-bottom:-webkit-calc(2.889vw + 3.76px); margin-bottom:calc(2.889vw + 3.76px);}
}

/* ベネッセグループの取り組み
 -------------------------------------*/
#sustaina_initiatives							{ position:relative;}
#sustaina_initiatives::before					{ position:absolute; z-index:-1; content:''; top:0; left:50%; width:100vw; height:100%; background:#fff; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
#sustaina_initiatives>div						{ padding-top:10px;}
#sustaina_initiatives>div::after				{ content:''; width:61px;}
#sustaina_initiatives>div a		{ display:none;}
#sustaina_initiatives>div::after{ content:none;}
#sustaina_initiatives h2						{ color:#6e777f; text-align:center;}
#sustaina_initiatives h2 span					{ display:inline-block; line-height:1.4;}
#sustaina_initiatives li a						{ display:block;}
#sustaina_initiatives .sustaina_txt				{ height:68px; padding:0 20px 0 20px; font-size:1.6rem; line-height:1.4;}
.sustaina_initiatives1 .sustaina_txt			{ background:#9c86be;}
.sustaina_initiatives2 .sustaina_txt			{ background:#68bae9;}
.sustaina_initiatives3 .sustaina_txt			{ background:#f3889c;}
.sustaina_initiatives4 .sustaina_txt			{ background:#8fc844;}
.sustaina_initiatives5 .sustaina_txt			{ background:#5179b9;}
.sustaina_initiatives6 .sustaina_txt			{ background:#11af91;}
#sustaina_initiatives svg						{ width:26px; height:26px; margin-right:14px; -webkit-transform:rotateZ(-0.5deg); transform:rotateZ(-0.5deg);}
#sustaina_initiatives svg path,
#sustaina_initiatives svg circle				{ fill:none; stroke:#fff;}
#sustaina_initiatives .sustaina_txt>span		{ display:block; color:#fff;}
#sustaina_initiatives .sustaina_txt>span span	{ display:inline-block; white-space:nowrap;}
@media screen and (max-width:770px){
	#sustaina_initiatives>div					{ display:block; padding-top:0; text-align:right;}
	#sustaina_initiatives>div::after			{ content:none;}
	#sustaina_initiatives h2					{ position:relative; top:0.5em;}
	#sustaina_initiatives>div .yugo_more		{ position:relative; display:inline-block; top:-0.5em;}
}

/* サステナビリティ ニュース
---------------------------------*/
#sustaina_news									{ position:relative; max-width:1020px; margin:50px auto; text-align:center;}
#sustaina_news_inner							{ background:#fff;}
#sustaina_news_title							{ position:relative; padding-top:10px;}
#sustaina_news_title::after						{ content:''; width:134px;}
#sustaina_news_title h2							{ color:#6e777f; text-align:center;}
#sustaina_news_title h2 span					{ display:inline-block; line-height:1.4;}
#sustaina_news_title span						{ white-space:nowrap;}
#sustaina_news_title .rss						{ margin-right:1.5em; background:url(/ja/hd-common/images/icon/ico_rss.png) 0 50% no-repeat; background-size:13px 13px !important;}
#sustaina_news_list								{}
#sustaina_news dl								{ display:inline-block; position:relative; max-width:950px; margin:0 auto; line-height:1.4; text-align:left;}
#sustaina_news dt								{ position:absolute; display:inline-block; top:auto; left:0; width:9.5em; white-space:nowrap;}
#sustaina_news dd								{ padding:0 0 15px 9.5em;}
#sustaina_news dd a								{ color:#444; text-decoration:underline;}
#sustaina_news dd a:hover						{ color:#0070c1;}
@media (min-width:771px){
	#sustaina_news_title span					{ padding:0;}
}
@media screen and (max-width:770px){
	#sustaina_news_title						{ display:block; padding-top:0; text-align:right;}
	#sustaina_news_title::after					{ content:none;}
	#sustaina_news_title h2						{ position:relative; top:1em;}
	#sustaina_news_title span					{ position:relative; display:block; top:-0.5em;}
	#sustaina_news dt							{ position:relative; display:block; width:auto;}
	#sustaina_news dd							{ padding:5px 0 20px 0;}
}

/* From Benesse
 -------------------------------------*/
#sustaina_brand									{ background:rgba(119,150,128,1);}
#sustaina_brand>div								{ max-width:950px; margin:0 auto;}
#sustaina_brand h2								{ text-align:center;}
#sustaina_brand h2>span							{ display:inline-block; padding:10px 20px 10px; background:#fff;}
#sustaina_brand h2 img							{ display:inline-block; width:300px; max-width:80%; height:auto; margin:0 0 12px 0;}
#sustaina_brand h2>span span					{ display:inline-block; line-height:1.7;}
#sustaina_brand dl								{ position:relative; line-height:1.4;}
#sustaina_brand dt								{ position:absolute; display:inline-block; top:auto; left:0; width:9.5em; padding:15px 0 0 0; color:#fff; white-space:nowrap;}
#sustaina_brand dd								{ padding:15px 0 15px 9.5em; border-bottom:solid 1px rgba(255,255,255,0.3);}
#sustaina_brand dd a							{ color:#fff;}
#sustaina_brand a.yugo							{ display:inline-block; margin-top:1rem; padding:2px 19px 2px 20px; color:#fff; background:url(/ja/hd-common/images/icon/arr3wb.png) 0 50% no-repeat, url(/ja/hd-common/images/icon/ico_win2.png) 100% 3px no-repeat; background-size:10px 10px,auto auto !important;}
@media screen and (max-width:770px){
	#sustaina_brand dt							{ position:relative; display:block; top:0; width:auto; padding:15px 0 0 0;}
	#sustaina_brand dd							{ padding:10px 0 20px 0;}
}






/* COMMON
------------------------------------------------------------------*/
/* トップビジュアル
---------------------------------*/
#vis.vis_title + #main							{ padding:35px 0 0 0;}
.vis_title>div									{ position:absolute; display:-webkit-flex; display:flex; top:0; left:0; width:100%; height:100%; color:#fff; align-items:center; -webkit-align-items:center;}
.vis_title>div.left								{ padding:0 12.5%; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box;}
.vis_title h1									{ position:relative; width:100%; font-size:28px; line-height:1.5;}
.vis_title>div.left h1							{ padding:0 0 12px 0;}
.vis_title p,
.vis_title em									{ display:block; padding:20px 0 0 0; font-size:16px; line-height:1.6;}
@media screen and (max-width:959px){
	.vis_title>img								{ position:relative; width:auto; height:100%; left:50%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	.vis_title h1								{ font-size:22px; font-size:-webkit-calc(0.939vw + 19px); font-size:calc(0.939vw + 19px);}
	.vis_title em								{ font-size:15px;}
}
@media screen and (max-width:770px){
	.vis_title>div.left							{ padding:0 20px; padding:0 -webkit-calc(16.94% + -34.2px); padding:0 calc(16.94% + -34.2px);}
}

/* フッタ外部リンク
---------------------------------*/
#sustaina_link									{ padding:60px 20px;}
#sustaina_link ul								{ max-width:735px; margin:0 auto; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#sustaina_link li								{ width:225px; padding:10px; text-align:center; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start; -webkit-align-items:center; align-items:center;}
#sustaina_link a								{ display:block;}
#sustaina_link img								{ display:block; width:225px; height:auto; margin:0 auto;}
@media screen and (max-width:959px){
	#sustaina_link ul							{ max-width:490px;}
}

/* 開閉タイトル
---------------------------------*/
.toggle_box .titleLv2.toggle_btn				{ position:relative; padding-right:50px !important; cursor:pointer;}
.toggle_box .toggle_btn b						{ position:absolute; top:50%; right:15px; width:1.4em; height:1.4em; margin:-0.7em 0 0; text-align:center; border:solid 1px #6e777f; -webkit-box-sizing:border-box; box-sizing:border-box;}
.toggle_box .toggle_btn b::after,
.toggle_box .toggle_btn b::before				{ position:absolute; content:''; top:50%; left:50%; width:0.8em; height:2px; margin:-1px 0 0 -0.4em; background:#6e777f;}
.toggle_box .toggle_btn b::after				{ -webkit-transform:scale(1,1) rotate(90deg); transform:scale(1,1) rotate(90deg); -webkit-transition:transform 300ms; transition:transform 300ms;}
.toggle_box.open .toggle_btn b::after			{ -webkit-transform:scale(0,0) rotate(90deg); transform:scale(0,0) rotate(90deg);}


/* トップメッセージ
------------------------------------------------------------------*/
#contents.sustaina_message						{ max-width:1356px; padding:0;}
#sustaina_message								{ margin:-45px 0 200px; background:#fff;}
#sustaina_message figure						{ width:39.5%; background:url(/ja/sustainability/message/images/photo.jpg) 50% 50% no-repeat; background-size:cover !important;}
#sustaina_message figure img					{ display:none;}
#sustaina_message_photo							{ display:block; width:39.5%; margin:-35px 0 0; overflow:hidden;}
#sustaina_message_photo img						{ display:block; width:100%; height:auto;}
#sustaina_message .message						{ width:60.5%;}
#sustaina_message .message>div					{ padding:8% 17.4% 2% 15.4%; -webkit-align-items:center; align-items:center;}
#sustaina_message h2							{ display:block; margin-bottom:2em; font-size:35px; line-height:1.7;}
#sustaina_message h3							{ margin:3em 0 .75em 0; font-size:2rem; font-weight:500;}
#sustaina_message p								{ margin:0 0 1em 0; font-size:1.4rem; line-height:1.857;}
#sustaina_message p.right						{ margin:3em 0 0 0;}
#sustaina_message p.right img					{ margin:1.5em 0 0 0;}
#sustaina_message .global_compact				{ padding:15% 0 0 0;}
#sustaina_message .global_compact p				{ margin:3px 0 0 1em; font-size:1.3rem;}
#sustaina_message .global_compact span			{ display:block; width:110px; min-width:110px;}
@media (min-width:771px) and (max-width:1356px){
	#sustaina_message .message>div				{ padding:8% -webkit-calc(20.684vw + -139.47px) 2% -webkit-calc(17.906vw + -118.06px); padding:8% calc(20.684vw + -139.47px) 2% calc(17.906vw + -118.06px);}
}
@media screen and (max-width:959px){
	#sustaina_message							{ display:block; margin:-40px 0 100px;}
	#sustaina_message figure					{ width:100%; height:0; padding:65.2% 0 0 0; background:url(/ja/sustainability/message/images/photo2.jpg) 50% 50% no-repeat; background-size:cover !important;}
	#sustaina_message_photo						{ width:100%; margin:0;}
	#sustaina_message .message					{ display:block; width:100%;}
	#sustaina_message .message>div				{ padding:8% 8.5% 0;}
	#sustaina_message h2						{ font-size:24px; font-size:-webkit-calc(1.721vw + 18.49px); font-size:calc(1.721vw + 18.49px);}
}
@media (min-width:771px) and (max-width:959px){
	#sustaina_message figure					{ height:502px; padding:0; background:url(/ja/sustainability/message/images/photo2.jpg) 50% 50% no-repeat; background-size:100% auto !important;}
	#sustaina_message_photo						{ height:502px;}
	#sustaina_message_photo img					{ position:relative; top:50%; transform:translate(0,-50%);}
}
.sustaina_message_footer						{ padding:0 30px;}
@media (min-width:771px) and (max-width:1100px){
	.sustaina_message_footer					{ padding:0 -webkit-calc(6.079vw + -36.87px); padding:0 calc(6.079vw + -36.87px);}
}
@media screen and (max-width:770px), print{
	.sustaina_message_footer					{ padding:0 10px;}
}

/* サステナビリティビジョン
#contents.sustaina_vision				{ padding-bottom:10px;}
------------------------------------------------------------------*/
.sustaina_vision header>div				{ position:relative; font-size:19px;}
.sustaina_vision header .flex_sc		{ position:absolute; top:0; left:0; width:100%; height:98%; padding:0 0 0 90px; color:#fff; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box;}
.sustaina_vision header .flex_a			{ height:80%;}
.sustaina_vision header h2				{ width:100%; font-size:16px; line-height:1.63; white-space:nowrap;}
.sustaina_vision header h3				{ width:100%; margin-left:-1em; font-size:42px; line-height:1.43;}
.sustaina_vision header p				{ width:100%; font-size:17px; line-height:1.63;}
.sustaina_vision header p>span			{ display:block; margin-top:1em;}
.sustaina_vision header p>span span		{ display:inline-block;}
@media all and (-ms-high-contrast:none){
	.sustaina_vision header .flex_sc	{ height:100%;}
	.sustaina_vision header .flex_a		{ flex-direction:row; -webkit-flex-direction:row; flex-wrap:wrap; -webkit-flex-wrap:wrap;}
}
@media (min-width:771px) and (max-width:1120px){
	.sustaina_vision header h2			{ font-size:14px; font-size:-webkit-calc(0.573vw + 9.58px); font-size:calc(0.573vw + 9.58px);}
	.sustaina_vision header h3			{ font-size:32px; font-size:-webkit-calc(2.865vw + 9.91px); font-size:calc(2.865vw + 9.91px);}
	.sustaina_vision header p			{ font-size:15px; font-size:-webkit-calc(0.573vw + 10.58px); font-size:calc(0.573vw + 10.58px);}
}
@media screen and (max-width:770px){
	.sustaina_vision header img			{ position:relative; left:50%; width:auto; height:445px; height:-webkit-calc(12.222vw + 360.89px); height:calc(12.222vw + 360.89px); -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	.sustaina_vision header>div			{ width:100%; height:445px; height:-webkit-calc(12.222vw + 360.89px); height:calc(12.222vw + 360.89px); overflow:hidden;}
	.sustaina_vision header .flex_sc	{ padding:0 12px; padding:0 -webkit-calc(17.333vw + -43.47px); padding:0 calc(17.333vw + -43.47px);}
	.sustaina_vision header h2			{ font-size:12px; font-size:-webkit-calc(0.444vw + 10.58px); font-size:calc(0.444vw + 10.58px);}
	.sustaina_vision header h3			{ font-size:24px; font-size:-webkit-calc(1.778vw + 18.31px); font-size:calc(1.778vw + 18.31px); margin-left:-12px; margin-left:-webkit-calc(-4.444vw + 2.22px); margin-left:calc(-4.444vw + 2.22px);}
	.sustaina_vision header p			{ font-size:12px; font-size:-webkit-calc(0.667vw + 9.87px); font-size:calc(0.667vw + 9.87px);}
}
#sustaina_vision_mater									{ padding:0 0 50px 0;}
#sustaina_vision_mater li								{ position:relative; background:#fff;}
#sustaina_vision_mater li::after						{ position:absolute; content:''; bottom:0; left:0; width:100%; height:1px; background:rgba(0,0,0,0.1);}
#sustaina_vision_mater li a								{ text-decoration:none;}
#sustaina_vision_mater .sustaina_pic					{ width:40%;}
#sustaina_vision_mater .sustaina_txt					{ width:60%; padding:30px 70px; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_vision_mater .sustaina_txt em					{ display:block; font-size:28px; line-height:1.2; color:#0070c1;}
#sustaina_vision_mater .sustaina_txt em span			{ position:relative; display:inline-block; padding:0.4em 0;}
#sustaina_vision_mater .sustaina_txt em span::after		{ position:absolute; content:''; bottom:0; left:0; width:-webkit-calc(100% + 1em); width:calc(100% + 1em); height:3px; background:#0070c1;}
#sustaina_vision_mater .sustaina_txt i					{ display:block; margin:1em 0; color:#444;}
#sustaina_vision_mater .sustaina_txt b					{ display:block; text-align:right;}
#sustaina_vision_mater .sustaina_txt b span				{ padding:0 0 0 20px; font-size:14px; text-decoration:underline; background:url(/ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important;}
@media (min-width:771px) and (max-width:1120px){
	#sustaina_vision_mater .sustaina_txt em				{ font-size:-webkit-calc(2.292vw + 2.33px); font-size:calc(2.292vw + 2.33px);}
	#sustaina_vision_mater .sustaina_txt				{ padding:-webkit-calc(5.731vw + -34.18px) 6.73%; padding:calc(5.731vw + -34.18px) 6.73%;}
}
@media (min-width:601px) and (max-width:770px){
	#sustaina_vision_mater .sustaina_pic				{ width:-webkit-calc(40% - 32px); width:calc(40% - 32px); overflow:hidden;}
	#sustaina_vision_mater .sustaina_pic span			{ position:relative; display:block; left:50%; width:151.64%; max-width:300px; height:100%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	#sustaina_vision_mater .sustaina_pic img			{ height:100%;}
	#sustaina_vision_mater .sustaina_txt				{ display:flex; width:-webkit-calc(60% + 32px); width:calc(60% + 32px); padding:0 20px;}
	#sustaina_vision_mater .sustaina_txt em				{ font-size:20px;}
	#sustaina_vision_mater .sustaina_txt i				{ margin:0;}
}
@media screen and (max-width:600px){
	#sustaina_vision_mater								{ padding:0 0 8% 0;}
	#sustaina_vision_mater .sustaina_pic				{ width:100px;}
	#sustaina_vision_mater .sustaina_txt				{ display:block; width:-webkit-calc(100% - 100px); width:calc(100% - 100px); padding:0 20px;}
	#sustaina_vision_mater .sustaina_txt em				{ display:flex; display:-webkit-flex; height:70px; padding-right:10px; font-size:20px; font-size:-webkit-calc(1.786vw + 9.29px); font-size:calc(1.786vw + 9.29px); align-items:center; -webkit-align-items:center;}
	#sustaina_vision_mater .sustaina_txt em span		{ padding-top:0;}
	#sustaina_vision_mater .sustaina_txt em span::after	{ width:-webkit-calc(100% + 0.2em); width:calc(100% + 0.2em);}
	#sustaina_vision_mater .sustaina_txt i,
	#sustaina_vision_mater .sustaina_txt b				{ position:relative; width:-webkit-calc(100% + 120px); width:calc(100% + 120px); left:-110px;}
	#sustaina_vision_mater .sustaina_txt i				{ margin:0.5em 0;}
	#sustaina_vision_mater .sustaina_txt b				{ margin:0 0 1.25em 0;}
}

.sustaina_vision .toggle_box h2				{ margin-top:0;}
.sustaina_vision .fadeClose					{ display:none;}
.sustaina_vision .fadeCloseInner			{ padding-bottom:70px;}
@media screen and (max-width:770px){
	.sustaina_vision .fadeCloseInner		{ padding-bottom:-webkit-calc(7.778vw + 10.11px); padding-bottom:calc(7.778vw + 10.11px);}
}
/* 策定の流れ */
#sustaina_vision_flow ul					{ margin:25px 0; padding:35px 30px 20px 30px; border:solid 1px #b1b6ba;}
#sustaina_vision_flow li					{ position:relative; padding:0 0 12px 1.4em; color:#6e777f; text-indent:-1.4em;}
#sustaina_vision_flow .sustaina_pic			{ min-width:300px; padding-left:5%;}
#sustaina_vision_flow .sustaina_pic i		{ display:block; margin-top:5%; line-height:1.4; color:#6e777f;}
@media screen and (max-width:770px){
	#sustaina_vision_flow ul				{ padding:-webkit-calc(2.222vw + 17.89px) -webkit-calc(3.333vw + 4.33px) -webkit-calc(2.222vw + 2.89px) -webkit-calc(3.333vw + 4.33px); padding:calc(2.222vw + 17.89px) calc(3.333vw + 4.33px) calc(2.222vw + 2.89px) calc(3.333vw + 4.33px);}
	#sustaina_vision_flow .sustaina_pic		{ min-width:40%;}
}
/* SDGsへの貢献の考え方 */
#sustaina_vision_sdgs figure				{ padding:30px 0;}
#sustaina_vision_sdgs ul					{ margin:25px 0; padding:35px 30px 20px 30px; border:solid 1px #b1b6ba;}
#sustaina_vision_sdgs li					{ position:relative; padding:0 0 12px 1.4em; color:#6e777f;}
#sustaina_vision_sdgs li::after				{ position:absolute; content:''; top:0.3em; left:0; width:0.8em; height:0.8em; background:#6e777f;}
@media screen and (max-width:770px){
	#sustaina_vision_sdgs figure			{ max-width:576px; margin:0 auto;}
	#sustaina_vision_sdgs ul				{ padding:-webkit-calc(2.222vw + 17.89px) -webkit-calc(3.333vw + 4.33px) -webkit-calc(2.222vw + 2.89px) -webkit-calc(3.333vw + 4.33px); padding:calc(2.222vw + 17.89px) calc(3.333vw + 4.33px) calc(2.222vw + 2.89px) calc(3.333vw + 4.33px);}
}

/* マテリアリティ
------------------------------------------------------------------*/
#materiality02			{ position:relative; width:100%; padding:20px 0;}
#materiality02::before	{ position:absolute; content:''; top:0; left:50%; width:150%; height:100%; background:#f4f4f4; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
#materiality03			{ padding:40px 0 0 0;}

.materiality									{ position:relative; margin:70px 0; padding:25px 0 0 0; background:#fff;}
.materiality header								{ background:#fff; cursor:pointer; -webkit-transition:opacity 0.4s ease-in-out 0s; transition:opacity 0.4s ease-in-out 0s;}
#materiality025+.materiality header				{ cursor:default;}
.materiality header:hover						{ opacity:0.8;}
.materiality header>div							{ width:53.4%; padding:35px 55px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.materiality header h3							{ margin-bottom:0.5em; font-size:28px; color:#0070c1;}
.materiality header p							{ margin-bottom:2em; line-height:1.75;}
.materiality header a							{ position:relative; display:inline-block; padding:0 0 0 40px !important; color:#1d80c8; cursor:pointer;}
.materiality header a::after					{ content:'詳しく見る';}
.materiality.open header a::after				{ content:'閉じる';}
.materiality header.toggle_btn b				{ top:50%; right:auto; left:0; width:30px; height:30px; margin:-15px 0 0; text-align:center; border:solid 1px #1d80c8;}
.materiality header.toggle_btn b::after,
.materiality header.toggle_btn b::before		{ width:16px; height:2px; margin:-1px 0 0 -8px; background:#1d80c8;}
.materiality header figure						{ width:46.6%; padding:0 30px 5px 0; -webkit-box-sizing:border-box; box-sizing:border-box;}
.materiality header figure span					{ display:block; width:100%; transform:translate(0,-30px);}
.materiality header figure span,
.materiality header figure img					{ -webkit-transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; -webkit-transform-origin:100% 0; transform-origin:100% 0; backface-visibility:hidden;}
.materiality.open header figure span			{ -webkit-transform:translate(-15px,45px); transform:translate(-15px,45px);}
.materiality.open header figure img				{ -webkit-transform:scale(0.53,0.53); transform:scale(0.53,0.53);}
@media (min-width:771px) and (max-width:1120px){
	.materiality header>div						{ padding:-webkit-calc(2.865vw + 2.91px) 55px 35px -webkit-calc(5.731vw + -9.18px); padding:calc(2.865vw + 2.91px) 55px 35px calc(5.731vw + -9.18px);}
	.materiality.open header figure span		{ -webkit-transform:translate(calc(-4.298vw + 33.14px),calc(4.298vw + -3.14px)); transform:translate(calc(-4.298vw + 33.14px),calc(4.298vw + -3.14px));}
}
@media screen and (max-width:770px){
	.materiality								{ margin:40px 0;}
	.materiality header>div						{ padding-left:3vw; padding-right:6vw;}
	.materiality header h3						{ font-size:-webkit-calc(2.353vw + 9.88px); font-size:calc(2.353vw + 9.88px);}
	.materiality header figure					{ padding-right:3vw; -webkit-transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;}
	.materiality.open header figure				{ width:30%;}
	.materiality.open header figure span		{ -webkit-transform:translate(0,3vw); transform:translate(0,3vw);}
	.materiality.open header figure img			{ -webkit-transform:scale(1,1); transform:scale(1,1);}
}
@media screen and (max-width:600px){
	.materiality header							{ display:block;}
	.materiality header>div						{ width:100%; padding:0 3vw 30px;}
	.materiality header h3						{ font-size:18px; font-size:-webkit-calc(2.857vw + 8.86px); font-size:calc(2.857vw + 8.86px);}
	.materiality header figure					{ width:36%; margin:0 0 -20px auto; margin:0 0 -webkit-calc(-17.857vw + 37.14px) auto; margin:0 0 calc(-17.857vw + 37.14px) auto; padding:0 3vw 0 0;}
	.materiality.open header figure				{ margin:0 0 -20px auto;}
}
.materiality .fadeClose							{ opacity:1; position:relative; display:none; padding:0 45px; background:#fff;}
.materiality ul									{ padding-bottom:35px;}
.materiality li									{ width:-webkit-calc(33.333% - 10px); width:calc(33.333% - 10px);}
.materiality li>a								{ position:relative; display:block; height:100%; padding:0 0 40px 0; background:#f6f6f6; text-decoration:none; -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden;}
.materiality .sustaina_txt						{ display:block; padding:24px 28px;}
.materiality .sustaina_txt em					{ display:block; font-size:20px; color:#0070c1;}
.materiality .sustaina_txt i					{ display:block; margin:1em 0; color:#444;}
.materiality li>a b								{ position:absolute; bottom:25px; right:25px; padding:0 0 0 20px; font-size:14px; color:#0070c1; text-decoration:underline; background:url(/ja/hd-common/images/icon/arr3bb.png) 0 50% no-repeat; background-size:10px 10px !important;}
@media (min-width:771px) and (max-width:1120px){
	.materiality header>div						{ padding:-webkit-calc(2.865vw + 2.91px) 55px 35px -webkit-calc(5.731vw + -9.18px); padding:calc(2.865vw + 2.91px) 55px 35px calc(5.731vw + -9.18px);}
	.materiality.open header figure span		{ -webkit-transform:translate(calc(-4.298vw + 33.14px),calc(4.298vw + -3.14px)); transform:translate(calc(-4.298vw + 33.14px),calc(4.298vw + -3.14px));}
	.materiality .fadeClose						{ padding:0 -webkit-calc(4.298vw + -3.14px); padding:0 calc(4.298vw + -3.14px);}
	.materiality .sustaina_txt					{ padding:24px -webkit-calc(4.011vw + -16.93px); padding:24px calc(4.011vw + -16.93px);}
}
@media screen and (max-width:770px){
	.materiality .fadeClose						{ padding:0 3vw;}
	.materiality ul								{ display:block; padding-bottom:3vw;}
	.materiality li								{ width:100%;}
	.materiality li>div							{ padding:0 0 40px 0;}
	.materiality .sustaina_txt					{ padding:24px 3vw;}
}
.materiality_flow .fadeClose					{ display:none;}
.materiality_flow ol li:nth-child(n+2)			{ position:relative; padding-top:110px;}
.materiality_flow ol li:nth-child(n+2)::before	{ position:absolute; content:''; top:34px; left:0; width:100%; max-width:350px; height:42px; background:url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3Anone%3Bstroke%3A%236f777f%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A2px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Enext%3C%2Ftitle%3E%3Cpath%20class%3D%22a%22%20d%3D%22M41%2C14.78%2C21%2C41%2C1%2C14.78%22%2F%3E%3Cline%20class%3D%22a%22%20x1%3D%2221%22%20y1%3D%2241%22%20x2%3D%2221%22%20y2%3D%221%22%2F%3E%3C%2Fsvg%3E') 50% 0 no-repeat; background-size:42px 42px !important;}
.materiality_flow ol li:nth-child(n+2) h3		{ margin-top:0;}
.materiality_flow div.flex_end					{ align-items:flex-end; -webkit-align-items:flex-end;}
.materiality_flow figure						{ width:350px;}
.materiality_flow figcaption					{ padding-top:1em; font-size:12px;}
.materiality_flow figure + p					{ width:-webkit-calc(100% - 350px); width:calc(100% - 350px); max-width:450px; padding:0 30px 24px 45px;}
.materiality_flow .box_white					{ padding:24px 30px; background:#fff;}
.materiality_flow .box_white .titleLv4			{ margin-top:0;}
.materiality_flow dl.flex dt					{ width:15em; padding:0 0 0.3em 25px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.materiality_flow dl.flex dd					{ width:-webkit-calc(100% - 15em); width:calc(100% - 15em);}
@media screen and (max-width:770px){
	.materiality_flow div.flex					{ display:block;}
	.materiality_flow figure					{ width:100%; max-width:350px;}
	.materiality_flow figure + p				{ width:100%; max-width:none; padding:15px 0 0 0;}
	.materiality_flow dl.flex					{ display:block;}
	.materiality_flow dl.flex dt,
	.materiality_flow dl.flex dd				{ width:100%; padding:0 0 0.3em 0;}
}

/* 推進体制
------------------------------------------------------------------*/
.sustaina_framework #contents					{ padding-bottom:0;}
@media screen and (max-width:959px){
	.sustaina_framework #vis					{ height:375px;}
}
@media screen and (max-width:770px){
	.sustaina_framework .vis_title p			{ padding-right:5px; padding-right:-webkit-calc(20.28% + -59.9px); padding-right:calc(20.28% + -59.9px);}
}
@media screen and (max-width:460px){
	.sustaina_framework .vis_title p			{ font-size:calc(2.143vw + 6.14px); line-height:25.6px;}
}
#sustaina_framework01>div						{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
#sustaina_framework01>div div					{ padding:0 50px 0 0;}
#sustaina_framework01 figure					{ width:590px; min-width:590px;}
#sustaina_framework01 figure img				{}
@media (min-width:771px) and (max-width:959px){
	#sustaina_framework01>div div				{ padding:0 -webkit-calc(13.298vw + -77.53px) 0 0; padding:0 calc(13.298vw + -77.53px) 0 0;}
	#sustaina_framework01 figure				{ width:-webkit-calc(100% - 310px); width:calc(100% - 310px); min-width:-webkit-calc(100% - 310px); min-width:calc(100% - 310px);}
}
@media screen and (max-width:770px){
	#sustaina_framework01>div					{ display:block;}
	#sustaina_framework01>div div				{ padding:0 0 0 0;}
	#sustaina_framework01 figure				{ width:100%; min-width:0; max-width:590px; margin:0 auto; padding:20px 0;}
}
#sustaina_framework011 figure					{ padding:20px 0 40px;}
#sustaina_framework011 img						{ max-width:590px;}
@media screen and (max-width:770px){
    #sustaina_framework011 figure				{ padding:2.6vw 0 40px;}
}
#sustaina_framework02 h2 span					{ padding:0 0 0 20px; font-size:14px; vertical-align:middle;}
#sustaina_framework02 th						{ width:18%; vertical-align:middle;}
#sustaina_framework02 .tr td					{ padding:0; border:none;}
#sustaina_framework02 .stdTb02 table			{ width:100%;}
#sustaina_framework02 .tr td:nth-child(1)		{ width:23em;}
#sustaina_framework02 .tr td:nth-child(2)		{ width:10em; padding-left:1em; white-space:nowrap;}
#sustaina_framework02 .tr td:nth-child(3)		{ text-align:right; white-space:nowrap;}
@media screen and (max-width:770px){
	#sustaina_framework02 .tr td				{ padding:2px 0;}
	#sustaina_framework02 .tr td:nth-child(n)	{ display:block; width:auto; text-align:left;}
	#sustaina_framework02 .tr td:nth-child(1)	{ padding:20px 0 2px 0;}
	#sustaina_framework02 tbody>.tr:nth-child(1) td:nth-child(1)
												{ padding:2px 0;}
}


/* ベネッセグループのESG活動
------------------------------------------------------------------*/
#wrap.sustaina_esg								{ background:#f4f4f4;}
#sustaina_esg01>li								{ width:-webkit-calc(33.333% - 17.333px); width:calc(33.333% - 17.333px); margin-bottom:30px;}
#sustaina_esg01 a.imgover						{ position:relative; display:block; width:100%; height:100%; padding-bottom:4.5em; background:#fff; text-decoration:none; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_esg01 a.imgover>span					{ display:block;}
#sustaina_esg01 .sustaina_txt					{ display:block; padding:1.5em 20px 0; font-size:1.8rem; line-height:1.3; color:#6e777f;}
#sustaina_esg01 .sustaina_txt span				{ display:inline-block;}
#sustaina_esg01 a.imgover b						{ position:absolute; bottom:1em; left:20px; display:block; text-decoration:underline;}
html.sustaina_modalOpen							{ overflow-y:scroll;}
html.sustaina_modalOpen body					{ position:fixed; }
.sustaina_esg_frame								{ position:relative; top:0; left:0; width:100%; height:0; overflow:hidden; -webkit-transition:background-color 0.3s ease-in-out 0s; transition:background-color 0.3s ease-in-out 0s;}
.sustaina_esg_frame.esg_frame_open				{ position:fixed; z-index:2010; height:100vh; background-color:rgba(0,0,0,0.5);}
.sustaina_esg_frame>.flex_cc					{ position:absolute; z-index:2020; width:100%; height:100%;}
.sustaina_esg_frame .boxLnks					{ position:relative; opacity:0; z-index:2030; max-width:100%; height:auto; margin:0 3vw; -webkit-transition:opacity 0.6s ease-in-out 0s; transition:opacity 0.6s ease-in-out 0s;}
.sustaina_esg_frame .boxLnks::before			{ position:absolute; z-index:2040; content:''; top:0; right:0; width:30px; height:30px; cursor:pointer;}
.sustaina_esg_frame .boxLnks::after				{ position:absolute; z-index:2030; content:''; top:0; left:0; width:100%; height:40px; background:url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Eclose%3C%2Ftitle%3E%3Crect%20class%3D%22a%22%20x%3D%2218.23%22%20y%3D%22-6.52%22%20width%3D%223.54%22%20height%3D%2253.03%22%20transform%3D%22translate(-8.28%2020)%20rotate(-45)%22%2F%3E%3Crect%20class%3D%22a%22%20x%3D%22-6.52%22%20y%3D%2218.23%22%20width%3D%2253.03%22%20height%3D%223.54%22%20transform%3D%22translate(-8.28%2020)%20rotate(-45)%22%2F%3E%3C%2Fsvg%3E') 100% 0 no-repeat; background-size:30px 30px !important;}
.sustaina_esg_frame.esg_frame_open .boxLnks		{ opacity:1; max-height:100%;}
#sustaina_esg01 .boxLnks h2						{ position:relative; padding:40px 0 0 0; color:#fff; background-color:transparent;}
#sustaina_esg01 .boxLnks h2 img					{ position:relative;}
#sustaina_esg01 .boxLnks>dl>dt					{ margin:0; border-radius:0;}
#sustaina_esg01 .boxLnks>dl>dd					{ padding: 20px 25px 25px;}
#sustaina_esg01 .boxLnks strong					{ position:absolute; top:0; left:0; width:100%; height:100%; padding:40px 1em 0; font-size:2.5rem; text-align:center; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_esg01 .boxLnks strong>span span		{ display:inline-block;}
#sustaina_esg01 .boxLnks li						{ margin-bottom:0.5em;}
#sustaina_esg01 .boxLnks li a					{ display:inline-block; font-size:1.6rem;}
#sustaina_esg01 .boxLnks i						{ position:relative; display:block; padding-left:20px; font-size:12px;}
#sustaina_esg01 .boxLnks i::before				{ position:absolute; content:'（'; top:0; right:-webkit-calc(100% - 20px); right:calc(100% - 20px);}
#sustaina_esg01 .boxLnks i::after				{ content:'）';}
#sustaina_esg01 .boxLnks i span					{ display:inline-block;}
@media screen and (max-width:770px){
	#sustaina_esg01								{ display:block;}
	#sustaina_esg01>li							{ width:100%;}
}
@media screen and (max-width:640px){
	#sustaina_esg01 .boxLnks strong				{ font-size:2.0rem; font-size:-webkit-calc(1.56vw + 1.5rem); font-size:calc(1.56vw + 1.5rem);}
	#sustaina_esg01 .boxLnks li					{ margin-bottom:0.3em;}
	#sustaina_esg01 .boxLnks li a				{ font-size:1.4rem;}
}

/* サステナビリティマネジメント
------------------------------------------------------------------*/
#sustaina_management01							{ padding-top:2.5rem;}

/* 活動報告
------------------------------------------------------------------*/
.sustaina_report #contents						{ padding-bottom:0;}
@media screen and (max-width:959px){
	.sustaina_report #vis						{ height:285px;}
}
#sustaina_report01>div							{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-direction:row-reverse; flex-direction:row-reverse;}
#sustaina_report011								{ width:56.73%; padding:0 0 0 40px; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_report011 ul							{ margin:25px 0; padding:25px 30px 20px 30px; border:solid 1px #b1b6ba;}
#sustaina_report011 li							{ position:relative; padding:0 0 12px 1.4em; color:#6e777f;}
#sustaina_report011 li::after					{ position:absolute; content:''; top:0.7em; left:0; width:0.8em; height:0.75em; background:#6e777f;}
#sustaina_report012								{ width:43.27%; max-width:450px;}
#sustaina_report012 p							{ padding:15px 0 0 0; color:#999;}
@media (min-width:771px) and (max-width:959px){
	#sustaina_report011							{ padding:0 0 0 -webkit-calc(5.319vw + -11.01px); padding:0 0 0 calc(5.319vw + -11.01px);}
	#sustaina_report012							{ width:390px; min-width:390px;}
}
@media screen and (max-width:770px){
	#sustaina_report01>div						{ display:block;}
	#sustaina_report011							{ width:100%; padding:0;}
	#sustaina_report011 ul						{ padding:25px -webkit-calc(3.333vw + 4.33px) -webkit-calc(2.222vw + 2.89px) calc(3.333vw + 4.33px); padding:25px calc(3.333vw + 4.33px) calc(2.222vw + 2.89px) calc(3.333vw + 4.33px);}
	#sustaina_report012							{ width:100%; margin:0 auto; padding:20px 0 0 0;}
}
#sustaina_report02 .report_close				{ display:none;}
#sustaina_report02 h3 .toggle_btn				{ position:relative; display:inline-block; padding-right:70px; cursor:pointer;}
#sustaina_report02 .fadeClose					{ opacity:1; position:relative; display:none;}

#sustaina_report02 td							{ padding:0 0 30px 0;}
#sustaina_report02 td>span						{ display:block; padding:0 40px 0 10px; white-space:nowrap;}
#sustaina_report02 td>dl>dt						{ padding-top:10px;}
#sustaina_report02 td>dl>dt:nth-of-type(1)		{ padding-top:0;}
#sustaina_report02 td>dl>dt.bold				{ padding-bottom:4px;}
#sustaina_report02 .report_flex					{ display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#sustaina_report02 .report_flex.report_indent	{ margin-left:0.5em;}
#sustaina_report02 .report_flex dt				{ white-space:nowrap;}
#sustaina_report02 .report_flex_4t dt			{ width:4em;}
#sustaina_report02 .report_flex_4t dd			{ width:calc(100% - 4em); width:-webkit-calc(100% - 4em);}
#sustaina_report02 td img						{ display:block; max-width:100%; height:auto;}
#sustaina_report02 td img.pdf					{ display:inline;}
@media screen and (max-width:770px){
	#sustaina_report02 td>span					{ padding:0 20px 0 0;}
}

/* 外部評価・受賞実績
------------------------------------------------------------------*/
.sustaina_evaluation #contents					{ padding-bottom:0;}
.sustaina_evaluation section>ul					{ padding:0 0 20px 0; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.sustaina_evaluation section>ul>li				{ width:48%; width:-webkit-calc(50% - 9px); width:calc(50% - 9px); margin:0 0 18px 0; padding:18px 18px 20px 26px; border:solid 1px #bebebe; -webkit-box-sizing:border-box; box-sizing:border-box;}
.sustaina_evaluation section>ul>li.wide			{ width:100%;}
.sustaina_evaluation section .titleLv3			{ margin-top:0; line-height:1.4;}
.sustaina_evaluation section .titleLv5			{ margin:0 0 10px 0;}
.sustaina_evaluation .unit01					{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start;}
.sustaina_evaluation .unit01>span				{ display:block; width:150px; min-width:160px; padding:0 40px 0 0;}
#sustaina_evaluation041 ul:not(.relatedLinks)			{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#sustaina_evaluation041 ul:not(.relatedLinks) li		{ width:50%; max-width:261px; min-width:230px; padding:0 8px 8px 0; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_evaluation041 ul:not(.relatedLinks) li span	{ display:block; padding:5px 5px 5px 10px; background:#fff;}
#sustaina_evaluation042 ul						{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start;}
#sustaina_evaluation042 li						{ width:50%; max-width:160px; padding:0 8px 8px 0; -webkit-box-sizing:border-box; box-sizing:border-box;}
#sustaina_evaluation042 li span					{ display:block; padding:5px; background:#fff; overflow:hidden;}
#sustaina_evaluation042 li img					{ position:relative; width:345px; height:auto; left:50%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
#sustaina_evaluation04 li img					{ -webkit-backface-visibility:hidden;}
#sustaina_evaluation04 p.smaller				{ position:relative; margin:10px 0 0 0; padding:0 0 0 1.2em;}
#sustaina_evaluation04 p.smaller::after			{ position:absolute; content:'※'; top:0; left:0;}
#sustaina_evaluation04>p						{ margin:-30px 0 30px 0;}
@media (min-width:771px) and (max-width:959px){
	.sustaina_evaluation li:not(.wide) .unit01>span
												{ padding:0 -webkit-calc(15.957vw + -113.03px) 0 0; padding:0 calc(15.957vw + -113.03px) 0 0;}
}
@media screen and (max-width:770px){
	.sustaina_evaluation section>ul>li			{ width:100%;}
	.sustaina_evaluation .unit01>span			{ width:120px; width:-webkit-calc(6.667vw + 98.67px); width:calc(6.667vw + 98.67px); min-width:120px; min-width:-webkit-calc(6.667vw + 98.67px); min-width:calc(6.667vw + 98.67px); padding:0 -webkit-calc(8.889vw + -28.44px) 0 0; padding:0 calc(8.889vw + -28.44px) 0 0;}
}
@media screen and (max-width:640px){
	.sustaina_evaluation .unit01				{ display:block;}
		.sustaina_evaluation .unit01>span		{ padding:0 0 20px 0;}
}


/* CSRコンテンツURL変更のお知らせ
------------------------------------------------------------------*/
#sustaina_notice								{ margin:0 0 100px 0; padding:42px 0 42px 50px; background:#fff;}
#sustaina_notice li								{ padding:2px 0;}
#sustaina_notice li:nth-child(2)				{ font-weight:500;}
#sustaina_notice dt,
#sustaina_notice dd								{ display:inline;}
#sustaina_notice dd								{ font-family:Arial;}
@media screen and (max-width:540px){
	#sustaina_notice							{ margin:0 0 50px 0; margin:0 0 -webkit-calc(22.727vw + -22.73px) 0; margin:0 0 calc(22.727vw + -22.73px) 0; padding:30px 15px; padding:-webkit-calc(5.455vw + 12.55px) -webkit-calc(15.909vw + -35.91px); padding:calc(5.455vw + 12.55px) calc(15.909vw + -35.91px);}
	#sustaina_notice dt,
	#sustaina_notice dd							{ display:block;}
}

