
#fnav>li:nth-child(2)>ul>li:nth-child(1) { display:none;}
.ThemeHead-lead { background-color:transparent !important;}

/* SIM トップ
------------------------------------------------------------------*/
.News.clearfix						{ display:none;}
/*#wrapper.sustaina_top #pan		{ display:none;}*/
#wrap.sustaina_top					{ padding:0;}
#wrapper.up #wrap.sustaina_top		{ padding-top:100px;}
.sustaina_top .st-anchor			{ margin-top:1px; padding:1em 0; background:#fff;}
.sustaina_top .st-anchor ul			{ display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; align-items:center; -webkit-align-items:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.sustaina_top .st-anchor s			{ white-space:nowrap;}
.sustaina_top .boxTxtLnk			{ padding-top:50px; padding-bottom:50px;}
@media (max-width:959px){
	#wrap.sustaina_top,
	#wrapper.up #wrap.sustaina_top		{ padding-top:60px;}
}

#sustainability-achievements .boxTxtLnk a {
    width: 32%;
    width: -webkit-calc(33.3% - 20px);
    width: calc(33.3% - 20px);
    margin: 0 0 30px 0;
    padding: 0;
    border: none;
    border-radius: 0;
    text-decoration: none;
}
#sustainability-achievements .boxTxtLnk a>span::after {
	content:none;
}
@media screen and (max-width: 770px){
	#sustainability-achievements .boxTxtLnk>div>a {
	    width: 100%;
	    margin: 0 0 -webkit-calc(2.22% + 3.3px) 0;
	    margin: 0 0 calc(2.22% + 3.3px) 0;
	}
}
#sustainability-achievements .sustaina_pic				{ min-height:0; padding:0;}
#sustainability-achievements .sustaina_txt				{ display:-webkit-flex; display:flex; height:68px; margin-top:-1px; padding:0 20px 0 20px; font-size:1.6rem; line-height:1.4; align-items:center; -webkit-align-items:center;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(1) .sustaina_txt	{ background:#9c86be;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(2) .sustaina_txt	{ background:#68bae9;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(3) .sustaina_txt	{ background:#f3889c;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(4) .sustaina_txt	{ background:#8fc844;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(5) .sustaina_txt	{ background:#5179b9;}
#sustainability-achievements .fade_In_3block>.imgover:nth-child(6) .sustaina_txt	{ background:#11af91;}
#sustainability-achievements svg						{ width:26px; height:26px; margin-right:14px; -webkit-transform:rotateZ(-0.5deg); transform:rotateZ(-0.5deg);}
#sustainability-achievements svg path,
#sustainability-achievements svg circle					{ fill:none; stroke:#fff;}
#sustainability-achievements .sustaina_txt>span			{ display:block; padding:0; color:#fff;}
#sustainability-achievements .sustaina_txt>span span	{ display:inline-block; padding:0; white-space:nowrap;}




/* COMMON
------------------------------------------------------------------*/
.contents							{ position:relative; width:100%; max-width:1100px; margin:0 auto; padding:0 30px; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box;}
@media screen and (min-width:771px) and (max-width:1100px){
	.contents						{ padding:0 -webkit-calc(6.079vw + -36.87px); padding:0 calc(6.079vw + -36.87px);}
}
@media screen and (max-width:770px){
	.contents						{ padding:0 10px;}
}
@media print{
	.contents						{ padding:0 10px;}
}

/* 汎用
---------------------------------*/
.ttl_strong {
	font-weight: bold;
}
.flex_txt_img {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.flex_img {
	margin-left: 20px;
}
.img200 {
	width: 200px;
}
.img350 {
	width: 350px;
}
@media screen and (max-width:770px){
	.flex_txt_img {
		display: block;
		margin-bottom: auto;
	}
	.flex_img {
		margin-top: 10px;
		margin-left: auto;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.flex_img img {
		max-width: 100%;
	}
	.res_img img {
		max-width: 100%;
	}
}

/* トップビジュアル
---------------------------------*/
.vis_title							{ position:relative; width:100%; overflow:hidden;}
#vis.vis_title + #main				{ padding:35px 0 0 0;}
.vis_title>div						{ position:absolute; display:-webkit-flex; display:flex; top:0; left:0; width:100%; height:100%; color:#fff; align-items:center; -webkit-align-items:center;}
.vis_title>div.left					{ padding:0 12.5%; text-align:left; -webkit-box-sizing:border-box; box-sizing:border-box;}
.vis_title h1 { 
	position:relative;
	width:100%;
	line-height:1.5;
}
#sustainability-data .vis_title h1 { 
	font-size: 4rem;
	text-shadow: 1px 0 4px #666,
	1px 1px 4px #666,
	0 1px 4px #666,
	-1px 1px 4px #666,
	-1px 0 4px #666,
	-1px -1px 4px #666,
	0 -1px 4px #666,
	1px -1px 4px #666;
}
.vis_title>div.left h1				{ padding:0 0 12px 0;}
.vis_title p,
.vis_title em						{ display:block; padding:20px 0 0 0; font-size:16px; line-height:1.6;}
@media (max-width:959px){
	.vis_title>img					{ position:relative; width:auto; height:100%; left:50%; -webkit-transform:translate(-50%,0); transform:translate(-50%,0);}
	.vis_title h1					{ font-size:22px; font-size:-webkit-calc(0.939vw + 19px); font-size:calc(0.939vw + 19px);}
	.vis_title em					{ font-size:15px;}
}
@media screen and (max-width:770px){
	.vis_title>div.left				{ padding:0 20px; padding:0 -webkit-calc(16.94% + -34.2px); padding:0 calc(16.94% + -34.2px);}
}

/* カードリンク画像
---------------------------------*/
.sustaina_pic						{ display:block; overflow:hidden;}
.imgover							{ -webkit-transition:opacity 0.4s ease-in-out 0s; transition:opacity 0.4s ease-in-out 0s;}
.imgover:hover						{ opacity:0.8;}
.imgover .sustaina_pic img			{ -webkit-transition:transform 0.4s ease-in-out 0s; transition:transform 0.4s ease-in-out 0s;}
.imgover:hover .sustaina_pic img	{ -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}

/* フッタ外部リンク
---------------------------------*/
#sustaina_link						{ padding:60px 20px 0;}
#sustaina_link ul					{ max-width:735px; margin:0 auto; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
#sustaina_link li					{ width:225px; padding:10px; text-align:center; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:flex-start; justify-content:flex-start; -webkit-align-items:center; align-items:center;}
#sustaina_link a					{ display:block;}
#sustaina_link img					{ display:block; width:225px; height:auto; margin:0 auto;}
@media screen and (max-width:959px){
	#sustaina_link ul				{ max-width:490px;}
}

/* 開閉BOX
---------------------------------*/
.ThemeItem.toggle_box					{ padding:0 0 30px;}
.ThemeItem-leftWrapper.fadeClose		{ display:none;}
.toggle_box .toggle_btn					{ position:relative; margin:0; padding-right:50px !important; cursor:pointer;}
.toggle_box .toggle_btn b				{ position:absolute; top:50%; right:15px; width:1.4em; height:1.4em; margin:-0.7em 0 0; text-align:center; border:solid 1px #6e777f; -webkit-box-sizing:border-box; box-sizing:border-box;}
.toggle_box .toggle_btn b::after,
.toggle_box .toggle_btn b::before		{ position:absolute; content:''; top:50%; left:50%; width:0.8em; height:2px; margin:-1px 0 0 -0.4em; background:#6e777f;}
.toggle_box .toggle_btn b::after		{ -webkit-transform:scale(1,1) rotate(90deg); transform:scale(1,1) rotate(90deg); -webkit-transition:transform 300ms; transition:transform 300ms;}
.toggle_box.open .toggle_btn b::after	{ -webkit-transform:scale(0,0) rotate(90deg); transform:scale(0,0) rotate(90deg);}




/* ステークホルダーとのコミュニケーション 96 960 961 962 963 964
------------------------------------------------------------------*/
.group_csr p.catchLv1					{ letter-spacing:2px;}
.group_csr.s01 h3						{ color:#333333;}
.group_csr.s01 img						{ max-width:694px;}
.group_csr.s02 th						{ min-width:10em;}
@media screen and (max-width:480px){
	.group_csr.s02 th					{ min-width:6em;}
	.group_csr.s02 th span				{ display:block;}
}
.group_csr.s02 li						{ position:relative; padding:0 0 0.5em 1em;}
.group_csr.s02 ul li:last-child			{ padding:0 0 0 1em;}
.group_csr.s02 li::after				{ position:absolute; content:''; top:0.45em; left:0; width:6px; height:6px; background:#59a3e3; -webkit-border-radius:50%; border-radius:50%;}

.stake_dialogue_wrap {
	display: flex;
	justify-content: space-around;
}
.stake_dialogue_box {
	margin: 0 2rem;
	max-width: 45%;
}
.stake_dialogue_pic {
	text-align: center;
	margin-bottom: 1rem;
}
.stake_dialogue_pic img {
	max-width: 100%;
}
.stake_dialogue_cap {
	font-size: 80%;
	line-height: 1.2;
}

@media screen and (max-width:770px){
	.stake_dialogue_wrap {
		display: block;
	}
	.stake_dialogue_box {
		max-width: 400px;
		margin: 0 auto 2rem;
	}
	.foundation_img img {
		max-width: 100%;
	}
}

/* イニシアティブへの参画 989 990
------------------------------------------------------------------*/
.init_logo_sec {
	margin-bottom: 40px;
}
.init_logo_grp {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.init_logo_pic {
	margin-left: 20px;
}
.init_link {
	font-size: 1.8rem;
	font-weight: bold;
}
.init_link_pdf::after {
	content: 'PDF';
	background: #d14421;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 0 0 8px;
	padding: 0 8px;
	font-size: 11px;
	line-height: 17px;
	color: #fff;
	border-radius: 3px;
	vertical-align: 1px;
}
.init_link a[target]::after		{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important; vertical-align:-1px;}
.init_link_ex a[target]::after {
	display: inline-block;
	content: '';
	width: 15px;
	height: 15px;
	margin: 0 0 0 10px;
	background: url(../images/icon/icon_blank.png) 100% 0 no-repeat;
	background-size: 15px 15px !important;
	vertical-align: -1px;
}

@media screen and (max-width:770px){
	.init_logo_grp {
		display: block;
		padding-top: 0;
	}
	.init_logo_txt {
		margin-top: 20px;
	}
	.init_logo_pic {
		text-align: center;
		margin-left: auto;
		margin-top: 10px;
	}
	.init_link {
		margin-top: 20px;
	}
}
.init_logo_tcfd {
	width: 200px;
}
.init_logo_jci,
.init_logo_sbt,
.init_logo_apev {
	width: 150px;
}

/* ベネッセグループのESG活動 p145
------------------------------------------------------------------*/
.boxTxtLnk>div::after {
	content:"";
  display: block;
  width: calc(33.3% - 26.66px);
}

.sustaina_esg {
	background: #f4f4f4;
}
.visual {
	padding: 0;
}
.sustaina_esg_grp {
	position: relative;
	background-color: #fff;
} 
.sustaina_esg_cat {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	padding: 0 1em;
	font-weight: bold;
}
#sustaina_esg01 a:link .sustaina_esg_cat {
	color: #333;
}
.sustaina_esg_social {
	background-color: #FFC000;
}
.sustaina_esg_env {
	background-color: #70AD47;
}
.sustaina_esg_gov {
	background-color: #DAE3F3;
}
.sustaina_esg_list_wrap {
	margin-top: 1.5em;
	padding: 0 20px 20px;
}
.sustaina_esg_list_inner {
	padding-top: 10px;
	border-top: 1px solid #6e777f;
}

/* 環境 p146
------------------------------------------------------------------*/
.sus_env_wrap					{ padding:0;}
.sus_env_wrap .vis_title h1	{
	letter-spacing: .5em;
}
.sus_env_wrap .boxTxtLnk			{ padding-top:50px; padding-bottom:50px;}

/* 環境マネジメント
------------------------------------------------------------------*/
.env_inspect_term {
	font-weight: bold;
}
.env_inspect_tbl thead th,
.env_inspect_tbl tbody th,
.env_inspect_tbl td {
	text-align: center;
}
.env_init_tbl_th {
	vertical-align: middle;
}
.env_init_list {
	margin-bottom: 10px;
}
.env_init_item {
	margin-left: 1em;
}
.env_init_2nd_ttl {
	margin-top: 10px;
}
.stdTb02 thead th.env_manage_pos {
	text-align: center;
}
.env_manage_tbl_cap {
	text-align: right;
}

/* 気候変動への対応
------------------------------------------------------------------*/
.climate_gov_term {
	font-weight: bold;
}
.climate_index_tbl .red {
	color: #c00;
}
.climate_3rd_pdf {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.climate_3rd_pdf img {
	border: 1px solid #ccc;
	max-width: 100%;
	/* width: 100%; */
}
.climate_3rd_pdf_item:last-child {
	margin-left: 20px;
}
@media screen and (max-width:770px){
	.climate_3rd_pdf {
		display: block;
		text-align: center;
	}
	.climate_3rd_pdf img {
		max-width: 80%;
		width: auto;
	}
		.climate_3rd_pdf_item:last-child {
		margin-left: auto;
		margin-top: 10px;
	}
	.climate_3rd_pdf_item {
		text-align: center;
	}
}

.climate_init_logo_sec {
	margin-bottom: 40px;
}
.climate_init_logo_grp {
	display: flex;
	justify-content: space-between;
}
.climate_init_logo_pic {
	margin-left: 20px;
}
.climate_init_link {
	padding-left: 2.5em;
}
.climate_init_link_pdf::after {
	content: 'PDF';
	background: #d14421;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 0 0 8px;
	padding: 0 8px;
	font-size: 11px;
	line-height: 17px;
	color: #fff;
	border-radius: 3px;
	vertical-align: 1px;
}
.climate_init_link_ex a[target]::after		{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important; vertical-align:-1px;}
.climate_init_logo_tcfd {
	width: 200px;
}
.climate_init_logo_jci,
.climate_init_logo_sbt,
.climate_init_logo_apev {
	width: 150px;
}
.climate_main_link a[target]::after		{ display:inline-block; content:''; width:15px; height:15px; margin:0 0 0 10px; background:url(../images/icon/icon_blank.png) 100% 0 no-repeat; background-size:15px 15px !important; vertical-align:-1px;}

@media screen and (max-width:770px){
	.climate_init_logo_grp {
		display: block;
		padding-top: 0;
	}
	.climate_init_logo_txt {
		margin-top: 20px;
	}
	.climate_init_logo_pic {
		text-align: center;
		margin-left: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.climate_init_link {
		margin-top: 20px;
	}
}
.climate_main_pdf {
	text-align: center;
	margin-bottom: 20px;
}
.climate_main_pdf img {
	border: 1px solid #ccc;
}
@media screen and (max-width:770px){
	.climate_main_pdf img {
		max-width: 80%;
	}
}

/* 資源の保全
------------------------------------------------------------------*/
.env_resource_waste ul.small li					{ position:relative; padding:0 0 0 1em;}
.env_resource_waste ul.small li::before			{ position:absolute; content:'※'; left:0; top:auto;}
.env_resource_waste ul.small li dl				{ display:-webkit-flex; display:flex; font-size:0.9em; line-height:1.4;}
.env_resource_waste ul.small li dt				{ white-space:nowrap;}


/* 環境教育
------------------------------------------------------------------*/
.env_edu_flex {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.env_edu_flex img {
	border: 1px solid #ccc;
}
.env_edu_flex_item:last-child {
	margin-left: 20px;
}
.env_edu_flex_item figcaption {
	line-height: 1.25;
	margin-top: 5px;
}
.env_edu_festa {
	border: 1px #0070C0 dashed;
	margin-top: 20px;
	padding: 10px 20px;
}
@media screen and (max-width:770px){
	.env_edu_flex {
		display: block;
		text-align: center;
	}
	.env_edu_flex img {
		max-width: 80%;
	}
		.env_edu_flex_item:last-child {
		margin-left: auto;
		margin-top: 10px;
	}
	.env_edu_flex_item {
		text-align: center;
	}
}


/* 社会 p146
------------------------------------------------------------------*/
.sus_social_wrap					{ padding:0;}
.sus_social_wrap .boxTxtLnk			{ padding-top:50px; padding-bottom:50px;}
.sus_social_wrap .vis_title h1 {
	letter-spacing: .5em;
}


/* 人権の尊重 152
------------------------------------------------------------------*/
.due_diligence .stdTb02 col {
	width: 25%;
}
.due_diligence .stdTb02 th			{ text-align:center;}
.due_diligence .stdTb02 ul			{ margin:0 0 0 1.5em; list-style:disc;}
.due_diligence .stdTb02 ul > li 			{
	margin:1em 0;
	font-weight: bold;
}
.due_diligence .stdTb02 ul > li > ol > li { 
	text-indent: -1.2em;
	font-weight: normal;
}
.due_diligence .stdTb02 ul > li > p {
	font-weight: normal;
}

.human_rights_theme_wrap {
	border: 1px solid #1374c1;
	margin-bottom: 20px;
}

.human_rights_theme_ttl {
	color: #FFF;
	font-weight: bold;
	background-color: #1374c1;
	padding: .5em 0 .5em 1em;
	font-size: 2rem;
	line-height: 1.4;
}

.human_rights_theme_list {
	list-style-type: disc;
	padding-left: 2em;
	padding: 1em 1em 1em 3em;
}

.human_rights_theme_item {
	font-weight: bold;
	font-size: 1.8rem;
}

.social_human_risk thead th,
.social_human_risk tbody th {
	text-align: center;
	vertical-align: middle;
}

.social_human_child_tbl_caption {
	text-align-last: left;
}
.social_human_child_tbl th {
	white-space: nowrap;
}


/* ダイバーシティ＆インクリュージョン 153
------------------------------------------------------------------*/
.diversity_worklife_tbl_th {
	color: #fff;
	background-color: #2F528F;
	text-align: center;
	padding: 5px 15px;
	width: 50%;
}
.diversity_worklife_tbl_th,
.diversity_worklife_tbl_td {
	border: 1px solid #fff;
}
.diversity_worklife_tbl_td {
	background-color: #f3f3f3;
	padding: 15px 20px;
}
.diversity_tbl_ttl {
	color: #3C96D1;
}
.business_mate_tbl th,
.business_mate_tbl td {
	border: 1px solid #fff;
	padding: 10px 15px;
}
.business_mate_tbl th {
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
.business_mate_tbl_vision {
	background-color: #5B9BD5;
	white-space: nowrap;
}
.business_mate_tbl_part {
	background-color: #70AD47;
}
.business_mate_tbl td {
	background-color: #f3f3f3;
}

.handicapped_employ_graph {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.handicapped_employ_graph img {
	border: 1px solid #ccc;
	max-width: 100%;
}
.handicapped_employ_graph_item:last-child {
	margin-left: 20px;
}
@media screen and (max-width:770px){
	.handicapped_employ_graph {
		display: block;
		text-align: center;
	}
	.handicapped_employ_graph img {
		width: auto;
		max-width: 90%;
	}
		.handicapped_employ_graph_item:last-child {
		margin-left: auto;
		margin-top: 10px;
	}
	.handicapped_employ_graph_item {
		text-align: center;
	}
}
.diversity_commit_ttl {
	font-weight: bold;
	font-size: larger;
}
.diversity_commit_list span {
	font-weight: bold;
}

/* 働きやすく活気ある職場づくり 154
------------------------------------------------------------------*/
.social_office_various {
	display: flex;
	justify-content: center;
}
.social_office_various figure:not(:last-child) {
	margin-right: 20px;
}
	.social_office_various figure:nth-child(1) {
		max-width: 460px;
	}
	.social_office_various figure:nth-child(2) {
		max-width: 263px;
	}
.social_office_various img {
	max-height: 172px;
}
.social_office_various figcaption {
	line-height: 1.2;
}
.social_office_various_column {
	padding: 20px;
	background-color: #fff;
}
.social_office_various_column figcaption {
	line-height: 1.2;
}

.stdTb02.social_vibrant_tbl01 thead th.center{
	text-align: center;
}

@media screen and (max-width:770px){
	.social_office_various {
		display: block;
	}
	.social_office_various figure {
		text-align: center;
	}
	.social_office_various figure:not(:last-child) {
		margin-right: auto;
		margin-bottom: 15px;
	}
	.social_office_various img {
		max-width: 100%;
	}
}

/* 人財の育成
------------------------------------------------------------------*/
.bringup_dx_term {
	float: left;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 10px;
	clear: both;
	width: 7em;
}
.bringup_dx_future_data {
	/* float: left; */
	padding: 5px 0 0 10em;
}
.bringup_dx_policy_term {
	background-color: #4472C4;
}
.bringup_dx_policy_data {
	font-weight: bold;
	padding: 5px 0 0 10em;
}
.bringup_dx_future_txt {
	width: 100%;
	clear: both;
}
.bringup_dx_future_term {
	background-color: #3399FF;
}
.bringup_dx_selection_column {
	padding: 20px;
	background-color: #fff;
}


/* 労働安全衛生
------------------------------------------------------------------*/
.stdTb02 th.hygiene_th {
	text-align: center;
	vertical-align: middle;
}
.hygiene_td {
	text-align: right;
}
 
/* 地域社会
------------------------------------------------------------------*/
.local_flex_img_txt {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.local_flex_img {
	margin-right: 20px;
}
.local_flex_txt {
	margin-bottom: 20px;
}
@media screen and (max-width:770px){
	.local_flex_img_txt {
		display: block;
		margin-bottom: auto;
	}
	.local_flex_img {
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.local_flex_img img {
		max-width: 100%;
	}
}
.local_button ul{ display:flex; justify-content:center; flex-wrap:wrap;}
.local_button ul li{ padding:6px 0;}
.local_button ul a{ height:60px; padding:0 30px; font-size:20px;color:#1374c1; text-decoration:none; border:solid 4px #1374c1; border-radius:30px; display:flex; justify-content:space-between; align-items:center; box-sizing:border-box; transition:color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s;}
.local_button ul a::before{ display:block; color:#1374c1; font-weight:900; transition:color 0.3s ease-in-out 0s; transform:scale(1,1.5) }
.local_button ul a:hover{ background-color:#1374c1;}
.local_button ul a:hover{ color:#fff;}
.local_button ul a.local_btn_link::before{ content:'>>';}
.local_button ul a.local_btn_link:hover::before{ color:#fff;}
@media screen and (max-width:770px){
.local_button ul li{ padding:6px 10px;}
.local_button ul a{ height: auto; padding: 10px 20px; font-size:16px; line-height: 1.2; }
.local_button ul a.local_btn_link::before{ content:'>';}
}

/* 責任あるマーケティング
------------------------------------------------------------------*/
.res_market_training_sample {
	display: flex;
}
@media screen and (max-width:770px){
	.res_market_training_sample {
		display: block;
	}
}

/* サプライチェーン・マネジメント
------------------------------------------------------------------*/
.supply_procure_ol {
	list-style: decimal;
	margin-left: 1em;
	font-weight: bold;
}

.supply_init_activity_list {
	list-style: decimal;
	margin-left: 3em;
}

/* 情報セキュリティ
------------------------------------------------------------------*/
.security_org_tbl1 {
	margin-top: 10px;
	border:1px solid #333333; border-left-style:none; border-right-style:none;
	width: 100%;
}
.security_org_tbl1 td:first-child {
	border:1px solid #333333; border-left-style:none; padding:8px; text-align: center;
}
.security_org_tbl1 td:last-child {
	border:1px solid #333333; border-right-style:none; padding:8px;
}
.bc-sb-p {
	text-align: right;
	margin-bottom: 20px;
}
.security_org_tbl2 {
	margin-top: 20px;
	width: 100%;
}
.security_org_tbl2 tr td:nth-child(1) {
	padding:8px; text-align: right;
}
.security_org_tbl2 tr td:not(:first-child) {
	padding: 8px;
}
.security_org_tbl3 {
	margin-top: 30px;
	width: 100%;
	border:1px solid #333333; border-left-style:none;  border-right-style:none;
}
.security_org_tbl3 tr td:first-child {
	border:1px solid #333333; border-left-style:none; padding:8px; text-align: center;
}
.security_org_tbl3 tr td:nth-child(2) {
	border:1px solid #333333; padding:8px;
}
.security_org_tbl3 tr td:last-child {
	border:1px solid #333333; border-right-style:none; padding:8px;
}
ol.security_strengthen_list {
 list-style-type: decimal;
 padding-left: 1.3em;
 margin-bottom: 30px;
}
.security_strengthen_tbl_th {
	white-space: nowrap;
	padding-right: 2em;
}
.security_strengthen_tbl_td {
	padding-bottom: 20px;
}

.security_certificate_logo_grp {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.security_certificate_pic {
	margin-left: 20px;
}
.security_certificate_w150 {
	width: 150px;
}
@media screen and (max-width:770px){
	.security_certificate_logo_grp {
		display: block;
		padding-top: 0;
	}
	.security_certificate_pic {
		text-align: center;
		margin-left: auto;
		margin-top: 10px;
	}
}


/* ガバナンス p161
------------------------------------------------------------------*/
.sus_gov_wrap					{ padding:0;}
.sus_gov_wrap .boxTxtLnk			{ padding-top:50px; padding-bottom:50px;}


/* サステナビリティデータ
------------------------------------------------------------------*/
.sus_data_wrap .boxTxtLnk {
	padding-top: 50px;
	padding-bottom: 50px;
}
.tb_024 .red {
	color: #c00;
}

.data_3rd_pdf {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.data_3rd_pdf img {
	border: 1px solid #ccc;
	max-width: 100%;
	/* width: 100%; */
}
.data_3rd_pdf_item:last-child {
	margin-left: 20px;
}
@media screen and (max-width:770px){
	.data_3rd_pdf {
		display: block;
		text-align: center;
	}
	.data_3rd_pdf img {
		max-width: 80%;
		width: auto;
	}
		.data_3rd_pdf_item:last-child {
		margin-left: auto;
		margin-top: 10px;
	}
	.data_3rd_pdf_item {
		text-align: center;
	}
}

/* GRIスタンダード対照表
------------------------------------------------------------------*/
.stdTb02 tbody td.bdr_top_none {border-top: none;}
.stdTb02 tbody td.bdr_btm_none {border-bottom: none;}


/* 国連グローバル・コンパクト 125
------------------------------------------------------------------*/
.ThemeItem[id='965'] .titleLv2,
.ThemeItem[id='966'] .titleLv2			{ margin:0 0 10px 0; padding:0; font-size:2.0rem; line-height:1.5; font-weight:bolder; color:#6e777f; background:transparent;}
.ThemeItem[id='965'] .titleLv2::after,
.ThemeItem[id='966'] .titleLv2::after	{ content:none;}
@media screen and (max-width:770px){
	.ThemeItem[id='965'] .titleLv2,
	.ThemeItem[id='966'] .titleLv2		{ margin:0 0 10px 0; font-size:-webkit-calc(16.58px + 0.444vw); font-size:calc(16.58px + 0.444vw);}
}
.global-compact.s01 div					{ padding:0 0 20px 0; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-justify-content:space-between; justify-content:space-between;}
.global-compact.s01 figure				{ min-width:110px; padding:0 0 0 4%;}
#gc_table thead th						{ padding:20px 10px; text-align:center;}
#gc_table th[colspan]					{ padding:15px 10px; font-size:1.1em;}
#gc_table tbody th						{ min-width:6em;}
#gc_table tbody th span					{ display:block; text-align:center;}
#gc_table .td1							{ width:25%; min-width:150px;}
#gc_table .td2							{ width:40%; min-width:200px;}
#gc_table .td3							{ min-width:150px;}
#gc_table li							{ position:relative; padding:0 0 5px 18px; line-height:1.4;}
#gc_table ul li:last-child				{ padding:0 0 0 18px;}
#gc_table li::after						{ top:0.5em; left:2px; position:absolute; content:''; width:0; height:0; border-style:solid; border-width:3px 0 3px 6px; border-color:transparent transparent transparent #0070c1;}
#gc_table li.pdf::after					{ top:0.1em; left:0; content:url(../images/icon/icon_pdf.gif); border:none;}


/* 領域と取り組みの対照一覧 119 946 947
------------------------------------------------------------------*/
.sustaina_guidelines table				{ width:100%; min-width:770px;}
.sustaina_guidelines thead th			{ padding:15px 5px; text-align:center;}
.sustaina_guidelines thead th:empty		{ background:#a8adb1;}
.sustaina_guidelines tbody th			{ padding-top:0.8em; padding-bottom:0.8em; color:#fff; background:#a8adb1; vertical-align:middle;}
.sustaina_guidelines tbody td			{ width:15%; padding:0; color:#666; text-align:center; vertical-align:middle;}
.sustaina_guidelines.s01 tbody td		{ width:30%;}
.sustaina_guidelines tbody th.ctg		{ width:5%; min-width:60px;}
.sustaina_guidelines td a				{ display:block; width:100%; min-height:2.93em; min-height:-webkit-calc(2.93em - 2px); min-height:calc(2.93em - 2px); height:100% !important; background-image:url(../images/icon/icon_click.png); background-position:50% 50%; background-repeat:no-repeat; background-size:16px 12px !important;}
.sustaina_guidelines td a:hover			{ background-color:#f4f4f4;}
.sustaina_guidelines hr					{ height:10px;}


/* 統合報告書
------------------------------------------------------------------*/
#report-download > a								{ display:block; margin:0 auto; text-decoration:none; text-align: center;}
#report-download span								{ display:block; font-size:1.4rem; line-height:1.4;}
#report-download span span						{ padding:4px 0 0 0; white-space:nowrap;}
#report-download span span:nth-child(1)			{ text-decoration:underline;}
#report-download span span:nth-child(1)::before	{ content:url(../images/icon/icon_pdf.gif); margin:0 4px 0 0; vertical-align:-2px;}
#report-download span span:nth-child(2)			{ color:#444; padding:0 0 0 15px;}

#data-download ul::after						{ content:''; display:block; clear:both;}
#data-download li								{ width:33.3%; padding:0 0 20px 0; float:left;}
#data-download a								{ display:block; width:173px; margin:0 auto; text-decoration:none;}
#data-download span								{ display:block; font-size:1.4rem; line-height:1.4;}
#data-download span span						{ padding:4px 0 0 0; white-space:nowrap;}
#data-download span span:nth-child(1)			{ text-decoration:underline;}
#data-download span span:nth-child(1)::before	{ content:url(../images/icon/icon_pdf.gif); margin:0 4px 0 0; vertical-align:-2px;}
#data-download span span:nth-child(2)			{ color:#444; padding:0 0 0 15px;}
@media screen and (max-width:770px){
	#data-download>ul>li						{ width:50%;}
}
@media screen and (max-width:500px){
	#data-download>ul>li						{ width:100%;}
}


/* サステナビリティリンク集 121
------------------------------------------------------------------*/
.sustaina_link.x_scroll							{ margin:10px 0 0 0;}
.sustaina_link table							{ width:100%;}
.sustaina_link tbody tr td:nth-child(1)			{ width:40%;}
.sustaina_link tbody tr td:nth-child(2)			{ width:60%;}


/* ESGデータ集 122 950 951
------------------------------------------------------------------*/
.sustaina_data.section .pageTop					{ margin:10px 0 0 0;}
.sustaina_data.section table + .pageTop			{ margin:20px 0 0 0;}
.sustaina_data th,
.sustaina_data td								{ vertical-align:middle;}
.sustaina_data table thead th					{ padding:8px 1px; text-align:center;}
.sustaina_data table thead th span				{ display:inline-block; white-space:nowrap;}
.sustaina_data table tbody th,
.sustaina_data table tbody td						{ padding:8px 5px;}
.sustaina_data .tb_011 tbody th						{ min-width:5em;}
.sustaina_data .tb_011 tbody td						{ text-align:right;}
.sustaina_data .tb_012 thead td						{ text-align:center;}
.sustaina_data .tb_012 tbody td						{ text-align:right;}
.sustaina_data .tb_013 thead tr:nth-child(1) th		{ padding:8px 5px;}
.sustaina_data .tb_013 thead tr:nth-child(2) th		{ width:2.5em;}
.sustaina_data .tb_013 tbody th						{ min-width:9em;}
.sustaina_data .tb_013 tbody td						{ text-align:center;}
/*.sustaina_data .tb_013 tbody tr td:nth-child(even)	{ padding:8px 5px -webkit-calc(1.4em + 8px) 5px; padding:8px 5px calc(1.4em + 8px) 5px;}*/
.sustaina_data .tb_015 tbody th						{ width:50%;}
.sustaina_data .tb_021 thead tr th:nth-of-type(2)	{ width:12%;}
.sustaina_data .tb_021 tbody th						{ min-width:8em;}
.sustaina_data .tb_021 tbody th span				{ display:inline-block; white-space:nowrap;}
.sustaina_data .tb_021 td							{ width:18%; text-align:right;}
.sustaina_data .tb_021 tbody tr td:nth-of-type(1)	{ width:12%; text-align:center;}
.sustaina_data .tb_022 tbody	span				{ display:inline-block; white-space:nowrap;}
.sustaina_data .tb_022 tbody td						{ width:22%;}

.data-environment_water							{ display:table; width:100%; background:#fff; border-collapse:collapse; border-spacing:0; empty-cells:show;}
.data-environment_water dl						{ display:table-row;}
.data-environment_water dt,
.data-environment_water dd						{ display:table-cell; padding:8px 1em; border:solid 1px #ccc;}
.data-environment_water dl span					{ display:inline-block;}
#data-environment ul.small li					{ position:relative; padding:0 0 0 1em;}
#data-environment ul.small li::before			{ position:absolute; content:'※'; left:0; top:auto;}
#data-environment ul.small li dl				{ display:-webkit-flex; display:flex; font-size:0.9em; line-height:1.4;}
#data-environment ul.small li dt				{ white-space:nowrap;}

#data-environment dl.small>dd					{ padding:0 0 0 1em;}
#data-environment .tb_023						{ width:100%; min-width:700px; background:rgba(255,255,255,0.7)}
#data-environment .tb_023 .thead1 td			{ padding:8px 5px;}
#data-environment .tb_023 th,
#data-environment .tb_023 td					{ padding:0 5px; border:solid 1px #ccc;}
#data-environment .tb_023 thead tr:nth-child(1) td:nth-child(2),
#data-environment .tb_023 thead tr:nth-child(1) td:nth-child(3)
													{ width:35%;}

#data-environment .tb_025 tbody tr:nth-child(-n+3) th,
#data-environment .tb_025 tbody tr:last-child th {
	padding-left: 1.5em;
}
#data-environment .tb_025 tbody tr:nth-child(3) th {
	border-bottom: none;
}
#data-environment .tb_025 tbody tr:nth-child(n+4):not(:last-child) :first-child {
	border-top: none;
	border-bottom: none;
}
#data-environment .tb_025 tbody tr:nth-child(n+4):not(:last-child) :nth-child(2) {
	text-align: center;
}
#data-environment .tb_025 tbody :nth-last-child(-n+3) {
	text-align: right;
}

#data-environment .sbt-caption {
	text-align: right;
	padding-right: 10%;
}



/* ベネッセグループの概要 124
------------------------------------------------------------------*/
.sustaina_company.section						{ margin:0; padding:30px 0 40px;}
.sustaina_company.section h3					{ margin:0 0 20px 0;}
.sustaina_company.section h4					{ margin:30px 0 10px 0;}
@media screen and (max-width:770px){
	.sustaina_company.section					{ padding:-webkit-calc(2.22vw + 12.9px) 0 -webkit-calc(4.44vw + 5.8px); padding:calc(2.22vw + 12.9px) 0 calc(4.44vw + 5.8px);}
}

/* TABLE */
.sustaina_company.s03 .stdTb02 th span,
.sustaina_company.s04 .stdTb02 th span			{ display:inline-block; white-space:nowrap;}
.sustaina_company.s03 .stdTb02 thead td,
.sustaina_company.s04 .stdTb02 thead td			{ min-width:5.5em; text-align:center; white-space:nowrap;}
.sustaina_company.s03 .stdTb02 tbody th			{ min-width:7em;}
.sustaina_company.s04 .stdTb02 tbody th			{ min-width:8.5em;}
.sustaina_company.s03 .stdTb02 tbody td,
.sustaina_company.s04 .stdTb02 tbody td			{ text-align:right; white-space:nowrap;}
.sustaina_company.s07 th						{ width:50%;}

